body {
  font-family: Cormorant Upright;
}
.display-1 {
  font-family: 'Cormorant Upright', serif;
  font-size: 9.4rem;
  line-height: .7em;
  letter-spacing: -0.04em;
}
.display-1 > .mbr-iconfont {
  font-size: 11.75rem;
}
.display-2 {
  font-family: 'Cormorant Upright', serif;
  font-size: 4.5rem;
  line-height: 71px;
  letter-spacing: -0.04em;
}
.display-2 > .mbr-iconfont {
  font-size: 5.625rem;
}
.display-4 {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 1.06rem;
  line-height: 1;
}
.display-4 > .mbr-iconfont {
  font-size: 1.325rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.56rem;
  line-height: 25px;
  letter-spacing: 0;
}
.display-5 > .mbr-iconfont {
  font-size: 1.95rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.375rem;
  line-height: 1.59em;
}
.display-7 > .mbr-iconfont {
  font-size: 1.71875rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 7.52rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 6.58rem;
    font-size: calc( 3.9399999999999995rem + (9.4 - 3.9399999999999995) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.9399999999999995rem + (9.4 - 3.9399999999999995) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.848rem;
    font-size: calc( 1.021rem + (1.06 - 1.021) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.021rem + (1.06 - 1.021) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.248rem;
    font-size: calc( 1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0;
}
.bg-primary {
  background-color: #e0bdb6 !important;
}
.bg-success {
  background-color: #747474 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #b492a5 !important;
}
.bg-danger {
  background-color: #4f3e59 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e0bdb6 !important;
  border-color: #e0bdb6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #c68679 !important;
  border-color: #c68679 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c68679 !important;
  border-color: #c68679 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #474747 !important;
  border-color: #474747 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #1c1c1c !important;
  border-color: #1c1c1c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #1c1c1c !important;
  border-color: #1c1c1c !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #747474 !important;
  border-color: #747474 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #494949 !important;
  border-color: #494949 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #494949 !important;
  border-color: #494949 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #b492a5 !important;
  border-color: #b492a5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #8e627a !important;
  border-color: #8e627a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #8e627a !important;
  border-color: #8e627a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #4f3e59 !important;
  border-color: #4f3e59 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #221a26 !important;
  border-color: #221a26 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #221a26 !important;
  border-color: #221a26 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e0bdb6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #c68679 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e0bdb6 !important;
  border-color: #e0bdb6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #474747;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #1c1c1c !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #474747 !important;
  border-color: #474747 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #747474;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #494949 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #747474 !important;
  border-color: #747474 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #b492a5;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #8e627a !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b492a5 !important;
  border-color: #b492a5 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4f3e59;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #221a26 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #4f3e59 !important;
  border-color: #4f3e59 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e0bdb6 !important;
}
.text-secondary {
  color: #474747 !important;
}
.text-success {
  color: #747474 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #b492a5 !important;
}
.text-danger {
  color: #4f3e59 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #c27c6e !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #141414 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #414141 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #855b72 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #1a141d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e0bdb6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #b492a5;
}
.alert-danger {
  background-color: #4f3e59;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e0bdb6;
  border-color: #e0bdb6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e0bdb6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b4b4b4;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e8dee3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #9177a0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.375rem;
  line-height: 1.59em;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.71875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e0bdb6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.375rem;
  line-height: 1.59em;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.71875rem;
}
blockquote {
  border-color: #e0bdb6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e0bdb6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e0bdb6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e0bdb6;
  border-bottom-color: #e0bdb6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #e0bdb6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #474747 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e0bdb6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  position: relative;
  padding: 0 14px 0 0;
}
.mbr-section-btn .btn::before,
.mbr-section-btn-main .btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 83%;
  height: 1px;
  background-color: #e0bdb6;
}
.mbr-section-btn .btn::after,
.mbr-section-btn-main .btn::after {
  content: '';
  position: absolute;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #e0bdb6;
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning,
.mbr-section-btn .btn-black,
.mbr-section-btn-main .btn-black,
.mbr-section-btn .btn-white,
.mbr-section-btn-main .btn-white {
  padding: 14px;
}
.mbr-section-btn .btn-primary::after,
.mbr-section-btn-main .btn-primary::after,
.mbr-section-btn .btn-secondary::after,
.mbr-section-btn-main .btn-secondary::after,
.mbr-section-btn .btn-success::after,
.mbr-section-btn-main .btn-success::after,
.mbr-section-btn .btn-info::after,
.mbr-section-btn-main .btn-info::after,
.mbr-section-btn .btn-danger::after,
.mbr-section-btn-main .btn-danger::after,
.mbr-section-btn .btn-warning::after,
.mbr-section-btn-main .btn-warning::after,
.mbr-section-btn .btn-black::after,
.mbr-section-btn-main .btn-black::after,
.mbr-section-btn .btn-white::after,
.mbr-section-btn-main .btn-white::after {
  display: none;
}
.mbr-section-btn .btn-primary::before,
.mbr-section-btn-main .btn-primary::before,
.mbr-section-btn .btn-secondary::before,
.mbr-section-btn-main .btn-secondary::before,
.mbr-section-btn .btn-success::before,
.mbr-section-btn-main .btn-success::before,
.mbr-section-btn .btn-info::before,
.mbr-section-btn-main .btn-info::before,
.mbr-section-btn .btn-danger::before,
.mbr-section-btn-main .btn-danger::before,
.mbr-section-btn .btn-warning::before,
.mbr-section-btn-main .btn-warning::before,
.mbr-section-btn .btn-black::before,
.mbr-section-btn-main .btn-black::before,
.mbr-section-btn .btn-white::before,
.mbr-section-btn-main .btn-white::before {
  display: none;
}
.mbr-section-btn .btn-primary-outline:hover::before,
.mbr-section-btn-main .btn-primary-outline:hover::before,
.mbr-section-btn .btn-secondary-outline:hover::before,
.mbr-section-btn-main .btn-secondary-outline:hover::before,
.mbr-section-btn .btn-success-outline:hover::before,
.mbr-section-btn-main .btn-success-outline:hover::before,
.mbr-section-btn .btn-info-outline:hover::before,
.mbr-section-btn-main .btn-info-outline:hover::before,
.mbr-section-btn .btn-danger-outline:hover::before,
.mbr-section-btn-main .btn-danger-outline:hover::before,
.mbr-section-btn .btn-warning-outline:hover::before,
.mbr-section-btn-main .btn-warning-outline:hover::before,
.mbr-section-btn .btn-black-outline:hover::before,
.mbr-section-btn-main .btn-black-outline:hover::before,
.mbr-section-btn .btn-white-outline:hover::before,
.mbr-section-btn-main .btn-white-outline:hover::before {
  animation: ani-button 0.8s forwards cubic-bezier(0.85, 0.26, 0.17, 1);
}
.mbr-section-btn .btn-info-outline::after,
.mbr-section-btn-main .btn-info-outline::after {
  background-color: #ffffff;
}
.mbr-section-btn .btn-primary-outline::before,
.mbr-section-btn-main .btn-primary-outline::before {
  background-color: #e0bdb6;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover {
  color: #e0bdb6 !important;
}
.mbr-section-btn .btn-secondary-outline:before,
.mbr-section-btn-main .btn-secondary-outline:before {
  background-color: #474747;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover {
  color: #474747 !important;
}
.mbr-section-btn .btn-success-outline::before,
.mbr-section-btn-main .btn-success-outline::before {
  background-color: #747474;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover {
  color: #747474 !important;
}
.mbr-section-btn .btn-info-outline::before,
.mbr-section-btn-main .btn-info-outline::before {
  background-color: #ffffff;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover {
  color: #ffffff !important;
}
.mbr-section-btn .btn-danger-outline::before,
.mbr-section-btn-main .btn-danger-outline::before {
  background-color: #4f3e59;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover {
  color: #4f3e59 !important;
}
.mbr-section-btn .btn-warning-outline::before,
.mbr-section-btn-main .btn-warning-outline::before {
  background-color: #b492a5;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover {
  color: #b492a5 !important;
}
.mbr-section-btn .btn-black-outline::before,
.mbr-section-btn-main .btn-black-outline::before {
  background-color: #232323;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover {
  color: #232323 !important;
}
.mbr-section-btn .btn-white-outline::before,
.mbr-section-btn-main .btn-white-outline::before {
  background-color: #fff;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn-main .btn-white-outline:hover {
  color: #ffffff !important;
}
@keyframes ani-button {
  from {
    transform: scale(0);
    transform-origin: center;
  }
  to {
    transform: scale(1);
    transform-origin: center;
  }
}
.cid-trf9lgCoRP .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
}
.cid-trf9lgCoRP .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #ffffff !important;
  background: #ffffff;
}
.cid-trf9lgCoRP .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .menu_box .navbar.opened,
  .cid-trf9lgCoRP .menu_box .navbar-collapse {
    background-color: #ffffff !important;
    transition: all 0s ease 0s;
  }
}
.cid-trf9lgCoRP .navbar-dropdown {
  position: relative !important;
}
.cid-trf9lgCoRP .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-trf9lgCoRP .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-trf9lgCoRP .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-trf9lgCoRP .offcanvas {
    padding: 12rem 80px 0;
    width: 50%;
    background-color: #e0bdb6;
  }
  .cid-trf9lgCoRP .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-trf9lgCoRP .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-trf9lgCoRP .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-trf9lgCoRP .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-trf9lgCoRP .offcanvas-body .mbr-text,
  .cid-trf9lgCoRP .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-trf9lgCoRP .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #474747;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-trf9lgCoRP .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-trf9lgCoRP ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-trf9lgCoRP .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-trf9lgCoRP .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-trf9lgCoRP .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-trf9lgCoRP li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-trf9lgCoRP .lg_brand {
    margin: 0 1rem;
  }
}
.cid-trf9lgCoRP .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-trf9lgCoRP .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .nav-item {
    margin: 0 !important;
  }
}
.cid-trf9lgCoRP .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-trf9lgCoRP .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-trf9lgCoRP .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-trf9lgCoRP .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-trf9lgCoRP .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-trf9lgCoRP .offcanvas_box {
    display: none;
  }
}
.cid-trf9lgCoRP .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-trf9lgCoRP .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-trf9lgCoRP .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-trf9lgCoRP .container {
  display: flex;
  margin: auto;
}
.cid-trf9lgCoRP .iconfont-wrapper {
  color: #e0bdb6;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-trf9lgCoRP .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-trf9lgCoRP .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-trf9lgCoRP .navbar-caption {
  color: #747474;
}
.cid-trf9lgCoRP .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-trf9lgCoRP .navbar-nav {
    margin: 0;
  }
}
.cid-trf9lgCoRP .dropdown-menu,
.cid-trf9lgCoRP .navbar.opened {
  background-color: false !important;
}
.cid-trf9lgCoRP .nav-item:focus,
.cid-trf9lgCoRP .nav-link:focus {
  outline: none;
}
.cid-trf9lgCoRP .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-trf9lgCoRP .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-trf9lgCoRP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-trf9lgCoRP .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-trf9lgCoRP .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-trf9lgCoRP .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-trf9lgCoRP .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
@media (max-width: 992px) {
  .cid-trf9lgCoRP .navbar {
    min-height: 30px;
    max-height: 90px;
  }
}
.cid-trf9lgCoRP .navbar.opened {
  transition: all 0.3s;
}
.cid-trf9lgCoRP .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-trf9lgCoRP .navbar .navbar-logo img {
  max-width: 38px;
  max-height: 38px;
  object-fit: cover;
  border-radius: 100%;
}
.cid-trf9lgCoRP .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-trf9lgCoRP .navbar.collapsed {
  justify-content: center;
}
.cid-trf9lgCoRP .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-trf9lgCoRP .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-trf9lgCoRP .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-trf9lgCoRP .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-trf9lgCoRP .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-trf9lgCoRP .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-trf9lgCoRP .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-trf9lgCoRP .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-trf9lgCoRP .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-trf9lgCoRP .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-trf9lgCoRP .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-trf9lgCoRP .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-trf9lgCoRP .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-trf9lgCoRP .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-trf9lgCoRP .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-trf9lgCoRP .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-trf9lgCoRP .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-trf9lgCoRP .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-trf9lgCoRP .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-trf9lgCoRP .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-trf9lgCoRP .navbar .icons-menu {
    padding: 0;
  }
}
.cid-trf9lgCoRP .navbar.navbar-short {
  min-height: 60px;
}
.cid-trf9lgCoRP .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-trf9lgCoRP .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-trf9lgCoRP .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-trf9lgCoRP .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-trf9lgCoRP .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-trf9lgCoRP .dropdown-item.active,
.cid-trf9lgCoRP .dropdown-item:active {
  background-color: transparent;
}
.cid-trf9lgCoRP .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-trf9lgCoRP .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-trf9lgCoRP .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-trf9lgCoRP .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-trf9lgCoRP ul.navbar-nav {
  flex-wrap: wrap;
  padding: 36px 0;
  border-bottom: 1px solid #e0bdb6;
}
.cid-trf9lgCoRP .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-trf9lgCoRP button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #ffffff;
}
.cid-trf9lgCoRP button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #474747;
}
.cid-trf9lgCoRP button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-trf9lgCoRP button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trf9lgCoRP button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-trf9lgCoRP button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-trf9lgCoRP nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trf9lgCoRP nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-trf9lgCoRP nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-trf9lgCoRP nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-trf9lgCoRP a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-trf9lgCoRP .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-trf9lgCoRP .navbar {
    height: 70px;
  }
  .cid-trf9lgCoRP .navbar.opened {
    height: auto;
  }
  .cid-trf9lgCoRP .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-trf9lgCoRP .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-trf9lgCoRP .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.cid-trf9lgCoRP .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-trf9lgCoRP .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
.cid-trf9lgCoRP .navbar-caption:hover {
  color: #e0bdb6;
}
@media (min-width: 992px) {
  .cid-trf9lgCoRP .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-trf9lgCoRP .nav-link {
  position: relative;
}
.cid-trf9lgCoRP .nav-link:before {
  content: '';
  position: absolute;
  left: -12px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #e0bdb6;
  transition: all .3s ease;
  opacity: 0;
}
.cid-trf9lgCoRP .nav-link:hover:before {
  opacity: 1;
}
.cid-trf9lgCoRP .mbr-section-subtitle {
  color: #ffffff;
}
.cid-trf9lgCoRP .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-trf9lgCoRP .text_widget {
  color: #ffffff;
}
.cid-trf9lgCoRP .mbr-section-subtitle,
.cid-trf9lgCoRP .text_widget,
.cid-trf9lgCoRP .mbr-section-btn {
  text-align: center;
}
.cid-trf9lgCoRP a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-trf9o2kpj1 {
  background-color: #ffffff;
}
.cid-trf9o2kpj1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9o2kpj1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-trf9o2kpj1 .title-wrapper {
    margin-bottom: 60px;
  }
}
.cid-trf9o2kpj1 .title-wrapper .mbr-section-title {
  margin-bottom: 36px;
}
.cid-trf9o2kpj1 .title-wrapper .mbr-text {
  margin-bottom: 36px;
}
.cid-trf9o2kpj1 .image-wrapper img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}
.cid-trf9o2kpj1 .mbr-section-title {
  color: #E0BDB6;
}
.cid-trf9o2kpj1 .mbr-text {
  color: #747474;
}
.cid-trf9FawOqR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e0bdb6;
}
.cid-trf9FawOqR .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9FawOqR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9FawOqR .row {
  justify-content: center;
}
@media (min-width: 768px) {
  .cid-trf9FawOqR .card {
    padding: 0;
    border-left: 1px solid #ffffff;
  }
  .cid-trf9FawOqR .card:first-child {
    border: none;
  }
  .cid-trf9FawOqR .card:first-child .card-wrapper {
    padding: 80px 101px 80px 10px;
  }
  .cid-trf9FawOqR .card:last-child .card-wrapper {
    padding: 80px 10px 80px 100px;
  }
}
@media (max-width: 768px) {
  .cid-trf9FawOqR .card-wrapper {
    padding: 13px 12px;
    margin-bottom: 10px;
  }
}
.cid-trf9FawOqR .card-wrapper .mbr-text,
.cid-trf9FawOqR .card-wrapper .mbr-text_2 {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .cid-trf9FawOqR .card-wrapper .mbr-text {
    text-align: left;
  }
}
.cid-trf9FawOqR .mbr-text {
  color: #ffffff;
  text-align: right;
}
.cid-trf9FawOqR .mbr-text_2 {
  color: #ffffff;
  text-align: left;
}
.cid-trf9xCuGg8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trf9xCuGg8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9xCuGg8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9xCuGg8 .row {
  justify-content: center;
}
.cid-trf9xCuGg8 .text-wrapper .mbr-section-title {
  margin-bottom: 85px;
}
.cid-trf9xCuGg8 .text-wrapper .mbr-desc {
  margin-bottom: 30px;
}
.cid-trf9xCuGg8 .text-wrapper .mbr-date {
  padding: 30px 0 7px 0;
  margin-bottom: 35px;
  line-height: 71px;
}
.cid-trf9xCuGg8 .text-wrapper .mbr-year {
  margin-bottom: 36px;
}
.cid-trf9xCuGg8 .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-trf9xCuGg8 .mbr-section-title {
  color: #E0BDB6;
  text-align: center;
}
.cid-trf9xCuGg8 .mbr-desc {
  color: #474747;
  text-align: center;
}
.cid-trf9xCuGg8 .mbr-date {
  color: #E0BDB6;
  text-align: center;
}
.cid-trf9xCuGg8 .mbr-year {
  color: #474747;
  text-align: center;
}
.cid-trf9xCuGg8 .mbr-text {
  color: #474747;
  text-align: center;
}
.cid-trf9IH2WBI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e0bdb6;
}
.cid-trf9IH2WBI .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9IH2WBI .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9IH2WBI .row {
  justify-content: center;
}
.cid-trf9IH2WBI .border-wrapper_1 {
  background-color: #ffffff;
  height: 1px;
  margin-bottom: 90px;
}
.cid-trf9IH2WBI .border-wrapper_2 {
  background-color: #ffffff;
  height: 1px;
  margin-top: 60px;
}
.cid-trf9IH2WBI .card-wrapper {
  margin-bottom: 30px;
}
.cid-trf9IH2WBI .card-wrapper .mbr-date {
  margin-bottom: 12px;
}
.cid-trf9IH2WBI .card-wrapper .mbr-section-title {
  margin-bottom: 15px;
}
.cid-trf9IH2WBI .mbr-section-title {
  color: #ffffff;
}
.cid-trf9IH2WBI .mbr-date {
  color: #ffffff;
}
.cid-trf9DOfjI8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trf9DOfjI8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9DOfjI8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9DOfjI8 .row {
  justify-content: space-between;
}
.cid-trf9DOfjI8 .item {
  margin-bottom: 90px;
}
@media (min-width: 992px) {
  .cid-trf9DOfjI8 .item {
    padding-right: 60px;
  }
  .cid-trf9DOfjI8 .item:nth-child(2n) {
    padding-right: 16px;
    padding-left: 60px;
  }
}
@media (max-width: 768px) {
  .cid-trf9DOfjI8 .item {
    margin-top: 60px;
  }
}
.cid-trf9DOfjI8 .item:nth-child(2n) {
  margin-top: 134px;
}
@media (max-width: 768px) {
  .cid-trf9DOfjI8 .item:nth-child(2n) {
    margin-top: 0;
  }
}
.cid-trf9DOfjI8 .item .item-wrapper {
  position: relative;
}
.cid-trf9DOfjI8 .item .item-wrapper .item-img {
  margin-bottom: 20px;
}
.cid-trf9DOfjI8 .item .item-wrapper .item-img img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-trf9DOfjI8 .item .item-wrapper .item-img img {
    height: 350px;
  }
}
.cid-trf9DOfjI8 .item .item-wrapper .item-content .mbr-text {
  margin-bottom: 18px;
}
.cid-trf9DOfjI8 .mbr-section-title {
  color: #747474;
}
.cid-trf9DOfjI8 .mbr-text {
  color: #747474;
}
.cid-trf9DOfjI8 .mbr-price {
  color: #E0BDB6;
}
.cid-trf9GFUbkC {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e0bdb6;
}
.cid-trf9GFUbkC .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9GFUbkC .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9GFUbkC .card {
  margin: 39px 0;
}
.cid-trf9GFUbkC .card .card-link {
  display: flex;
  position: relative;
}
.cid-trf9GFUbkC .card .card-link:hover .image-main,
.cid-trf9GFUbkC .card .card-link:focus .image-main {
  width: 390px;
}
.cid-trf9GFUbkC .card .card-link:hover .card-wrapper .mbr-section-title,
.cid-trf9GFUbkC .card .card-link:focus .card-wrapper .mbr-section-title {
  color: #747474;
}
.cid-trf9GFUbkC .card .card-link:hover .card-wrapper .mbr-text,
.cid-trf9GFUbkC .card .card-link:focus .card-wrapper .mbr-text {
  color: #747474;
}
.cid-trf9GFUbkC .card .card-link .image-main {
  position: absolute;
  width: 0;
  height: 260px;
  object-fit: cover;
  left: 90%;
  top: 2.5rem;
  transform-origin: left;
  transition: all 0.6s ease-out;
}
@media (max-width: 1200px) {
  .cid-trf9GFUbkC .card .card-link .image-main {
    right: -55%;
  }
}
@media (max-width: 992px) {
  .cid-trf9GFUbkC .card .card-link .image-main {
    display: none;
  }
}
.cid-trf9GFUbkC .card .card-link .image {
  width: 55px;
  height: 55px;
  object-fit: contain;
  padding-top: 6px;
  margin-right: 24px;
}
@media (max-width: 425px) {
  .cid-trf9GFUbkC .card .card-link .image {
    margin-right: 12px;
  }
}
.cid-trf9GFUbkC .card .card-link .card-wrapper .mbr-section-title {
  margin-bottom: 20px;
  transition: all .3s ease;
}
.cid-trf9GFUbkC .card .card-link .card-wrapper .mbr-text {
  margin-bottom: 0;
  transition: all .3s ease;
}
.cid-trf9GFUbkC .mbr-section-title,
.cid-trf9GFUbkC .mbr-iconfont {
  color: #ffffff;
}
.cid-trf9GFUbkC .mbr-text {
  color: #ffffff;
}
.cid-trf9qHYN75 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trf9qHYN75 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9qHYN75 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9qHYN75 .row {
  justify-content: space-between;
}
.cid-trf9qHYN75 .card-wrapper {
  margin-bottom: 70px;
}
.cid-trf9qHYN75 .card-wrapper .image-wrapper img {
  display: inline-flex;
  width: 106px;
  height: 106px;
  object-fit: contain;
  margin-bottom: 40px;
}
.cid-trf9qHYN75 .card-wrapper .mbr-section-title {
  margin-bottom: 18px;
}
.cid-trf9qHYN75 .card-wrapper .mbr-text {
  margin-bottom: 0;
  line-height: 1.45em;
}
.cid-trf9qHYN75 .mbr-section-title {
  color: #E0BDB6;
}
.cid-trf9qHYN75 .mbr-text {
  color: #747474;
}
.cid-trfafwSCBE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  position: relative;
  background-color: #e0bdb6;
}
.cid-trfafwSCBE .image_1 {
  position: absolute;
  top: 120px;
  left: -6rem;
  max-width: 420px;
  height: 600px;
  object-fit: cover;
  padding: 0;
}
@media (max-width: 1400px) {
  .cid-trfafwSCBE .image_1 {
    max-width: 380px;
  }
}
@media (max-width: 1200px) {
  .cid-trfafwSCBE .image_1 {
    max-width: 340px;
  }
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .image_1 {
    max-width: 100%;
    position: static;
    margin-bottom: 50px;
  }
}
.cid-trfafwSCBE .image_2 {
  position: absolute;
  top: 215px;
  right: -6rem;
  max-width: 300px;
  height: 350px;
  object-fit: cover;
  padding: 0;
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .image_2 {
    display: none;
  }
}
.cid-trfafwSCBE .mbr-fallback-image.disabled {
  display: none;
}
.cid-trfafwSCBE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trfafwSCBE .row {
  justify-content: center;
  align-items: center;
  position: relative;
}
.cid-trfafwSCBE .border-wrapper_1 {
  background-color: #ffffff;
  height: 1px;
  margin-bottom: 210px;
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .border-wrapper_1 {
    margin-bottom: 140px;
  }
}
.cid-trfafwSCBE .border-wrapper_2 {
  background-color: #ffffff;
  height: 1px;
  margin-top: 210px;
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .border-wrapper_2 {
    margin-top: 140px;
  }
}
.cid-trfafwSCBE .title-wrapper .mbr-section-title {
  margin-bottom: 50px;
}
.cid-trfafwSCBE .title-wrapper .mbr-text {
  margin-bottom: 26px;
  padding-left: 200px;
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .title-wrapper .mbr-text {
    padding-left: 0;
  }
}
.cid-trfafwSCBE .title-wrapper .mbr-section-btn {
  padding-left: 200px;
}
@media (max-width: 992px) {
  .cid-trfafwSCBE .title-wrapper .mbr-section-btn {
    padding-left: 0;
  }
}
.cid-trfafwSCBE .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-trfafwSCBE .mbr-text {
  color: #ffffff;
}
.cid-trfaxsIAP4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trfaxsIAP4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trfaxsIAP4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trfaxsIAP4 .row {
  justify-content: center;
}
.cid-trfaxsIAP4 .video-block {
  margin-bottom: 20px;
}
.cid-trfaxsIAP4 .video-block .video-wrapper .app-video-wrapper:before {
  font-size: 50px;
  color: #ffffff;
  background-color: #e0bdb6;
  width: 100px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 16px;
}
.cid-trfaxsIAP4 .title-wrapper .mbr-date {
  margin-bottom: 16px;
}
.cid-trfaxsIAP4 .title-wrapper .mbr-section-title {
  margin-bottom: 26px;
}
.cid-trfaxsIAP4 .title-wrapper .mbr-text {
  margin-bottom: 32px;
}
.cid-trfaxsIAP4 .mbr-section-title {
  color: #E0BDB6;
}
.cid-trfaxsIAP4 .mbr-date {
  color: #747474;
}
.cid-trfaxsIAP4 .mbr-text {
  color: #747474;
}
.cid-trf9ODSZbJ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trf9ODSZbJ .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9ODSZbJ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9ODSZbJ .title-wrapper {
  padding: 96px 10px;
  background-color: #e0bdb6;
}
@media (max-width: 992px) {
  .cid-trf9ODSZbJ .title-wrapper {
    padding: 60px 10px;
  }
}
@media (max-width: 768px) {
  .cid-trf9ODSZbJ .title-wrapper {
    padding: 40px 10px;
  }
}
.cid-trf9ODSZbJ .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-trf9ODSZbJ .panel-group {
  padding: 40px 10px 10px 10px;
}
.cid-trf9ODSZbJ .panel-group .card {
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0;
}
.cid-trf9ODSZbJ .panel-group .card .card-header {
  padding: 15px 10px 15px 5px;
  background-color: transparent;
  border: none;
}
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title {
  display: flex;
}
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title:not(.collapsed) .icon-wrapper .mbr-iconfont,
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title:hover .icon-wrapper .mbr-iconfont {
  transform: rotate(45deg);
}
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title .icon-wrapper {
  min-width: 36px;
  width: 36px;
  height: 36px;
  background-color: #e0bdb6;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title .icon-wrapper .mbr-iconfont {
  font-size: 18px;
  color: #ffffff;
  transition: all .3s ease;
}
.cid-trf9ODSZbJ .panel-group .card .card-header .panel-title .panel-title-edit {
  margin-left: 26px;
  margin-bottom: 0;
}
.cid-trf9ODSZbJ .panel-group .card .panel-collapse .panel-body {
  padding: 0 0 30px 66px;
}
.cid-trf9ODSZbJ .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 0;
}
.cid-trf9ODSZbJ .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-trf9ODSZbJ .panel-title-edit {
  color: #E0BDB6;
}
.cid-trf9ODSZbJ .panel-text {
  color: #747474;
}
.cid-trf9Yfq3N5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #e0bdb6;
}
.cid-trf9Yfq3N5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9Yfq3N5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9Yfq3N5 .title-wrapper .mbr-section-title {
  margin-bottom: 56px;
}
.cid-trf9Yfq3N5 .title-wrapper .desc-wrapper .mbr-desc {
  margin-bottom: 0;
  display: inline-flex;
  align-items: center;
}
.cid-trf9Yfq3N5 .title-wrapper .desc-wrapper .mbr-desc .mbr-iconfont {
  font-size: 22px;
  margin-right: 9px;
}
.cid-trf9Yfq3N5 .list-wrapper {
  padding-right: 120px;
}
@media (max-width: 992px) {
  .cid-trf9Yfq3N5 .list-wrapper {
    margin-bottom: 35px;
    padding: 0;
  }
}
.cid-trf9Yfq3N5 .list-wrapper .mbr-section-subtitle {
  margin-bottom: 25px;
}
.cid-trf9Yfq3N5 .list-wrapper .list {
  margin: 0;
  padding-left: 24px;
  list-style-position: inside;
  list-style-type: none;
}
.cid-trf9Yfq3N5 .list-wrapper .list li {
  margin-bottom: 27px;
  position: relative;
}
.cid-trf9Yfq3N5 .list-wrapper .list li::before {
  content: '';
  position: absolute;
  top: 1rem;
  left: -24px;
  background-color: #ffffff;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  display: block;
}
.cid-trf9Yfq3N5 .mbr-section-title {
  color: #ffffff;
}
.cid-trf9Yfq3N5 .mbr-desc,
.cid-trf9Yfq3N5 .mbr-iconfont {
  color: #ffffff;
}
.cid-trf9Yfq3N5 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-trf9Yfq3N5 .list {
  color: #ffffff;
}
.cid-trf9MAT4Fl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-trf9MAT4Fl .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9MAT4Fl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9MAT4Fl .row {
  justify-content: center;
}
.cid-trf9MAT4Fl .dragArea.row {
  padding-right: 60px;
}
@media (max-width: 992px) {
  .cid-trf9MAT4Fl .dragArea.row {
    padding-right: 0;
  }
}
.cid-trf9MAT4Fl .dragArea.row .mbr-section-title {
  margin-bottom: 45px !important;
}
.cid-trf9MAT4Fl .dragArea.row .form-group {
  margin-bottom: 40px !important;
}
.cid-trf9MAT4Fl .dragArea.row .form-group .form-control {
  border: none !important;
  border-bottom: 1px solid #d7d7d7 !important;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  line-height: 1em;
  min-height: auto;
}
.cid-trf9MAT4Fl .dragArea.row .form-group .form-control:hover,
.cid-trf9MAT4Fl .dragArea.row .form-group .form-control:focus {
  border-bottom: #474747;
}
.cid-trf9MAT4Fl .dragArea.row .form-group .form-control::placeholder {
  color: #747474;
}
.cid-trf9MAT4Fl .dragArea.row .form-group textarea {
  min-height: 145px;
}
.cid-trf9MAT4Fl .dragArea.row .mbr-section-btn {
  margin-top: 18px;
  width: 100% !important;
}
.cid-trf9MAT4Fl .dragArea.row .mbr-section-btn .btn {
  width: fit-content;
  display: inline-flex;
  min-height: auto;
}
.cid-trf9MAT4Fl .image-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 40px;
}
@media (max-width: 992px) {
  .cid-trf9MAT4Fl .image-wrapper {
    padding-top: 80px;
  }
}
.cid-trf9MAT4Fl .image-wrapper img {
  width: 320px;
  height: 430px;
  object-fit: cover;
  border-radius: 10rem;
}
.cid-trf9MAT4Fl .image-wrapper img:nth-child(2) {
  position: absolute;
  top: -5rem;
  right: 0;
  width: 200px;
  height: 260px;
  border-radius: 0;
}
@media (max-width: 992px) {
  .cid-trf9MAT4Fl .image-wrapper img:nth-child(2) {
    display: none;
  }
}
.cid-trf9MAT4Fl .image-wrapper img:last-child {
  position: absolute;
  right: 0;
  bottom: -5rem;
  width: 300px;
  height: 300px;
}
@media (max-width: 992px) {
  .cid-trf9MAT4Fl .image-wrapper img:last-child {
    display: none;
  }
}
.cid-trf9MAT4Fl .mbr-section-title {
  color: #E0BDB6;
}
.cid-trf9T3jHCe {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #e0bdb6;
}
.cid-trf9T3jHCe .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9T3jHCe .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9T3jHCe .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 380px;
  max-width: 380px;
}
@media (max-width: 768px) {
  .cid-trf9T3jHCe .embla__slide {
    min-width: 70%;
    max-width: initial;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-trf9T3jHCe .embla__slide .card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.cid-trf9T3jHCe .embla__slide .card-wrap .card-text {
  margin-bottom: 50px;
}
.cid-trf9T3jHCe .embla__slide .card-wrap .content-wrap .card-name {
  margin-bottom: 12px;
}
.cid-trf9T3jHCe .embla__slide .card-wrap .content-wrap .card-desc {
  margin-bottom: 0;
}
.cid-trf9T3jHCe .embla__button--next,
.cid-trf9T3jHCe .embla__button--prev {
  display: flex;
}
.cid-trf9T3jHCe .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-trf9T3jHCe .embla__button .mbr-iconfont {
  font-size: 48px;
}
@media (max-width: 768px) {
  .cid-trf9T3jHCe .embla__button .mbr-iconfont {
    font-size: 22px;
  }
}
.cid-trf9T3jHCe .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-trf9T3jHCe .embla__button:hover {
  background: transparent;
  color: #ffffff;
  border: none;
  opacity: .65;
}
.cid-trf9T3jHCe .embla__button.embla__button--prev {
  left: 0;
  margin-left: 0;
}
.cid-trf9T3jHCe .embla__button.embla__button--next {
  right: 0;
  margin-right: 0;
}
@media (max-width: 767px) {
  .cid-trf9T3jHCe .embla__button {
    top: auto;
    bottom: -5rem;
  }
}
.cid-trf9T3jHCe .embla {
  position: relative;
  width: 100%;
}
.cid-trf9T3jHCe .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-trf9T3jHCe .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-trf9T3jHCe .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-trf9T3jHCe .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-trf9T3jHCe .icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 45px;
}
.cid-trf9T3jHCe .icon-wrapper .mbr-iconfont {
  font-size: 56px;
  display: block;
  color: #ffffff;
}
.cid-trf9T3jHCe .card-text {
  color: #ffffff;
}
.cid-trf9T3jHCe .card-name {
  color: #ffffff;
}
.cid-trf9T3jHCe .card-desc {
  color: #ffffff;
}
.cid-trf9tzcwb8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #533633;
}
.cid-trf9tzcwb8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-trf9tzcwb8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-trf9tzcwb8 .row {
  justify-content: space-between;
}
.cid-trf9tzcwb8 .mbr-section-title {
  margin: 0;
  color: #E0BDB6;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-trf9tzcwb8 .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-trf9tzcwb8 .mbr-text {
  margin-bottom: 10px;
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-trf9tzcwb8 .mbr-section-btn {
    margin-bottom: 20px;
  }
}
.cid-trf9tzcwb8 .list {
  padding: 0;
  margin-bottom: 0;
  list-style-type: none;
  color: #ffffff;
}
.cid-trf9tzcwb8 .list li {
  margin-bottom: 25px;
}
.cid-trf9tzcwb8 .list li:last-child {
  margin-bottom: 0;
}
.cid-trf9tzcwb8 .mbr-desc {
  margin-bottom: 8px;
}
.cid-trf9tzcwb8 .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-trf9tzcwb8 .social-row .soc-item {
  margin: 9px 9px 0 0;
}
.cid-trf9tzcwb8 .social-row .soc-item a:hover .mbr-iconfont {
  border-color: #ffffff;
}
.cid-trf9tzcwb8 .social-row .soc-item a .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 37px;
  font-size: 18px;
  border-radius: 100%;
  border: 1px solid #e0bdb6;
  transition: all .3s ease;
}
.cid-trf9tzcwb8 .copyright {
  margin: 110px 0 0 0;
  padding: 17px 70px;
  position: relative;
  color: #ffffff;
  text-align: center;
}
.cid-trf9tzcwb8 .copyright:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100rem;
  display: block;
  min-width: 1000vh;
  height: 1px;
  background-color: #e0bdb6;
  opacity: .4;
}
@media (max-width: 992px) {
  .cid-trf9tzcwb8 .copyright {
    margin-top: 50px;
    padding: 17px 24px;
  }
}
.cid-trf9tzcwb8 .mbr-desc,
.cid-trf9tzcwb8 .mbr-iconfont {
  color: #ffffff;
}
