body {
  font-family: Bai Jamjuree;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #161734 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #161734 !important;
  border-color: #161734 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #002d7e !important;
  border-color: #002d7e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline {
  position: relative;
  z-index: 1;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #161734;
  color: #161734;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #161734 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #161734;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #161734 !important;
  border-color: #161734 !important;
}
.btn-primary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #161734;
  z-index: -1;
}
.btn-primary-outline:hover {
  color: #ffffff !important;
}
.btn-primary-outline:hover:after {
  width: 100%;
}
.btn-secondary-outline {
  position: relative;
  z-index: 1;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
  color: #004cd5;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #004cd5 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #004cd5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #004cd5 !important;
  border-color: #004cd5 !important;
}
.btn-secondary-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #004cd5;
  z-index: -1;
}
.btn-secondary-outline:hover {
  color: #ffffff !important;
}
.btn-secondary-outline:hover:after {
  width: 100%;
}
.btn-info-outline {
  position: relative;
  z-index: 1;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #47b5ed !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #47b5ed;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-info-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #47b5ed;
  z-index: -1;
}
.btn-info-outline:hover {
  color: #ffffff !important;
}
.btn-info-outline:hover:after {
  width: 100%;
}
.btn-success-outline {
  position: relative;
  z-index: 1;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #40b0bf !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #40b0bf;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-success-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #40b0bf;
  z-index: -1;
}
.btn-success-outline:hover {
  color: #ffffff !important;
}
.btn-success-outline:hover:after {
  width: 100%;
}
.btn-warning-outline {
  position: relative;
  z-index: 1;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffe161 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #ffe161;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffe161 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-warning-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #ffe161;
  z-index: -1;
}
.btn-warning-outline:hover {
  color: #000000 !important;
}
.btn-warning-outline:hover:after {
  width: 100%;
}
.btn-danger-outline {
  position: relative;
  z-index: 1;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff9966 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #ff9966;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-danger-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #ff9966;
  z-index: -1;
}
.btn-danger-outline:hover {
  color: #000000 !important;
}
.btn-danger-outline:hover:after {
  width: 100%;
}
.btn-black-outline {
  position: relative;
  z-index: 1;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #232323 !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #232323;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-black-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #232323;
  z-index: -1;
}
.btn-black-outline:hover {
  color: #ffffff !important;
}
.btn-black-outline:hover:after {
  width: 100%;
}
.btn-white-outline {
  position: relative;
  z-index: 1;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #fafafa !important;
  background-color: transparent!important;
  box-shadow: inset 0px 0px 0px 3px #fafafa;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #fafafa !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.btn-white-outline:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  content: '';
  transition: all 0.3s;
  background: #fafafa;
  z-index: -1;
}
.btn-white-outline:hover {
  color: #000000 !important;
}
.btn-white-outline:hover:after {
  width: 100%;
}
.text-primary {
  color: #161734 !important;
}
.text-secondary {
  color: #004cd5 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #161734 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #004cd5 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #40b0bf !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #47b5ed !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #ffe161 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff9966 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #fafafa !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #232323 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #161734;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #161734;
  border-color: #161734;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #161734;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6e71c2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #161734 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #161734;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #161734;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #161734;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #161734;
  border-bottom-color: #161734;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #161734 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #004cd5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23161734' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.image-wrapper {
  color: #161734;
}
.animate__fadeInUp {
  animation-name: none;
  position: relative;
}
.animate__fadeInUp:before {
  position: absolute;
  top: -1px;
  right: -1px;
  left: auto;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  content: '';
  background: white;
  animation: box1 1s forwards;
  animation-delay: 0.5s;
  z-index: 2;
}
.animate__fadeInUp:after {
  position: absolute;
  top: -1px;
  left: -1px;
  right: auto;
  width: 0%;
  height: calc(100% + 2px);
  content: '';
  background: currentColor;
  animation: box2 1s forwards;
  animation-delay: 0.5s;
  z-index: 3;
}
@keyframes box1 {
  to {
    width: 0%;
  }
}
@keyframes box2 {
  0% {
    width: 0%;
    left: 0;
    right: auto;
  }
  49% {
    width: calc(100% + 2px);
    left: 0;
    right: auto;
  }
  51% {
    width: calc(100% + 2px);
    left: auto;
    right: 0;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
.cid-u2sEfSdeya {
  padding-top: 14rem;
  padding-bottom: 14rem;
  background-color: #004cd5;
}
@media (max-width: 992px) {
  .cid-u2sEfSdeya {
    padding-top: 2.8rem;
    padding-bottom: 2.8rem;
  }
}
.cid-u2sEfSdeya .text-wrapper {
  z-index: 11;
}
.cid-u2sEfSdeya .wrapper {
  display: flex;
}
.cid-u2sEfSdeya section {
  overflow: hidden;
}
.cid-u2sEfSdeya .image-wrapper {
  z-index: 10;
}
@media (min-width: 992px) {
  .cid-u2sEfSdeya .image-wrapper {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
  }
}
@media (max-width: 1200px) {
  .cid-u2sEfSdeya .image-wrapper {
    max-width: 450px;
  }
}
@media (max-width: 992px) {
  .cid-u2sEfSdeya .image-wrapper {
    max-width: 550px;
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .cid-u2sEfSdeya .image-wrapper {
    max-width: 280px;
    margin: auto;
    margin-bottom: 3rem;
  }
}
.cid-u2sEfSdeya .row {
  align-items: center;
}
.cid-u2sEfSdeya .animate__fadeInUp:before {
  background: #004cd5;
}
.cid-u2sEfSdeya .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #161734;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-u2sEfSdeya .wrapper {
    flex-direction: column;
  }
  .cid-u2sEfSdeya .iconfont-wrapper {
    margin: auto;
  }
  .cid-u2sEfSdeya .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-u2sEfSdeya .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEfSdeya .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEhk5eOz {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}
.cid-u2sEhk5eOz .row {
  flex-direction: row-reverse;
}
.cid-u2sEhk5eOz .top {
  z-index: 5;
}
.cid-u2sEhk5eOz .img-col {
  position: relative;
}
.cid-u2sEhk5eOz .img1 {
  position: absolute;
  max-width: 60%;
  top: 0rem;
  right: 1rem;
}
.cid-u2sEhk5eOz .img2 {
  max-width: 90%;
  padding-top: 10rem;
}
@media (max-width: 767px) {
  .cid-u2sEhk5eOz .img2 {
    padding-top: 5rem;
  }
}
.cid-u2sEhk5eOz img {
  width: 100%;
}
.cid-u2sEhk5eOz .text-wrapper {
  z-index: 11;
}
.cid-u2sEhk5eOz .wrapper {
  display: flex;
}
.cid-u2sEhk5eOz .row {
  align-items: center;
}
.cid-u2sEhk5eOz .animate__fadeInUp:before {
  background: #ffffff;
}
.cid-u2sEhk5eOz .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #161734;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-u2sEhk5eOz .wrapper {
    flex-direction: column;
  }
  .cid-u2sEhk5eOz .iconfont-wrapper {
    margin: auto;
  }
  .cid-u2sEhk5eOz .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-u2sEhk5eOz .mbr-section-title {
  color: #161734;
}
.cid-u2sEhk5eOz .mbr-text,
.cid-u2sEhk5eOz .mbr-section-btn {
  color: #161734;
}
.cid-u2sEhk5eOz .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEhk5eOz .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEi9IGbO {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #004cd5;
}
.cid-u2sEi9IGbO li {
  padding-bottom: 1.5rem;
}
.cid-u2sEi9IGbO img {
  width: 100%;
}
.cid-u2sEi9IGbO .text-wrapper {
  z-index: 11;
}
.cid-u2sEi9IGbO .wrapper {
  display: flex;
}
.cid-u2sEi9IGbO .row {
  align-items: center;
}
.cid-u2sEi9IGbO .animate__fadeInUp:before {
  background: #004cd5;
}
.cid-u2sEi9IGbO .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #161734;
  margin-right: 1.5rem;
}
@media (max-width: 767px) {
  .cid-u2sEi9IGbO .wrapper {
    flex-direction: column;
  }
  .cid-u2sEi9IGbO .iconfont-wrapper {
    margin: auto;
  }
  .cid-u2sEi9IGbO .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-u2sEi9IGbO .mbr-section-title {
  color: #ffffff;
}
.cid-u2sEi9IGbO .mbr-text,
.cid-u2sEi9IGbO .mbr-section-btn {
  color: #ffffff;
}
.cid-u2sEi9IGbO .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEi9IGbO .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEjkiefY {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-u2sEjkiefY .text-wrapper {
  z-index: 11;
}
.cid-u2sEjkiefY .wrapper {
  display: flex;
  flex-direction: column;
}
.cid-u2sEjkiefY .animate__fadeInUp:before {
  background: #ffffff;
}
.cid-u2sEjkiefY .mbr-iconfont {
  display: block;
  font-size: 3rem;
  color: #161734;
  margin-right: 0rem;
  margin-bottom: 2rem;
}
.cid-u2sEjkiefY .iconfont-wrapper {
  margin: auto;
}
.cid-u2sEjkiefY .mbr-section-title {
  text-align: center;
  color: #2160d1;
}
.cid-u2sEjkiefY .mbr-text,
.cid-u2sEjkiefY .mbr-section-btn {
  text-align: center;
  color: #161734;
}
.cid-u2sEjkiefY .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEjkiefY .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEjXOCwo {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-u2sEjXOCwo .animate__fadeInUp:before {
  background: #ffffff;
}
.cid-u2sEjXOCwo .container-fluid {
  padding: 0;
}
.cid-u2sEjXOCwo .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEjXOCwo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sElfieg7 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #004cd5;
}
.cid-u2sElfieg7 .wrapper {
  display: flex;
  flex-direction: column;
}
.cid-u2sElfieg7 .animate__fadeInUp:before {
  background: #004cd5;
}
.cid-u2sElfieg7 .mbr-section-title {
  color: #ffffff;
}
.cid-u2sElfieg7 .mbr-text,
.cid-u2sElfieg7 .mbr-section-btn {
  color: #ffffff;
}
.cid-u2sElfieg7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sElfieg7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sElCr8gs {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-u2sElCr8gs .team-card {
  margin-bottom: 2rem;
  transition: all 0.3s;
}
.cid-u2sElCr8gs .team-card:hover {
  transform: translateY(-10px);
}
.cid-u2sElCr8gs .image-wrap {
  overflow: hidden;
  cursor: pointer;
}
.cid-u2sElCr8gs .card-wrap {
  background: #ffffff;
  border-radius: 4px;
}
@media (max-width: 991px) {
  .cid-u2sElCr8gs .card-wrap {
    margin-bottom: 2rem;
  }
}
.cid-u2sElCr8gs .card-wrap .image-wrap img {
  width: 100%;
  transition: all 0.3s;
}
@media (min-width: 768px) {
  .cid-u2sElCr8gs .card-wrap .content-wrap {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u2sElCr8gs .card-wrap .content-wrap {
    padding: 1rem;
  }
}
.cid-u2sElCr8gs .card-wrap:hover img {
  transform: scale(1.05);
}
.cid-u2sElCr8gs .social-row {
  text-align: center;
}
.cid-u2sElCr8gs .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #004cd5;
  transition: all 0.3s;
}
.cid-u2sElCr8gs .social-row .soc-item .mbr-iconfont {
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-content: center;
  color: #004cd5;
  font-size: 1.5rem;
}
.cid-u2sElCr8gs .social-row .soc-item:hover {
  background-color: #004cd5;
}
.cid-u2sElCr8gs .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
.cid-u2sElCr8gs .mbr-section-title {
  color: #161734;
}
.cid-u2sElCr8gs .mbr-section-subtitle {
  color: #161734;
}
.cid-u2sElCr8gs .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sElCr8gs .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEmPO8eE {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #004cd5;
}
@media (max-width: 992px) {
  .cid-u2sEmPO8eE {
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
  }
}
@media (min-width: 992px) {
  .cid-u2sEmPO8eE .inner {
    padding-left: 5rem;
  }
}
.cid-u2sEmPO8eE .wrapper {
  display: flex;
}
.cid-u2sEmPO8eE .mbr-iconfont {
  display: block;
  font-size: 2rem;
  color: #161734;
  margin-right: 1.5rem;
  padding-top: 0.4rem;
}
.cid-u2sEmPO8eE .big {
  font-size: 3.5rem;
}
@media (max-width: 767px) {
  .cid-u2sEmPO8eE .wrapper {
    flex-direction: column;
  }
  .cid-u2sEmPO8eE .iconfont-wrapper {
    margin: auto;
  }
  .cid-u2sEmPO8eE .mbr-iconfont {
    margin-right: 0rem;
    margin-bottom: 2rem;
  }
}
.cid-u2sEmPO8eE .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEmPO8eE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEumg8Js {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #004cd5;
}
.cid-u2sEumg8Js .google-map {
  poistion: relative;
  height: 30rem;
  position: relative;
}
.cid-u2sEumg8Js .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-u2sEumg8Js .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-u2sEumg8Js .google-map[data-state] {
  background: #e9e5dc;
}
.cid-u2sEumg8Js .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-u2sEumg8Js .google-map:before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  left: 0;
  top: 0;
  background: #004cd5;
  opacity: 0.4;
  pointer-events: none;
}
.cid-u2sEumg8Js .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sEumg8Js .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2sEoHyPJh {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-u2sEoHyPJh .row-links {
  justify-content: center;
}
.cid-u2sEoHyPJh .social-row {
  justify-content: center;
  padding: 0 1rem;
}
.cid-u2sEoHyPJh .wrapper {
  display: flex;
}
.cid-u2sEoHyPJh .container {
  max-width: 1700px;
}
.cid-u2sEoHyPJh img {
  width: 75px;
  margin: auto;
  padding: 0 0.5rem;
}
.cid-u2sEoHyPJh img {
  filter: invert(1);
}
.cid-u2sEoHyPJh .row-copirayt {
  min-width: 300px;
}
.cid-u2sEoHyPJh .foot-menu-item {
  word-wrap: unset;
  word-break: unset;
  white-space: nowrap;
}
.cid-u2sEoHyPJh .line {
  width: 100%;
  height: 50px;
  position: relative;
}
.cid-u2sEoHyPJh .line:before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #232323;
  content: "";
}
.cid-u2sEoHyPJh .row-links,
.cid-u2sEoHyPJh .wrapper {
  min-width: fit-content;
  padding: 0 0.5rem;
}
.cid-u2sEoHyPJh .foot-menu {
  width: fit-content;
}
.cid-u2sEoHyPJh .media-container-row {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cid-u2sEoHyPJh .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 0;
}
.cid-u2sEoHyPJh .media-container-row .foot-menu li {
  padding: 0 1rem;
}
.cid-u2sEoHyPJh .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-u2sEoHyPJh .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
.cid-u2sEoHyPJh .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #161734;
  transition: all 0.3s;
}
.cid-u2sEoHyPJh .media-container-row .social-list .mbr-iconfont-social:hover {
  color: #004cd5;
}
.cid-u2sEoHyPJh .media-container-row .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-u2sEoHyPJh .media-container-row .social-list a {
  margin: 0;
}
@media (max-width: 767px) {
  .cid-u2sEoHyPJh .media-container-row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-u2sEoHyPJh .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-u2sEoHyPJh .media-container-row .row-copirayt p {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-u2sEoHyPJh .media-container-row {
    justify-content: center;
  }
  .cid-u2sEoHyPJh .media-container-row .mbr-text {
    text-align: center;
  }
  .cid-u2sEoHyPJh .media-container-row .wrapper {
    flex-direction: column;
  }
  .cid-u2sEoHyPJh .media-container-row .foot-menu {
    margin: auto;
    padding-bottom: 1rem;
  }
}
.cid-u2sEoHyPJh .media-container-row .mbr-text {
  color: #353535;
}
.cid-u2sEnUPnsh {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #004cd5;
}
