body {
  font-family: Plus Jakarta Sans;
}
.display-1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 6.875rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.59375rem;
}
.display-2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 5rem;
  line-height: 1.12;
}
.display-2 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  line-height: inherit;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.375rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 4.21875rem;
}
.display-7 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.625rem;
  line-height: 1.6;
}
.display-7 > .mbr-iconfont {
  font-size: 2.03125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8125rem;
    font-size: calc( 3.05625rem + (6.875 - 3.05625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.05625rem + (6.875 - 3.05625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.7rem;
    font-size: calc( 1.83125rem + (3.375 - 1.83125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.83125rem + (3.375 - 1.83125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.3rem;
    font-size: calc( 1.21875rem + (1.625 - 1.21875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21875rem + (1.625 - 1.21875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 0;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 0;
}
.bg-primary {
  background-color: #222222 !important;
}
.bg-success {
  background-color: #ebebeb !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #a67d65 !important;
}
.bg-danger {
  background-color: #9c5f6a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c6a38f !important;
  border-color: #c6a38f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #a97456 !important;
  border-color: #a97456 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #a97456 !important;
  border-color: #a97456 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
  color: #6b6b6b !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #6b6b6b !important;
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #a67d65 !important;
  border-color: #a67d65 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #725442 !important;
  border-color: #725442 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #725442 !important;
  border-color: #725442 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #9c5f6a !important;
  border-color: #9c5f6a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #663e45 !important;
  border-color: #663e45 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #663e45 !important;
  border-color: #663e45 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #222222;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #222222 !important;
  border-color: #222222 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #c6a38f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #a97456 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c6a38f !important;
  border-color: #c6a38f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ebebeb;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #c0c0c0 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #6b6b6b !important;
  background-color: #ebebeb !important;
  border-color: #ebebeb !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #a67d65;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #725442 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #a67d65 !important;
  border-color: #a67d65 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #9c5f6a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #663e45 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #9c5f6a !important;
  border-color: #9c5f6a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #222222 !important;
}
.text-secondary {
  color: #c6a38f !important;
}
.text-success {
  color: #ebebeb !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #a67d65 !important;
}
.text-danger {
  color: #9c5f6a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #9e6d51 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #b8b8b8 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #694d3c !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #5d383f !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #222222;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #a67d65;
}
.alert-danger {
  background-color: #9c5f6a;
}
.mbr-gallery-filter li.active .btn {
  background-color: #222222;
  border-color: #222222;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #222222;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d4d4d4;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d5c1b6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #cdadb3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  line-height: inherit;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #222222 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125rem;
  line-height: inherit;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #222222;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #222222;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #222222;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #222222;
  border-bottom-color: #222222;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #222222 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #c6a38f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23222222' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  border: none !important;
  box-shadow: none;
  display: inline-flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 12px 18px 12px 0;
}
.mbr-section-btn .btn .mbr-iconfont,
.mbr-section-btn-main .btn .mbr-iconfont {
  font-size: 32px;
  margin-right: 16px;
  transition: all 0.3s ease-out;
  color: #c6a38f;
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.mbr-section-btn .btn:hover .mbr-iconfont,
.mbr-section-btn-main .btn:hover .mbr-iconfont,
.mbr-section-btn .btn:focus .mbr-iconfont,
.mbr-section-btn-main .btn:focus .mbr-iconfont {
  color: #ffffff !important;
}
.mbr-section-btn .btn-primary,
.mbr-section-btn-main .btn-primary,
.mbr-section-btn .btn-secondary,
.mbr-section-btn-main .btn-secondary,
.mbr-section-btn .btn-success,
.mbr-section-btn-main .btn-success,
.mbr-section-btn .btn-info,
.mbr-section-btn-main .btn-info,
.mbr-section-btn .btn-warning,
.mbr-section-btn-main .btn-warning,
.mbr-section-btn .btn-danger,
.mbr-section-btn-main .btn-danger {
  padding: 12px 18px 12px 10px;
}
.cid-txNufgw6HT .navbar-dropdown {
  background-color: #222222 !important;
  padding: 0;
}
.cid-txNufgw6HT .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #222222 !important;
  background: #222222;
}
.cid-txNufgw6HT .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .menu_box .navbar.opened,
  .cid-txNufgw6HT .menu_box .navbar-collapse {
    background-color: #222222 !important;
    transition: all 0s ease 0s;
  }
}
.cid-txNufgw6HT .navbar-dropdown {
  position: relative !important;
}
.cid-txNufgw6HT .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-txNufgw6HT .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-txNufgw6HT .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-txNufgw6HT .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-txNufgw6HT .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #2c2c2c;
  }
  .cid-txNufgw6HT .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-txNufgw6HT .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-txNufgw6HT .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-txNufgw6HT .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-txNufgw6HT .offcanvas-body .mbr-text,
  .cid-txNufgw6HT .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-txNufgw6HT .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #ffffff;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-txNufgw6HT .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-txNufgw6HT ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-txNufgw6HT .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-txNufgw6HT .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-txNufgw6HT .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-txNufgw6HT li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-txNufgw6HT .lg_brand {
    margin: 0 1rem;
  }
}
.cid-txNufgw6HT .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-txNufgw6HT .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .nav-item {
    margin: 0 !important;
  }
}
.cid-txNufgw6HT .nav-item .nav-link {
  transition: all 0.3s ease-out;
}
.cid-txNufgw6HT .nav-item .nav-link:hover {
  color: #c6a38f !important;
}
.cid-txNufgw6HT .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-txNufgw6HT .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-txNufgw6HT .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-txNufgw6HT .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-txNufgw6HT .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-txNufgw6HT .offcanvas_box {
    display: none;
  }
}
.cid-txNufgw6HT .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-txNufgw6HT .nav-dropdown .link {
  font-weight: 300 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-txNufgw6HT .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-txNufgw6HT .container {
  display: flex;
  margin: auto;
}
.cid-txNufgw6HT .iconfont-wrapper {
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-txNufgw6HT .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-txNufgw6HT .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-txNufgw6HT .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-txNufgw6HT .navbar-nav {
    margin: 0;
  }
}
.cid-txNufgw6HT .dropdown-menu,
.cid-txNufgw6HT .navbar.opened {
  background-color: false !important;
}
.cid-txNufgw6HT .nav-item:focus,
.cid-txNufgw6HT .nav-link:focus {
  outline: none;
}
.cid-txNufgw6HT .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-txNufgw6HT .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-txNufgw6HT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-txNufgw6HT .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-txNufgw6HT .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-txNufgw6HT .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-txNufgw6HT .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-txNufgw6HT .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-txNufgw6HT .navbar.opened {
  transition: all 0.3s;
}
.cid-txNufgw6HT .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-txNufgw6HT .navbar .navbar-logo img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.cid-txNufgw6HT .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-txNufgw6HT .navbar.collapsed {
  justify-content: center;
}
.cid-txNufgw6HT .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-txNufgw6HT .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-txNufgw6HT .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-txNufgw6HT .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-txNufgw6HT .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-txNufgw6HT .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-txNufgw6HT .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-txNufgw6HT .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-txNufgw6HT .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-txNufgw6HT .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-txNufgw6HT .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-txNufgw6HT .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-txNufgw6HT .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-txNufgw6HT .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-txNufgw6HT .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-txNufgw6HT .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-txNufgw6HT .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-txNufgw6HT .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-txNufgw6HT .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-txNufgw6HT .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-txNufgw6HT .navbar .icons-menu {
    padding: 0;
  }
}
.cid-txNufgw6HT .navbar.navbar-short {
  min-height: 60px;
}
.cid-txNufgw6HT .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-txNufgw6HT .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-txNufgw6HT .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-txNufgw6HT .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
  letter-spacing: 0.2em;
}
.cid-txNufgw6HT .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-txNufgw6HT .dropdown-item.active,
.cid-txNufgw6HT .dropdown-item:active {
  background-color: transparent;
}
.cid-txNufgw6HT .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-txNufgw6HT .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-txNufgw6HT .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-txNufgw6HT .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-txNufgw6HT ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-txNufgw6HT .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-txNufgw6HT button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #222222;
  background: #545454;
}
.cid-txNufgw6HT button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-txNufgw6HT button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-txNufgw6HT button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-txNufgw6HT button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-txNufgw6HT button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-txNufgw6HT nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-txNufgw6HT nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-txNufgw6HT nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-txNufgw6HT nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-txNufgw6HT a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-txNufgw6HT .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-txNufgw6HT .navbar {
    height: 70px;
  }
  .cid-txNufgw6HT .navbar.opened {
    height: auto;
  }
  .cid-txNufgw6HT .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-txNufgw6HT .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
.cid-txNufgw6HT .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .cid-txNufgw6HT .container-fluid {
    padding-left: 72px;
    padding-right: 72px;
  }
}
.cid-txNufgw6HT .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-txNufgw6HT .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
@media (max-width: 992px) {
  .cid-txNufgw6HT .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
.cid-txNufgw6HT .navbar-caption:hover {
  color: #c6a38f;
}
@media (min-width: 992px) {
  .cid-txNufgw6HT .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-txNufgw6HT .text_widget {
  margin-bottom: 32px;
}
.cid-txNufgw6HT .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-txNufgw6HT .text_widget a:hover {
  color: #222222 !important;
}
.cid-txNufgw6HT .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-txNufgw6HT .navbar-caption {
  color: #ffffff;
}
.cid-txNufgw6HT .mbr-text {
  color: #ffffff;
  text-align: left;
}
.cid-txNufgw6HT .mbr-section-subtitle,
.cid-txNufgw6HT .text_widget,
.cid-txNufgw6HT .mbr-section-btn {
  text-align: left;
}
.cid-txNufgw6HT a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-txNufpzIl7 .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNufpzIl7 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-txNufpzIl7 .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNufpzIl7 .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNufpzIl7 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNufpzIl7 .container {
    padding: 0 20px;
  }
  .cid-txNufpzIl7 .container .row {
    padding: 0;
  }
}
.cid-txNufpzIl7 .title-wrapper .mbr-section-title {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNufpzIl7 .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-txNufpzIl7 .text-wrapper .mbr-text {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-txNufpzIl7 .text-wrapper .mbr-text {
    margin-bottom: 32px;
  }
}
.cid-txNufpzIl7 .text-wrapper .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNufpzIl7 .mbr-section-title {
  color: #ffffff;
}
.cid-txNufpzIl7 .mbr-text {
  color: #ffffff;
}
.cid-txNunzlSSg {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNunzlSSg .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNunzlSSg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNunzlSSg .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNunzlSSg .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNunzlSSg .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNunzlSSg .container {
    padding: 0 20px;
  }
  .cid-txNunzlSSg .container .row {
    padding: 0;
  }
}
.cid-txNunzlSSg .container,
.cid-txNunzlSSg .container-fluid {
  position: relative;
}
.cid-txNunzlSSg .container .container-color,
.cid-txNunzlSSg .container-fluid .container-color {
  position: absolute;
  top: 0;
  left: -72px;
  height: 100px;
  width: 60%;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .cid-txNunzlSSg .container .container-color,
  .cid-txNunzlSSg .container-fluid .container-color {
    width: 100%;
  }
}
.cid-txNunzlSSg .row {
  justify-content: center;
}
.cid-txNunzlSSg .text-wrapper {
  position: relative;
  z-index: 1;
}
.cid-txNunzlSSg .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-txNunzlSSg .mbr-text {
  color: #222222;
}
.cid-txNukmpe8c {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNukmpe8c .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNukmpe8c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNukmpe8c .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNukmpe8c .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNukmpe8c .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNukmpe8c .container {
    padding: 0 20px;
  }
  .cid-txNukmpe8c .container .row {
    padding: 0;
  }
}
.cid-txNukmpe8c .title-wrapper {
  position: relative;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNukmpe8c .title-wrapper {
    margin-bottom: 40px;
  }
}
.cid-txNukmpe8c .title-wrapper .mbr-section-title {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}
.cid-txNukmpe8c .title-wrapper .container-color {
  position: absolute;
  top: 0;
  left: -36%;
  height: 100px;
  width: 60%;
  background-color: #2c2c2c;
}
@media (max-width: 768px) {
  .cid-txNukmpe8c .title-wrapper .container-color {
    width: 100%;
  }
}
.cid-txNukmpe8c .image-wrapper img {
  height: 700px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .cid-txNukmpe8c .image-wrapper img {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .cid-txNukmpe8c .image-wrapper img {
    height: 300px;
  }
}
.cid-txNukmpe8c .text-wrapper {
  padding-top: 40px;
}
@media (max-width: 992px) {
  .cid-txNukmpe8c .text-wrapper {
    padding-top: 0;
    margin-bottom: 40px;
  }
}
.cid-txNukmpe8c .text-wrapper .mbr-text {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-txNukmpe8c .text-wrapper .mbr-text {
    margin-bottom: 20px;
  }
}
.cid-txNukmpe8c .text-wrapper .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNukmpe8c .mbr-section-title {
  color: #ffffff;
}
.cid-txNukmpe8c .mbr-text {
  color: #ffffff;
}
.cid-txNup4gMPi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNup4gMPi .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNup4gMPi .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNup4gMPi .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNup4gMPi .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .container {
    padding: 0 20px;
  }
  .cid-txNup4gMPi .container .row {
    padding: 0;
  }
}
.cid-txNup4gMPi .row {
  justify-content: center;
}
.cid-txNup4gMPi .title-wrapper {
  position: relative;
}
.cid-txNup4gMPi .title-wrapper .mbr-section-title {
  position: relative;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-txNup4gMPi .title-wrapper .container-color {
  position: absolute;
  top: 0;
  left: -60%;
  height: 100px;
  width: 100%;
  background-color: #f7f7f7;
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .title-wrapper .container-color {
    left: -20%;
  }
}
.cid-txNup4gMPi .item {
  margin-bottom: 64px;
}
.cid-txNup4gMPi .item:nth-child(2n) {
  padding-top: 60px;
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .item:nth-child(2n) {
    padding-top: 0;
  }
}
@media (max-width: 992px) {
  .cid-txNup4gMPi .item {
    margin-bottom: 40px;
  }
}
.cid-txNup4gMPi .item .item-wrapper .item-img {
  margin-bottom: 10px;
}
.cid-txNup4gMPi .item .item-wrapper .item-img img {
  height: 400px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-txNup4gMPi .item .item-wrapper .item-img img {
    height: 300px;
  }
}
.cid-txNup4gMPi .item .item-wrapper .item-content .mbr-name {
  margin-bottom: 10px;
}
.cid-txNup4gMPi .item .item-wrapper .item-content .mbr-role {
  margin-bottom: 10px;
}
.cid-txNup4gMPi .item .item-wrapper .item-content .item-link {
  display: block;
}
.cid-txNup4gMPi .item .item-wrapper .item-content .item-link:hover .mbr-link::before {
  width: 100%;
}
.cid-txNup4gMPi .item .item-wrapper .item-content .item-link .mbr-link {
  display: inline-flex;
  position: relative;
  margin-bottom: 0;
}
.cid-txNup4gMPi .item .item-wrapper .item-content .item-link .mbr-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0;
  background-color: #c6a38f;
  transition: all 0.3s ease-out;
}
.cid-txNup4gMPi .mbr-section-title {
  color: #222222;
}
.cid-txNup4gMPi .mbr-name {
  color: #222222;
}
.cid-txNup4gMPi .mbr-role {
  color: #545454;
}
.cid-txNup4gMPi .mbr-link {
  color: #545454;
}
.cid-txNutvVNPt {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNutvVNPt .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNutvVNPt .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNutvVNPt .container-fluid {
  margin: 0;
  padding: 0 0 0 72px;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNutvVNPt .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .container {
    padding: 0 20px;
  }
  .cid-txNutvVNPt .container .row {
    padding: 0;
  }
}
.cid-txNutvVNPt .title-wrapper {
  padding: 160px 90px 120px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .title-wrapper {
    padding: 0;
    margin-bottom: 40px;
  }
}
.cid-txNutvVNPt .title-wrapper .title-wrap .mbr-desc {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .title-wrapper .title-wrap .mbr-desc {
    margin-bottom: 40px;
  }
}
.cid-txNutvVNPt .title-wrapper .title-wrap .mbr-text {
  margin-bottom: 40px;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .title-wrapper .title-wrap .mbr-text {
    margin-bottom: 20px;
  }
}
.cid-txNutvVNPt .title-wrapper .title-wrap .mbr-name {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .title-wrapper .title-wrap .mbr-name {
    margin-bottom: 40px;
  }
}
.cid-txNutvVNPt .title-wrapper .title-wrap .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNutvVNPt .image-wrapper img {
  height: 900px;
  object-fit: cover;
}
@media (max-width: 992px) {
  .cid-txNutvVNPt .image-wrapper img {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .cid-txNutvVNPt .image-wrapper img {
    height: 300px;
  }
}
.cid-txNutvVNPt .mbr-desc {
  color: #ffffff;
}
.cid-txNutvVNPt .mbr-text {
  color: #ffffff;
}
.cid-txNutvVNPt .mbr-name {
  color: #ffffff;
}
.cid-txNutvVNPt .mbr-section-btn {
  text-align: right;
}
.cid-txNuv4lmsu {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNuv4lmsu .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuv4lmsu .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuv4lmsu .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuv4lmsu .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuv4lmsu .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuv4lmsu .container {
    padding: 0 20px;
  }
  .cid-txNuv4lmsu .container .row {
    padding: 0;
  }
}
.cid-txNuv4lmsu .title-wrapper {
  position: relative;
}
@media (max-width: 992px) {
  .cid-txNuv4lmsu .title-wrapper {
    margin-bottom: 40px;
  }
}
.cid-txNuv4lmsu .title-wrapper .mbr-section-title {
  margin-bottom: 20px;
}
.cid-txNuv4lmsu .title-wrapper .mbr-text {
  margin-bottom: 20px;
}
.cid-txNuv4lmsu .title-wrapper .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNuv4lmsu .image-wrapper img {
  height: 500px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-txNuv4lmsu .image-wrapper img {
    height: 300px;
  }
}
.cid-txNuv4lmsu .mbr-section-title {
  color: #222222;
}
.cid-txNuv4lmsu .mbr-text {
  color: #222222;
}
.cid-txNux16dK6 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNux16dK6 .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNux16dK6 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNux16dK6 .container-fluid {
  margin: 0;
  padding: 0 0 0 72px;
}
@media (max-width: 992px) {
  .cid-txNux16dK6 .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNux16dK6 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNux16dK6 .container {
    padding: 0 20px;
  }
  .cid-txNux16dK6 .container .row {
    padding: 0;
  }
}
.cid-txNux16dK6 .image-wrapper {
  position: relative;
}
.cid-txNux16dK6 .image-wrapper img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-txNux16dK6 .image-wrapper img {
    height: 300px;
  }
}
.cid-txNux16dK6 .image-wrapper .title-wrapper {
  position: absolute;
  top: -3rem;
  left: 0;
  width: 100%;
  padding: 0 90px;
}
@media (max-width: 992px) {
  .cid-txNux16dK6 .image-wrapper .title-wrapper {
    position: static;
    margin-top: 40px;
    padding: 0;
  }
}
.cid-txNux16dK6 .image-wrapper .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-txNux16dK6 .mbr-section-title {
  color: #ffffff;
}
.cid-txNuDUBQ99 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNuDUBQ99 .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuDUBQ99 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuDUBQ99 .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuDUBQ99 .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuDUBQ99 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuDUBQ99 .container {
    padding: 0 20px;
  }
  .cid-txNuDUBQ99 .container .row {
    padding: 0;
  }
}
.cid-txNuDUBQ99 .title-wrapper {
  position: relative;
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNuDUBQ99 .title-wrapper {
    margin-bottom: 40px;
  }
}
.cid-txNuDUBQ99 .title-wrapper .mbr-section-title {
  position: relative;
  margin-bottom: 0;
  z-index: 1;
}
.cid-txNuDUBQ99 .title-wrapper .container-color {
  position: absolute;
  top: 0;
  left: -36%;
  height: 100px;
  width: 100%;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .cid-txNuDUBQ99 .title-wrapper .container-color {
    width: 100%;
  }
}
.cid-txNuDUBQ99 .tabs-wrapper {
  display: flex;
  align-items: center;
}
.cid-txNuDUBQ99 .nav.nav-tabs {
  display: block;
  border: none;
  width: 100%;
}
.cid-txNuDUBQ99 .nav.nav-tabs .nav-item .nav-link {
  position: relative;
  border-radius: 0;
  margin: 20px 0;
  border: none;
  transition: all 0.3s ease-out;
  color: #222222;
  display: inline-flex;
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuDUBQ99 .nav.nav-tabs .nav-item .nav-link {
    margin: 10px 0;
  }
}
.cid-txNuDUBQ99 .nav.nav-tabs .nav-item .nav-link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #c6a38f;
  transition: all 0.3s ease-out;
}
.cid-txNuDUBQ99 .nav.nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
}
.cid-txNuDUBQ99 .nav.nav-tabs .nav-item .nav-link.active::before {
  width: 100%;
}
.cid-txNuDUBQ99 .nav.nav-tabs .nav-item:hover::before {
  width: 100%;
}
.cid-txNuDUBQ99 .tab-content .tab-pane img {
  height: 700px;
  object-fit: cover;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .cid-txNuDUBQ99 .tab-content .tab-pane img {
    height: 300px;
  }
}
.cid-txNuDUBQ99 .tab-content .tab-pane .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNuDUBQ99 .mbr-section-title {
  color: #222222;
}
.cid-txNuDUBQ99 .mbr-section-title,
.cid-txNuDUBQ99 .nav-item {
  text-align: center;
}
.cid-txNuAges2b {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNuAges2b .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuAges2b .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuAges2b .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuAges2b .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuAges2b .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuAges2b .container {
    padding: 0 20px;
  }
  .cid-txNuAges2b .container .row {
    padding: 0;
  }
}
.cid-txNuAges2b .card {
  border-radius: 0;
}
.cid-txNuAges2b .card:first-child {
  margin-bottom: 40px;
}
.cid-txNuAges2b .image-wrapper img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .cid-txNuAges2b .image-wrapper img {
    height: 300px;
  }
}
.cid-txNuAges2b .image-wrapper .mbr-desc {
  margin-bottom: 0;
}
.cid-txNuAges2b .image-wrapper .mbr-desc span {
  color: #c6a38f;
}
.cid-txNuAges2b .mbr-desc {
  color: #e8e8e8;
}
.cid-txNwnLJv29 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNwnLJv29 .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNwnLJv29 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNwnLJv29 .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNwnLJv29 .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNwnLJv29 .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNwnLJv29 .container {
    padding: 0 20px;
  }
  .cid-txNwnLJv29 .container .row {
    padding: 0;
  }
}
.cid-txNwnLJv29 .container,
.cid-txNwnLJv29 .container-fluid {
  position: relative;
}
.cid-txNwnLJv29 .container .container-color,
.cid-txNwnLJv29 .container-fluid .container-color {
  position: absolute;
  top: 0;
  left: -72px;
  height: 100px;
  width: 60%;
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .cid-txNwnLJv29 .container .container-color,
  .cid-txNwnLJv29 .container-fluid .container-color {
    width: 100%;
  }
}
.cid-txNwnLJv29 .row {
  justify-content: center;
}
.cid-txNwnLJv29 .map-wrapper {
  position: relative;
}
.cid-txNwnLJv29 .map-wrapper .mbr-section-title {
  margin-bottom: 90px;
}
@media (max-width: 992px) {
  .cid-txNwnLJv29 .map-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-txNwnLJv29 .map-wrapper .google-map iframe {
  height: 400px;
  filter: grayscale(100%);
}
@media (max-width: 768px) {
  .cid-txNwnLJv29 .map-wrapper .google-map iframe {
    height: 300px;
  }
}
.cid-txNwnLJv29 .mbr-section-title {
  color: #222222;
}
.cid-txNuGAvlvB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNuGAvlvB .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuGAvlvB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuGAvlvB .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuGAvlvB .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuGAvlvB .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuGAvlvB .container {
    padding: 0 20px;
  }
  .cid-txNuGAvlvB .container .row {
    padding: 0;
  }
}
.cid-txNuGAvlvB .row {
  justify-content: center;
}
.cid-txNuGAvlvB .dragArea.row .mbr-section-title {
  margin-bottom: 90px !important;
}
@media (max-width: 992px) {
  .cid-txNuGAvlvB .dragArea.row .mbr-section-title {
    margin-bottom: 40px !important;
  }
}
.cid-txNuGAvlvB .dragArea.row .form-group {
  margin-bottom: 30px !important;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-control {
  border: none !important;
  border-bottom: 1px solid #e8e8e8 !important;
  border-radius: 0;
  padding: 20px 0;
  box-shadow: none;
  background-color: transparent;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-control::placeholder {
  color: #e8e8e8;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-control:hover,
.cid-txNuGAvlvB .dragArea.row .form-group .form-control:focus {
  box-shadow: none;
  border: none;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-control-label {
  margin-bottom: 8px !important;
}
.cid-txNuGAvlvB .dragArea.row .form-group textarea {
  min-height: 150px;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-check {
  margin-bottom: 8px;
}
.cid-txNuGAvlvB .dragArea.row .form-group .form-check .form-check-input {
  background-color: #e8e8e8;
  border-color: #e8e8e8;
}
.cid-txNuGAvlvB .dragArea.row .mbr-section-btn {
  margin-top: 20px;
}
.cid-txNuGAvlvB .dragArea.row .mbr-section-btn .btn .mbr-iconfont {
  color: #c6a38f;
}
.cid-txNuGAvlvB .mbr-section-title {
  color: #ffffff;
}
.cid-txNuGAvlvB label {
  color: #ffffff;
}
.cid-txNuNdVIzf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #e8e8e8;
}
.cid-txNuNdVIzf .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuNdVIzf .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuNdVIzf .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuNdVIzf .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuNdVIzf .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuNdVIzf .container {
    padding: 0 20px;
  }
  .cid-txNuNdVIzf .container .row {
    padding: 0;
  }
}
.cid-txNuNdVIzf .row {
  justify-content: center;
}
.cid-txNuNdVIzf .panel-group {
  border-radius: 0;
}
.cid-txNuNdVIzf .panel-group .card {
  border-radius: 0;
  border-bottom: 1px solid #2c2c2c;
}
.cid-txNuNdVIzf .panel-group .card .card-header {
  background-color: transparent;
  border-bottom: none;
  padding: 30px 0;
}
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title:not(.collapsed) .mbr-iconfont {
  transform: rotate(90deg);
}
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title:hover .mbr-iconfont,
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title:focus .mbr-iconfont {
  color: #ffffff;
}
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title .panel-title-edit {
  margin: 0;
}
.cid-txNuNdVIzf .panel-group .card .card-header .panel-title .mbr-iconfont {
  height: 32px;
  font-size: 32px;
  color: #c6a38f;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}
.cid-txNuNdVIzf .panel-group .card .panel-collapse .panel-body .panel-text {
  margin-bottom: 40px;
}
.cid-txNuNdVIzf .panel-title-edit {
  color: #222222;
}
.cid-txNuNdVIzf .panel-text {
  color: #545454;
}
.cid-txNuC2Y2eo {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #222222;
}
.cid-txNuC2Y2eo .mbr-fallback-image.disabled {
  display: none;
}
.cid-txNuC2Y2eo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-txNuC2Y2eo .container-fluid {
  margin: 0;
  padding: 0 72px;
}
@media (max-width: 992px) {
  .cid-txNuC2Y2eo .container-fluid {
    padding: 0 20px;
  }
}
.cid-txNuC2Y2eo .container-fluid .row {
  padding: 0;
}
@media (max-width: 992px) {
  .cid-txNuC2Y2eo .container {
    padding: 0 20px;
  }
  .cid-txNuC2Y2eo .container .row {
    padding: 0;
  }
}
.cid-txNuC2Y2eo .row {
  justify-content: center;
}
.cid-txNuC2Y2eo .container,
.cid-txNuC2Y2eo .container-fluid {
  position: relative;
}
.cid-txNuC2Y2eo .container .container-color,
.cid-txNuC2Y2eo .container-fluid .container-color {
  position: absolute;
  top: 14rem;
  left: -72px;
  height: 100px;
  width: 60%;
  background-color: #2c2c2c;
}
@media (max-width: 768px) {
  .cid-txNuC2Y2eo .container .container-color,
  .cid-txNuC2Y2eo .container-fluid .container-color {
    width: 100%;
  }
}
.cid-txNuC2Y2eo .links-wrapper {
  margin-bottom: 90px;
  position: relative;
}
@media (max-width: 992px) {
  .cid-txNuC2Y2eo .links-wrapper {
    margin-bottom: 40px;
  }
}
.cid-txNuC2Y2eo .links-wrapper .mbr-link {
  margin-bottom: 0;
}
.cid-txNuC2Y2eo .links-wrapper .mbr-phone {
  margin-bottom: 0;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  height: 100%;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .text-wrapper {
  margin-bottom: 20px;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .text-wrapper .mbr-card-title {
  margin-bottom: 0;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .text-wrapper .mbr-address {
  margin-bottom: 0;
  opacity: .7;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .link-wrapper a {
  display: block;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .link-wrapper a:hover .mbr-card-link {
  opacity: .5;
}
.cid-txNuC2Y2eo .row.cards .card-wrapper .link-wrapper a .mbr-card-link {
  margin-bottom: 10px;
  transition: all 0.3s ease-out;
}
.cid-txNuC2Y2eo .copyright {
  padding: 40px 0;
  margin-bottom: 0;
  opacity: .7;
  color: #ffffff;
  text-align: center;
}
.cid-txNuC2Y2eo .mbr-link {
  color: #ffffff;
}
.cid-txNuC2Y2eo .mbr-phone {
  color: #ffffff;
}
.cid-txNuC2Y2eo .mbr-card-title {
  color: #ffffff;
}
.cid-txNuC2Y2eo .mbr-address {
  color: #ffffff;
}
.cid-txNuC2Y2eo .mbr-card-link {
  color: #ffffff;
}
