.card__btn .btn {
  border-radius: 50px !important;
}
body {
  font-family: DM Sans;
}
.display-1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 4.5rem;
  line-height: 86px;
}
.display-1 > .mbr-iconfont {
  font-size: 7.2rem;
}
.display-2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 3.625rem;
  line-height: 70px;
}
.display-2 > .mbr-iconfont {
  font-size: 5.8rem;
}
.display-4 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 26px;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2.625rem;
  line-height: 52px;
}
.display-5 > .mbr-iconfont {
  font-size: 4.2rem;
}
.display-7 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 32px;
}
.display-7 > .mbr-iconfont {
  font-size: 2.2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.6rem;
    font-size: calc( 2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.225rem + (4.5 - 2.225) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.9rem;
    font-size: calc( 1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.91875rem + (3.625 - 1.91875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.1rem;
    font-size: calc( 1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.5687499999999999rem + (2.625 - 1.5687499999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.1rem;
    font-size: calc( 1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.13125rem + (1.375 - 1.13125) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-md.display-4 {
  font-size: 1.125rem;
}
.btn-lg.display-7 {
  font-size: 1.25rem;
}
.btn {
  padding: 0 30px;
  border-radius: 0;
}
.btn-sm {
  padding: 0 15px;
  border-radius: 0;
}
.btn-md {
  padding: 0 25px;
  border-radius: 0;
}
.btn-lg {
  padding: 0 40px;
  border-radius: 0;
}
.bg-primary {
  background-color: #5fcac7 !important;
}
.bg-success {
  background-color: #4b4342 !important;
}
.bg-info {
  background-color: #482be7 !important;
}
.bg-warning {
  background-color: #919dab !important;
}
.bg-danger {
  background-color: #5fcac7 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #5fcac7;
  border-color: #5fcac7;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-primary:hover {
  background-color: #3db9b5 !important;
  border-color: #3db9b5 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff91a4 !important;
  border-color: #ff91a4 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff91a4;
  border-color: #ff91a4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff91a4 !important;
  border-color: #ff91a4 !important;
}
.btn-secondary:hover {
  background-color: #ff5e7a !important;
  border-color: #ff5e7a !important;
}
.btn-info,
.btn-info:active {
  background-color: #482be7 !important;
  border-color: #482be7 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #482be7;
  border-color: #482be7;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-info:hover {
  background-color: #3217c8 !important;
  border-color: #3217c8 !important;
}
.btn-success,
.btn-success:active {
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #4b4342;
  border-color: #4b4342;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
}
.btn-success:hover {
  background-color: #302b2a !important;
  border-color: #302b2a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #919dab !important;
  border-color: #919dab !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #919dab;
  border-color: #919dab;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning:hover {
  background-color: #748395 !important;
  border-color: #748395 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #5fcac7;
  border-color: #5fcac7;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-danger:hover {
  background-color: #3db9b5 !important;
  border-color: #3db9b5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white.btn {
  color: #1e0e62 !important;
}
.btn-white:active,
.btn-white:focus {
  color: #1e0e62 !important;
}
.btn-white:hover {
  background-color: #cccccc !important;
  border-color: #cccccc !important;
  color: #1e0e62 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #4d4d4d !important;
  border-color: #4d4d4d !important;
}
.btn-primary-outline {
  border: 2px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #5fcac7;
  color: #5fcac7;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #5fcac7 !important;
  border-color: #5fcac7;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-secondary-outline {
  border: 2px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #ff91a4;
  color: #ff91a4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #ff91a4 !important;
  border-color: #ff91a4;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff91a4 !important;
  border-color: #ff91a4 !important;
}
.btn-info-outline {
  border: 2px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #482be7;
  color: #482be7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #482be7 !important;
  border-color: #482be7;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #482be7 !important;
  border-color: #482be7 !important;
}
.btn-success-outline {
  border: 2px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #4b4342;
  color: #4b4342;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #4b4342 !important;
  border-color: #4b4342;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #4b4342 !important;
  border-color: #4b4342 !important;
}
.btn-warning-outline {
  border: 2px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #919dab;
  color: #919dab;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #919dab !important;
  border-color: #919dab;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #919dab !important;
  border-color: #919dab !important;
}
.btn-warning-outline.btn {
  color: #202020 !important;
  border-color: #ebeaed !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:active,
.btn-warning-outline:focus {
  background-color: transparent !important;
  border-color: #919dab !important;
}
.btn-danger-outline {
  border: 2px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #5fcac7;
  color: #5fcac7;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #5fcac7 !important;
  border-color: #5fcac7;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #5fcac7 !important;
  border-color: #5fcac7 !important;
}
.btn-black-outline {
  border: 2px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 2px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #5fcac7 !important;
}
.text-secondary {
  color: #ff91a4 !important;
}
.text-success {
  color: #4b4342 !important;
}
.text-info {
  color: #482be7 !important;
}
.text-warning {
  color: #919dab !important;
}
.text-danger {
  color: #5fcac7 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #319290 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ff2b50 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #151312 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #27119b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #5d6a79 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #319290 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #4b4342;
}
.alert-info {
  background-color: #482be7;
}
.alert-warning {
  background-color: #919dab;
}
.alert-danger {
  background-color: #5fcac7;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 50px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li a {
  border-radius: 50px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #5fcac7;
  border-color: #5fcac7;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 50px !important;
}
a,
a:hover {
  color: #5fcac7;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8fdfd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #beb6b5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #e6e2fc;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #d9dde2;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f8fdfd;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.375rem;
  line-height: 32px;
}
.form-control > .mbr-iconfont {
  font-size: 2.2rem;
}
blockquote {
  border-color: #5fcac7;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 50px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 50px !important;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #5fcac7;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #5fcac7;
  border-bottom-color: #5fcac7;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #5fcac7 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff91a4 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-rNKkI33ZKQ {
  min-height: 101px !important;
  background: #ffffff;
}
.cid-rNKkI33ZKQ .nav-item,
.cid-rNKkI33ZKQ .nav-link,
.cid-rNKkI33ZKQ .navbar-caption {
  font-weight: normal;
}
.cid-rNKkI33ZKQ .nav-link {
  line-height: 40px;
}
.cid-rNKkI33ZKQ .nav-link {
  position: relative;
}
.cid-rNKkI33ZKQ .nav-link:before,
.cid-rNKkI33ZKQ .soc-item a:before {
  content: '';
  display: block;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  right: 0;
  transition: .45s ease;
}
.cid-rNKkI33ZKQ .nav-item:hover .nav-link:before,
.cid-rNKkI33ZKQ .soc-item:hover a:before {
  height: 2px;
  background-color: #5fcac7;
  margin-top: 2px;
}
.cid-rNKkI33ZKQ .dropdown-toggle {
  margin: 0 15px !important;
}
.cid-rNKkI33ZKQ .dropdown-toggle::after,
.cid-rNKkI33ZKQ .link.dropdown-toggle:after {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin-left: .5rem;
  margin-bottom: 2px;
  content: "";
  border: 2px solid;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}
.cid-rNKkI33ZKQ .dropdown-menu .dropdown-toggle:after {
  border: 2px solid;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  width: 7px;
  height: 7px;
}
.cid-rNKkI33ZKQ .dropdown-item {
  padding: 0 !important;
  margin: 0 15px !important;
  justify-content: center;
  font-weight: 400;
}
.cid-rNKkI33ZKQ .btn {
  height: 40px;
  line-height: 40px;
  margin: 0 9px;
  font-weight: 500;
}
.cid-rNKkI33ZKQ .nav-item:focus,
.cid-rNKkI33ZKQ .nav-link:focus {
  outline: none;
}
.cid-rNKkI33ZKQ .dropdown .dropdown-menu {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cid-rNKkI33ZKQ .dropdown .dropdown-menu .dropdown-item {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: auto;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.cid-rNKkI33ZKQ .dropdown .dropdown-menu .dropdown-item::after {
  right: .5rem;
}
.cid-rNKkI33ZKQ .dropdown .dropdown-menu .dropdown-item.dropdown-toggle:before {
  display: none;
}
.cid-rNKkI33ZKQ .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  font-size: inherit;
}
.cid-rNKkI33ZKQ .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rNKkI33ZKQ .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rNKkI33ZKQ .navbar {
  min-height: 101px;
  transition: all .3s;
  background: #ffffff;
}
.cid-rNKkI33ZKQ .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rNKkI33ZKQ .navbar .dropdown-item {
  padding: .235rem 2.5rem .235rem 1.5rem;
}
.cid-rNKkI33ZKQ .navbar .navbar-collapse {
  justify-content: space-around;
  z-index: 1;
}
.cid-rNKkI33ZKQ .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rNKkI33ZKQ .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rNKkI33ZKQ .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 120rem - 1rem);
  }
}
.cid-rNKkI33ZKQ .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rNKkI33ZKQ .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rNKkI33ZKQ .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rNKkI33ZKQ .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rNKkI33ZKQ .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rNKkI33ZKQ .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rNKkI33ZKQ .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rNKkI33ZKQ .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rNKkI33ZKQ .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rNKkI33ZKQ .navbar .navbar-logo img {
    height: 3.6rem !important;
  }
  .cid-rNKkI33ZKQ .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rNKkI33ZKQ .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-rNKkI33ZKQ .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rNKkI33ZKQ .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rNKkI33ZKQ .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rNKkI33ZKQ .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rNKkI33ZKQ .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rNKkI33ZKQ .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rNKkI33ZKQ .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .25s;
  word-break: break-word;
  z-index: 1;
}
.cid-rNKkI33ZKQ .navbar-brand .navbar-caption {
  line-height: 40px !important;
}
.cid-rNKkI33ZKQ .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rNKkI33ZKQ .dropdown-item.active,
.cid-rNKkI33ZKQ .dropdown-item:active {
  background-color: transparent;
}
.cid-rNKkI33ZKQ .nav-dropdown .link .dropdown-toggle {
  margin-right: 1.667em;
  transition: all 0.25s ease;
}
.cid-rNKkI33ZKQ .nav-dropdown .link .dropdown-toggle[aria-expanded="true"] {
  margin: 0 15px !important;
}
.cid-rNKkI33ZKQ .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rNKkI33ZKQ .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  left: 100%;
}
.cid-rNKkI33ZKQ .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rNKkI33ZKQ ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rNKkI33ZKQ .navbar-buttons {
  text-align: center;
}
.cid-rNKkI33ZKQ button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rNKkI33ZKQ button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rNKkI33ZKQ button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rNKkI33ZKQ button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rNKkI33ZKQ button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rNKkI33ZKQ button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rNKkI33ZKQ nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNKkI33ZKQ nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rNKkI33ZKQ nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rNKkI33ZKQ nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNKkI33ZKQ .navbar-dropdown {
  padding: 30px 0;
  position: relative;
}
.cid-rNKkI33ZKQ a.nav-link {
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0 !important;
}
.cid-rNKkI33ZKQ .mbr-iconfont {
  font-size: inherit;
  color: #4b4342;
  display: inline-flex;
}
.cid-rNKkI33ZKQ .soc-item {
  padding: 0 15px;
  position: relative;
}
.cid-rNKkI33ZKQ .social__link {
  line-height: 40px;
}
.cid-rNKkI33ZKQ .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rNKkI33ZKQ .navbar {
    height: 77px;
  }
  .cid-rNKkI33ZKQ .navbar.opened {
    height: auto;
  }
  .cid-rNKkI33ZKQ .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rNKqKUXkpa .modal-body .close {
  background: #1b1b1b;
}
.cid-rNKqKUXkpa .modal-body .close span {
  font-style: normal;
}
.cid-rNKqKUXkpa .carousel-inner > .active,
.cid-rNKqKUXkpa .carousel-inner > .next,
.cid-rNKqKUXkpa .carousel-inner > .prev {
  display: table;
}
.cid-rNKqKUXkpa .carousel-control .icon-next,
.cid-rNKqKUXkpa .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 22px;
  line-height: 27px;
}
.cid-rNKqKUXkpa .carousel-control:hover {
  background-color: transparent;
  color: #fff;
  opacity: .5;
}
@media (max-width: 767px) {
  .cid-rNKqKUXkpa .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rNKqKUXkpa .boxed-slider {
  position: relative;
  padding: 93px 0;
}
.cid-rNKqKUXkpa .boxed-slider > div {
  position: relative;
}
.cid-rNKqKUXkpa .container img {
  width: 100%;
  height: 840px;
  object-fit: cover;
}
.cid-rNKqKUXkpa .container img + .row {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
.cid-rNKqKUXkpa .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rNKqKUXkpa .mbr-table-cell {
  padding: 0;
}
.cid-rNKqKUXkpa .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-rNKqKUXkpa .carousel-caption {
  top: 50%;
  right: 0;
  bottom: auto;
  left: 0;
  display: -webkit-flex;
  align-items: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-align-items: center;
}
.cid-rNKqKUXkpa .mbr-overlay {
  z-index: 1;
}
.cid-rNKqKUXkpa .container-slide.container {
  min-width: 100%;
  min-height: 100vh;
  padding: 0;
  height: 840px;
}
.cid-rNKqKUXkpa .carousel-item {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -o-transition: -o-transform 0.6s ease-in-out;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
@media (max-width: 576px) {
  .cid-rNKqKUXkpa .carousel-item .container {
    width: 100%;
  }
}
.cid-rNKqKUXkpa .carousel-item-next.carousel-item-left,
.cid-rNKqKUXkpa .carousel-item-prev.carousel-item-right {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cid-rNKqKUXkpa .active.carousel-item-right,
.cid-rNKqKUXkpa .carousel-item-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.cid-rNKqKUXkpa .active.carousel-item-left,
.cid-rNKqKUXkpa .carousel-item-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.cid-rNKqKUXkpa .mbr-slider .carousel-control {
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -1.5rem;
  font-size: 22px;
  transition: all .25s ease;
  opacity: 1;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-control .mbr-iconfont {
  font-size: 22px;
}
@media (max-width: 767px) {
  .cid-rNKqKUXkpa .mbr-slider .carousel-control {
    top: auto;
    bottom: 1rem;
    display: none;
  }
}
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem;
}
@media (max-width: 991px) {
  .cid-rNKqKUXkpa .mbr-slider .carousel-indicators {
    margin-bottom: .5rem;
  }
}
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators li {
  max-width: 10px;
  width: 110px;
  height: 10px;
  max-height: 10px;
  margin: 0 5px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: .3;
  transition: all .25s ease;
  box-sizing: border-box;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators li.active,
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators li:hover {
  opacity: 1;
  background-color: #fff;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators li::after,
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators li::before {
  content: none;
}
.cid-rNKqKUXkpa .mbr-slider .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 576px) {
  .cid-rNKqKUXkpa .mbr-slider .carousel-indicators {
    display: none !important;
  }
}
.cid-rNKqKUXkpa .mbr-slider > .container img {
  width: 100%;
}
.cid-rNKqKUXkpa .mbr-slider > .container img + .row {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  z-index: 2;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cid-rNKqKUXkpa .mbr-slider > .container .carousel-indicators {
  margin-bottom: 3px;
}
@media (max-width: 576px) {
  .cid-rNKqKUXkpa .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-rNKqKUXkpa .mbr-slider .mbr-section {
  padding: 0;
  background-attachment: scroll;
}
.cid-rNKqKUXkpa .mbr-slider .mbr-table-cell {
  padding: 0;
}
.cid-rNKqKUXkpa .carousel-item .container.container-slide {
  position: initial;
  width: auto;
  min-height: 0;
}
.cid-rNKqKUXkpa .full-screen .slider-fullscreen-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
.cid-rNKqKUXkpa .full-screen .slider-fullscreen-image.active {
  display: -o-flex;
}
.cid-rNKqKUXkpa .full-screen .container {
  width: auto;
  padding-right: 0;
  padding-left: 0;
}
.cid-rNKqKUXkpa .full-screen .carousel-item .container.container-slide {
  width: 100%;
  min-height: 100vh;
  padding: 0;
}
.cid-rNKqKUXkpa .full-screen .carousel-item .container.container-slide img {
  display: none;
}
.cid-rNKqKUXkpa .mbr-background-video-preview {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cid-rNKqKUXkpa .mbr-overlay ~ .container-slide {
  z-index: auto;
}
.cid-rNKqKUXkpa h2 {
  margin-bottom: 0;
  font-weight: 700;
}
.cid-rNKqKUXkpa .mbr-text {
  margin-bottom: 0;
  margin-top: 30px;
  font-weight: 500;
}
.cid-rNKqKUXkpa .mbr-section-btn {
  margin-top: 100px;
}
@media (max-width: 991px) {
  .cid-rNKqKUXkpa .mbr-section-btn {
    margin-top: 30px;
  }
}
.cid-rNKqKUXkpa .mbr-section-btn .btn {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-weight: 700;
}
.cid-rNKqKUXkpa .mbr-iconfont {
  transition: all 0.25s ease;
}
.cid-rNKqKUXkpa .carousel-control-next .mbr-iconfont::before {
  content: "\e909";
}
.cid-rNKqKUXkpa .carousel-control-next .mbr-iconfont:hover {
  opacity: .5;
}
.cid-rNKqKUXkpa .carousel-control-prev .mbr-iconfont::before {
  content: "\e90a";
}
.cid-rNKqKUXkpa .carousel-control-prev .mbr-iconfont:hover {
  opacity: .5;
}
.cid-rNKHrIArCA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/bakery4-5-1200x800.jpg");
}
.cid-rNKHrIArCA .mbr-section-title {
  margin-bottom: 25px;
  color: #4b4342;
}
.cid-rNKHrIArCA .mbr-section-btn {
  margin-top: 60px;
}
.cid-rNKHrIArCA .mbr-section-btn .btn {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-weight: 700;
}
.cid-rNKHrIArCA .mbr-section-subtitle {
  opacity: .7;
  margin-bottom: 0;
  color: #919dab;
}
@media (min-width: 768px) {
  .cid-rNKHrIArCA .bottom__block {
    margin-top: 80px;
  }
}
.cid-rNKHrIArCA .bottom__card {
  margin-top: 30px;
  height: 100%;
  align-items: center;
}
.cid-rNKHrIArCA .bottom__card:first-child .separate {
  border-left: none;
}
.cid-rNKHrIArCA .bottom__card:last-child .separate2 {
  border-left: none;
}
.cid-rNKHrIArCA .bottom__card:nth-child(3) .separate2 {
  border-left: none;
}
.cid-rNKHrIArCA .bottom__card:nth-child(4) .separate {
  border-left: none;
}
.cid-rNKHrIArCA .mbr-text {
  text-align: center;
  font-weight: 500;
  margin-top: 25px;
  color: #4b4342;
  margin-bottom: 0;
}
@media (min-width: 1200px) {
  .cid-rNKHrIArCA .mbr-text {
    margin: 25px 65px 0 !important;
  }
}
.cid-rNKHrIArCA .image {
  display: flex;
  justify-content: center;
}
.cid-rNKHrIArCA .image img {
  border-radius: 10px;
  object-fit: cover;
  width: 170px;
  height: 110px;
  width: 100%;
  height: 160px;
}
@media (max-width: 991px) {
  .cid-rNKHrIArCA .image img {
    width: 170px;
    height: 110px;
  }
}
.cid-rNKHrIArCA .separate,
.cid-rNKHrIArCA .separate2 {
  border-left: 1px solid #ea5991;
  height: 150px;
  position: absolute;
}
.cid-rNKHrIArCA .separate {
  left: 0;
}
.cid-rNKHrIArCA .separate2 {
  right: 0;
}
@media (max-width: 767px) {
  .cid-rNKHrIArCA .mbr-section-title {
    margin-bottom: 15px;
  }
  .cid-rNKHrIArCA .mbr-section-btn {
    margin-top: 30px;
  }
  .cid-rNKHrIArCA .separate,
  .cid-rNKHrIArCA .separate2 {
    border-left: none;
  }
}
.cid-rNOUFPooqZ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/bakery12-3-1200x800.jpg");
}
.cid-rNOUFPooqZ .block__inner {
  padding: 65px 20px 75px;
  border-radius: 10px;
  border: 2px solid #ffffff;
}
.cid-rNOUFPooqZ .mbr-iconfont {
  font-size: 62px;
  color: #ffffff;
}
.cid-rNOUFPooqZ .mbr-section-title {
  margin-top: 25px;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-rNOUFPooqZ .mbr-text {
  margin-top: 25px;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-rNOUFPooqZ .mbr-section-btn {
  margin-top: 40px;
}
.cid-rNOUFPooqZ .mbr-section-btn .btn {
  height: 50px;
  line-height: 50px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .cid-rNOUFPooqZ .mbr-text {
    margin-top: 10px;
  }
  .cid-rNOUFPooqZ .mbr-section-title {
    margin-top: 10px;
  }
  .cid-rNOUFPooqZ .block__inner {
    padding: 30px 20px 40px;
  }
}
.cid-rNOYpvxNPG {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-rNOYpvxNPG .mbr-section-title {
  margin-top: 25px;
  margin-bottom: 0;
  color: #4b4342;
}
.cid-rNOYpvxNPG .mbr-text {
  margin-bottom: 0;
  margin-top: 30px;
  color: #919dab;
}
.cid-rNOYpvxNPG .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-rNOYpvxNPG .mbr-iconfont {
  margin-left: 30px;
  margin-right: 30px;
  width: 28px;
}
.cid-rNOYpvxNPG .mbr-iconfont:nth-child(1) {
  color: #ff91a4;
}
.cid-rNOYpvxNPG .mbr-iconfont:nth-child(2) {
  color: #ff91a4;
}
.cid-rNOYpvxNPG .mbr-iconfont:nth-child(3) {
  color: #ff91a4;
}
.cid-rNOYpvxNPG .mbr-iconfont:nth-child(4) {
  color: #7fa8d7;
}
@media (max-width: 991px) {
  .cid-rNOYpvxNPG .mbr-iconfont {
    margin: 10px 20px;
  }
  .cid-rNOYpvxNPG .mbr-text {
    margin-top: 15px;
  }
  .cid-rNOYpvxNPG .mbr-section-title {
    margin-top: 30px;
  }
}
.cid-rNOXo0WIXc {
  padding-top: 0px;
  padding-bottom: 75px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-rNOXo0WIXc .mbr-slider .carousel-control {
  background: #1b1b1b;
  background-color: transparent !important;
}
.cid-rNOXo0WIXc .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-rNOXo0WIXc .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-rNOXo0WIXc .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-rNOXo0WIXc .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-rNOXo0WIXc .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-rNOXo0WIXc .mbr-gallery-item > div:hover:before {
  opacity: 0.3 !important;
}
.cid-rNOXo0WIXc .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-rNOXo0WIXc .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  background: #ffffff !important;
  opacity: 0.3;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-rNOXo0WIXc .mbr-gallery-item > div img,
.cid-rNOXo0WIXc .mbr-gallery-item div:before {
  border-radius: 10px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p1 {
  padding: 5px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p2 {
  padding: 10px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p3 {
  padding: 15px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p4 {
  padding: 15px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p5 {
  padding: 20px;
}
.cid-rNOXo0WIXc .mbr-gallery-item--p6 {
  padding: 25px;
}
.cid-rNOXo0WIXc .carousel-control-prev .mbri-left:before {
  content: "\e90a";
}
.cid-rNOXo0WIXc .carousel-control-next .mbri-right:before {
  content: "\e909";
}
.cid-rNOXo0WIXc .modal-body a.close {
  border-radius: 0;
  font-size: 16px;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.cid-rNP23MgUhL {
  padding-top: 4rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/bakery25-1200x800.jpg");
}
.cid-rNP23MgUhL .mbr-section-title {
  margin-top: 25px;
  margin-bottom: 0;
  color: #4b4342;
}
.cid-rNP23MgUhL .mbr-text {
  margin-bottom: 0;
  margin-top: 30px;
  color: #919dab;
}
.cid-rNP23MgUhL .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-rNP23MgUhL .mbr-iconfont {
  margin-left: 30px;
  margin-right: 30px;
  width: 28px;
}
.cid-rNP23MgUhL .mbr-iconfont:nth-child(1) {
  color: #ff91a4;
}
.cid-rNP23MgUhL .mbr-iconfont:nth-child(2) {
  color: #5b69bb;
}
.cid-rNP23MgUhL .mbr-iconfont:nth-child(3) {
  color: #ff8f00;
}
.cid-rNP23MgUhL .mbr-iconfont:nth-child(4) {
  color: #7fa8d7;
}
@media (max-width: 991px) {
  .cid-rNP23MgUhL .mbr-iconfont {
    margin: 10px 20px;
  }
  .cid-rNP23MgUhL .mbr-text {
    margin-top: 15px;
  }
  .cid-rNP23MgUhL .mbr-section-title {
    margin-top: 30px;
  }
}
.cid-rNP1NJXGov {
  padding-top: 2rem;
  padding-bottom: 10rem;
  background-image: url("../../../assets/images/bakery24-1-1200x800.jpg");
}
.cid-rNP1NJXGov .mbr-fonts-style {
  margin-bottom: 45px;
}
.cid-rNP1NJXGov .quotes .mbr-iconfont {
  color: #ebeaed;
  font-size: 30px;
  font-weight: 700;
}
.cid-rNP1NJXGov .user__text {
  margin: 35px 0 45px;
  text-align: center;
  color: #4b4342;
}
@media (max-width: 767px) {
  .cid-rNP1NJXGov .user__text {
    margin: 10px 0 25px;
  }
}
.cid-rNP1NJXGov .mbr-text {
  margin-bottom: 0;
}
.cid-rNP1NJXGov .user_image img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.cid-rNP1NJXGov .user_name {
  margin-top: 20px;
  margin-bottom: 0;
  color: #4b4342;
}
.cid-rNP1NJXGov .user_descr {
  color: #919dab;
  margin-bottom: 0;
}
.cid-rNP1NJXGov .carousel-item {
  justify-content: center;
  -webkit-justify-content: center;
}
.cid-rNP1NJXGov .carousel-item.active,
.cid-rNP1NJXGov .carousel-item-next,
.cid-rNP1NJXGov .carousel-item-prev {
  display: flex;
}
@media (min-width: 768px) {
  .cid-rNP1NJXGov .carousel-controls a {
    font-size: 22px;
  }
  .cid-rNP1NJXGov .carousel-controls a span {
    line-height: 35px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 180px;
    padding: 10px 15px;
    border-radius: 50%;
    color: #5fcac7;
    opacity: .5;
    transition: all .25s ease;
  }
  .cid-rNP1NJXGov .carousel-controls a:hover span {
    opacity: 1;
    background: #ace3e2;
  }
}
.cid-rNPdInuBLE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  background-image: url("../../../assets/images/bakery26-1200x800.jpg");
}
.cid-rNPdInuBLE .mbr-section-title {
  margin-bottom: 55px;
  color: #ffffff;
}
.cid-rNPdInuBLE .image {
  margin-bottom: 10px;
  min-width: 100px;
}
.cid-rNPdInuBLE .image img {
  border-radius: 50%;
  object-fit: cover;
  max-width: 70px;
}
.cid-rNPdInuBLE .content__block {
  margin-bottom: 60px;
}
.cid-rNPdInuBLE .mbr-text {
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0;
}
.cid-rNPdInuBLE .signature {
  margin-top: 20px;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-rNPdInuBLE .company {
  color: #ebeaed;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-rNPdInuBLE .content__block {
    margin-bottom: 30px;
  }
}
.cid-rNPeLyp9Kz {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-rNPeLyp9Kz .mbr-section-title {
  margin-bottom: 10px;
  color: #4b4342;
}
.cid-rNPeLyp9Kz .table__title {
  padding-top: 22px;
  padding-bottom: 20px;
}
.cid-rNPeLyp9Kz .mbr-text {
  margin-bottom: 0;
  color: #4b4342;
}
.cid-rNPeLyp9Kz .tables {
  background-color: #7fa8d7;
}
.cid-rNPeLyp9Kz .tables {
  background-color: transparent;
}
.cid-rNPeLyp9Kz .border__bot {
  border-bottom: 2px solid #ebeaed;
}
.cid-rNPeLyp9Kz .cell {
  padding: 22px 30px 20px 30px;
}
.cid-rNPeLyp9Kz .title {
  color: #919dab;
  margin-bottom: 0;
}
.cid-rNPeLyp9Kz .border__bot:last-child {
  border-bottom: none !important;
}
.cid-rNPeLyp9Kz .content__block {
  padding: 35px;
  background-color: #f3f2f4;
  border-radius: 6px;
  max-width: 270px;
  margin-left: auto;
  height: 100%;
}
@media (max-width: 991px) {
  .cid-rNPeLyp9Kz .content__block {
    margin: auto;
  }
}
.cid-rNPeLyp9Kz .title__text {
  margin-bottom: 0;
  font-weight: 400;
  color: #4b4342;
}
.cid-rNPeLyp9Kz .text {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: 500;
  color: #919dab;
}
.cid-rNPeLyp9Kz .mbr-section-btn {
  margin-top: 35px;
}
.cid-rNPeLyp9Kz .mbr-section-btn .btn {
  height: 40px;
  line-height: 40px;
  font-weight: 500;
}
.cid-rNPeLyp9Kz .text,
.cid-rNPeLyp9Kz .mbr-section-btn {
  color: #5fcac7;
}
.cid-rNPmqrXLIz {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/bakery3-2-1200x800.jpg");
}
.cid-rNPmqrXLIz .mbr-section-title {
  margin-bottom: 0;
}
.cid-rNPmqrXLIz .mbr-text {
  margin: 20px 0 0;
  font-weight: 500;
}
.cid-rNPmqrXLIz .subscribe__form {
  margin-top: 70px;
}
.cid-rNPmqrXLIz .form-group {
  margin-bottom: 0;
}
.cid-rNPmqrXLIz .form-control {
  border: 2px solid #ebeaed;
  opacity: .4;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #ffffff !important;
  background-color: transparent !important;
}
.cid-rNPmqrXLIz .input-group-btn .btn {
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-weight: 700;
}
.cid-rNPmqrXLIz .mbr-form .btn {
  margin: 0;
}
.cid-rNPmqrXLIz input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .6;
}
.cid-rNPmqrXLIz input::-moz-placeholder {
  color: #ffffff;
  opacity: .6;
}
.cid-rNPmqrXLIz .socials {
  margin-top: 65px;
}
.cid-rNPmqrXLIz .title__social {
  margin-bottom: 25px;
}
.cid-rNPmqrXLIz .icons-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-rNPmqrXLIz .social__link {
  margin-left: 15px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
.cid-rNPmqrXLIz .social__link:hover {
  border-color: #ffffff;
}
.cid-rNPmqrXLIz .social__link .mbr-iconfont {
  color: #ffffff;
  height: 16px;
  width: 16px;
}
@media (max-width: 767px) {
  .cid-rNPmqrXLIz .dragArea {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .cid-rNPmqrXLIz .form-control {
    margin-bottom: 20px;
  }
  .cid-rNPmqrXLIz .mbr-text {
    margin-top: 10px;
  }
  .cid-rNPmqrXLIz .subscribe__form {
    margin-top: 40px;
  }
  .cid-rNPmqrXLIz .socials {
    margin-top: 40px;
  }
}
.cid-rNPqI5iwy5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #2a2a2a;
}
.cid-rNPqI5iwy5 .wrapper {
  line-height: 40px;
}
.cid-rNPqI5iwy5 .social {
  display: inline-block;
}
.cid-rNPqI5iwy5 .mbr-iconfont {
  font-size: 18px;
  transition: all .25s ease;
  transition-duration: 0s;
  margin-left: 15px;
  margin-right: 15px;
  line-height: 40px;
}
.cid-rNPqI5iwy5 .foot__menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.cid-rNPqI5iwy5 .menu__items {
  margin: 0 15px;
  display: inline-block;
  transition: all .25s;
  line-height: 40px;
  margin-bottom: 0;
  color: #ffffff;
}
.cid-rNPqI5iwy5 .brand {
  margin-bottom: 10px;
}
.cid-rNPqI5iwy5 .logo__image {
  width: 60px;
  object-fit: cover;
}
.cid-rNPqI5iwy5 .privacy {
  margin-top: 10px;
}
.cid-rNPqI5iwy5 .mbr-text {
  margin-bottom: 0;
  color: #ffffff;
}
