.btn {
  border-width: 2px;
}
body {
  font-family: Cormorant Infant;
}
.display-1 {
  font-family: 'Cormorant Infant', serif;
  font-size: 15rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 18.75rem;
}
.display-2 {
  font-family: 'Cormorant Infant', serif;
  font-size: 8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 10rem;
}
.display-4 {
  font-family: 'Cormorant Infant', serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Cormorant Infant', serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-5 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-7 {
  font-family: 'Cormorant Infant', serif;
  font-size: 1.6rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 1400px) {
  .display-1 {
    font-size: 10.5rem;
  }
}
@media (max-width: 992px) {
  .display-1 {
    font-size: 7.5rem;
  }
}
@media (max-width: 767px) {
  .display-1 {
    font-size: 3rem !important;
    line-height: 1 !important;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 10.5rem;
    font-size: calc( 5.9rem + (15 - 5.9) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (5.9rem + (15 - 5.9) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 6.4rem;
    font-size: calc( 3.45rem + (8 - 3.45) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (3.45rem + (8 - 3.45) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #ffc600 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ffc600 !important;
  border-color: #ffc600 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a88300 !important;
  border-color: #a88300 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #a88300 !important;
  border-color: #a88300 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #ffc600;
  color: #ffc600;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a88300 !important;
  background-color: transparent !important;
  border-color: #a88300 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #ffc600 !important;
  border-color: #ffc600 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent !important;
  border-color: #ff0f0f !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent !important;
  border-color: #148cca !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent !important;
  border-color: #2a747e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent !important;
  border-color: #ffd10a !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent !important;
  border-color: #ff5f0f !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #ffc600 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #997700 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.1em;
}
.nav-tabs .nav-link.active {
  color: #ffc600;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ffc600;
  border-color: #ffc600;
  color: #191400;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ffc600;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fff4cc;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Cormorant Infant', serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #ffc600 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Cormorant Infant', serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #ffc600;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ffc600;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #ffc600;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ffc600;
  border-bottom-color: #ffc600;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ffc600 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ffc600' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tupkcmJYmb {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-tupkcmJYmb nav.navbar {
  position: fixed;
}
.cid-tupkcmJYmb .link {
  font-weight: bold;
}
.cid-tupkcmJYmb .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tupkcmJYmb .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-tupkcmJYmb .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-tupkcmJYmb .dropdown-item:hover,
.cid-tupkcmJYmb .dropdown-item:focus {
  background: #ffc600 !important;
  color: white !important;
}
.cid-tupkcmJYmb .dropdown-item:hover span {
  color: white;
}
.cid-tupkcmJYmb .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-tupkcmJYmb .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-tupkcmJYmb .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-tupkcmJYmb .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-tupkcmJYmb .nav-link {
  position: relative;
}
.cid-tupkcmJYmb .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-tupkcmJYmb .container {
    flex-wrap: nowrap;
  }
}
.cid-tupkcmJYmb .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tupkcmJYmb .dropdown-menu,
.cid-tupkcmJYmb .navbar.opened {
  background: #ffffff !important;
}
.cid-tupkcmJYmb .nav-item:focus,
.cid-tupkcmJYmb .nav-link:focus {
  outline: none;
}
.cid-tupkcmJYmb .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tupkcmJYmb .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tupkcmJYmb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tupkcmJYmb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tupkcmJYmb .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tupkcmJYmb .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tupkcmJYmb .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-tupkcmJYmb .navbar.opened {
  transition: all 0.3s;
}
.cid-tupkcmJYmb .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-tupkcmJYmb .navbar .navbar-logo img {
  width: auto;
}
.cid-tupkcmJYmb .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-tupkcmJYmb .navbar.collapsed {
  justify-content: center;
}
.cid-tupkcmJYmb .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tupkcmJYmb .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tupkcmJYmb .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tupkcmJYmb .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tupkcmJYmb .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-tupkcmJYmb .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tupkcmJYmb .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tupkcmJYmb .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-tupkcmJYmb .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tupkcmJYmb .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tupkcmJYmb .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tupkcmJYmb .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tupkcmJYmb .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-tupkcmJYmb .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tupkcmJYmb .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tupkcmJYmb .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-tupkcmJYmb .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tupkcmJYmb .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tupkcmJYmb .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  .cid-tupkcmJYmb .navbar .navbar-brand {
    width: calc(100% - 31px);
  }
}
.cid-tupkcmJYmb .navbar.navbar-short {
  min-height: 60px;
}
.cid-tupkcmJYmb .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tupkcmJYmb .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tupkcmJYmb .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tupkcmJYmb .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tupkcmJYmb .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tupkcmJYmb .dropdown-item.active,
.cid-tupkcmJYmb .dropdown-item:active {
  background-color: transparent;
}
.cid-tupkcmJYmb .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tupkcmJYmb .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tupkcmJYmb .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tupkcmJYmb .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-tupkcmJYmb .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tupkcmJYmb .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tupkcmJYmb ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-tupkcmJYmb .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tupkcmJYmb button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-tupkcmJYmb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-tupkcmJYmb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tupkcmJYmb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tupkcmJYmb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tupkcmJYmb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tupkcmJYmb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tupkcmJYmb nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tupkcmJYmb nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tupkcmJYmb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tupkcmJYmb .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-tupkcmJYmb a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-tupkcmJYmb .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tupkcmJYmb .navbar {
    height: 70px;
  }
  .cid-tupkcmJYmb .navbar.opened {
    height: auto;
  }
  .cid-tupkcmJYmb .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tupkbBjg9A {
  padding-top: 10rem;
  padding-bottom: 30rem;
  background-color: #ffffff;
}
@media (max-width: 1400px) {
  .cid-tupkbBjg9A {
    padding-bottom: 24rem;
  }
}
@media (max-width: 992px) {
  .cid-tupkbBjg9A {
    padding-bottom: 19.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tupkbBjg9A {
    padding-bottom: 12.9rem;
  }
}
.cid-tupkbBjg9A .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupkbBjg9A .image-big {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  object-fit: cover;
  z-index: 0;
}
.cid-tupkbBjg9A .row {
  z-index: 1;
  position: relative;
}
.cid-tupkbBjg9A .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tupkbBjg9A .mbr-section-title {
  text-align: center;
  color: #000000;
}
.cid-tupkbBjg9A .mbr-text,
.cid-tupkbBjg9A .mbr-section-btn {
  text-align: center;
}
.cid-tupkbBjg9A .mbr-section-subtitle {
  text-align: center;
}
.cid-tupn32rtzD {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tupn32rtzD .jc-sb {
  justify-content: space-between;
}
.cid-tupn32rtzD .mbr-text {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .cid-tupn32rtzD .row {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .cid-tupn32rtzD img {
    margin-bottom: 2rem;
  }
}
.cid-tupn5PMCRF {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tupn5PMCRF .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupn5PMCRF .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tupn5PMCRF .link-align {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-tupn5PMCRF .text-wrapper {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .cid-tupn5PMCRF .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-tupn5PMCRF .link-wrap {
  width: fit-content;
  display: inline-block;
  overflow: hidden;
}
.cid-tupn5PMCRF .link-wrap:hover svg {
  animation-duration: 1s;
  animation-name: svg;
}
.cid-tupn5PMCRF svg {
  transition: all 0.3s;
  width: 100%;
  margin-top: -20px;
}
.cid-tupn5PMCRF g {
  fill: #ffc600;
}
@keyframes svg {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  50% {
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
  }
  51% {
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.cid-tupn5PMCRF .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-tupn5PMCRF .image-wrapper {
    padding: 1rem;
  }
}
.cid-tupn4w29la {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-tupn4w29la .item-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  width: 100%;
  padding: 1rem;
  opacity: 0;
  transition: all 0.3s;
}
@media (max-width: 767px) {
  .cid-tupn4w29la .item-content {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
.cid-tupn4w29la .item-wrapper {
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-tupn4w29la .item-wrapper:hover:before {
  opacity: 0.6;
}
.cid-tupn4w29la .item-wrapper:hover .item-content {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.cid-tupn4w29la .item-wrapper:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-tupn4w29la .item-wrapper:before {
    opacity: 0.6;
  }
}
.cid-tupn4w29la img,
.cid-tupn4w29la .item-img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.cid-tupn4w29la .item:focus,
.cid-tupn4w29la span:focus {
  outline: none;
}
.cid-tupn4w29la .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-tupn4w29la .mbr-section-btn {
  margin-top: auto !important;
}
.cid-tupn4w29la .mbr-section-title {
  color: #232323;
}
.cid-tupn4w29la .mbr-text,
.cid-tupn4w29la .mbr-section-btn {
  text-align: center;
}
.cid-tupn4w29la .item-title {
  text-align: center;
}
.cid-tupn4w29la .item-subtitle {
  text-align: center;
}
.cid-tupnJd5vP5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tupnJd5vP5 .jc-sb {
  justify-content: space-between;
}
.cid-tupnJd5vP5 .mbr-text {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .cid-tupnJd5vP5 .row {
    text-align: center;
  }
}
.cid-tupooRClKc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tupooRClKc .jc-sb {
  justify-content: space-between;
}
.cid-tupooRClKc .mbr-text {
  line-height: 1.6;
}
@media (max-width: 992px) {
  .cid-tupooRClKc img {
    margin-bottom: 2rem;
  }
}
.cid-tupooRClKc .item {
  display: flex;
}
@media (max-width: 1800px) {
  .cid-tupooRClKc .item h5 {
    font-size: 5rem;
  }
}
@media (max-width: 992px) {
  .cid-tupooRClKc .item h5 {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-tupooRClKc .item h5 {
    font-size: 2.5rem;
  }
}
.cid-tupooRClKc .item h6 {
  padding-top: 1.5rem;
  min-width: 50px;
}
@media (max-width: 992px) {
  .cid-tupooRClKc .md-pb {
    margin-bottom: 3rem;
  }
}
.cid-tupnGq4KVR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tupnGq4KVR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupnGq4KVR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tupnGq4KVR .text-wrapper {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .cid-tupnGq4KVR .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tupnGq4KVR .image-wrapper {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tupnGq4KVR .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tupnLLTyn4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tupnLLTyn4 a {
  font-weight: bold;
}
@media (max-width: 767px) {
  .cid-tupnLLTyn4 .content {
    text-align: center;
  }
}
.cid-tupnUoYd4E {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-tupnUoYd4E .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupnUoYd4E .container-fluid {
  padding: 0;
}
.cid-tupnUoYd4E .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 991px) {
  .cid-tupnUoYd4E .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tupnUoYd4E .row {
  flex-direction: row-reverse;
}
.cid-tupnUoYd4E img {
  width: 100%;
}
.cid-tupnRLOpbA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tupnRLOpbA .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupnRLOpbA .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tupnRLOpbA .text2 {
  line-height: 1.5;
}
.cid-tupnRLOpbA .btn {
  border-radius: 0px;
}
.cid-tupnRLOpbA .btn-black-outline:hover,
.cid-tupnRLOpbA .btn-black-outline:focus {
  background: #212121 !important;
  color: white !important;
}
@media (max-width: 767px) {
  .cid-tupnRLOpbA .text-wrapper {
    text-align: center;
  }
}
@media (min-width: 992px) {
  .cid-tupnRLOpbA .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 991px) {
  .cid-tupnRLOpbA .image-wrapper {
    padding: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tupnRLOpbA .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-tupnDXgtxj {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tupnDXgtxj .content-container {
  margin-bottom: 50px;
  width: 100%;
  padding: 5rem 5rem;
  text-align: center;
  background: #f5f4ed;
}
@media (max-width: 767px) {
  .cid-tupnDXgtxj .content-container {
    padding: 3rem 1rem;
  }
}
.cid-tupnDXgtxj .label-text {
  color: #232323;
  margin-bottom: 28px;
}
.cid-tupnDXgtxj .mbr-text {
  color: #232323;
  margin-bottom: 0;
}
.cid-tupnDXgtxj .mbr-text-name {
  color: #232323;
  margin-bottom: 0;
  margin-top: 35px;
}
.cid-tupnDXgtxj .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupnDXgtxj .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tupnt6jhk2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #ffffff;
}
.cid-tupnt6jhk2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupnt6jhk2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 767px) {
  .cid-tupnt6jhk2 .mbr-section-head {
    text-align: center;
  }
}
.cid-tupnt6jhk2 .google-map {
  height: 35rem;
  position: relative;
}
.cid-tupnt6jhk2 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-tupnt6jhk2 .google-map [data-state-details] {
  color: #6b6763;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-tupnt6jhk2 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-tupnt6jhk2 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-tupntRUEjl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tupntRUEjl .mbr-fallback-image.disabled {
  display: none;
}
.cid-tupntRUEjl .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tupntRUEjl p {
  line-height: 1.5;
}
@media (max-width: 767px) {
  .cid-tupntRUEjl .card-wrapper {
    text-align: center;
  }
}
.cid-tupnxNsxqE {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
  overflow: hidden;
}
.cid-tupnxNsxqE .media-container-row .mbr-text {
  color: #aaaaaa;
  text-align: left;
}
.cid-tupnxNsxqE .media-container-row .mbr-text2 {
  color: #232323;
}
.cid-tupnxNsxqE .media-container-row .mbr-text1 {
  color: #232323;
}
.cid-tupnxNsxqE .media-container-row .mbr-text3 {
  color: #232323;
  text-align: right;
}
.cid-tupnxNsxqE a {
  background-image: none !important;
}
.cid-tupnxNsxqE .line {
  width: 100%;
  height: 1px;
  background: currentColor;
}
.cid-tupnxNsxqE .container {
  padding: 5rem 1rem;
}
.cid-tupnxNsxqE p {
  padding: 0.5rem 0;
}
@media (max-width: 992px) {
  .cid-tupnxNsxqE p {
    text-align: center !important;
  }
}
.cid-tupnxNsxqE .media-container-row .mbr-text2,
.cid-tupnxNsxqE .line {
  color: #232323;
}
.cid-tupnp0CKHP {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tupnp0CKHP .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tupnp0CKHP .btn {
  box-shadow: none;
  border: none;
}
.cid-tupnp0CKHP .btn:hover,
.cid-tupnp0CKHP .btn:focus {
  box-shadow: none;
  border: none;
}
@media (max-width: 767px) {
  .cid-tupnp0CKHP .row {
    text-align: center;
  }
}
.cid-tupnp0CKHP p {
  line-height: 1.6;
}
@media (max-width: 767px) {
  .cid-tupnp0CKHP .col-auto {
    margin: auto;
  }
}
.cid-tupnp0CKHP .btn-white {
  background: white !important;
  color: black !important;
  padding: 0;
  margin: 0;
}
.cid-tupnp0CKHP .btn-white:hover,
.cid-tupnp0CKHP .btn-white:focus {
  background: white !important;
}
.cid-tupnp0CKHP input:hover,
.cid-tupnp0CKHP input:focus {
  border-color: transparent !important;
}
.cid-tupnp0CKHP textarea {
  border: 1px solid #232323 !important;
  min-height: 200px;
}
.cid-tupnp0CKHP textarea:hover {
  border-color: #232323 !important;
}
.cid-tupnp0CKHP .form-control,
.cid-tupnp0CKHP .field-input {
  padding: 0rem;
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #232323 !important;
  color: #232323;
  border-radius: 0;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tupnp0CKHP .form-control::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input::-webkit-input-placeholder,
.cid-tupnp0CKHP .form-control::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input::-webkit-input-placeholder {
  color: #aaaaaa;
}
.cid-tupnp0CKHP .form-control:-moz-placeholder,
.cid-tupnp0CKHP .field-input:-moz-placeholder,
.cid-tupnp0CKHP .form-control:-moz-placeholder,
.cid-tupnp0CKHP .field-input:-moz-placeholder {
  color: #aaaaaa;
}
.cid-tupnp0CKHP .form-control:hover,
.cid-tupnp0CKHP .field-input:hover,
.cid-tupnp0CKHP .form-control:focus,
.cid-tupnp0CKHP .field-input:focus {
  background-color: #ffffff;
  border-bottom: 1px solid #232323 !important;
  color: #232323;
  box-shadow: none;
  outline: none;
}
.cid-tupnp0CKHP .form-control:hover::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input:hover::-webkit-input-placeholder,
.cid-tupnp0CKHP .form-control:focus::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input:focus::-webkit-input-placeholder,
.cid-tupnp0CKHP .form-control:hover::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input:hover::-webkit-input-placeholder,
.cid-tupnp0CKHP .form-control:focus::-webkit-input-placeholder,
.cid-tupnp0CKHP .field-input:focus::-webkit-input-placeholder {
  color: #aaaaaa;
}
.cid-tupnp0CKHP .form-control:hover:-moz-placeholder,
.cid-tupnp0CKHP .field-input:hover:-moz-placeholder,
.cid-tupnp0CKHP .form-control:focus:-moz-placeholder,
.cid-tupnp0CKHP .field-input:focus:-moz-placeholder,
.cid-tupnp0CKHP .form-control:hover:-moz-placeholder,
.cid-tupnp0CKHP .field-input:hover:-moz-placeholder,
.cid-tupnp0CKHP .form-control:focus:-moz-placeholder,
.cid-tupnp0CKHP .field-input:focus:-moz-placeholder {
  color: #aaaaaa;
}
.cid-tupnp0CKHP .jq-number__spin:hover,
.cid-tupnp0CKHP .jq-number__spin:focus {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #232323 !important;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-tupnp0CKHP .jq-number__spin {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #232323 !important;
  color: #232323;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-tupnp0CKHP .jq-selectbox li,
.cid-tupnp0CKHP .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-tupnp0CKHP .jq-selectbox li:hover,
.cid-tupnp0CKHP .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-tupnp0CKHP .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-tupnp0CKHP .jq-number__spin.minus:hover:after,
.cid-tupnp0CKHP .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tupnp0CKHP .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-tupnp0CKHP .jq-number__spin.minus:after,
.cid-tupnp0CKHP .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-tupnp0CKHP input::-webkit-clear-button {
  display: none;
}
.cid-tupnp0CKHP input::-webkit-inner-spin-button {
  display: none;
}
.cid-tupnp0CKHP input::-webkit-outer-spin-button {
  display: none;
}
.cid-tupnp0CKHP input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-tupnp0CKHP LABEL {
  color: #aaaaaa;
}
.cid-tupnqPKw8y {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f5f4ed;
  overflow: hidden;
}
.cid-tupnqPKw8y .media-container-row .mbr-text {
  color: #232323;
}
