body {
  font-family: Epilogue;
}
.display-1 {
  font-family: 'Epilogue', sans-serif;
  font-size: 7.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.5rem;
}
.display-2 {
  font-family: 'Epilogue', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 7.5rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.5rem;
}
.display-5 {
  font-family: 'Epilogue', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 6.08rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 5.32rem;
    font-size: calc( 3.3099999999999996rem + (7.6 - 3.3099999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.3099999999999996rem + (7.6 - 3.3099999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #2a4fab !important;
}
.bg-success {
  background-color: #1b899d !important;
}
.bg-info {
  background-color: #6d88cd !important;
}
.bg-warning {
  background-color: #ffff27 !important;
}
.bg-danger {
  background-color: #f87587 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #2a4fab !important;
  border-color: #2a4fab !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #192f65 !important;
  border-color: #192f65 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #192f65 !important;
  border-color: #192f65 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f32541 !important;
  border-color: #f32541 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b70a22 !important;
  border-color: #b70a22 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #b70a22 !important;
  border-color: #b70a22 !important;
}
.btn-info,
.btn-info:active {
  background-color: #6d88cd !important;
  border-color: #6d88cd !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #3a59a9 !important;
  border-color: #3a59a9 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3a59a9 !important;
  border-color: #3a59a9 !important;
}
.btn-success,
.btn-success:active {
  background-color: #1b899d !important;
  border-color: #1b899d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0e4853 !important;
  border-color: #0e4853 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0e4853 !important;
  border-color: #0e4853 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffff27 !important;
  border-color: #ffff27 !important;
  color: #272700 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #cfcf00 !important;
  border-color: #cfcf00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #272700 !important;
  background-color: #cfcf00 !important;
  border-color: #cfcf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #f87587 !important;
  border-color: #f87587 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #f4223f !important;
  border-color: #f4223f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #f4223f !important;
  border-color: #f4223f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #282828 !important;
  border-color: #282828 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2a4fab;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #192f65 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #2a4fab !important;
  border-color: #2a4fab !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f32541;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b70a22 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f32541 !important;
  border-color: #f32541 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6d88cd;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #3a59a9 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6d88cd !important;
  border-color: #6d88cd !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1b899d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0e4853 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #1b899d !important;
  border-color: #1b899d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffff27;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #cfcf00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #272700 !important;
  background-color: #ffff27 !important;
  border-color: #ffff27 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f87587;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #f4223f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f87587 !important;
  border-color: #f87587 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #282828;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #282828 !important;
  border-color: #282828 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #2a4fab !important;
}
.text-secondary {
  color: #f32541 !important;
}
.text-success {
  color: #1b899d !important;
}
.text-info {
  color: #6d88cd !important;
}
.text-warning {
  color: #ffff27 !important;
}
.text-danger {
  color: #f87587 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #282828 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #162959 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #a9091f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #0c3d46 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #36539e !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c0c000 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #f31433 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #2a4fab;
}
.nav-tabs .nav-link:not(.active) {
  color: #282828;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6d88cd;
}
.alert-warning {
  background-color: #ffff27;
}
.alert-danger {
  background-color: #f87587;
}
.mbr-gallery-filter li.active .btn {
  background-color: #2a4fab;
  border-color: #2a4fab;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #2a4fab;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7794de;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #56cce2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffff3;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #2a4fab !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.5rem;
}
blockquote {
  border-color: #2a4fab;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #2a4fab;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #2a4fab;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #2a4fab;
  border-bottom-color: #2a4fab;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #2a4fab !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #f32541 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%232a4fab' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t84xZbw5be {
  z-index: 1000;
  width: 100%;
}
.cid-t84xZbw5be nav.navbar {
  position: fixed;
}
@media (max-width: 991px) {
  .cid-t84xZbw5be .menu_box .navbar.opened,
  .cid-t84xZbw5be .menu_box .navbar-collapse {
    background-color: #f0f0f0 !important;
    transition: all 0s ease 0s;
  }
}
@media (min-width: 992px) {
  .cid-t84xZbw5be .menu_box .menu1 {
    display: none;
  }
}
.cid-t84xZbw5be .hamburger-container {
  position: relative;
  margin-left: 20px;
}
.cid-t84xZbw5be .hamburger-container .hamburger-text {
  position: absolute;
}
.cid-t84xZbw5be .hamburger-container .menu,
.cid-t84xZbw5be .hamburger-container .menu1 {
  top: 15px;
  left: -40px;
}
.cid-t84xZbw5be .hamburger-container .close {
  display: none;
}
.cid-t84xZbw5be .hamburger-container .close1 {
  top: 5px;
  left: -60px;
}
.cid-t84xZbw5be nav.opened .hamburger-container .menu,
.cid-t84xZbw5be nav.opened .hamburger-container .menu1 {
  display: none;
}
.cid-t84xZbw5be nav.opened .hamburger-container .close {
  top: 20px;
  left: -40px;
  display: block;
}
.cid-t84xZbw5be .navbar-dropdown.navbar-short .navbar-logo {
  margin-right: 0.8rem;
}
.cid-t84xZbw5be .navbar-dropdown.navbar-short .navbar-logo img {
  height: 5;
}
@media (min-width: 992px) {
  .cid-t84xZbw5be .nav-item {
    position: relative;
  }
  .cid-t84xZbw5be .nav-item a {
    opacity: .5;
  }
  .cid-t84xZbw5be .nav-item a:hover,
  .cid-t84xZbw5be .nav-item a:focus {
    opacity: 1;
  }
  .cid-t84xZbw5be .nav-item:not(:first-child):before {
    content: "";
    top: 2px;
    left: -10px;
    position: absolute;
    background-color: #282828;
    width: 2px;
    height: 20px;
    transform: rotate(30deg);
  }
  .cid-t84xZbw5be .offcanvas {
    padding: 30px 60px 35px;
    width: 100%;
    background-color: #ffff27;
  }
  .cid-t84xZbw5be .offcanvas_image img {
    width: auto;
    height: 5;
    object-fit: cover;
    display: inline-block;
  }
  .cid-t84xZbw5be .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-t84xZbw5be .offcanvas-header .btn-close {
    top: -70px;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    font-weight: 400;
    opacity: 1;
    color: #282828;
  }
  .cid-t84xZbw5be .offcanvas-body {
    padding: 60px 60px 0 60px;
  }
  .cid-t84xZbw5be .offcanvas-body .mbr-text,
  .cid-t84xZbw5be .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-t84xZbw5be .offcanvas-body .link-container {
    margin-top: 140px;
  }
  .cid-t84xZbw5be .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-t84xZbw5be .offcanvas-body .list {
    list-style: none;
    padding-left: 0;
  }
  .cid-t84xZbw5be .offcanvas-body .list li {
    transition: all linear .3s;
  }
  .cid-t84xZbw5be .offcanvas-body .list li:hover {
    opacity: .5;
  }
  .cid-t84xZbw5be .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: all 0.5s;
    position: relative;
    align-self: center;
    border-radius: 50%;
  }
  .cid-t84xZbw5be .offcanvas_box button.btn_offcanvas:hover {
    background-color: #ffff27;
  }
  .cid-t84xZbw5be .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 8px;
    width: 40px;
    height: 2px;
    background-color: #282828;
  }
  .cid-t84xZbw5be .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 22px;
    transition: all 0.2s;
  }
  .cid-t84xZbw5be .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 32px;
    transition: all 0.2s;
  }
  .cid-t84xZbw5be ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-t84xZbw5be .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-t84xZbw5be .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-t84xZbw5be .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-t84xZbw5be li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 0 !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
  }
  .cid-t84xZbw5be .lg_brand {
    margin: 0 1rem;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .cid-t84xZbw5be .offcanvas-body .list {
    margin-bottom: 0rem;
  }
}
@media (min-width: 1400px) {
  .cid-t84xZbw5be .offcanvas-body {
    padding: 130px 130px 0 130px;
  }
}
.cid-t84xZbw5be .navbar-caption {
  font-weight: 400;
  color: #6870d1;
}
.cid-t84xZbw5be .navbar {
  min-height: 120px;
  transition: all 0.3s;
  border-bottom-width: 0px;
  background: rgba(240, 240, 240, 0.5);
}
@media (min-width: 992px) {
  .cid-t84xZbw5be .navbar {
    padding: 0 34px 0 0;
  }
}
.cid-t84xZbw5be .navbar.opened {
  transition: all 0.3s;
}
.cid-t84xZbw5be .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-t84xZbw5be .navbar .navbar-logo img {
  width: auto;
  object-fit: cover;
}
.cid-t84xZbw5be .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-t84xZbw5be .navbar.collapsed {
  justify-content: center;
}
.cid-t84xZbw5be .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t84xZbw5be .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t84xZbw5be .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t84xZbw5be .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t84xZbw5be .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t84xZbw5be .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-t84xZbw5be .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t84xZbw5be .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-t84xZbw5be .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-t84xZbw5be .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t84xZbw5be .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t84xZbw5be .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-t84xZbw5be .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t84xZbw5be .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t84xZbw5be .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-t84xZbw5be .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-t84xZbw5be .navbar ul.navbar-nav .mbr-text {
    line-height: 1 !important;
  }
  .cid-t84xZbw5be .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-t84xZbw5be .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-t84xZbw5be .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t84xZbw5be .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t84xZbw5be .navbar .icons-menu {
    padding: 0;
  }
}
.cid-t84xZbw5be .navbar.navbar-short {
  min-height: 120px;
}
.cid-t84xZbw5be .navbar.navbar-short .navbar-brand {
  min-height: 70px;
  padding: 10px 0;
}
.cid-t84xZbw5be .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  min-width: 300px;
}
@media (max-width: 991px) {
  .cid-t84xZbw5be .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 0 1rem;
  }
}
.cid-t84xZbw5be .nav-item {
  margin: 4px 10px;
}
@media (min-width: 1200px) {
  .cid-t84xZbw5be .nav-item {
    margin: 4px 10px;
  }
}
@media (max-width: 991px) {
  .cid-t84xZbw5be .nav-item {
    margin: 0 !important;
  }
}
.cid-t84xZbw5be .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-t84xZbw5be .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: 72px !important;
    left: -40px !important;
  }
  .cid-t84xZbw5be .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-t84xZbw5be .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-t84xZbw5be .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-t84xZbw5be .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-t84xZbw5be .offcanvas_box {
    display: none;
  }
}
.cid-t84xZbw5be .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-t84xZbw5be .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-t84xZbw5be .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-t84xZbw5be .nav-link {
  position: relative;
}
.cid-t84xZbw5be .container {
  display: flex;
  margin: auto;
}
.cid-t84xZbw5be .iconfont-wrapper {
  color: #282828;
  font-size: 22px;
  margin-right: 25px;
  margin-bottom: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-t84xZbw5be .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-t84xZbw5be .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 1200px) {
  .cid-t84xZbw5be .navbar-nav {
    margin: 0 2rem;
  }
}
@media (min-width: 1400px) {
  .cid-t84xZbw5be .navbar-nav {
    margin-left: 400px;
  }
}
.cid-t84xZbw5be .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}
.cid-t84xZbw5be .nav-item:focus,
.cid-t84xZbw5be .nav-link:focus {
  outline: none;
}
.cid-t84xZbw5be .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t84xZbw5be .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t84xZbw5be .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t84xZbw5be .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t84xZbw5be .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t84xZbw5be .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t84xZbw5be .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t84xZbw5be .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t84xZbw5be .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t84xZbw5be .dropdown-item.active,
.cid-t84xZbw5be .dropdown-item:active {
  background-color: transparent;
}
.cid-t84xZbw5be .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t84xZbw5be .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t84xZbw5be .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t84xZbw5be .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #f0f0f0;
}
.cid-t84xZbw5be .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t84xZbw5be .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t84xZbw5be ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-t84xZbw5be .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t84xZbw5be button.navbar-toggler {
  outline: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #f0f0f0;
}
.cid-t84xZbw5be button.navbar-toggler .hamburger span {
  position: absolute;
  right: 8px;
  margin-top: 14px;
  width: 40px;
  height: 2px;
  border-right: 5px;
  background-color: #282828;
}
.cid-t84xZbw5be button.navbar-toggler .hamburger span:nth-child(1) {
  top: 9px;
  transition: all 0.2s;
}
.cid-t84xZbw5be button.navbar-toggler .hamburger span:nth-child(2) {
  top: 19px;
  transition: all 0.15s;
}
.cid-t84xZbw5be button.navbar-toggler .hamburger span:nth-child(3) {
  top: 19px;
  transition: all 0.15s;
}
.cid-t84xZbw5be button.navbar-toggler .hamburger span:nth-child(4) {
  top: 19px;
  transition: all 0.2s;
}
.cid-t84xZbw5be nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t84xZbw5be nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t84xZbw5be nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t84xZbw5be nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t84xZbw5be a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-t84xZbw5be .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t84xZbw5be .navbar {
    height: 70px;
  }
  .cid-t84xZbw5be .navbar.opened {
    height: auto;
  }
  .cid-t84xZbw5be .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t84xZbw5be .mbr-section-subtitle {
  color: #6870d1;
}
.cid-t84xZbw5be a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-t84xZbw5be .btn {
  box-shadow: none !important;
  margin: -1px 0.6rem 0;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(61, 61, 61, 0.3) !important;
  border-top: 1px solid rgba(61, 61, 61, 0.3) !important;
  justify-content: space-between;
}
.cid-t84xZbw5be .btn:hover {
  border-top: 1px solid rgba(61, 61, 61, 0.3) !important;
  border-bottom: 1px solid rgba(61, 61, 61, 0.3) !important;
}
.cid-t84xXRGnlT {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f0f0f0;
}
.cid-t84xXRGnlT .container-fluid {
  padding-right: 0;
  padding-left: 0;
  height: 100%;
}
.cid-t84xXRGnlT .image-wrapper {
  height: 100%;
}
.cid-t84xXRGnlT img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-t84ylWGnra {
  overflow: hidden;
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-t84ylWGnra .container-fluid {
  padding: 0;
}
.cid-t84ylWGnra .content-wrapper .text {
  padding: 100px 2rem;
}
@media (min-width: 768px) {
  .cid-t84ylWGnra .content-wrapper .text {
    padding: 145px 60px;
  }
}
@media (min-width: 1200px) {
  .cid-t84ylWGnra .content-wrapper .text {
    padding: 140px 130px;
  }
}
@media (min-width: 1400px) {
  .cid-t84ylWGnra .content-wrapper .text {
    padding: 200px 190px;
  }
}
.cid-t84ylWGnra .content-wrapper .image-wrapper {
  height: 100%;
}
.cid-t84ylWGnra .content-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-t84ylWGnra .display-4 > .mbr-iconfont {
  font-size: 11.6px;
  margin-left: 10px;
}
.cid-t84ylWGnra .mbr-iconfont {
  font-weight: 700;
  padding: 1rem;
  border-radius: 50%;
  transition: background 0.5s ease-in-out;
}
.cid-t84ylWGnra .link-title:hover .mbr-iconfont {
  background: #FFFF27;
}
.cid-t84y3Ez6o2 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f0f0f0;
}
.cid-t84y3Ez6o2 .row {
  min-height: 400px;
  padding: 2rem 0;
}
@media (min-width: 992px) {
  .cid-t84y3Ez6o2 .row {
    padding: 46px 34px;
  }
}
.cid-t84y49N6pS {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-t84y49N6pS .wrapper {
    padding: 0 28px;
  }
}
.cid-t84ya8kOSI {
  background-color: #ffff27;
}
.cid-t84ya8kOSI .container-fluid {
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
}
.cid-t84ya8kOSI .mbr-section-head {
  position: absolute;
  transform: translate(0rem, 3rem) rotate(-90deg);
}
@media (max-width: 767px) {
  .cid-t84ya8kOSI .mbr-section-head {
    transform: translate(-1rem, 3rem) rotate(-90deg);
  }
}
.cid-t84ya8kOSI .wrap {
  padding-top: 9rem;
  padding-bottom: 9rem;
}
.cid-t84ya8kOSI .display-4 > .mbr-iconfont {
  font-size: 11.6px;
  margin-left: 10px;
}
.cid-t84ya8kOSI .item-wrap {
  padding-right: 23px;
  padding-left: 23px;
}
@media (min-width: 992px) {
  .cid-t84ya8kOSI .item-wrap {
    padding-right: 56.4px;
    padding-left: 56.4px;
  }
  .cid-t84ya8kOSI .item-wrap:not(:first-child) {
    border-left: 1px solid rgba(61, 61, 61, 0.3);
  }
}
@media (max-width: 991px) {
  .cid-t84ya8kOSI .top {
    margin-top: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-t84ya8kOSI .top1 {
    margin-top: 4rem;
  }
}
.cid-t84ya8kOSI .mbr-iconfont {
  font-weight: 700;
  padding: 1rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.cid-t84ya8kOSI .link-title:hover .mbr-iconfont {
  background: #282828;
  color: #fff;
}
@media (min-width: 768px) {
  .cid-t84ya8kOSI .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.cid-t84ya8kOSI .icon {
  font-size: 8rem;
}
.cid-t84y87daA3 {
  padding-top: 9rem;
  padding-bottom: 9rem;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-t84y87daA3 .wrapper {
    padding: 0 28px;
  }
}
.cid-t84y87daA3 .mbr-section-head {
  margin-bottom: 210px;
}
@media (min-width: 992px) {
  .cid-t84y87daA3 .mbr-section-head {
    margin-bottom: 268px;
  }
}
@media (min-width: 1400px) {
  .cid-t84y87daA3 .image-wrapper {
    height: 385px;
  }
}
@media (max-width: 767px) {
  .cid-t84y87daA3 .image-wrapper {
    margin-top: 2rem;
  }
}
.cid-t84y87daA3 .image-wrapper img {
  max-height: 385px;
  width: 100%;
  object-fit: cover;
}
.cid-t84y87daA3 .timeline-element {
  position: relative;
}
.cid-t84y87daA3 .timeline-element:after {
  content: "";
  position: absolute;
  background-color: #727272;
  width: 3px;
}
@media (max-width: 767px) {
  .cid-t84y87daA3 .timeline-element:after {
    height: calc(100% + 40px);
    top: 50px;
    left: 15px;
  }
}
@media (min-width: 768px) {
  .cid-t84y87daA3 .timeline-element:after {
    height: calc(100% + 35px);
    top: 28px;
    left: 50%;
  }
}
.cid-t84y87daA3 .timelines-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-t84y87daA3 .reverse {
  flex-direction: row-reverse;
}
@media (min-width: 768px) {
  .cid-t84y87daA3 .right {
    margin-right: 4rem;
  }
  .cid-t84y87daA3 .left {
    margin-left: 4rem;
  }
}
@media (max-width: 767px) {
  .cid-t84y87daA3 .image-wrapper,
  .cid-t84y87daA3 .timeline-text-wrapper {
    margin-left: 4rem;
  }
}
.cid-t84y87daA3 .iconBackground {
  position: absolute;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 2px solid #727272;
  background-color: #727272;
  margin-left: -5px;
  padding: 0;
}
@media (max-width: 767px) {
  .cid-t84y87daA3 .iconBackground {
    left: 15px;
    top: 40px;
  }
}
@media (min-width: 768px) {
  .cid-t84y87daA3 .iconBackground {
    top: 15px;
    left: 50%;
  }
}
.cid-t84y87daA3 .timeline-text-wrapper {
  padding-top: 20px;
}
.cid-t84ybArd7o {
  padding-top: 8rem;
  padding-bottom: 2rem;
  background-color: #282828;
}
@media (min-width: 992px) {
  .cid-t84ybArd7o .wrapper {
    padding: 0 28px;
  }
}
.cid-t84ybArd7o .list {
  list-style: none;
  padding-left: 0;
  color: #727272;
}
@media (max-width: 991px) {
  .cid-t84ybArd7o .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-t84ybArd7o .list {
    margin-bottom: 0rem;
  }
}
.cid-t84ybArd7o .list li {
  transition: all linear .3s;
}
.cid-t84ybArd7o .list li:hover {
  color: #FFFF27;
}
@media (max-width: 991px) {
  .cid-t84ybArd7o div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-t84ybArd7o .copyrightDiv {
  margin-top: 108px;
  flex-direction: row-reverse;
}
.cid-t84ybArd7o .copyright {
  color: #727272;
}
.cid-t84ybArd7o .top {
  padding-top: 72px;
}
@media (min-width: 768px) {
  .cid-t84ybArd7o .top {
    padding-top: 75px;
  }
}
.cid-t84ybArd7o .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-t84ybArd7o .soc-item {
  font-family: "Cormorant Garamond";
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0.5rem;
  padding: 1rem;
  height: 3rem;
  width: 3rem;
  -webkit-box-shadow: preserve-3d;
  -moz-box-shadow: preserve-3d;
  transform-style: preserve-3d;
  border: 1px solid #ffffff;
}
.cid-t84ybArd7o .soc-item span {
  color: #ffffff;
  z-index: 99999;
}
@media (max-width: 991px) {
  .cid-t84ybArd7o .bottom {
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .cid-t84ybArd7o .mbr-white div {
    margin-bottom: 30px;
  }
}
