body {
  font-family: Space Grotesk;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 5.4rem;
  line-height: 92px;
}
.display-1 > .mbr-iconfont {
  font-size: 6.75rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2.6rem;
  line-height: 40px;
}
.display-2 > .mbr-iconfont {
  font-size: 3.25rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2rem;
  line-height: 39px;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.56rem;
  line-height: 30px;
}
.display-7 > .mbr-iconfont {
  font-size: 1.95rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.32rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.78rem;
    font-size: calc( 2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.54rem + (5.4 - 2.54) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.08rem;
    font-size: calc( 1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.56rem + (2.6 - 1.56) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.248rem;
    font-size: calc( 1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.196rem + (1.56 - 1.196) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 30px;
}
.bg-primary {
  background-color: #d3d3d0 !important;
}
.bg-success {
  background-color: #ff773d !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #003482 !important;
}
.bg-danger {
  background-color: #ff0808 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #d3d3d0 !important;
  border-color: #d3d3d0 !important;
  color: #55554f !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #a9a9a3 !important;
  border-color: #a9a9a3 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #55554f !important;
  background-color: #a9a9a3 !important;
  border-color: #a9a9a3 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff5740 !important;
  border-color: #ff5740 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e81c00 !important;
  border-color: #e81c00 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e81c00 !important;
  border-color: #e81c00 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff773d !important;
  border-color: #ff773d !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #e54500 !important;
  border-color: #e54500 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e54500 !important;
  border-color: #e54500 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #003482 !important;
  border-color: #003482 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #00112b !important;
  border-color: #00112b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #00112b !important;
  border-color: #00112b !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff0808 !important;
  border-color: #ff0808 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b00000 !important;
  border-color: #b00000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b00000 !important;
  border-color: #b00000 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d3d3d0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a9a9a3 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #55554f !important;
  background-color: #d3d3d0 !important;
  border-color: #d3d3d0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff5740;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #e81c00 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff5740 !important;
  border-color: #ff5740 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff773d;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e54500 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff773d !important;
  border-color: #ff773d !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #003482;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #00112b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #003482 !important;
  border-color: #003482 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff0808;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b00000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff0808 !important;
  border-color: #ff0808 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #d3d3d0 !important;
}
.text-secondary {
  color: #ff5740 !important;
}
.text-success {
  color: #ff773d !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #003482 !important;
}
.text-danger {
  color: #ff0808 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a2a29b !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #d91a00 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #d64000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #000b1c !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a10000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #d3d3d0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #003482;
}
.alert-danger {
  background-color: #ff0808;
}
.mbr-gallery-filter li.active .btn {
  background-color: #d3d3d0;
  border-color: #d3d3d0;
  color: #62625c;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #d3d3d0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #0267ff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffd4d4;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #d3d3d0 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1rem;
  line-height: 1.55;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #d3d3d0;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #d3d3d0;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #d3d3d0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #d3d3d0;
  border-bottom-color: #d3d3d0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #d3d3d0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff5740 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23d3d3d0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  max-height: 48px;
  box-shadow: none;
}
.cid-tsOi42ZDqs .navbar-dropdown {
  background-color: #293d3e !important;
  padding: 0;
}
.cid-tsOi42ZDqs .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #293d3e !important;
  background: #293d3e;
}
.cid-tsOi42ZDqs .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .menu_box .navbar.opened,
  .cid-tsOi42ZDqs .menu_box .navbar-collapse {
    background-color: #293d3e !important;
    transition: all 0s ease 0s;
  }
}
.cid-tsOi42ZDqs .navbar-dropdown {
  position: relative !important;
}
.cid-tsOi42ZDqs .icons-menu-main {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .mbr-section-btn-main {
    margin-top: 1rem;
  }
}
.cid-tsOi42ZDqs .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tsOi42ZDqs .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tsOi42ZDqs .offcanvas {
    padding: 12rem 80px 0;
    width: 30%;
    background-color: #d2d2d2;
  }
  .cid-tsOi42ZDqs .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tsOi42ZDqs .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tsOi42ZDqs .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tsOi42ZDqs .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tsOi42ZDqs .offcanvas-body .mbr-text,
  .cid-tsOi42ZDqs .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-tsOi42ZDqs .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #ff5640;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tsOi42ZDqs .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tsOi42ZDqs ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tsOi42ZDqs .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tsOi42ZDqs .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tsOi42ZDqs .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tsOi42ZDqs li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tsOi42ZDqs .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tsOi42ZDqs .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tsOi42ZDqs .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .nav-item {
    margin: 0 !important;
  }
}
.cid-tsOi42ZDqs .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tsOi42ZDqs .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tsOi42ZDqs .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tsOi42ZDqs .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tsOi42ZDqs .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tsOi42ZDqs .offcanvas_box {
    display: none;
  }
}
.cid-tsOi42ZDqs .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-tsOi42ZDqs .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tsOi42ZDqs .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tsOi42ZDqs .container {
  display: flex;
  margin: auto;
}
.cid-tsOi42ZDqs .iconfont-wrapper {
  color: #d2d2d2;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tsOi42ZDqs .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tsOi42ZDqs .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tsOi42ZDqs .navbar-caption {
  color: #d2d2d2;
}
.cid-tsOi42ZDqs .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tsOi42ZDqs .navbar-nav {
    margin: 0;
  }
}
.cid-tsOi42ZDqs .dropdown-menu,
.cid-tsOi42ZDqs .navbar.opened {
  background-color: false !important;
}
.cid-tsOi42ZDqs .nav-item:focus,
.cid-tsOi42ZDqs .nav-link:focus {
  outline: none;
}
.cid-tsOi42ZDqs .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tsOi42ZDqs .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tsOi42ZDqs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tsOi42ZDqs .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tsOi42ZDqs .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tsOi42ZDqs .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tsOi42ZDqs .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
@media (max-width: 992px) {
  .cid-tsOi42ZDqs .navbar {
    min-height: 30px;
    max-height: 90px;
  }
}
.cid-tsOi42ZDqs .navbar.opened {
  transition: all 0.3s;
}
.cid-tsOi42ZDqs .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tsOi42ZDqs .navbar .navbar-logo img {
  max-width: 130px;
  max-height: 130px;
  object-fit: contain;
}
.cid-tsOi42ZDqs .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tsOi42ZDqs .navbar.collapsed {
  justify-content: center;
}
.cid-tsOi42ZDqs .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tsOi42ZDqs .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tsOi42ZDqs .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tsOi42ZDqs .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tsOi42ZDqs .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tsOi42ZDqs .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tsOi42ZDqs .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tsOi42ZDqs .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tsOi42ZDqs .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tsOi42ZDqs .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tsOi42ZDqs .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tsOi42ZDqs .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tsOi42ZDqs .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tsOi42ZDqs .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tsOi42ZDqs .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tsOi42ZDqs .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tsOi42ZDqs .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tsOi42ZDqs .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tsOi42ZDqs .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tsOi42ZDqs .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tsOi42ZDqs .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tsOi42ZDqs .navbar.navbar-short {
  min-height: 60px;
}
.cid-tsOi42ZDqs .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tsOi42ZDqs .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tsOi42ZDqs .navbar-brand {
  min-height: 130px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tsOi42ZDqs .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tsOi42ZDqs .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tsOi42ZDqs .dropdown-item.active,
.cid-tsOi42ZDqs .dropdown-item:active {
  background-color: transparent;
}
.cid-tsOi42ZDqs .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tsOi42ZDqs .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tsOi42ZDqs .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tsOi42ZDqs .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tsOi42ZDqs ul.navbar-nav {
  flex-wrap: wrap;
  padding: 36px 0;
}
.cid-tsOi42ZDqs .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tsOi42ZDqs button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #293d3e;
  background: #000000;
}
.cid-tsOi42ZDqs button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #ff5640;
}
.cid-tsOi42ZDqs button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tsOi42ZDqs button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tsOi42ZDqs button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tsOi42ZDqs button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tsOi42ZDqs nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tsOi42ZDqs nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tsOi42ZDqs nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tsOi42ZDqs nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tsOi42ZDqs a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tsOi42ZDqs .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tsOi42ZDqs .navbar {
    height: 70px;
  }
  .cid-tsOi42ZDqs .navbar.opened {
    height: auto;
  }
  .cid-tsOi42ZDqs .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tsOi42ZDqs .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
@media (min-width: 768px) {
  .cid-tsOi42ZDqs .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.cid-tsOi42ZDqs .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-tsOi42ZDqs .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
.cid-tsOi42ZDqs .navbar-caption:hover {
  color: #d3d3d0;
}
@media (min-width: 992px) {
  .cid-tsOi42ZDqs .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tsOi42ZDqs .mbr-section-subtitle {
  color: #000000;
}
.cid-tsOi42ZDqs .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-tsOi42ZDqs .text_widget {
  color: #000000;
}
.cid-tsOi42ZDqs .mbr-section-subtitle,
.cid-tsOi42ZDqs .text_widget,
.cid-tsOi42ZDqs .mbr-section-btn {
  text-align: center;
}
.cid-tsOi42ZDqs a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tsOi4enFPR {
  background-color: #07553b;
}
.cid-tsOi4enFPR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOi4enFPR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOi4enFPR .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOi4enFPR .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOi4enFPR .row {
  margin-top: -3px;
  border-radius: 5px;
  padding: 80px 64px 80px 28px;
}
@media (max-width: 992px) {
  .cid-tsOi4enFPR .row {
    padding: 48px 20px;
  }
}
.cid-tsOi4enFPR .card {
  padding: 0;
  border-radius: 0;
}
.cid-tsOi4enFPR .card:last-child {
  padding-right: 28px;
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tsOi4enFPR .card:last-child {
    padding: 0;
  }
}
.cid-tsOi4enFPR .card .image-wrapper {
  position: relative;
}
@media (max-width: 992px) {
  .cid-tsOi4enFPR .card .image-wrapper {
    margin-bottom: 80px;
  }
}
.cid-tsOi4enFPR .card .image-wrapper img {
  height: 600px;
  object-fit: cover;
  padding: 20px;
  border: 5px solid #ffffff;
  border-radius: 200px;
}
@media (max-width: 768px) {
  .cid-tsOi4enFPR .card .image-wrapper img {
    height: 450px;
  }
}
.cid-tsOi4enFPR .card .tags-wrapper {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tsOi4enFPR .card .tags-wrapper {
    margin-bottom: 16px;
  }
}
.cid-tsOi4enFPR .card .tags-wrapper .tags {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-tsOi4enFPR .card .tags-wrapper .tags .mbr-section-subtitle {
  margin: 0 28px 8px 0;
}
.cid-tsOi4enFPR .card .tags-wrapper .tags .mbr-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 8px 10px;
  margin: 0 6px 6px 0;
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.cid-tsOi4enFPR .card .title-wrapper .mbr-section-title {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .cid-tsOi4enFPR .card .mbr-section-btn .btn {
    width: 95%;
    min-height: 83px;
    border-radius: 70px;
  }
}
.cid-tsOi4enFPR .mbr-section-title {
  color: #ffffff;
}
.cid-tsOi4enFPR .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tsOi4enFPR .mbr-tag {
  color: #ffffff;
}
.cid-tsOihEI1ek {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOihEI1ek .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOihEI1ek .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOihEI1ek .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOihEI1ek .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOihEI1ek .container-fluid .row {
  padding: 0;
}
.cid-tsOihEI1ek .row {
  border: 3px solid #f4e8da;
  margin-top: -3px;
  border-radius: 5px;
}
.cid-tsOihEI1ek .card {
  padding: 64px 28px;
  border-radius: 0;
}
@media (max-width: 992px) {
  .cid-tsOihEI1ek .card {
    padding: 48px 20px;
  }
}
.cid-tsOihEI1ek .card .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tsOihEI1ek .card .image-wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.cid-tsOihEI1ek .card .image-wrapper img {
  width: 115px;
  height: 115px;
  object-fit: cover;
  position: absolute;
  top: -2rem;
  border-radius: 100%;
}
@media (max-width: 992px) {
  .cid-tsOihEI1ek .card .image-wrapper img {
    position: static;
  }
}
.cid-tsOihEI1ek .mbr-section-title {
  color: #f4e8da;
}
.cid-tsOiYAPvlR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOiYAPvlR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOiYAPvlR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOiYAPvlR .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOiYAPvlR .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOiYAPvlR .container-fluid .row {
  padding: 0;
}
.cid-tsOiYAPvlR .row {
  border: 3px solid #f4e8da;
  margin-top: -3px;
  border-radius: 5px;
}
.cid-tsOiYAPvlR .card {
  padding: 64px 28px;
  border-radius: 0;
}
@media (min-width: 992px) {
  .cid-tsOiYAPvlR .card {
    border-left: 1px solid #f4e8da;
    border-left: none;
    border-right: 2px solid #f4e8da;
  }
}
@media (max-width: 992px) {
  .cid-tsOiYAPvlR .card {
    padding: 48px 20px;
  }
}
.cid-tsOiYAPvlR .card:last-child {
  padding: 0;
}
@media (min-width: 992px) {
  .cid-tsOiYAPvlR .card:last-child {
    border-left: none;
    border-right: 2px solid #f4e8da;
    border-right: none;
    border-left: 1px solid #f4e8da;
  }
}
.cid-tsOiYAPvlR .card .title-wrapper {
  margin-bottom: 0;
}
.cid-tsOiYAPvlR .card .title-wrapper .mbr-section-title {
  margin-bottom: 28px;
}
.cid-tsOiYAPvlR .card .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tsOiYAPvlR .card .image-wrapper {
  overflow: hidden;
}
.cid-tsOiYAPvlR .card .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tsOiYAPvlR .card .text-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tsOiYAPvlR .mbr-section-title {
  color: #f4e8da;
}
.cid-tsOiYAPvlR .mbr-text {
  color: #f4e8da;
}
.cid-tsOiftPuzU {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOiftPuzU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOiftPuzU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOiftPuzU .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOiftPuzU .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOiftPuzU .container-fluid .row {
  padding: 0;
}
.cid-tsOiftPuzU .row {
  border: 3px solid #f4e8da;
  border-top: 2px solid #f4e8da;
  border-bottom: 2px solid #f4e8da;
  border-radius: 5px;
  margin-top: -3px;
}
.cid-tsOiftPuzU .card {
  border-radius: 0;
  border-top: 1px solid #f4e8da;
  border-bottom: 1px solid #f4e8da;
  padding: 28px;
}
@media (min-width: 992px) {
  .cid-tsOiftPuzU .card {
    border-right: 2px solid #f4e8da;
  }
}
@media (max-width: 992px) {
  .cid-tsOiftPuzU .card {
    padding: 20px;
  }
}
.cid-tsOiftPuzU .card .card-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.cid-tsOiftPuzU .card .card-wrap .card-wrapper .mbr-desc {
  margin-bottom: 28px;
}
.cid-tsOiftPuzU .card .card-wrap .card-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tsOiftPuzU .card .card-wrap .mbr-section-btn {
  margin-top: 28px;
}
@media (min-width: 992px) {
  .cid-tsOiftPuzU .card:nth-child(2n) {
    border-right: none;
    border-left: 1px solid #f4e8da;
  }
}
.cid-tsOiftPuzU .mbr-desc {
  color: #f4e8da;
}
.cid-tsOiftPuzU .mbr-text {
  color: #f4e8da;
}
.cid-tsOiLZYVX3 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #07553b;
}
.cid-tsOiLZYVX3 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOiLZYVX3 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOiLZYVX3 .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOiLZYVX3 .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOiLZYVX3 .row {
  margin-top: -3px;
  display: flex;
  justify-content: center;
  padding: 64px 28px;
  overflow: hidden;
  position: relative;
}
@media (max-width: 992px) {
  .cid-tsOiLZYVX3 .row {
    padding: 48px 20px;
  }
}
.cid-tsOiLZYVX3 .row:before {
  content: '';
  position: absolute;
  top: 8rem;
  width: 200vh;
  height: 300px;
  display: block;
  background-color: transparent;
  border: 5px solid #ff773d;
  border-radius: 100%;
}
.cid-tsOiLZYVX3 .card {
  border-right: 0;
  transform: rotate(17deg);
}
@media (max-width: 992px) {
  .cid-tsOiLZYVX3 .card {
    margin: 0 !important;
  }
}
.cid-tsOiLZYVX3 .card:nth-child(2) {
  transform: rotate(347deg);
  margin-top: 5rem;
}
.cid-tsOiLZYVX3 .card:last-child {
  transform: rotate(1deg);
  margin-left: -3rem;
  margin-top: -2.5rem;
}
.cid-tsOiLZYVX3 .card .image-wrapper {
  padding: 20px;
  border-radius: 16px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .cid-tsOiLZYVX3 .card .image-wrapper {
    margin-bottom: 48px;
  }
}
.cid-tsOiLZYVX3 .card .image-wrapper img {
  height: 300px;
  object-fit: cover;
}
.cid-tsOiLZYVX3 .card .image-wrapper .mbr-text {
  margin-bottom: 0;
  margin-top: 10px;
}
.cid-tsOiLZYVX3 .mbr-text {
  color: #07553B;
}
.cid-tsOiUU2o6p {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOiUU2o6p .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOiUU2o6p .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOiUU2o6p .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOiUU2o6p .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOiUU2o6p .container-fluid .row {
  padding: 0;
}
.cid-tsOiUU2o6p .row {
  border: 3px solid #f4e8da;
  border-radius: 5px;
  margin-top: -3px;
}
.cid-tsOiUU2o6p .card {
  padding: 64px 28px;
  border-radius: 0;
  position: relative;
  overflow: hidden;
}
@media (min-width: 992px) {
  .cid-tsOiUU2o6p .card {
    border-left: 1px solid #f4e8da;
    border-left: none;
    border-right: 2px solid #f4e8da;
  }
}
@media (max-width: 992px) {
  .cid-tsOiUU2o6p .card {
    padding: 48px 20px;
  }
}
@media (min-width: 992px) {
  .cid-tsOiUU2o6p .card:last-child {
    border-left: none;
    border-right: 2px solid #f4e8da;
    border-right: none;
    border-left: 1px solid #f4e8da;
  }
}
@media (max-width: 992px) {
  .cid-tsOiUU2o6p .card:last-child {
    padding-top: 0;
  }
}
.cid-tsOiUU2o6p .card .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tsOiUU2o6p .card .card-wrapper img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
  margin-bottom: 28px;
  display: inline;
}
@media (max-width: 992px) {
  .cid-tsOiUU2o6p .card .card-wrapper img {
    margin-bottom: 20px;
  }
}
.cid-tsOiUU2o6p .card .card-wrapper .mbr-name {
  margin-bottom: 28px;
}
@media (max-width: 992px) {
  .cid-tsOiUU2o6p .card .card-wrapper .mbr-name {
    margin-bottom: 20px;
  }
}
.cid-tsOiUU2o6p .card .card-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tsOiUU2o6p .mbr-section-title {
  color: #f4e8da;
}
.cid-tsOiUU2o6p .mbr-name {
  color: #f4e8da;
}
.cid-tsOiUU2o6p .mbr-text {
  color: #f4e8da;
}
.cid-tsOj2Y9VuR {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #07553b;
}
.cid-tsOj2Y9VuR .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOj2Y9VuR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOj2Y9VuR .container-fluid {
  padding: 0 16px;
}
@media (max-width: 992px) {
  .cid-tsOj2Y9VuR .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOj2Y9VuR .container-fluid .row {
  padding: 0;
}
.cid-tsOj2Y9VuR .row {
  margin-top: 0;
}
.cid-tsOj2Y9VuR .card {
  padding: 0;
}
.cid-tsOj2Y9VuR .card .title-wrapper {
  padding: 64px 28px 64px 28px;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-tsOj2Y9VuR .card .title-wrapper {
    padding: 48px 20px;
  }
}
.cid-tsOj2Y9VuR .card .title-wrapper .title-wrap {
  position: sticky;
  top: 5rem;
}
@media (max-width: 992px) {
  .cid-tsOj2Y9VuR .card .title-wrapper .title-wrap {
    position: static;
  }
}
.cid-tsOj2Y9VuR .card .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 28px;
}
.cid-tsOj2Y9VuR .card .title-wrapper .title-wrap .image-wrapper {
  display: flex;
  justify-content: center;
}
.cid-tsOj2Y9VuR .card .title-wrapper .title-wrap .image-wrapper img {
  height: 560px;
  object-fit: cover;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .cid-tsOj2Y9VuR .card .title-wrapper .title-wrap .image-wrapper img {
    height: 450px;
  }
}
.cid-tsOj2Y9VuR .card .card-wrapper {
  border-radius: 5px;
  margin: 0 3px 3px 3px;
  padding: 24px;
  background-color: #293d3e;
  -webkit-flex: auto;
}
.cid-tsOj2Y9VuR .card .card-wrapper:first-child {
  margin-top: 3px;
}
@media (max-width: 992px) {
  .cid-tsOj2Y9VuR .card .card-wrapper {
    padding: 48px 20px;
  }
}
.cid-tsOj2Y9VuR .card .card-wrapper .mbr-desc {
  margin-bottom: 32px;
}
.cid-tsOj2Y9VuR .card .card-wrapper .mbr-card-title {
  margin-bottom: 24px;
}
.cid-tsOj2Y9VuR .card .card-wrapper .mbr-text {
  margin-bottom: 42px;
}
.cid-tsOj2Y9VuR .card .card-wrapper .date-wrapper .mbr-date {
  display: inline-flex;
  justify-content: center;
  padding: 8px 10px;
  align-items: center;
  margin: 0;
  border-radius: 30px;
  border: 1px solid #f4e8da;
}
.cid-tsOj2Y9VuR .mbr-section-title {
  color: #ffffff;
}
.cid-tsOj2Y9VuR .mbr-desc {
  color: #f4e8da;
}
.cid-tsOj2Y9VuR .mbr-card-title {
  color: #f4e8da;
}
.cid-tsOj2Y9VuR .mbr-text {
  color: #f4e8da;
}
.cid-tsOj2Y9VuR .mbr-date {
  color: #e15427;
}
.cid-tsOj2Y9VuR .mbr-date,
.cid-tsOj2Y9VuR .date-wrapper {
  color: #f4e8da;
}
.cid-tsOm8hqAJL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #07553b;
}
.cid-tsOm8hqAJL .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOm8hqAJL .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOm8hqAJL .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOm8hqAJL .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOm8hqAJL .row {
  margin-top: -3px;
  display: flex;
  justify-content: center;
  padding: 20px;
  overflow: hidden;
  position: relative;
}
.cid-tsOm8hqAJL .card {
  border-right: 0;
}
.cid-tsOm8hqAJL .card .image-wrapper {
  display: flex;
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tsOm8hqAJL .card .image-wrapper {
    margin-bottom: 28px;
  }
}
.cid-tsOm8hqAJL .card .image-wrapper img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 1100px) {
  .cid-tsOm8hqAJL .card .image-wrapper img {
    width: 100%;
  }
}
.cid-tsOlpZjRyo {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOlpZjRyo .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOlpZjRyo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOlpZjRyo .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOlpZjRyo .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOlpZjRyo .container-fluid .row {
  padding: 0;
}
.cid-tsOlpZjRyo .row {
  border: 3px solid #f4e8da;
  margin-top: -3px;
  border-radius: 5px;
}
.cid-tsOlpZjRyo .card {
  padding: 64px 28px;
  border-radius: 0;
}
@media (max-width: 992px) {
  .cid-tsOlpZjRyo .card {
    padding: 48px 20px;
  }
}
.cid-tsOlpZjRyo .card .title-wrapper {
  width: 80%;
  margin: 0 auto 48px;
}
.cid-tsOlpZjRyo .card .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
.cid-tsOlpZjRyo .card .google-map {
  border: 5px solid #f4e8da;
  height: 400px;
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .cid-tsOlpZjRyo .card .google-map {
    height: 250px;
  }
}
.cid-tsOlpZjRyo .card .google-map iframe {
  height: 100%;
}
.cid-tsOlpZjRyo .mbr-section-title {
  color: #f4e8da;
  text-align: center;
}
.cid-tsOlurdiE9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOlurdiE9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOlurdiE9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOlurdiE9 .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOlurdiE9 .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOlurdiE9 .row {
  border: 3px solid #f4e8da;
  margin-top: -3px;
  border-radius: 5px;
  padding: 64px 28px;
}
@media (max-width: 992px) {
  .cid-tsOlurdiE9 .row {
    padding: 48px 20px;
  }
}
.cid-tsOlurdiE9 .card {
  border-radius: 0;
  padding: 0 40px 0 0;
}
.cid-tsOlurdiE9 .card .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tsOlurdiE9 .card .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tsOlurdiE9 .card .text-wrapper .mbr-text {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tsOlurdiE9 .card .text-wrapper .mbr-text {
    margin-bottom: 32px;
  }
}
.cid-tsOlurdiE9 .card .mbr-form .row {
  border: none;
  padding: 0;
}
.cid-tsOlurdiE9 .card .mbr-form .dragArea.row {
  border: none;
  padding: 0;
}
.cid-tsOlurdiE9 .card .mbr-form .dragArea.row .form-group .form-control {
  min-height: 70px;
  border-radius: 200px;
  background-color: transparent;
  border: 1px solid #f4e8da !important;
}
.cid-tsOlurdiE9 .card .mbr-form .dragArea.row .form-group .form-control::placeholder {
  color: #f4e8da;
}
.cid-tsOlurdiE9 .card .mbr-form .dragArea.row .form-group .form-check-input:checked {
  background-color: #ff5740;
  border-color: #ff5740;
}
.cid-tsOlurdiE9 .card .mbr-form .dragArea.row .mbr-section-btn .btn {
  min-height: 70px;
  border-radius: 200px;
}
@media (max-width: 992px) {
  .cid-tsOlurdiE9 .card .mbr-form .dragArea.row .mbr-section-btn .btn {
    width: 100% !important;
  }
}
.cid-tsOlurdiE9 .card:last-child {
  justify-content: space-between;
  padding-right: 0;
  padding-left: 0;
}
.cid-tsOlurdiE9 .mbr-desc {
  padding: 0 12px;
  margin-bottom: 0;
  margin-top: 20px;
  color: #f4e8da;
}
@media (max-width: 992px) {
  .cid-tsOlurdiE9 .mbr-desc {
    padding: 0;
  }
}
.cid-tsOlurdiE9 .mbr-section-title {
  color: #f4e8da;
}
.cid-tsOlurdiE9 .mbr-text {
  color: #f4e8da;
}
.cid-tsOlurdiE9 LABEL {
  color: #d2d2d2;
}
.cid-tsOinraSjd {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #293d3e;
}
.cid-tsOinraSjd .mbr-fallback-image.disabled {
  display: none;
}
.cid-tsOinraSjd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tsOinraSjd .container-fluid {
  padding: 0 16px;
}
@media (max-width: 991px) {
  .cid-tsOinraSjd .container-fluid {
    padding: 0 12px;
  }
}
.cid-tsOinraSjd .row {
  border: 3px solid #f4e8da;
  margin-top: -3px;
  border-radius: 5px;
  padding: 64px 28px 28px;
  padding: 64px 28px 64px;
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .row {
    padding: 28px 20px 28px;
  }
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .row {
    padding: 48px 20px 20px;
  }
}
.cid-tsOinraSjd .card {
  border-radius: 0;
  padding: 0 40px 0 0;
}
.cid-tsOinraSjd .card .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .card .list {
    margin-bottom: 48px;
  }
}
.cid-tsOinraSjd .card .list li {
  margin-bottom: 20px;
}
.cid-tsOinraSjd .card .text-wrapper {
  margin-bottom: 64px;
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .card .text-wrapper {
    margin-bottom: 48px;
  }
}
.cid-tsOinraSjd .card .mbr-copy {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .card .mbr-copy {
    margin-bottom: 20px;
  }
}
.cid-tsOinraSjd .card .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-tsOinraSjd .card .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tsOinraSjd .card .soc-wrapper .socials {
  display: inline-flex;
}
.cid-tsOinraSjd .card .soc-wrapper .socials .mbr-soc {
  margin: 0 24px 0 0;
}
.cid-tsOinraSjd .mbr-section-title {
  color: #f4e8da;
}
.cid-tsOinraSjd .mbr-text {
  color: #f4e8da;
}
.cid-tsOinraSjd .list {
  color: #f4e8da;
}
.cid-tsOinraSjd .mbr-copy {
  color: #f4e8da;
}
.cid-tsOinraSjd .mbr-soc {
  color: #d2d2d2;
}
.cid-tsOinraSjd .mbr-soc,
.cid-tsOinraSjd .soc-wrapper {
  color: #f4e8da;
}
