body {
  font-family: 'Be Vietnam Pro', sans-serif;
}
.display-1 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 5.3rem;
  line-height: 1.17;
}
.display-1 > .mbr-iconfont {
  font-size: 6.625rem;
}
.display-2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 3.75rem;
  line-height: 1.31;
}
.display-2 > .mbr-iconfont {
  font-size: 4.6875rem;
}
.display-4 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
}
.display-4 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-5 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.875rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.34375rem;
}
.display-7 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}
.display-7 > .mbr-iconfont {
  font-size: 1.40625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.24rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.71rem;
    font-size: calc( 2.505rem + (5.3 - 2.505) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.17 * (2.505rem + (5.3 - 2.505) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3rem;
    font-size: calc( 1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.31 * (1.9625rem + (3.75 - 1.9625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.6 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #913bff !important;
}
.bg-success {
  background-color: #ff7a41 !important;
}
.bg-info {
  background-color: #f0e4ff !important;
}
.bg-warning {
  background-color: #738bae !important;
}
.bg-danger {
  background-color: #ec2016 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #913bff !important;
  border-color: #913bff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #6400e3 !important;
  border-color: #6400e3 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #6400e3 !important;
  border-color: #6400e3 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #0066ff !important;
  border-color: #0066ff !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0043a8 !important;
  border-color: #0043a8 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0043a8 !important;
  border-color: #0043a8 !important;
}
.btn-info,
.btn-info:active {
  background-color: #f0e4ff !important;
  border-color: #f0e4ff !important;
  color: #6500e4 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #c08dff !important;
  border-color: #c08dff !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #6500e4 !important;
  background-color: #c08dff !important;
  border-color: #c08dff !important;
}
.btn-success,
.btn-success:active {
  background-color: #ff7a41 !important;
  border-color: #ff7a41 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #e94600 !important;
  border-color: #e94600 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #e94600 !important;
  border-color: #e94600 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #738bae !important;
  border-color: #738bae !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #4a6080 !important;
  border-color: #4a6080 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #4a6080 !important;
  border-color: #4a6080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ec2016 !important;
  border-color: #ec2016 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #9e140d !important;
  border-color: #9e140d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #9e140d !important;
  border-color: #9e140d !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #913bff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #6400e3 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #913bff !important;
  border-color: #913bff !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0066ff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #0043a8 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0066ff !important;
  border-color: #0066ff !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f0e4ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #c08dff !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #6500e4 !important;
  background-color: #f0e4ff !important;
  border-color: #f0e4ff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff7a41;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #e94600 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #ff7a41 !important;
  border-color: #ff7a41 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #738bae;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #4a6080 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #738bae !important;
  border-color: #738bae !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ec2016;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #9e140d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ec2016 !important;
  border-color: #ec2016 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.text-primary {
  color: #913bff !important;
}
.text-secondary {
  color: #0066ff !important;
}
.text-success {
  color: #ff7a41 !important;
}
.text-info {
  color: #f0e4ff !important;
}
.text-warning {
  color: #738bae !important;
}
.text-danger {
  color: #ec2016 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #010d4c !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #5d00d4 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #003d99 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #da4100 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #b77eff !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #455976 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #90120c !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #913bff;
}
.nav-tabs .nav-link:not(.active) {
  color: #02274a;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #f0e4ff;
}
.alert-warning {
  background-color: #738bae;
}
.alert-danger {
  background-color: #ec2016;
}
.mbr-gallery-filter li.active .btn {
  background-color: #913bff;
  border-color: #913bff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #913bff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c4cedd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fbd5d3;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.875rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #913bff !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.875rem;
}
blockquote {
  border-color: #913bff;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #913bff;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #913bff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #913bff;
  border-bottom-color: #913bff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #913bff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #0066ff !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23913bff' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
a:hover {
  background-image: none !important;
}
.container {
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 984px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1164px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1344px;
  }
}
.container .row {
  margin-left: -12px;
  margin-right: -12px;
}
.container .row > [class*="col"] {
  padding-left: 12px;
  padding-right: 12px;
}
.btn {
  min-height: 48px;
  padding: 8px 40px;
  border-radius: 5px;
  box-shadow: none;
  outline: none;
  border: none;
  position: relative;
}
.btn::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  transform: scale(0);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
}
@media (max-width: 575px) {
  .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .mbr-section-btn .btn {
    width: 100%;
  }
}
.mbr-section-btn .btn-primary:hover {
  background-color: #0066ff !important;
  color: #ffffff !important;
}
.mbr-section-btn .btn-primary:hover::before,
.mbr-section-btn .btn-secondary:hover::before,
.mbr-section-btn .btn-info:hover::before,
.mbr-section-btn .btn-success:hover::before,
.mbr-section-btn .btn-warning:hover::before,
.mbr-section-btn .btn-danger:hover::before,
.mbr-section-btn .btn-white:hover::before,
.mbr-section-btn .btn-black:hover::before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.cid-sXTmEA3Jiz {
  z-index: 1000;
  width: 100%;
}
.cid-sXTmEA3Jiz nav.navbar {
  position: fixed;
}
.cid-sXTmEA3Jiz .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXTmEA3Jiz .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sXTmEA3Jiz .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sXTmEA3Jiz .dropdown-item:hover,
.cid-sXTmEA3Jiz .dropdown-item:focus {
  background: #913bff !important;
  color: white !important;
}
.cid-sXTmEA3Jiz .dropdown-item:hover span {
  color: white;
}
.cid-sXTmEA3Jiz .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sXTmEA3Jiz .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sXTmEA3Jiz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sXTmEA3Jiz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sXTmEA3Jiz .nav-link {
  position: relative;
}
.cid-sXTmEA3Jiz .container {
  display: flex;
  margin: auto;
}
@media (min-width: 992px) {
  .cid-sXTmEA3Jiz .container {
    flex-wrap: nowrap;
  }
}
.cid-sXTmEA3Jiz .iconfont-wrapper {
  color: #913bff !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sXTmEA3Jiz .dropdown-menu,
.cid-sXTmEA3Jiz .navbar.opened {
  background: #ffffff !important;
}
.cid-sXTmEA3Jiz .nav-item:focus,
.cid-sXTmEA3Jiz .nav-link:focus {
  outline: none;
}
.cid-sXTmEA3Jiz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sXTmEA3Jiz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sXTmEA3Jiz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sXTmEA3Jiz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sXTmEA3Jiz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sXTmEA3Jiz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sXTmEA3Jiz .navbar {
  min-height: 71px;
  transition: all 0.4s ease-out;
  position: absolute;
  padding: 35px 40px !important;
  background-color: transparent;
  box-sizing: content-box;
  box-shadow: none !important;
}
.cid-sXTmEA3Jiz .navbar.opened {
  transition: all 0.3s;
}
.cid-sXTmEA3Jiz .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sXTmEA3Jiz .navbar .navbar-logo img {
  width: auto;
}
.cid-sXTmEA3Jiz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sXTmEA3Jiz .navbar.collapsed {
  justify-content: center;
}
.cid-sXTmEA3Jiz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sXTmEA3Jiz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sXTmEA3Jiz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sXTmEA3Jiz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sXTmEA3Jiz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sXTmEA3Jiz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sXTmEA3Jiz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sXTmEA3Jiz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sXTmEA3Jiz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sXTmEA3Jiz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sXTmEA3Jiz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sXTmEA3Jiz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sXTmEA3Jiz .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sXTmEA3Jiz .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sXTmEA3Jiz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sXTmEA3Jiz .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sXTmEA3Jiz .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sXTmEA3Jiz .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sXTmEA3Jiz .navbar .icons-menu {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sXTmEA3Jiz .navbar.navbar-short {
  min-height: 60px;
}
.cid-sXTmEA3Jiz .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sXTmEA3Jiz .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sXTmEA3Jiz .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sXTmEA3Jiz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sXTmEA3Jiz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sXTmEA3Jiz .dropdown-item.active,
.cid-sXTmEA3Jiz .dropdown-item:active {
  background-color: transparent;
}
.cid-sXTmEA3Jiz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sXTmEA3Jiz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sXTmEA3Jiz .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sXTmEA3Jiz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sXTmEA3Jiz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sXTmEA3Jiz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sXTmEA3Jiz ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sXTmEA3Jiz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sXTmEA3Jiz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sXTmEA3Jiz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sXTmEA3Jiz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXTmEA3Jiz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sXTmEA3Jiz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sXTmEA3Jiz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXTmEA3Jiz nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sXTmEA3Jiz nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sXTmEA3Jiz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sXTmEA3Jiz .navbar-dropdown {
  padding: 0;
  position: fixed;
}
.cid-sXTmEA3Jiz a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sXTmEA3Jiz .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sXTmEA3Jiz .navbar {
    height: 70px;
  }
  .cid-sXTmEA3Jiz .navbar.opened {
    height: auto;
  }
  .cid-sXTmEA3Jiz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sXTmEA3Jiz .navbar-short {
  padding: 5px 40px !important;
  background-color: #ffffff;
  box-shadow: 0 13px 35px -12px rgba(35, 35, 35, 0.1);
}
.cid-sXTmEA3Jiz .container-fluid {
  padding: 0 !important;
}
@media (min-width: 992px) {
  .cid-sXTmEA3Jiz .container-fluid {
    flex-wrap: nowrap;
  }
}
@media (max-width: 991px) {
  .cid-sXTmEA3Jiz .container-fluid .show {
    padding-bottom: 30px;
  }
}
@media (min-width: 992px) {
  .cid-sXTmEA3Jiz .navbar-nav {
    margin-right: auto;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .cid-sXTmEA3Jiz .navbar-nav {
    margin-left: 40px;
  }
}
@media (min-width: 1400px) {
  .cid-sXTmEA3Jiz .navbar-nav {
    margin-left: 145px;
  }
}
.cid-sXTmEA3Jiz .nav-item a:hover {
  color: #ffffff !important;
}
.cid-sXTmEA3Jiz .nav-item .nav-link {
  position: relative !important;
}
.cid-sXTmEA3Jiz .nav-item .nav-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #913bff;
  left: 0;
  bottom: 0;
  transform: scale(0, 1);
  transform-origin: 0 100%;
  opacity: 0;
  transition: transform 0.3s ease-in-out;
}
.cid-sXTmEA3Jiz .nav-item .nav-link:hover {
  color: #913bff !important;
}
.cid-sXTmEA3Jiz .nav-item .nav-link:hover:before {
  opacity: 1;
  transform: scale(1);
}
@media (max-width: 991px) {
  .cid-sXTmEA3Jiz .nav-item .show {
    padding-bottom: 0;
  }
}
.cid-sXTmEA3Jiz .tel-menu {
  transition: 0s all !important;
}
@media (min-width: 992px) {
  .cid-sXTmEA3Jiz .tel-menu {
    margin-right: 48px;
    margin-left: auto;
    order: 49;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cid-sXTmEA3Jiz .tel-menu {
    display: none;
  }
}
.cid-sXTmEA3Jiz .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 0;
  word-break: normal;
}
@media (max-width: 991px) {
  .cid-sXTmEA3Jiz .mbr-text {
    text-align: center !important;
  }
}
.cid-sXTmEA3Jiz .mbr-text a {
  opacity: 1;
  text-decoration: underline;
}
.cid-sXTmEA3Jiz .mbr-section-btn {
  display: flex;
}
@media (max-width: 991px) {
  .cid-sXTmEA3Jiz .mbr-section-btn {
    justify-content: center;
    margin-top: 60px;
  }
}
@media (min-width: 992px) {
  .cid-sXTmEA3Jiz .mbr-section-btn {
    max-width: 35%;
    margin-left: -0.6rem !important;
    margin-right: -0.6rem !important;
    order: 50;
  }
}
.cid-sXTmEA3Jiz .mbr-section-btn .btn {
  max-width: 200px;
  width: 200px;
  min-height: 55px;
  padding: 5px 10px;
  border-radius: 9px;
}
.cid-sXTmEA3Jiz .mbr-section-btn .btn:hover:before {
  display: none;
}
.cid-sXTmEA3Jiz .navbar-toggler:before {
  content: '';
  position: absolute;
  right: -7px;
  top: -10px;
  width: 44px;
  height: 38px;
  background-color: #913bff;
  border-radius: 0.25rem;
}
.cid-sXTmOgU3Ke {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
.cid-sXTmOgU3Ke .container,
.cid-sXTmOgU3Ke .container-fluid {
  position: static;
}
@media (min-width: 1400px) {
  .cid-sXTmOgU3Ke .text-wrapper {
    padding-right: 48px;
  }
}
.cid-sXTmOgU3Ke .label-text {
  width: 100%;
  color: #ff7a41;
  margin-bottom: 20px;
}
.cid-sXTmOgU3Ke .label-text span {
  padding: 8px 18px;
  background-color: #f0e4ff;
  border-radius: 15px;
  color: inherit;
}
.cid-sXTmOgU3Ke .mbr-section-title {
  color: #010d4c;
  margin-bottom: 0;
}
.cid-sXTmOgU3Ke .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 15px;
  margin-top: 20px;
}
.cid-sXTmOgU3Ke .mbr-section-btn {
  margin-top: 6px;
}
.cid-sXTmOgU3Ke .image-wrapper {
  max-height: 100%;
  position: relative;
  z-index: 2;
}
.cid-sXTmOgU3Ke .image-wrapper img {
  max-width: 100%;
  margin-left: auto!important;
}
@media (min-width: 768px) {
  .cid-sXTmOgU3Ke .image-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    width: 32.7%;
    padding-top: 10rem;
    right: 7%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .cid-sXTmOgU3Ke .image-wrapper {
    width: 40%;
    right: 1%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cid-sXTmOgU3Ke .image-wrapper {
    width: 40%;
    top: 0;
    right: 1%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sXTmOgU3Ke .image-wrapper {
    width: 40%;
    top: 8%;
    right: 1%;
  }
}
@media (max-width: 767px) {
  .cid-sXTmOgU3Ke .image-wrapper {
    max-width: 474px !important;
    margin: 80px auto 0;
  }
}
.cid-sXTmOgU3Ke .bg-round {
  position: absolute;
  top: -55%;
  padding: 0;
  padding-top: 10rem;
}
.cid-sXTmOgU3Ke .bg-round svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cid-sXTmOgU3Ke .bg-round {
    width: 56%;
    right: 0;
    transform: scale(-1, 1);
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  .cid-sXTmOgU3Ke .bg-round {
    width: 44%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sXTmOgU3Ke .bg-round {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-sXTmOgU3Ke .bg-round {
    display: none;
  }
}
.cid-sXTmOgU3Ke .col-text {
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .cid-sXTmOgU3Ke .col-text {
    margin-right: auto;
  }
}
.cid-sXTmOgU3Ke .mbr-text,
.cid-sXTmOgU3Ke .mbr-section-btn {
  color: #000000;
}
.cid-sXTofj7LEw {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-sXTofj7LEw .row {
  align-items: center;
  display: flex;
}
@media (max-width: 991px) {
  .cid-sXTofj7LEw .row {
    text-align: center !important;
  }
}
@media (max-width: 991px) {
  .cid-sXTofj7LEw .col-text {
    padding-top: 30px;
  }
}
.cid-sXTofj7LEw .mbr-section-title {
  color: #ff7a41;
}
.cid-sXTofj7LEw .mbr-section-subtitle {
  color: #010d4c;
}
.cid-sXTofj7LEw .mbr-text {
  color: #000000;
  opacity: 0.8;
}
.cid-sXTofj7LEw .colored-text {
  color: #913bff;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.cid-sXTotFYdqd {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sXTotFYdqd .row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-sXTotFYdqd .mbr-section-title {
  color: #010d4c;
}
.cid-sXTotFYdqd .mbr-section-subtitle {
  color: #00284E;
  opacity: 0.8;
}
.cid-sXTotFYdqd .card-title {
  color: #010d4c;
  margin-bottom: 26px;
}
@media (max-width: 991px) {
  .cid-sXTotFYdqd .card-title {
    margin-bottom: 18px;
  }
}
.cid-sXTotFYdqd .card-title a {
  font-weight: 700;
}
.cid-sXTotFYdqd .card-title a:hover {
  color: #913bff !important;
}
.cid-sXTotFYdqd .icon-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 25px;
}
@media (max-width: 991px) {
  .cid-sXTotFYdqd .icon-box {
    margin-bottom: 20px;
  }
}
.cid-sXTotFYdqd .icon-box .mbr-iconfont {
  font-size: 40px;
  color: #ff7a41;
}
.cid-sXTotFYdqd .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 20px;
}
.cid-sXTotFYdqd .icon-link-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 6px;
}
.cid-sXTotFYdqd .icon-link-box .mbr-iconfont {
  font-size: 28px;
  color: #010d4c;
  transition: all 0.3s ease-in-out;
}
.cid-sXTotFYdqd .icon-link-box .mbr-iconfont:hover {
  color: #ff7a41 !important;
}
.cid-sXTotFYdqd .col-card {
  margin-top: 30px;
}
.cid-sXTotFYdqd .card-wrapper {
  padding: 50px 5px 22px 35px;
  background-color: transparent;
  border-radius: 15px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 30px 80px rgba(90, 144, 225, 0.1);
}
@media (max-width: 991px) {
  .cid-sXTotFYdqd .card-wrapper {
    padding: 15px 5px 15px 20px;
  }
}
.cid-sXTotFYdqd .card-wrapper:hover {
  transform: translateY(-8px);
}
.cid-sXTp3Zou4i {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background1.jpg");
  overflow: hidden;
  position: relative;
}
.cid-sXTp3Zou4i .container,
.cid-sXTp3Zou4i .container-fluid {
  position: static;
}
.cid-sXTp3Zou4i .label-text {
  width: 100%;
  color: #ff7a41;
  margin-bottom: 20px;
}
.cid-sXTp3Zou4i .label-text span {
  padding: 8px 18px;
  background-color: #f0e4ff;
  border-radius: 15px;
  color: inherit;
}
.cid-sXTp3Zou4i .mbr-section-title {
  color: #010d4c;
  margin-bottom: 25px;
}
.cid-sXTp3Zou4i .colored-text {
  color: #913bff;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.cid-sXTp3Zou4i .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .cid-sXTp3Zou4i .mbr-text {
    padding-right: 48px;
  }
}
@media (max-width: 991px) {
  .cid-sXTp3Zou4i .mbr-text {
    margin-top: 38px;
  }
}
.cid-sXTp3Zou4i .mbr-section-btn {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .cid-sXTp3Zou4i .mbr-section-btn {
    margin-top: 30px;
  }
}
.cid-sXTp3Zou4i .mbr-section-btn .btn:before {
  display: none;
}
.cid-sXTp3Zou4i .mbr-section-btn .btn:hover:before {
  display: none;
}
.cid-sXTp3Zou4i .image-wrapper {
  max-height: 100%;
}
.cid-sXTp3Zou4i .image-wrapper img {
  max-width: 100%;
  margin-left: auto!important;
}
@media (min-width: 768px) {
  .cid-sXTp3Zou4i .image-wrapper {
    position: absolute;
    top: 14%;
    width: 37.13%;
    z-index: 2;
    right: 4%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .cid-sXTp3Zou4i .image-wrapper {
    width: 44%;
    top: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cid-sXTp3Zou4i .image-wrapper {
    width: 37.13%;
    top: 26%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sXTp3Zou4i .image-wrapper {
    top: 26%;
    right: 1%;
  }
}
@media (max-width: 767px) {
  .cid-sXTp3Zou4i .image-wrapper {
    max-width: 474px !important;
    margin: 80px auto 0;
  }
}
.cid-sXTp3Zou4i .image-wrapper:before {
  content: '';
  position: absolute;
  width: 918px;
  height: 918px;
  top: -28%;
  z-index: -1;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 6px 73px 62px rgba(0, 38, 174, 0.02);
  box-sizing: border-box;
  right: -17%;
}
@media (max-width: 1399px) {
  .cid-sXTp3Zou4i .image-wrapper:before {
    width: 750px;
    height: 750px;
  }
}
@media (max-width: 1199px) {
  .cid-sXTp3Zou4i .image-wrapper:before {
    width: 580px;
    height: 580px;
  }
}
@media (max-width: 991px) {
  .cid-sXTp3Zou4i .image-wrapper:before {
    width: 455px;
    height: 455px;
  }
}
@media (max-width: 767px) {
  .cid-sXTp3Zou4i .image-wrapper:before {
    display: none;
  }
}
.cid-sXTp3Zou4i .col-text {
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .cid-sXTp3Zou4i .col-text {
    margin-right: auto;
  }
}
.cid-sXTp3Zou4i .list {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-sXTp3Zou4i .list {
    width: 100%;
    padding-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .cid-sXTp3Zou4i .list {
    text-align: left;
    max-width: 440px;
  }
}
.cid-sXTp3Zou4i .list-item {
  display: flex;
  align-items: center;
}
.cid-sXTp3Zou4i .list-item:not(:first-child) {
  margin-top: 13px;
}
.cid-sXTp3Zou4i .icon-wrapper {
  display: flex;
  margin-right: 20px;
}
.cid-sXTp3Zou4i .icon-wrapper span {
  color: #0066ff;
  font-size: 13px;
}
.cid-sXTp3Zou4i .list-item-text {
  flex-grow: 1;
  color: #0B3C6A;
}
.cid-sXTp3Zou4i .mbr-text,
.cid-sXTp3Zou4i .mbr-section-btn {
  color: #000000;
}
.cid-sXTpTqEWQr {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ff7a41;
}
.cid-sXTpTqEWQr .mbr-section-title {
  color: #010d4c;
  margin-bottom: 8px;
}
.cid-sXTpTqEWQr .mbr-section-subtitle {
  color: #00284E;
  opacity: 0.8;
  padding: 15px 0 20px;
  margin-bottom: 0;
}
@media (min-width: 1400px) {
  .cid-sXTpTqEWQr .mbr-section-subtitle {
    margin-left: 3rem!important;
    margin-right: 3rem!important;
  }
}
.cid-sXTpTqEWQr .mbr-section-btn {
  margin-top: 6px;
}
.cid-sXTpTqEWQr .mbr-section-btn .btn:before {
  display: none;
}
.cid-sXTpTqEWQr .mbr-section-btn .btn:hover:before {
  display: none;
}
.cid-sXTpTqEWQr .image-wrapper {
  margin-top: 40px;
}
.cid-sXTpTqEWQr .image-wrapper img {
  max-width: 800px;
  width: 100%;
}
.cid-sXTpTqEWQr .mbr-section-title,
.cid-sXTpTqEWQr .mbr-section-btn {
  color: #ffffff;
}
.cid-sXTqGeVFJv {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ff7a41;
}
.cid-sXTqGeVFJv .row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-sXTqGeVFJv .mbr-section-title {
  color: #010d4c;
}
.cid-sXTqGeVFJv .mbr-section-subtitle {
  color: #00284E;
  opacity: 0.8;
}
.cid-sXTqGeVFJv .card-title {
  color: #010d4c;
  margin-top: 30px;
}
.cid-sXTqGeVFJv .card-title a {
  font-weight: 700 !important;
}
.cid-sXTqGeVFJv .card-title a:hover {
  text-decoration: underline;
}
.cid-sXTqGeVFJv .icon-box {
  display: flex;
  justify-content: flex-start;
}
.cid-sXTqGeVFJv .icon-box .mbr-iconfont {
  font-size: 45px;
  color: #ec2016;
}
.cid-sXTqGeVFJv .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-top: 16px;
}
.cid-sXTqGeVFJv .icon-link-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}
.cid-sXTqGeVFJv .icon-link-box .mbr-iconfont {
  font-size: 37px;
  color: #cecece;
  transition: all 0.3s ease-in-out;
}
.cid-sXTqGeVFJv .icon-link-box .mbr-iconfont:hover {
  transform: scale(1.1);
}
.cid-sXTqGeVFJv .col-card {
  margin-top: 30px;
}
.cid-sXTqGeVFJv .card-wrapper {
  padding: 52px 40px 45px 50px;
  height: 100%;
}
@media (max-width: 1199px) {
  .cid-sXTqGeVFJv .card-wrapper {
    padding: 40px 20px 20px;
  }
}
@media (min-width: 768px) {
  .cid-sXTqGeVFJv .card-1 {
    padding-left: 0;
    margin-right: 8px;
  }
}
.cid-sXTqGeVFJv .mbr-text,
.cid-sXTqGeVFJv .link {
  color: #ffffff;
}
.cid-sXTqGIe8XP {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #ff7a41;
}
.cid-sXTqGIe8XP .row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-sXTqGIe8XP .mbr-section-title {
  color: #010d4c;
}
.cid-sXTqGIe8XP .mbr-section-subtitle {
  color: #00284E;
  opacity: 0.8;
}
.cid-sXTqGIe8XP .card-title {
  color: #010d4c;
  margin-top: 30px;
}
.cid-sXTqGIe8XP .card-title a {
  font-weight: 700 !important;
}
.cid-sXTqGIe8XP .card-title a:hover {
  text-decoration: underline;
}
.cid-sXTqGIe8XP .icon-box {
  display: flex;
  justify-content: flex-start;
}
.cid-sXTqGIe8XP .icon-box .mbr-iconfont {
  font-size: 45px;
  color: #ec2016;
}
.cid-sXTqGIe8XP .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-top: 16px;
}
.cid-sXTqGIe8XP .icon-link-box {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}
.cid-sXTqGIe8XP .icon-link-box .mbr-iconfont {
  font-size: 37px;
  color: #cecece;
  transition: all 0.3s ease-in-out;
}
.cid-sXTqGIe8XP .icon-link-box .mbr-iconfont:hover {
  transform: scale(1.1);
}
.cid-sXTqGIe8XP .col-card {
  margin-top: 30px;
}
.cid-sXTqGIe8XP .card-wrapper {
  padding: 52px 40px 45px 50px;
  height: 100%;
}
@media (max-width: 1199px) {
  .cid-sXTqGIe8XP .card-wrapper {
    padding: 40px 20px 20px;
  }
}
@media (min-width: 768px) {
  .cid-sXTqGIe8XP .card-1 {
    padding-left: 0;
    margin-right: 8px;
  }
}
.cid-sXTqGIe8XP .mbr-text,
.cid-sXTqGIe8XP .link {
  color: #ffffff;
}
.cid-sXTrPuD7ji {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-sXTrPuD7ji .row {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.cid-sXTrPuD7ji .label-text {
  width: 100%;
  color: #ff7a41;
  margin-bottom: 8px;
}
.cid-sXTrPuD7ji .mbr-section-title {
  color: #010d4c;
  margin-bottom: 8px;
}
.cid-sXTrPuD7ji .mbr-text {
  color: #00284E;
  opacity: 0.8;
  padding-bottom: 20px;
  padding-top: 10px;
  margin-bottom: 0;
}
.cid-sXTrPuD7ji .mbr-section-btn {
  margin-top: 20px;
}
.cid-sXTrPuD7ji .mbr-section-btn .btn-secondary:hover,
.cid-sXTrPuD7ji .mbr-section-btn .btn-primary:hover {
  color: #ffffff !important;
  background-color: #ff7a41 !important;
}
.cid-sXTrPuD7ji .mbr-section-btn .btn {
  min-height: 55px;
  padding: 10px 45px;
}
.cid-sXTrPuD7ji .mbr-section-btn .btn:before {
  display: none;
}
.cid-sXTrPuD7ji .mbr-section-btn .btn:hover:before {
  display: none;
}
@media (max-width: 767px) {
  .cid-sXTrPuD7ji .image-wrapper {
    margin-top: 40px;
  }
}
.cid-sXTrPuD7ji .image-wrapper img {
  max-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sXTrPuD7ji .image-wrapper img {
    padding-right: 5%;
  }
}
.cid-sXTrPuD7ji .list {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 0;
  margin-top: 16px;
  width: 100%;
}
.cid-sXTrPuD7ji .list-item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.cid-sXTrPuD7ji .icon-wrapper {
  display: flex;
  margin-right: 20px;
}
.cid-sXTrPuD7ji .icon-wrapper span {
  color: #0066ff;
  font-size: 13px;
}
.cid-sXTrPuD7ji .list-item-text {
  flex-grow: 1;
  color: #0B3C6A;
}
.cid-sXTrOr6BZD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sXTrOr6BZD .col-title {
  margin-bottom: 3rem;
}
.cid-sXTrOr6BZD .mbr-section-title {
  color: #010d4c;
  margin-bottom: 0;
}
.cid-sXTrOr6BZD .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 0;
  margin-top: 1rem;
}
.cid-sXTrOr6BZD .text-wrapper {
  display: flex;
  padding: 30px 0 35px;
  border-radius: 30px;
  background: #ff7a41;
  box-shadow: -20px 20px 50px rgba(14, 100, 215, 0.04);
  width: 100%;
}
@media (max-width: 1199px) {
  .cid-sXTrOr6BZD .text-wrapper {
    padding: 10px 0 20px;
  }
}
.cid-sXTrOr6BZD .cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.cid-sXTrOr6BZD .card {
  padding: 30px 12px 20px;
}
.cid-sXTrOr6BZD .card-title {
  color: #ffffff;
  margin-bottom: 0;
}
.cid-sXTrOr6BZD .card-text {
  color: #ffffff;
  opacity: 0.8;
  margin-bottom: 0;
}
.cid-sY5cputlPI {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #004ab8;
}
.cid-sY5cputlPI .col-title {
  margin-bottom: 70px;
}
.cid-sY5cputlPI .label-text {
  width: 100%;
  color: #913BFF;
  margin-bottom: 20px;
}
.cid-sY5cputlPI .label-text span {
  padding: 8px 18px;
  background-color: #f0e4ff;
  border-radius: 15px;
  color: inherit;
}
.cid-sY5cputlPI .mbr-section-title {
  color: #ffffff;
  margin-bottom: 0;
}
.cid-sY5cputlPI .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-top: 25px;
  margin-bottom: 0;
}
.cid-sY5cputlPI .colored-text {
  color: #913bff;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.cid-sY5cputlPI .carousel,
.cid-sY5cputlPI .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-sY5cputlPI .item-wrapper {
  width: 100%;
  overflow: visible !important;
}
@media (min-width: 1400px) {
  .cid-sY5cputlPI .item-wrapper {
    padding: 0 1.5rem;
  }
}
.cid-sY5cputlPI .carousel-caption {
  bottom: 0;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
  padding: 45px 85px 40px;
  margin-bottom: 114px;
  background: #00398d;
  box-shadow: 0 35px 70px rgba(0, 42, 190, 0.04);
  border-radius: 30px;
  text-align: center;
}
@media (max-width: 1199px) {
  .cid-sY5cputlPI .carousel-caption {
    padding: 25px 15px 25px;
  }
}
.cid-sY5cputlPI .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
.cid-sY5cputlPI .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sY5cputlPI .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .cid-sY5cputlPI .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sY5cputlPI .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sY5cputlPI .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sY5cputlPI .carousel-control {
  display: none !important;
}
.cid-sY5cputlPI .carousel-indicators {
  position: absolute;
  z-index: 11;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sY5cputlPI .carousel-indicators li {
  max-width: 10px;
  height: 10px;
  width: 10px;
  max-height: 10px;
  margin: 0 5px;
  background-color: #913BFF;
  border: none;
  border-radius: 50%;
  opacity: 0.2;
  transition: all 0.3s;
}
.cid-sY5cputlPI .carousel-indicators li.active,
.cid-sY5cputlPI .carousel-indicators li:hover {
  opacity: 1;
}
.cid-sY5cputlPI .carousel-indicators li::after,
.cid-sY5cputlPI .carousel-indicators li::before {
  content: none;
}
.cid-sY5cputlPI .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
.cid-sY5cputlPI .icon-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cid-sY5cputlPI .icon-box .mbr-iconfont {
  font-size: 75px;
  color: #ffffff;
}
.cid-sY5cputlPI .mbr-section-subtitle {
  color: #ffffff;
  opacity: 0.8;
  margin: 25px 0 38px;
}
.cid-sY5cputlPI .mbr-section-text {
  color: #ffffff;
  margin-bottom: 0;
}
.cid-sY5cputlPI .prof-text {
  color: #00284E;
  opacity: 0.3;
  margin-bottom: 0;
}
.cid-sY5cputlPI .carousel-inner {
  overflow: visible !important;
}
.cid-sY5cputlPI .carousel-inner .item-menu-overlay {
  display: none !important;
  transition: 0s !important;
}
.cid-sXTsxW73j3 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}
.cid-sXTsxW73j3 .container,
.cid-sXTsxW73j3 .container-fluid {
  position: static;
}
.cid-sXTsxW73j3 .label-text {
  width: 100%;
  color: #ff7a41;
  margin-bottom: 20px;
}
.cid-sXTsxW73j3 .label-text span {
  padding: 8px 18px;
  background-color: #f0e4ff;
  border-radius: 15px;
  color: inherit;
}
.cid-sXTsxW73j3 .mbr-section-title {
  color: #010d4c;
  margin-bottom: 15px;
}
.cid-sXTsxW73j3 .colored-text {
  color: #913bff;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.cid-sXTsxW73j3 .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-bottom: 40px;
}
@media (min-width: 1400px) {
  .cid-sXTsxW73j3 .mbr-text {
    padding-right: 48px;
  }
}
.cid-sXTsxW73j3 .cards-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cid-sXTsxW73j3 .card {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 100%;
  margin-top: 30px;
  padding: 25px 25px 25px 95px;
  background: #ffffff;
  box-shadow: -20px 20px 50px rgba(0, 40, 99, 0.05);
  border-radius: 10px;
}
.cid-sXTsxW73j3 .card:hover .card-number {
  background: #913bff;
  border-color: #913bff;
  color: #ffffff;
}
.cid-sXTsxW73j3 .card-number {
  width: 45px;
  height: 45px;
  border: 1px solid #CECECE;
  border-radius: 50%;
  line-height: 43px;
  text-align: center;
  font-size: 18px;
  color: #ff7a41;
  position: absolute;
  top: 27px;
  left: 25px;
  transition: all 0.3s ease-in-out;
}
.cid-sXTsxW73j3 .card-title {
  color: #010d4c;
  margin-bottom: 8px;
}
.cid-sXTsxW73j3 .card-text {
  color: #000000;
  opacity: 0.8;
}
.cid-sXTsxW73j3 .mbr-section-btn {
  margin-top: 40px;
}
@media (max-width: 991px) {
  .cid-sXTsxW73j3 .mbr-section-btn {
    margin-top: 30px;
  }
}
.cid-sXTsxW73j3 .mbr-section-btn .btn:before {
  display: none;
}
.cid-sXTsxW73j3 .mbr-section-btn .btn:hover:before {
  display: none;
}
.cid-sXTsxW73j3 .image-wrapper {
  max-height: 100%;
  position: relative;
  z-index: 2;
}
.cid-sXTsxW73j3 .image-wrapper img {
  max-width: 100%;
  margin-left: auto!important;
}
@media (min-width: 768px) {
  .cid-sXTsxW73j3 .image-wrapper {
    position: absolute;
    z-index: 2;
    top: 24%;
    width: 38.65%;
    right: 6%;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .cid-sXTsxW73j3 .image-wrapper {
    top: 37%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .cid-sXTsxW73j3 .image-wrapper {
    top: 31%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sXTsxW73j3 .image-wrapper {
    top: 42%;
    right: 1%;
  }
}
@media (max-width: 767px) {
  .cid-sXTsxW73j3 .image-wrapper {
    max-width: 474px !important;
    margin: 80px auto 0;
  }
}
.cid-sXTsxW73j3 .bg-round {
  position: absolute;
  top: -14%;
  padding: 0;
}
.cid-sXTsxW73j3 .bg-round svg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .cid-sXTsxW73j3 .bg-round {
    width: 56%;
    right: 0;
  }
}
@media (min-width: 992px) and (max-width: 1399px) {
  .cid-sXTsxW73j3 .bg-round {
    width: 56%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sXTsxW73j3 .bg-round {
    width: 68%;
  }
}
@media (max-width: 767px) {
  .cid-sXTsxW73j3 .bg-round {
    top: auto;
    bottom: -10%;
  }
  .cid-sXTsxW73j3 .bg-round svg {
    height: 100%;
  }
}
.cid-sXTsxW73j3 .col-text {
  position: relative;
  z-index: 3;
}
@media (min-width: 768px) {
  .cid-sXTsxW73j3 .col-text {
    margin-right: auto;
  }
}
.cid-sXTt26rmzu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-sXTt26rmzu .mbr-section-head {
  margin-bottom: 20px;
}
.cid-sXTt26rmzu .label-text {
  width: 100%;
  color: #ff7a41;
  margin-bottom: 12px;
}
.cid-sXTt26rmzu .label-text span {
  padding: 7px 20px;
  background-color: rgba(68, 109, 255, 0.1);
  border-radius: 5px;
  color: inherit;
}
.cid-sXTt26rmzu .mbr-section-title {
  color: #010d4c;
}
.cid-sXTt26rmzu .mbr-section-subtitle {
  color: #00284E;
  opacity: 0.8;
  margin-top: 75px;
  margin-bottom: 16px;
}
@media (max-width: 1199px) {
  .cid-sXTt26rmzu .mbr-section-subtitle {
    margin-top: 50px;
  }
}
.cid-sXTt26rmzu .cards-container {
  display: flex;
  justify-content: center;
  padding: 0 !important;
}
.cid-sXTt26rmzu .cards-row {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-sXTt26rmzu .col-card {
  display: flex;
  margin-top: 40px;
}
.cid-sXTt26rmzu .card-wrapper {
  padding: 30px 35px 40px;
  text-align: center;
  background-color: transparent;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 40px 80px rgba(0, 5, 134, 0.05);
}
@media (max-width: 1199px) {
  .cid-sXTt26rmzu .card-wrapper {
    padding: 30px 15px;
  }
}
.cid-sXTt26rmzu .card-2 {
  background-color: #ff7a41;
  box-shadow: 0 40px 80px rgba(0, 5, 134, 0.05);
}
.cid-sXTt26rmzu .card-title {
  color: #CECECE;
  margin-bottom: 8px;
}
.cid-sXTt26rmzu .card-title2 {
  color: #ffffff;
  margin-bottom: 8px;
}
.cid-sXTt26rmzu .price-container {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
  padding-top: 8px;
}
.cid-sXTt26rmzu .symbol-text {
  color: #010d4c;
  line-height: 1;
}
.cid-sXTt26rmzu .symbol-text2 {
  color: #ffffff;
  line-height: 1;
}
.cid-sXTt26rmzu .price-text {
  color: #010d4c;
  line-height: 1;
}
.cid-sXTt26rmzu .price-text2 {
  color: #ffffff;
  line-height: 1;
}
.cid-sXTt26rmzu .price-share-text {
  color: #010d4c;
  line-height: 1;
}
.cid-sXTt26rmzu .price-share-text2 {
  color: #ffffff;
  line-height: 1;
}
.cid-sXTt26rmzu .mbr-text {
  color: #00284E;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.cid-sXTt26rmzu .mbr-text2 {
  color: #ffffff;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.cid-sXTt26rmzu .mbr-section-btn {
  width: 100%;
  margin-top: 40px;
}
.cid-sXTt26rmzu .mbr-section-btn .btn {
  width: 100%;
  min-height: 50px;
  border-radius: 50px;
  padding: 10px 42px;
}
.cid-sXTt26rmzu .mbr-section-btn .btn:before {
  display: none;
}
.cid-sXTt26rmzu .mbr-section-btn .btn:hover:before {
  display: none;
}
.cid-sXTt26rmzu .mbr-section-btn .btn-secondary-outline {
  border: 1px solid currentColor !important;
}
.cid-sXTt26rmzu .mbr-section-btn .btn-secondary-outline:hover {
  color: #ffffff !important;
  border-color: #0066ff !important;
  background-color: #0066ff !important;
}
.cid-sXTt26rmzu .mbr-section-btn .btn-white {
  border: 1px solid #ffffff !important;
  color: #0066ff !important;
}
.cid-sXTt26rmzu .mbr-section-btn .btn-white:hover {
  border: 1px solid #ffffff !important;
  color: #0066ff !important;
  background-color: #ffffff !important;
}
.cid-sXTto6wYJ1 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ff7a41;
}
.cid-sXTto6wYJ1 .container {
  display: flex;
  justify-content: center;
}
.cid-sXTto6wYJ1 .main-row {
  align-items: center;
  max-width: 1194px;
  width: 100%;
}
.cid-sXTto6wYJ1 .text-container {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sXTto6wYJ1 .text-container {
    margin-bottom: 20px;
  }
}
.cid-sXTto6wYJ1 .mbr-section-title {
  color: #ffffff;
  margin-bottom: 0;
}
.cid-sXTto6wYJ1 .colored-text {
  color: #913bff;
  line-height: inherit;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.cid-sXTto6wYJ1 .mbr-text {
  color: #00284E;
  opacity: 0.8;
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-sXTto6wYJ1 .dragArea {
  width: 100%;
  max-width: 100%;
  margin-left: auto !important;
  margin-right: 0 !important;
}
@media (min-width: 768px) {
  .cid-sXTto6wYJ1 .dragArea {
    max-width: 505px;
  }
}
.cid-sXTto6wYJ1 .form-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 33, 63, 0.03);
  margin: 0;
  border-radius: 8px;
  padding: 8px 0 !important;
}
.cid-sXTto6wYJ1 .form-group {
  flex-grow: 1;
  margin-bottom: 0 !important;
}
.cid-sXTto6wYJ1 .mbr-section-btn {
  padding-left: 0 !important;
}
.cid-sXTto6wYJ1 .mbr-section-btn .btn {
  width: 150px;
  border-radius: 8px;
  min-height: 54px;
  word-break: normal;
}
@media (max-width: 1199px) {
  .cid-sXTto6wYJ1 .mbr-section-btn .btn {
    width: 120px;
    min-height: 44px;
    padding: 5px 10px;
  }
}
.cid-sXTto6wYJ1 .mbr-section-btn .btn-primary:hover {
  background-color: #ff7a41 !important;
  color: #ffffff !important;
}
.cid-sXTto6wYJ1 .form-control {
  width: 100%;
  background-color: #FFFFFF;
  border: none !important;
  box-shadow: none !important;
  padding: 5px 0 5px 15px;
  height: 54px;
}
@media (max-width: 1199px) {
  .cid-sXTto6wYJ1 .form-control {
    height: 44px;
  }
}
.cid-sXTto6wYJ1 .form-control:hover,
.cid-sXTto6wYJ1 .form-control:focus {
  border: none !important;
  box-shadow: none !important;
}
.cid-sXTto6wYJ1 .form-control::-webkit-input-placeholder {
  font-size: 1rem;
  color: #00072C;
}
.cid-sXTto6wYJ1 .form-control::-moz-placeholder {
  font-size: 1rem;
  color: #00072C;
}
.cid-sXTto6wYJ1 .form-control:-moz-placeholder {
  font-size: 1rem;
  color: #00072C;
}
.cid-sXTto6wYJ1 .form-control:-ms-input-placeholder {
  font-size: 1rem;
  color: #00072C;
}
.cid-sXTto6wYJ1 .form-text {
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 1rem;
  padding: 0 !important;
}
.cid-sXTtoS9CWk {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
  overflow: hidden;
}
.cid-sXTtoS9CWk .mbr-text {
  color: #00284E;
  opacity: 0.8;
}
.cid-sXTtoS9CWk .media-container-row .mbr-text {
  color: #ffffff;
}
