body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', handwriting;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-taH976Z1YK {
  padding-top: 210px;
  padding-bottom: 105px;
  background-color: #e7272d;
}
.cid-taH976Z1YK .title-align {
  width: 100%;
}
.cid-taH976Z1YK .pricetitle {
  margin: 0;
  text-align: left;
}
.cid-taH976Z1YK .img-col {
  position: relative;
  padding-top: 2rem;
}
.cid-taH976Z1YK .img-col img {
  z-index: 2;
  position: relative;
}
.cid-taH976Z1YK .pricebox {
  position: absolute;
  z-index: 1;
  top: -5rem;
  left: 2rem;
  width: 180px;
  height: 180px;
  background: #fbbe36;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-taH976Z1YK H2 {
  color: #e7272d;
  position: relative;
  display: inline-block;
  width: fit-content;
  text-align: left;
}
.cid-taH976Z1YK H2:before {
  position: absolute;
  content: '';
  right: -120px;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: currentColor;
}
.cid-taH976Z1YK img {
  max-width: 500px;
  margin: auto;
}
.cid-taH976Z1YK .mbr-section-subtitle,
.cid-taH976Z1YK .title-align {
  color: #fbbe36;
}
.cid-taH976Z1YK .price {
  color: #e7272d;
}
@media (max-width: 992px) {
  .cid-taH976Z1YK .pricebox {
    top: -2rem;
    right: 2rem;
    left: auto;
  }
}
@media (max-width: 767px) {
  .cid-taH976Z1YK .pricebox {
    width: 100px;
    height: 100px;
    top: 0rem;
    right: 2rem;
    left: auto;
  }
  .cid-taH976Z1YK H2:before {
    width: 70px;
    right: -90px;
  }
  .cid-taH976Z1YK .img-col {
    padding-top: 4rem;
  }
}
.cid-taH9gfDNxh {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-taH9gfDNxh .card-subtitle {
  margin: 0;
}
.cid-taH9gfDNxh .card-img {
  z-index: 2;
  position: relative;
  width: 100%;
  transition: all 0.3s;
  padding-top: 2rem;
}
.cid-taH9gfDNxh .card-img img {
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
}
.cid-taH9gfDNxh .icon {
  width: 60px;
  height: 60px;
  background: #fbbe36;
  font-size: 1.2rem;
  transform: translatey(1.2rem);
  margin: auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #0e0e0e !important;
}
.cid-taH9gfDNxh .item-wrapper {
  position: relative;
  padding: 1rem;
  border-radius: 9px;
  transition: all 0.3s;
  cursor: pointer;
  overflow: visible;
}
.cid-taH9gfDNxh .item-wrapper svg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.cid-taH9gfDNxh .item-wrapper svg path {
  fill: #ffffff;
  transition: all 0.3s;
  stroke: #cccccc;
}
.cid-taH9gfDNxh h4,
.cid-taH9gfDNxh h6,
.cid-taH9gfDNxh h5 {
  margin: 0;
}
.cid-taH9gfDNxh .mbr-text {
  transition: all 0.3s;
}
.cid-taH9gfDNxh .btn-white-outline {
  color: #e7272d !important;
}
.cid-taH9gfDNxh .card-box {
  z-index: 1;
  position: relative;
}
.cid-taH9gfDNxh .price {
  color: #0e0e0e;
  transition: all 0.3s;
}
.cid-taH9gfDNxh img {
  transition: all 0.3s;
  width: 170px;
  height: 170px;
  object-fit: cover;
}
.cid-taH9gfDNxh .card {
  cursor: pointer;
  transition: all 0.3s;
  max-width: 291px;
  margin-bottom: 4rem;
}
.cid-taH9gfDNxh .card:hover {
  transform: translateY(-2rem);
}
.cid-taH9gfDNxh .card:hover .item-wrapper {
  color: #ffffff !important;
}
.cid-taH9gfDNxh .card:hover .item-wrapper .price {
  color: #ffffff !important;
}
.cid-taH9gfDNxh .card:hover .item-wrapper .mbr-text {
  color: #ffffff !important;
}
.cid-taH9gfDNxh .card:hover .item-wrapper path {
  fill: #e7272d;
}
.cid-taH9gfDNxh .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-taH9gfDNxh .wrapper {
    flex-direction: column;
  }
  .cid-taH9gfDNxh .icon-padding {
    padding-left: 0rem;
  }
  .cid-taH9gfDNxh .card-box {
    padding: 0;
  }
}
.cid-taH9gfDNxh .mbr-text,
.cid-taH9gfDNxh .mbr-section-btn,
.cid-taH9gfDNxh .card-img {
  color: #808080;
}
.cid-taH9gfDNxh H2 {
  color: #e7272d;
}
.cid-taH9laSAv7 {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-taH9laSAv7 H2 {
  color: #e7272d;
}
.cid-taH9laSAv7 img {
  max-width: 500px;
  margin: auto;
}
.cid-taH9laSAv7 H1 {
  color: #89b758;
}
@media (min-width: 767px) {
  .cid-taH9laSAv7 .display-1 {
    margin-top: -1.6rem;
  }
}
.cid-taH9laSAv7 .span-row {
  width: 100%;
}
.cid-taHeWtoq3x {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-taHeWtoq3x H2 {
  color: #e7272d;
}
.cid-taHeWtoq3x .mbr-text,
.cid-taHeWtoq3x .mbr-section-btn {
  color: #808080;
}
.cid-taHeWtoq3x img {
  max-width: 500px;
  margin: auto;
}
.cid-taHeWtoq3x h4 {
  line-height: 1.4;
}
.cid-taHeWtoq3x .icon-wrap {
  padding-left: 2rem;
  width: 160px;
}
.cid-taHeWtoq3x .icon-wrap .mbr-iconfont {
  font-size: 4rem;
  color: #e7272d;
  display: block;
  padding-bottom: 1rem;
}
.cid-taHeWtoq3x .icon-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-taHeWtoq3x .mbr-figure {
    order: 1;
  }
  .cid-taHeWtoq3x .icon-wrap {
    text-align: center;
    margin: auto;
    padding-left: 0rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  .cid-taHeWtoq3x .icon-wrap .icon-text {
    text-align: center;
  }
  .cid-taHeWtoq3x .icon-wrap .mbr-iconfont {
    font-size: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-taHeWtoq3x .icon-wrap .mbr-iconfont {
    font-size: 4rem;
  }
}
.cid-taHsryG37a {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #0e0e0e;
}
.cid-taHsryG37a img {
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.cid-taHsryG37a H2 {
  color: #e7272d;
}
.cid-taHtfNDam8 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-taHtfNDam8 .menu-item {
  padding: 0;
  display: flex;
  margin-bottom: 1.5rem;
}
.cid-taHtfNDam8 .item-tag {
  background: #e7272d;
  width: fit-content;
  padding: 3px 16px 0px 16px;
  border-radius: 10px;
  margin-bottom: 12px;
}
.cid-taHtfNDam8 .mbr-iconfont {
  font-size: 2.5rem;
  padding-right: 1rem;
  color: #e7272d;
}
.cid-taHtfNDam8 .mbr-figure {
  width: 150px;
  height: 100%;
}
.cid-taHtfNDam8 .mbr-figure img {
  border-radius: 6px;
  object-fit: cover;
  margin-right: 2rem;
  width: 110px;
  height: 110px;
}
.cid-taHtfNDam8 .inline-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-taHtfNDam8 .group-title {
  margin: 0;
  color: #181818;
  font-weight: bold;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-taHtfNDam8 .mbr-figure {
    width: fit-content !important;
  }
}
@media (max-width: 767px) {
  .cid-taHtfNDam8 .mbr-figure {
    width: 100% !important;
  }
  .cid-taHtfNDam8 .menu-item {
    flex-direction: column;
  }
  .cid-taHtfNDam8 img {
    margin: auto !important;
    margin-bottom: 0.5rem !important;
  }
  .cid-taHtfNDam8 .item-tag {
    margin: auto;
    margin-bottom: 1rem;
  }
}
.cid-taHtfNDam8 .icon-wrap {
  display: flex;
  margin-bottom: 1.5rem;
  align-items: center;
  width: fit-content;
}
.cid-taHtfNDam8 .special-label {
  color: #fff;
}
.cid-taHtfNDam8 .menu-box {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.5rem;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-taHtfNDam8 .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-taHtfNDam8 .menu-row {
  margin: 0;
}
.cid-taHtfNDam8 .box-text {
  padding: 0;
  margin: 0;
  width: fit-content;
  color: #000000;
}
.cid-taHtfNDam8 .line {
  display: flex;
  flex: 1 1 auto;
  background-image: radial-gradient(circle closest-side, #9a9a9a 99%, rgba(255, 255, 255, 0) 1%);
  background-size: 12px 2px;
  background-position: center;
  margin: 0.2em 0.5em;
  background-repeat: repeat;
  height: 2px;
}
.cid-taHtfNDam8 .group-title,
.cid-taHtfNDam8 .align-wrap {
  text-align: left;
}
.cid-taHtfNDam8 SPAN {
  color: #e7272d;
}
.cid-taHtfNDam8 .item-title {
  color: #808080;
}
.cid-taHtfNDam8 H4 {
  color: #e7272d;
}
.cid-taHthAMzxp {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-taHthAMzxp .card-subtitle {
  margin: 0;
}
.cid-taHthAMzxp .card1 {
  background: #e7272d;
}
.cid-taHthAMzxp .card2 {
  background: #232323;
}
.cid-taHthAMzxp .card3 {
  background: #fe7a15;
}
.cid-taHthAMzxp .item {
  margin-bottom: 2rem;
}
.cid-taHthAMzxp .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
  border-radius: 9px;
  cursor: pointer;
  display: flex;
  transition: all 0.6s;
  overflow: hidden;
  position: relative;
}
.cid-taHthAMzxp .item-wrapper:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-taHthAMzxp .item-wrapper:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-taHthAMzxp .item-wrapper:hover:before {
  opacity: 0.3;
  width: 0;
}
.cid-taHthAMzxp .item-wrapper:hover:after {
  opacity: 0.3;
  height: 0;
}
.cid-taHthAMzxp .item-wrapper img {
  width: 130px;
  transition: all 0.6s;
  border-radius: 9px;
}
.cid-taHthAMzxp .item-wrapper .card-box {
  padding: 1rem;
}
.cid-taHthAMzxp .item-wrapper .link {
  transition: all 0.3s;
  text-decoration: underline;
}
.cid-taHthAMzxp .item-wrapper .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-taHthAMzxp .item-wrapper .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-taHthAMzxp .item-wrapper .mbr-section-btn .btn {
  border: 0px;
}
.cid-taHthAMzxp .item-wrapper .mbr-section-btn .btn:hover {
  background: inherit !important;
  color: inherit !important;
}
.cid-taHthAMzxp .item-wrapper h4,
.cid-taHthAMzxp .item-wrapper h6,
.cid-taHthAMzxp .item-wrapper h5 {
  margin: 0;
}
.cid-taHthAMzxp .item-wrapper .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-taHthAMzxp .item-wrapper .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-taHthAMzxp .item-wrapper .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-taHthAMzxp .item-wrapper .card {
  cursor: pointer;
  height: fit-content;
}
.cid-taHthAMzxp .item-wrapper .card .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.cid-taHthAMzxp .card-img {
  justify-content: center;
  align-items: center;
  display: flex;
}
.cid-taHthAMzxp .row {
  justify-content: center;
}
.cid-taHthAMzxp .location,
.cid-taHthAMzxp .icon-wrap {
  color: #e7272d;
}
.cid-taHthAMzxp .link,
.cid-taHthAMzxp .link-wrap,
.cid-taHthAMzxp .link-align {
  color: #ffffff;
}
@media (max-width: 992px) {
  .cid-taHthAMzxp .wrapper {
    flex-direction: column;
  }
  .cid-taHthAMzxp .icon-padding {
    padding-left: 0rem;
  }
  .cid-taHthAMzxp .card-box {
    padding: 0;
  }
}
.cid-taHthAMzxp H2 {
  color: #e7272d;
}
@media (max-width: 767px) {
  .cid-taHthAMzxp .item-wrapper {
    flex-direction: column;
  }
}
.cid-taHtiS5uwQ {
  padding-top: 300px;
  padding-bottom: 300px;
  background-image: url("../../../assets/images/background1.jpg");
}
@media (max-width: 992px) {
  .cid-taHtiS5uwQ {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@keyframes shadow {
  from {
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0px 0px 0px 25px rgba(255, 255, 255, 0);
  }
}
.cid-taHtiS5uwQ .icon-wrap {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background: #e7272d;
  border-radius: 50%;
  animation: shadow 1s infinite ease-in-out;
}
.cid-taHtiS5uwQ .mbr-media span {
  font-size: 2rem;
  cursor: pointer;
  color: #f3f7ee;
  position: relative;
  transition: all 0.25s;
}
.cid-taHtiS5uwQ .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
}
.cid-taHtiS5uwQ .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-taHtiS5uwQ a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-taHtiS5uwQ a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-taHtiS5uwQ {
    padding-top: 140px;
    padding-bottom: 140px;
  }
  .cid-taHtiS5uwQ .box {
    height: 250px;
  }
}
.cid-taHtjXJHxR {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-taHtjXJHxR .carousel {
  z-index: 2;
  position: relative;
}
.cid-taHtjXJHxR .user {
  padding: 1rem;
  margin: auto 0;
}
.cid-taHtjXJHxR h4 {
  position: relative;
  width: fit-content;
  display: inline-block;
}
.cid-taHtjXJHxR h4:before {
  position: absolute;
  content: '';
  right: -90px;
  top: 60%;
  bottom: 0;
  width: 60px;
  height: 1px;
  background: #89b758;
}
.cid-taHtjXJHxR .carousel-control-next {
  width: 50px;
  right: -30px;
}
.cid-taHtjXJHxR .carousel-control-prev {
  width: 50px;
  left: -30px;
}
.cid-taHtjXJHxR .user_text {
  position: relative;
  z-index: 1;
}
.cid-taHtjXJHxR .user_text span {
  font-size: 5rem;
  opacity: 0.2;
  color: #808080;
}
.cid-taHtjXJHxR .user_image {
  overflow: hidden;
  margin: 0 auto 0.5rem auto;
  position: relative;
  padding: 0rem;
  height: 500px;
  width: 100%;
}
.cid-taHtjXJHxR .user_image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 9px;
}
.cid-taHtjXJHxR .carousel-item.active,
.cid-taHtjXJHxR .carousel-item-next,
.cid-taHtjXJHxR .carousel-item-prev {
  display: flex;
}
.cid-taHtjXJHxR .user_name {
  margin: 0;
  color: #0e0e0e;
}
.cid-taHtjXJHxR .carousel-controls a {
  font-size: 4rem;
}
.cid-taHtjXJHxR .carousel-controls a span {
  position: absolute;
  transition: opacity 0.3s;
  bottom: 40%;
  padding: 10px;
  border-radius: 50%;
  color: #89b758;
  background: transparent;
  opacity: 0.8;
}
.cid-taHtjXJHxR .carousel-controls a:hover span {
  opacity: 1;
  cursor: pointer;
}
.cid-taHtjXJHxR ol {
  margin-bottom: 0;
  bottom: -1rem;
  left: 96px;
}
.cid-taHtjXJHxR .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: auto 7px;
  border: none;
  background: #89b758;
  transition: all 0.3s;
  border-radius: 50%;
  opacity: 0.5;
  position: relative;
}
.cid-taHtjXJHxR .carousel-indicators li:hover {
  opacity: 1;
}
.cid-taHtjXJHxR .carousel-indicators .active {
  opacity: 1;
  width: 20px;
  height: 8px;
  border-radius: 20px;
}
.cid-taHtjXJHxR .user_status {
  color: #808080;
}
.cid-taHtjXJHxR .mbr-section-title,
.cid-taHtjXJHxR .ornament {
  color: #0e0e0e;
}
.cid-taHtjXJHxR H3 {
  color: #89b758;
}
@media (max-width: 992px) {
  .cid-taHtjXJHxR ol {
    left: 0px;
  }
  .cid-taHtjXJHxR .user_image {
    max-width: 450px;
  }
}
@media (max-width: 767px) {
  .cid-taHtjXJHxR .carousel-controls a span {
    bottom: 70px;
    top: auto;
  }
  .cid-taHtjXJHxR .user_image {
    height: 300px;
  }
  .cid-taHtjXJHxR h4:before {
    content: none;
  }
}
.cid-taHtlmSgNv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #e7272d;
}
.cid-taHtlmSgNv .mbr-section-subtitle {
  color: #ffffff;
}
.cid-taHtlmSgNv .mbr-text {
  color: #767676;
}
.cid-taHtlmSgNv .mbr-testimonial .panel-item {
  transition: all 0.3s;
  background-color: #fff4e2;
  border-radius: 9px;
}
.cid-taHtlmSgNv .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
  padding: 1.4rem 1.4rem 0 1.4rem;
}
.cid-taHtlmSgNv .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  width: 155px;
  height: 155px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
}
.cid-taHtlmSgNv .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-taHtlmSgNv .mbr-testimonial .card-footer {
  padding-bottom: 1.4rem;
  border-top: 0;
  padding-top: 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
}
.cid-taHtlmSgNv .mbr-author-desc {
  display: block;
  color: #808080;
}
.cid-taHtlmSgNv .mbr-iconfont {
  background: white;
  border-radius: 100%;
  width: 38px;
  height: 38px;
  display: inline-block;
  padding: 9px;
  margin: 0 2px;
}
@media (max-width: 300px) {
  .cid-taHtlmSgNv .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-taHtlmSgNv .mbr-iconfont-social {
  font-size: 18px;
}
.cid-taHtlmSgNv .icon1 {
  color: #ff8a73;
}
.cid-taHtlmSgNv .icon2 {
  color: #57468b;
}
.cid-taHtlmSgNv .icon3 {
  color: #5580ff;
}
.cid-taHtlmSgNv .social-list a:focus {
  text-decoration: none;
}
.cid-taHtlmSgNv .mbr-author-name {
  color: #0e0e0e;
}
.cid-taHtlmSgNv H2 {
  color: #e7272d;
}
.cid-taHtqh0OsU {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-taHtqh0OsU .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.6;
}
.cid-taHtqh0OsU input,
.cid-taHtqh0OsU textarea {
  padding: 1rem 1.8rem !important;
  border-radius: 10px;
  font-size: 1.1rem;
}
.cid-taHtqh0OsU .form-control:hover,
.cid-taHtqh0OsU .form-control:focus {
  color: #808080 !important;
}
.cid-taHtqh0OsU .btn-success {
  color: white !important;
}
.cid-taHtqh0OsU img {
  width: 90%;
  border-radius: 8px;
}
.cid-taHtqh0OsU .btn {
  border-radius: 30px;
}
.cid-taHtqh0OsU textarea {
  min-height: 160px !important;
}
.cid-taHtqh0OsU .form-control,
.cid-taHtqh0OsU .field-input {
  padding: 0.5rem;
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #808080;
  min-height: 4rem;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-taHtqh0OsU .form-control:hover,
.cid-taHtqh0OsU .field-input:hover,
.cid-taHtqh0OsU .form-control:focus,
.cid-taHtqh0OsU .field-input:focus {
  background-color: #ffffff;
  border-color: #c1c1c1;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-taHtqh0OsU input::-webkit-input-placeholder,
.cid-taHtqh0OsU textarea::-webkit-input-placeholder {
  color: #808080;
}
.cid-taHtqh0OsU input:-moz-placeholder,
.cid-taHtqh0OsU textarea:-moz-placeholder {
  color: #808080;
}
.cid-taHtqh0OsU .jq-selectbox li,
.cid-taHtqh0OsU .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-taHtqh0OsU .jq-selectbox li:hover,
.cid-taHtqh0OsU .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-taHtqh0OsU .jq-selectbox:hover .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-taHtqh0OsU .jq-selectbox .jq-selectbox__trigger-arrow {
  border-top-color: #ffffff;
}
.cid-taHtqh0OsU H5 {
  color: #000000;
  padding-bottom: 1.5rem;
}
@media (max-width: 992px) {
  .cid-taHtqh0OsU img {
    width: 100%;
  }
  .cid-taHtqh0OsU .google-map {
    margin-bottom: 2rem;
  }
}
.cid-taHtqh0OsU .google-map {
  height: 100%;
  min-height: 30rem;
  position: relative;
  filter: grayscale(1);
}
.cid-taHtqh0OsU .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-taHtqh0OsU .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-taHtqh0OsU .google-map[data-state] {
  background: #e9e5dc;
}
.cid-taHtqh0OsU .google-map[data-state='loading'] [data-state-details] {
  display: none;
}
@media (max-width: 576px) {
  .cid-taHtqh0OsU .col-auto {
    width: 100%;
    text-align: center;
  }
}
.cid-taHZxSg6cN {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-taHZxSg6cN H2 {
  color: #e7272d;
}
.cid-taHZxSg6cN .mbr-text,
.cid-taHZxSg6cN .mbr-section-btn {
  color: #808080;
}
.cid-taHZxSg6cN img {
  max-width: 500px;
  margin: auto;
}
.cid-taHZxSg6cN .btn span {
  font-size: 2.4rem !important;
  margin-top: 0.6rem !important;
  margin-bottom: 0rem !important;
}
.cid-taHZxSg6cN .btn {
  padding: 0.4rem 2.2rem;
  text-align: left;
  line-height: 1.3;
}
.cid-taHZAaLzMo {
  padding-top: 60px;
  padding-bottom: 90px;
  background-color: #232323;
}
.cid-taHZAaLzMo .logo {
  max-width: 140px;
  width: 100%;
  margin: auto;
}
.cid-taHZAaLzMo .row {
  border-bottom: 1px solid #808080;
}
.cid-taHZAaLzMo H2 {
  color: #e7272d;
}
.cid-taHZAaLzMo .feedimg {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin: 0 2px;
}
.cid-taHZAaLzMo .logo-wrap {
  width: fit-content;
  margin: auto;
  position: relative;
}
.cid-taHZAaLzMo .logo-wrap:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 180px;
  width: 999px;
  height: 1px;
  background: #808080;
}
.cid-taHZAaLzMo .logo-wrap:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 180px;
  width: 999px;
  height: 1px;
  background: #808080;
}
.cid-taHZAaLzMo .col-lg-12 {
  overflow: hidden;
}
.cid-taHZAaLzMo H4 {
  color: #fbbe36;
}
.cid-taHZAaLzMo .mbr-text,
.cid-taHZAaLzMo .mbr-section-btn {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-taHZAaLzMo .logo-wrap:before {
    content: none;
  }
  .cid-taHZAaLzMo .logo-wrap:after {
    content: none;
  }
}
.cid-taHZD5DNdz .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-taHZD5DNdz .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-taHZD5DNdz .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-taHZD5DNdz .dropdown-item {
  color: #000000 !important;
}
.cid-taHZD5DNdz .dropdown-item:hover {
  color: #000000 !important;
}
.cid-taHZD5DNdz .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-taHZD5DNdz .nav-link:hover {
  color: #fbbe36 !important;
}
.cid-taHZD5DNdz .btn-white {
  color: #e7272d !important;
}
.cid-taHZD5DNdz .btn:hover {
  border-color: #fbbe36 !important;
  color: #fbbe36 !important;
}
.cid-taHZD5DNdz .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-taHZD5DNdz .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-taHZD5DNdz .container {
  display: flex;
  margin: auto;
}
.cid-taHZD5DNdz .navbar.navbar-short .nav-link,
.cid-taHZD5DNdz .navbar.navbar-short .navbar-caption,
.cid-taHZD5DNdz .navbar.navbar-short .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-taHZD5DNdz .navbar.navbar-short .hamburger span {
  background: #ffffff !important;
}
.cid-taHZD5DNdz .navbar-caption {
  padding-right: 3rem;
}
.cid-taHZD5DNdz .navbar.opened {
  background: #000000 !important;
}
.cid-taHZD5DNdz .nav-item:focus,
.cid-taHZD5DNdz .nav-link:focus {
  outline: none;
}
.cid-taHZD5DNdz .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-taHZD5DNdz .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-taHZD5DNdz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-taHZD5DNdz .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-taHZD5DNdz .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-taHZD5DNdz .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-taHZD5DNdz .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #000000;
  background: none;
}
.cid-taHZD5DNdz .navbar.opened {
  transition: all 0.3s;
}
.cid-taHZD5DNdz .navbar .dropdown-item {
  padding: 0.5rem 1.5rem;
}
.cid-taHZD5DNdz .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-taHZD5DNdz .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-taHZD5DNdz .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-taHZD5DNdz .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-taHZD5DNdz .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-taHZD5DNdz .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-taHZD5DNdz .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-taHZD5DNdz .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-taHZD5DNdz .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-taHZD5DNdz .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-taHZD5DNdz .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-taHZD5DNdz .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-taHZD5DNdz .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-taHZD5DNdz .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-taHZD5DNdz .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-taHZD5DNdz .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-taHZD5DNdz .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-taHZD5DNdz .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-taHZD5DNdz .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-taHZD5DNdz .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-taHZD5DNdz .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-taHZD5DNdz .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-taHZD5DNdz .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-taHZD5DNdz .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-taHZD5DNdz .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-taHZD5DNdz .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-taHZD5DNdz .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-taHZD5DNdz .dropdown-item.active,
.cid-taHZD5DNdz .dropdown-item:active {
  background-color: transparent;
}
.cid-taHZD5DNdz .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-taHZD5DNdz .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-taHZD5DNdz .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-taHZD5DNdz .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-taHZD5DNdz .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-taHZD5DNdz .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-taHZD5DNdz ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-taHZD5DNdz .navbar-buttons {
  text-align: center;
}
.cid-taHZD5DNdz button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-taHZD5DNdz button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-taHZD5DNdz button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-taHZD5DNdz button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-taHZD5DNdz button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-taHZD5DNdz button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-taHZD5DNdz nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-taHZD5DNdz nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-taHZD5DNdz nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-taHZD5DNdz nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-taHZD5DNdz .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-taHZD5DNdz a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-taHZD5DNdz .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-taHZD5DNdz .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-taHZD5DNdz .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-taHZD5DNdz .navbar {
    height: 77px;
  }
  .cid-taHZD5DNdz .navbar.opened {
    height: auto;
  }
  .cid-taHZD5DNdz .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
