body {
  font-family: 'Epilogue', sans-serif;
}
.display-1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 7rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.75rem;
}
.display-2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 3.2rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4rem;
}
.display-4 {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Epilogue', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.6rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.9rem;
    font-size: calc( 3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.0999999999999996rem + (7 - 3.0999999999999996) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.56rem;
    font-size: calc( 1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.77rem + (3.2 - 1.77) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6b6b6b !important;
}
.bg-success {
  background-color: #314825 !important;
}
.bg-info {
  background-color: #6ec1e4 !important;
}
.bg-warning {
  background-color: #ee3102 !important;
}
.bg-danger {
  background-color: #ee2852 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6b6b6b !important;
  border-color: #6b6b6b !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #404040 !important;
  border-color: #404040 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #54595f !important;
  border-color: #54595f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #2b2e31 !important;
  border-color: #2b2e31 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #2b2e31 !important;
  border-color: #2b2e31 !important;
}
.btn-info,
.btn-info:active {
  background-color: #6ec1e4 !important;
  border-color: #6ec1e4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #27a1d4 !important;
  border-color: #27a1d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #27a1d4 !important;
  border-color: #27a1d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #314825 !important;
  border-color: #314825 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #0a0f08 !important;
  border-color: #0a0f08 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0a0f08 !important;
  border-color: #0a0f08 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ee3102 !important;
  border-color: #ee3102 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #981f01 !important;
  border-color: #981f01 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #981f01 !important;
  border-color: #981f01 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ee2852 !important;
  border-color: #ee2852 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #b10e31 !important;
  border-color: #b10e31 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #b10e31 !important;
  border-color: #b10e31 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6b6b6b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #404040 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6b6b6b !important;
  border-color: #6b6b6b !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #54595f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #2b2e31 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #54595f !important;
  border-color: #54595f !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6ec1e4;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #27a1d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6ec1e4 !important;
  border-color: #6ec1e4 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #314825;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #0a0f08 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #314825 !important;
  border-color: #314825 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ee3102;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #981f01 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #ee3102 !important;
  border-color: #ee3102 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ee2852;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #b10e31 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ee2852 !important;
  border-color: #ee2852 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6b6b6b !important;
}
.text-secondary {
  color: #54595f !important;
}
.text-success {
  color: #314825 !important;
}
.text-info {
  color: #6ec1e4 !important;
}
.text-warning {
  color: #ee3102 !important;
}
.text-danger {
  color: #ee2852 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #383838 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #242629 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #030502 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #2597c7 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #891c01 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a30d2d !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6b6b6b;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6ec1e4;
}
.alert-warning {
  background-color: #ee3102;
}
.alert-danger {
  background-color: #ee2852;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6b6b6b;
  border-color: #6b6b6b;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6b6b6b;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ababab;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a1c58e;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fecabe;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fde5ea;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6b6b6b !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Epilogue', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1rem;
}
blockquote {
  border-color: #6b6b6b;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6b6b6b;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6b6b6b;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6b6b6b;
  border-bottom-color: #6b6b6b;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6b6b6b !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #54595f !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236b6b6b' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sN24DjvABH {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sN24DjvABH nav.navbar {
  position: fixed;
}
.cid-sN24DjvABH .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sN24DjvABH .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sN24DjvABH .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sN24DjvABH .dropdown-item:hover,
.cid-sN24DjvABH .dropdown-item:focus {
  background: #6b6b6b !important;
  color: white !important;
}
.cid-sN24DjvABH .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sN24DjvABH .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sN24DjvABH .nav-dropdown .link {
  padding: 0 !important;
  margin: 0 !important;
}
@media (max-width: 991px) {
  .cid-sN24DjvABH .nav-dropdown .link {
    margin: 10px 0 !important;
  }
}
.cid-sN24DjvABH .nav-item {
  margin: 0 31px;
}
.cid-sN24DjvABH .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sN24DjvABH .nav-link {
  position: relative;
}
.cid-sN24DjvABH .nav-link:hover,
.cid-sN24DjvABH .nav-link:focus,
.cid-sN24DjvABH .nav-link:active {
  color: #314825 !important;
}
.cid-sN24DjvABH .container {
  display: flex;
  margin: auto;
  flex-wrap: initial;
}
@media (max-width: 991px) {
  .cid-sN24DjvABH .container {
    flex-wrap: inherit;
  }
}
.cid-sN24DjvABH .navbar-caption:hover,
.cid-sN24DjvABH .navbar-caption:focus,
.cid-sN24DjvABH .navbar-caption:active {
  color: #314825 !important;
}
.cid-sN24DjvABH .dropdown-menu,
.cid-sN24DjvABH .navbar.opened {
  background: #ffffff !important;
}
.cid-sN24DjvABH .nav-item:focus,
.cid-sN24DjvABH .nav-link:focus {
  outline: none;
}
.cid-sN24DjvABH .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sN24DjvABH .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sN24DjvABH .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sN24DjvABH .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sN24DjvABH .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.cid-sN24DjvABH .navbar.opened {
  transition: all 0.3s;
}
.cid-sN24DjvABH .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sN24DjvABH .navbar .navbar-logo img {
  width: auto;
}
.cid-sN24DjvABH .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sN24DjvABH .navbar.collapsed {
  justify-content: center;
}
.cid-sN24DjvABH .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sN24DjvABH .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sN24DjvABH .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sN24DjvABH .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sN24DjvABH .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sN24DjvABH .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sN24DjvABH .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
@media (max-width: 991px) {
  .cid-sN24DjvABH .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sN24DjvABH .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sN24DjvABH .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sN24DjvABH .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sN24DjvABH .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sN24DjvABH .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sN24DjvABH .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-sN24DjvABH .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sN24DjvABH .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sN24DjvABH .navbar .navbar-toggler {
    flex-basis: auto;
  }
}
.cid-sN24DjvABH .navbar.navbar-short {
  min-height: 60px;
}
.cid-sN24DjvABH .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sN24DjvABH .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sN24DjvABH .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
  display: flex;
}
.cid-sN24DjvABH .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sN24DjvABH .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sN24DjvABH .dropdown-item.active,
.cid-sN24DjvABH .dropdown-item:active {
  background-color: transparent;
}
.cid-sN24DjvABH .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sN24DjvABH .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sN24DjvABH .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sN24DjvABH .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-sN24DjvABH .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sN24DjvABH .navbar > .container-fluid {
  flex-wrap: unset;
}
@media (max-width: 991px) {
  .cid-sN24DjvABH .navbar > .container-fluid {
    flex-wrap: inherit;
  }
}
.cid-sN24DjvABH .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sN24DjvABH ul.navbar-nav {
  flex-wrap: wrap;
  justify-content: flex-end;
}
.cid-sN24DjvABH button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sN24DjvABH button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sN24DjvABH button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sN24DjvABH button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sN24DjvABH button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sN24DjvABH button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sN24DjvABH nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sN24DjvABH nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sN24DjvABH nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sN24DjvABH nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sN24DjvABH .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sN24DjvABH a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-sN24DjvABH a.nav-link {
    justify-content: flex-start;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sN24DjvABH .navbar {
    height: 70px;
  }
  .cid-sN24DjvABH .navbar.opened {
    height: auto;
  }
  .cid-sN24DjvABH .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sN24YTTie1 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN24YTTie1 h2,
.cid-sN24YTTie1 p {
  margin: 0;
}
.cid-sN24YTTie1 .heading {
  margin-bottom: 50px;
}
.cid-sN24YTTie1 .mbr-section-title {
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}
.cid-sN24YTTie1 .mbr-text {
  color: #6b6b6b;
}
.cid-sN24YTTie1 .image-wrap {
  position: relative;
  width: 100%;
  min-height: 376px;
}
.cid-sN24YTTie1 .image {
  position: absolute;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 1440px) {
  .cid-sN24YTTie1 .image {
    height: 220px;
  }
}
@media (max-width: 1024px) {
  .cid-sN24YTTie1 .image {
    height: 170px;
  }
}
@media (max-width: 800px) {
  .cid-sN24YTTie1 .image {
    position: static;
    height: 220px;
    margin-bottom: 30px;
  }
}
.cid-sN24YTTie1 .image-left {
  width: 600px;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: url("../../../assets/images/1.jpg");
}
@media (max-width: 1440px) {
  .cid-sN24YTTie1 .image-left {
    width: 505px;
  }
}
@media (max-width: 1024px) {
  .cid-sN24YTTie1 .image-left {
    width: 354px;
  }
}
@media (max-width: 800px) {
  .cid-sN24YTTie1 .image-left {
    width: 100%;
  }
}
.cid-sN24YTTie1 .image-middle {
  width: 451px;
  top: 76px;
  left: 524px;
  z-index: 1;
  background-image: url("../../../assets/images/2.jpg");
}
@media (max-width: 1440px) {
  .cid-sN24YTTie1 .image-middle {
    width: 385px;
    left: 445px;
  }
}
@media (max-width: 1024px) {
  .cid-sN24YTTie1 .image-middle {
    width: 268px;
    left: 312px;
  }
}
@media (max-width: 800px) {
  .cid-sN24YTTie1 .image-middle {
    width: 100%;
  }
}
.cid-sN24YTTie1 .image-right {
  width: 401px;
  top: 0;
  left: 899px;
  z-index: 0;
  background-image: url("../../../assets/images/3.jpg");
}
@media (max-width: 1440px) {
  .cid-sN24YTTie1 .image-right {
    width: 330px;
    left: 770px;
  }
}
@media (max-width: 1024px) {
  .cid-sN24YTTie1 .image-right {
    width: 230px;
    left: 538px;
  }
}
@media (max-width: 800px) {
  .cid-sN24YTTie1 .image-right {
    width: 100%;
  }
}
.cid-sN25LmKt2Y {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN25LmKt2Y .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-sN25LmKt2Y .mbr-section-title {
  color: #000000;
  margin-bottom: 20.4px;
}
.cid-sN25LmKt2Y .animation-box {
  position: relative;
  width: 78px;
  height: 86px;
}
@keyframes zoom-1 {
  0%,
  10% {
    transform: scale(0) rotate(0);
  }
  30%,
  32% {
    transform: scale(0.6) rotate(10deg);
  }
  100%,
  85% {
    transform: scale(0) rotate(60deg);
  }
}
@keyframes zoom-2 {
  0%,
  15% {
    transform: scale(0) rotate(0);
  }
  50%,
  54% {
    transform: scale(0.4) rotate(0);
  }
  100%,
  82% {
    transform: scale(0) rotate(80deg);
  }
}
.cid-sN25LmKt2Y .star {
  color: #314825;
  fill: currentColor;
  overflow: hidden;
}
.cid-sN25LmKt2Y .star:nth-of-type(2) {
  position: absolute;
  top: -35px;
  left: 50px;
  transform: scale(0);
  animation: zoom-1 3.1s infinite;
}
.cid-sN25LmKt2Y .star:nth-of-type(3) {
  position: absolute;
  top: -45px;
  left: -50px;
  animation: zoom-2 3.1s infinite;
}
.cid-sN26ftOQRS {
  padding-top: 700px;
  background-image: url("../../../assets/images/4.jpg");
}
.cid-sN26ylHlT5 {
  padding-top: 8rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN26ylHlT5 .content {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}
@media (max-width: 1024px) {
  .cid-sN26ylHlT5 .content {
    flex-wrap: wrap;
  }
}
.cid-sN26ylHlT5 h2,
.cid-sN26ylHlT5 h4,
.cid-sN26ylHlT5 h3,
.cid-sN26ylHlT5 h6,
.cid-sN26ylHlT5 p,
.cid-sN26ylHlT5 ul {
  margin: 0;
}
.cid-sN26ylHlT5 ul {
  padding: 0;
  list-style-type: none;
}
.cid-sN26ylHlT5 .heading {
  width: 35%;
  margin-bottom: 37px;
}
@media (max-width: 1024px) {
  .cid-sN26ylHlT5 .heading {
    width: 100%;
  }
}
.cid-sN26ylHlT5 .heading-inner {
  max-width: 476px;
}
.cid-sN26ylHlT5 .mbr-section-title {
  color: #000000;
}
.cid-sN26ylHlT5 .mbr-section-subtitle {
  color: #6b6b6b;
}
.cid-sN26ylHlT5 .cards {
  width: 65%;
  display: flex;
}
@media (max-width: 1024px) {
  .cid-sN26ylHlT5 .cards {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .cid-sN26ylHlT5 .cards {
    flex-direction: column;
    padding-top: 0px;
  }
}
.cid-sN26ylHlT5 .card {
  width: 34%;
}
@media (max-width: 1024px) {
  .cid-sN26ylHlT5 .card {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-sN26ylHlT5 .card {
    width: 100%;
    padding-top: 30px;
  }
}
.cid-sN26ylHlT5 .mbr-card-title {
  color: #000000;
  margin-bottom: 3px;
  text-align: left;
}
.cid-sN26ylHlT5 .mbr-card-subtitle {
  color: #6b6b6b;
}
.cid-sN26ylHlT5 .list {
  padding-top: 5px;
  margin-bottom: 24px;
  color: #6b6b6b;
  text-align: left;
}
.cid-sN273erQVf {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sN273erQVf .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cid-sN273erQVf .mbr-section-title {
  color: #000000;
  margin-bottom: 20.4px;
}
.cid-sN273erQVf .animation-box {
  position: relative;
  width: 78px;
  height: 86px;
}
@keyframes zoom-1 {
  0%,
  10% {
    transform: scale(0) rotate(0);
  }
  30%,
  32% {
    transform: scale(0.6) rotate(10deg);
  }
  100%,
  85% {
    transform: scale(0) rotate(60deg);
  }
}
@keyframes zoom-2 {
  0%,
  15% {
    transform: scale(0) rotate(0);
  }
  50%,
  54% {
    transform: scale(0.4) rotate(0);
  }
  100%,
  82% {
    transform: scale(0) rotate(80deg);
  }
}
.cid-sN273erQVf .star {
  color: #ee3102;
  fill: currentColor;
  overflow: hidden;
}
.cid-sN273erQVf .star:nth-of-type(2) {
  position: absolute;
  top: -35px;
  left: 50px;
  transform: scale(0);
}
.cid-sN273erQVf .star:nth-of-type(3) {
  position: absolute;
  top: -45px;
  left: -50px;
}
.cid-sN26Y3gkiK {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background: #ffffff;
}
.cid-sN26Y3gkiK h4,
.cid-sN26Y3gkiK h6,
.cid-sN26Y3gkiK p {
  margin: 0;
}
.cid-sN26Y3gkiK .mbr-main-text {
  font-size: x-large;
}
.cid-sN26Y3gkiK .mbr-sub-text {
  font-size: small;
}
.cid-sN26Y3gkiK .mbr-card-title {
  color: #000000;
  margin: 0 0 11px;
  margin-bottom: 6px;
}
.cid-sN26Y3gkiK .mbr-card-subtitle {
  color: #6b6b6b;
  margin: 0;
  margin-bottom: 2px;
}
.cid-sN26Y3gkiK .controls {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cid-sN26Y3gkiK .mbr-slide-indicator {
  color: #000000;
  position: relative;
  width: 26px;
  height: 27px;
  margin: 5px 0 12px;
  opacity: 1;
  counter-increment: counter;
}
@media (max-width: 1024px) {
  .cid-sN26Y3gkiK .mbr-slide-indicator {
    margin: 5px;
  }
}
.cid-sN26Y3gkiK .mbr-slide-indicator::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  line-height: 1;
  background-color: #ee3102;
  transition: width 0.25s ease-out;
}
.cid-sN26Y3gkiK .embla {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}
.cid-sN26Y3gkiK .embla__viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cid-sN26Y3gkiK .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-sN26Y3gkiK .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-sN26Y3gkiK .embla__container {
  height: 240px;
  display: flex;
  flex-direction: column;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
@media (max-width: 1024px) {
  .cid-sN26Y3gkiK .embla__container {
    height: 278px;
  }
}
@media (max-width: 767px) {
  .cid-sN26Y3gkiK .embla__container {
    height: 446px;
  }
}
.cid-sN26Y3gkiK .embla__slide {
  position: relative;
  width: 100%;
  height: 240px;
  margin-bottom: 30px;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .cid-sN26Y3gkiK .embla__slide {
    height: 278px;
  }
}
@media (max-width: 767px) {
  .cid-sN26Y3gkiK .embla__slide {
    height: 446px;
  }
}
.cid-sN26Y3gkiK .card-wrap {
  position: relative;
  height: 100%;
  padding: 26px 0 7px;
  display: flex;
}
@media (max-width: 680px) {
  .cid-sN26Y3gkiK .card-wrap {
    flex-wrap: wrap;
  }
}
.cid-sN26Y3gkiK .icon-wrap svg path {
  fill: #314825;
}
.cid-sN26Y3gkiK .image-wrap {
  position: absolute;
  left: 120px;
  top: 28px;
  border-radius: 100%;
  width: 93px;
  height: 93px;
  overflow: hidden;
}
.cid-sN26Y3gkiK .image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sN26Y3gkiK .content-wrap {
  padding-left: 8.3%;
  padding-right: 17%;
  width: calc(100% - 160px);
}
@media (max-width: 1024px) {
  .cid-sN26Y3gkiK .content-wrap {
    width: 100%;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .cid-sN26Y3gkiK .content-wrap {
    padding: 0;
    margin-top: -50px;
  }
}
.cid-sN26Y3gkiK .mbr-card-text {
  color: #6b6b6b;
}
.cid-sN26Y3gkiK .embla__button--next svg polygon,
.cid-sN26Y3gkiK .embla__button--prev svg polygon {
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.cid-sN26Y3gkiK .embla__button--next svg,
.cid-sN26Y3gkiK .embla__button--prev svg {
  overflow: hidden;
}
.cid-sN26Y3gkiK .embla__button--prev {
  vertical-align: super;
  color: #000;
  transition: color 0.25s ease-out;
}
.cid-sN26Y3gkiK .embla__button--prev:hover {
  color: #000;
}
.cid-sN26Y3gkiK .embla__button--prev svg polygon:nth-of-type(1) {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.cid-sN26Y3gkiK .embla__button--prev svg polygon:nth-of-type(2) {
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
.cid-sN26Y3gkiK .embla__button--prev:hover svg polygon:nth-of-type(1) {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
.cid-sN26Y3gkiK .embla__button--prev:hover svg polygon:nth-of-type(2) {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition-delay: 0.3s;
}
.cid-sN26Y3gkiK .embla__button--next {
  vertical-align: sub;
  color: #000;
  transition: color 0.25s ease-out;
}
.cid-sN26Y3gkiK .embla__button--next:hover {
  color: #000;
}
.cid-sN26Y3gkiK .embla__button--next svg polygon:nth-of-type(1) {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
}
.cid-sN26Y3gkiK .embla__button--next svg polygon:nth-of-type(2) {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}
.cid-sN26Y3gkiK .embla__button--next:hover svg polygon:nth-of-type(1) {
  -webkit-clip-path: inset(0 0 0 100%);
  clip-path: inset(0 0 0 100%);
}
.cid-sN26Y3gkiK .embla__button--next:hover svg polygon:nth-of-type(2) {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  transition-delay: 0.3s;
}
.cid-sN85J5Nnxy {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-sN85J5Nnxy .container-fluid {
  padding: 0;
  margin: 0;
}
.cid-sN85J5Nnxy h2,
.cid-sN85J5Nnxy h3,
.cid-sN85J5Nnxy h4,
.cid-sN85J5Nnxy h5 {
  margin: 0;
}
.cid-sN85J5Nnxy .mbr-section-head {
  margin-bottom: 40px;
}
.cid-sN85J5Nnxy .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-sN85J5Nnxy .mbr-section-subtitle {
  text-align: center;
}
.cid-sN85J5Nnxy .mbr-card-title {
  color: #000000;
  margin-bottom: 24px;
}
.cid-sN85J5Nnxy .mbr-card-subtitle {
  color: #6b6b6b;
  margin-top: 28px;
  margin-bottom: -7px;
}
.cid-sN85J5Nnxy .image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cid-sN85J5Nnxy .image-wrap {
  width: 50%;
  position: relative;
}
@media (max-width: 680px) {
  .cid-sN85J5Nnxy .image-wrap {
    width: 100%;
  }
}
.cid-sN85J5Nnxy img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sN85J5Nnxy .text-wrap {
  position: absolute;
  bottom: 128px;
  left: 0;
  width: 270px;
  min-height: 92px;
  padding-left: 28px;
  background: #ffffff;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  transition: 0.7s cubic-bezier(0.16, 0.09, 0, 1.02) 0s;
}
@media (max-width: 400px) {
  .cid-sN85J5Nnxy .text-wrap {
    bottom: 20px;
  }
}
.cid-sN85J5Nnxy .image-wrap:hover .text-wrap {
  -webkit-clip-path: inset(0 0 0 0);
  clip-path: inset(0 0 0 0);
  opacity: 1;
}
.cid-sN2bczp3iC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-sN2bczp3iC .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sN2bczp3iC h2,
.cid-sN2bczp3iC h3,
.cid-sN2bczp3iC p {
  margin: 0;
}
.cid-sN2bczp3iC .inner-container {
  display: flex;
  flex-wrap: wrap;
}
.cid-sN2bczp3iC .form-wrap {
  width: 70%;
}
@media (max-width: 1024px) {
  .cid-sN2bczp3iC .form-wrap {
    width: 100%;
  }
}
.cid-sN2bczp3iC .form-inner-wrap {
  width: 95%;
  max-width: 95%;
  padding-top: 10px;
}
@media (max-width: 767px) {
  .cid-sN2bczp3iC .form-inner-wrap {
    width: 100%;
    max-width: 100%;
  }
}
.cid-sN2bczp3iC .text {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
}
@media (max-width: 1024px) {
  .cid-sN2bczp3iC .text {
    width: 100%;
    padding-top: 50px;
  }
}
.cid-sN2bczp3iC .heading {
  margin-bottom: 20px;
}
.cid-sN2bczp3iC .mbr-section-title {
  color: #000000;
}
.cid-sN2bczp3iC .mbr-main-text {
  color: #6b6b6b;
  font-weight: 300;
}
.cid-sN2bczp3iC .mbr-section-subtitle {
  color: #000000;
  padding-right: 30%;
}
@media (max-width: 767px) {
  .cid-sN2bczp3iC .mbr-section-subtitle {
    padding: 0;
  }
}
.cid-sN2bczp3iC .mbr-sub-text {
  color: #6b6b6b;
  margin: 10px 0;
  font-weight: 300;
}
.cid-sN2bczp3iC .mbr-contacts {
  color: #000000;
  margin-bottom: 10px;
}
.cid-sN2bczp3iC form .mbr-section-btn {
  text-align: center;
  padding: 0.7rem 1rem;
  width: 200px;
}
.cid-sN2bczp3iC textarea {
  width: 100%;
  padding: 11px 18px;
  border: 1px solid #000000;
  height: 134px;
  border-radius: 0;
}
.cid-sN2bczp3iC input,
.cid-sN2bczp3iC select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 20px;
  padding: 11px 0;
  margin-right: 24px;
  font-family: inherit;
  font-size: 14px;
  line-height: 24px;
  font-weight: inherit;
  color: #6b6b6b;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #000;
  border-radius: 0;
  box-sizing: border-box;
  outline: 0;
  cursor: pointer;
  transition: color 0.25s ease-out, background-color 0.25s ease-out, border-color 0.25s ease-out;
}
.cid-sN2bczp3iC input:last-child,
.cid-sN2bczp3iC select:last-child {
  margin-right: 0;
}
.cid-sN2bczp3iC .form-check-input {
  padding: 0;
  border: 1px solid #000000;
}
.cid-sN2bczp3iC .form-check-input:checked {
  padding: 0;
  background-color: #000000;
  border-color: #000000;
}
.cid-sN2bczp3iC .form-control {
  color: #000000;
  border-radius: 0;
  outline: none;
}
.cid-sN2bczp3iC .value {
  border: none;
}
.cid-sN2bczp3iC input[type="range"] {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background: transparent;
}
.cid-sN2bczp3iC input[type="range"]::-moz-range-track {
  border: inherit;
  background: transparent;
}
.cid-sN2bczp3iC input[type="range"]::-ms-track {
  border: inherit;
  background: transparent;
  color: transparent;
}
.cid-sN2bczp3iC input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  background: transparent;
  border: 1px solid #000000;
  border-radius: 1px;
}
.cid-sN2bczp3iC input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #000000;
  margin-top: -6px;
}
.cid-sN2bczp3iC input[type="range"]:focus {
  outline: none;
}
.cid-sN2bczp3iC input[type="range"]:focus::-webkit-slider-thumb {
  background: #000000;
}
.cid-sN2bczp3iC input[type="range"]::-ms-fill-upper {
  background: transparent;
}
.cid-sN2bczp3iC input[type="range"]::-ms-fill-lower {
  background: black;
}
.cid-sN2bql4V9G {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-sN2bql4V9G .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.7;
}
.cid-sN2bql4V9G h3 {
  margin: 0;
}
.cid-sN2bql4V9G .content {
  padding: 0 45px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 767px) {
  .cid-sN2bql4V9G .content {
    padding: 0 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .cid-sN2bql4V9G .text-wrap {
    margin-bottom: 1rem;
  }
}
.cid-sN2bql4V9G .mbr-brand {
  color: #000000;
  font-weight: 600;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-sN2bql4V9G .mbr-brand {
    text-align: center;
  }
}
.cid-sN2bql4V9G .mbr-text {
  color: #6b6b6b;
  margin: 10px 0 0;
  font-weight: 300;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-sN2bql4V9G .mbr-text {
    text-align: center;
  }
}
.cid-sN2bql4V9G .socials {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.cid-sN2bql4V9G .socials p {
  margin: 0 20px 0 0;
}
@media (max-width: 767px) {
  .cid-sN2bql4V9G .socials {
    margin-right: -20px;
  }
}
.cid-sN2bql4V9G .socials-item .link {
  color: #000000;
}
.cid-sN2bql4V9G .footer-lower .copyright {
  margin-bottom: 1rem;
}
.cid-sN2bql4V9G .footer-lower hr {
  margin: 1rem 0;
  height: 1px;
  background-color: #000000;
  border: none;
}
.cid-sN2bql4V9G .copyright > p {
  text-align: center;
  color: #000000;
}
