body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 5.2rem;
}
.display-1 > .mbr-iconfont {
  font-size: 8.32rem;
}
.display-2 {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 2.2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.6rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.16rem;
    font-size: calc( 2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4699999999999998rem + (5.2 - 2.4699999999999998) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #b69b74 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #ff3366 !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b69b74 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #91754c !important;
  border-color: #91754c !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-primary-outline:hover:before,
.btn-primary-outline:focus:before,
.btn-primary-outline.focus:before,
.btn-primary-outline.active:before {
  transform: scaleX(1);
}
.btn-primary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #149dcc;
}
.btn-secondary-outline:hover:before,
.btn-secondary-outline:focus:before,
.btn-secondary-outline.focus:before,
.btn-secondary-outline.active:before {
  transform: scaleX(1);
}
.btn-secondary-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #149dcc;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #ff3366;
}
.btn-info-outline:hover:before,
.btn-info-outline:focus:before,
.btn-info-outline.focus:before,
.btn-info-outline.active:before {
  transform: scaleX(1);
}
.btn-info-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ff3366;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #f7ed4a;
}
.btn-success-outline:hover:before,
.btn-success-outline:focus:before,
.btn-success-outline.focus:before,
.btn-success-outline.active:before {
  transform: scaleX(1);
}
.btn-success-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f7ed4a;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #879a9f;
}
.btn-warning-outline:hover:before,
.btn-warning-outline:focus:before,
.btn-warning-outline.focus:before,
.btn-warning-outline.active:before {
  transform: scaleX(1);
}
.btn-warning-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #879a9f;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #816843;
  color: #816843;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #b69b74;
}
.btn-danger-outline:hover:before,
.btn-danger-outline:focus:before,
.btn-danger-outline.focus:before,
.btn-danger-outline.active:before {
  transform: scaleX(1);
}
.btn-danger-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b69b74;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b69b74 !important;
  border-color: #b69b74 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: white !important;
  background: transparent !important;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2) !important;
  border-color: #333333;
}
.btn-black-outline:hover:before,
.btn-black-outline:focus:before,
.btn-black-outline.focus:before,
.btn-black-outline.active:before {
  transform: scaleX(1);
}
.btn-black-outline:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  transition: all 0.3s;
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #b69b74 !important;
}
.text-secondary {
  color: #149dcc !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #ff3366 !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b69b74 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #816843 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #0b566f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cc0033 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #816843 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ff3366;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b69b74;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #b69b74;
  border-color: #b69b74;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #b69b74;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e2d7c8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #e2d7c8;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #b69b74;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #b69b74;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #b69b74;
  border-bottom-color: #b69b74;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #b69b74 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #149dcc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23b69b74' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rArWEFjSdi .navbar {
  padding: .5rem 0;
  background: #f1eeea;
  transition: none;
  min-height: 100px;
}
.cid-rArWEFjSdi .navbar-dropdown.bg-color.transparent.opened {
  background: #f1eeea;
}
.cid-rArWEFjSdi a {
  font-style: normal;
}
.cid-rArWEFjSdi a .link:hover {
  color: inherit!important;
}
.cid-rArWEFjSdi .dropdown-item:active {
  background: #f1eeea;
}
.cid-rArWEFjSdi .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  text-decoration: none;
}
.cid-rArWEFjSdi .nav-item a {
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  padding: 0.1rem 0 !important;
  margin: 0.5rem 1.4rem !important;
  -webkit-align-items: center;
  -webkit-justify-content: center;
}
.cid-rArWEFjSdi .nav-item:focus,
.cid-rArWEFjSdi .nav-link:focus {
  outline: none;
}
.cid-rArWEFjSdi .btn {
  padding: 0.4rem 1.5rem;
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
}
.cid-rArWEFjSdi .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-rArWEFjSdi .menu-logo {
  margin-right: auto;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rArWEFjSdi .menu-logo .navbar-brand .navbar-logo a {
  display: inline-flex;
}
.cid-rArWEFjSdi .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-rArWEFjSdi .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-rArWEFjSdi .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rArWEFjSdi .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rArWEFjSdi .dropdown .dropdown-menu {
  background: #f1eeea;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-rArWEFjSdi .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-rArWEFjSdi .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rArWEFjSdi .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rArWEFjSdi .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rArWEFjSdi .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-rArWEFjSdi .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rArWEFjSdi .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-rArWEFjSdi .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rArWEFjSdi .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rArWEFjSdi .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rArWEFjSdi .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rArWEFjSdi button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.8rem;
  right: 1rem;
}
.cid-rArWEFjSdi button.navbar-toggler:focus {
  outline: none;
}
.cid-rArWEFjSdi button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b69b74;
}
.cid-rArWEFjSdi button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rArWEFjSdi button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rArWEFjSdi button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rArWEFjSdi button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rArWEFjSdi nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArWEFjSdi nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rArWEFjSdi nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rArWEFjSdi nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rArWEFjSdi .collapsed.navbar-expand {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArWEFjSdi .collapsed .btn {
  display: -webkit-flex;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rArWEFjSdi .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rArWEFjSdi .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  .cid-rArWEFjSdi .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rArWEFjSdi .collapsed button.navbar-toggler {
  display: block;
}
.cid-rArWEFjSdi .collapsed .navbar-brand {
  margin-left: 1rem !important;
}
.cid-rArWEFjSdi .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-rArWEFjSdi .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  overflow: hidden;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-rArWEFjSdi .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rArWEFjSdi .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rArWEFjSdi .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 1023px) {
  .cid-rArWEFjSdi .navbar-expand {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArWEFjSdi img {
    height: 3.8rem !important;
  }
  .cid-rArWEFjSdi .btn {
    display: -webkit-flex;
  }
  .cid-rArWEFjSdi button.navbar-toggler {
    display: block;
  }
  .cid-rArWEFjSdi .navbar-brand {
    margin-left: 1rem !important;
  }
  .cid-rArWEFjSdi .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-rArWEFjSdi .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing,
  .cid-rArWEFjSdi .navbar-collapse.show {
    display: block !important;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing .navbar-nav,
  .cid-rArWEFjSdi .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rArWEFjSdi .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-rArWEFjSdi .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing .navbar-buttons,
  .cid-rArWEFjSdi .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rArWEFjSdi .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rArWEFjSdi .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rArWEFjSdi .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    overflow: hidden;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-rArWEFjSdi .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rArWEFjSdi .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rArWEFjSdi .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 767px) {
  .cid-rArWEFjSdi .menu-logo {
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
  }
}
.cid-rArWEFjSdi .navbar-collapse {
  flex-basis: auto;
  -webkit-flex-basis: auto;
}
.cid-rArWEFjSdi .nav-link,
.cid-rArWEFjSdi .dropdown-item {
  border-bottom: 2px solid transparent;
  transition: all 0.3s;
}
.cid-rArWEFjSdi .nav-link:hover,
.cid-rArWEFjSdi .dropdown-item:hover {
  color: #343434 !important;
  border-color: #b69b74;
}
.cid-rArWGfbF0U {
  padding-top: 30px;
  padding-bottom: 150px;
  background-color: #f1eeea;
}
.cid-rArWGfbF0U .container-fluid {
  position: relative;
  padding-right: 10.4rem;
}
.cid-rArWGfbF0U .wrapper {
  position: relative;
}
.cid-rArWGfbF0U .content {
  padding-left: 6rem;
  padding-right: 2rem;
}
.cid-rArWGfbF0U .img1 {
  width: 100%;
  padding-right: 6rem;
  object-fit: cover;
  height: 800px;
}
.cid-rArWGfbF0U .mbr-iconfont {
  font-size: 1.8rem;
  color: #232323;
}
.cid-rArWGfbF0U .mbr-iconfont:hover {
  cursor: pointer;
}
.cid-rArWGfbF0U .icon1 {
  position: absolute;
  top: 2rem;
  right: 0rem;
}
.cid-rArWGfbF0U .icon2 {
  position: absolute;
  top: 5rem;
  right: 0rem;
}
.cid-rArWGfbF0U .img2 {
  position: absolute;
  bottom: -4.6rem;
  right: 0;
  width: 400px;
  box-shadow: 2.5px 4.3px 62px 0 rgba(0, 0, 0, 0.22);
}
.cid-rArWGfbF0U .title {
  position: absolute;
  right: 0rem;
  transform: rotate(90deg);
  transform-origin: top right;
  top: 26rem;
  padding: 0;
}
.cid-rArWGfbF0U .title:before {
  content: '';
  position: absolute;
  background: currentColor;
  top: 50%;
  left: -8.6rem;
  width: 100px;
  height: 2px;
}
@media (max-width: 1400px) {
  .cid-rArWGfbF0U .img2 {
    width: 400px;
  }
  .cid-rArWGfbF0U .container-fluid {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .cid-rArWGfbF0U .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 992px) {
  .cid-rArWGfbF0U .img2 {
    width: 400px;
  }
  .cid-rArWGfbF0U .img1 {
    padding-right: 4rem;
  }
  .cid-rArWGfbF0U .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-rArWGfbF0U .img1 {
    height: 600px;
    padding-right: 3rem;
  }
  .cid-rArWGfbF0U .img2 {
    width: 200px;
  }
  .cid-rArWGfbF0U .container-fluid {
    padding: 0 1rem;
  }
  .cid-rArWGfbF0U .content {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.cid-rArWGumJqV {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #f1eeea;
}
.cid-rArWGumJqV .text-wrap {
  background-color: #656b50;
  padding: 3rem 6rem;
}
.cid-rArWGumJqV .img1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 75%;
  height: 80%;
  object-fit: cover;
}
.cid-rArWGumJqV .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rArWGumJqV .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-rArWGumJqV .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rArWGumJqV .mbr-text,
.cid-rArWGumJqV .link-wrap {
  text-align: center;
}
.cid-rArWGumJqV H4 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-rArWGumJqV .img1 {
    width: 50%;
  }
  .cid-rArWGumJqV .text-wrap {
    background-color: #656b50;
    padding: 2rem 2rem;
  }
}
.cid-rArWHD1YFc {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #f1eeea;
}
.cid-rArWHD1YFc .mbr-text {
  color: #767676;
}
.cid-rArWHD1YFc h4 {
  text-align: center;
}
.cid-rArWHD1YFc p {
  text-align: center;
}
.cid-rArWHD1YFc .card-img span {
  font-size: 96px;
  color: #b69b74;
}
.cid-rArWGHv2Uu {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  background-color: #eee8df;
}
.cid-rArWGHv2Uu .mbr-iconfont {
  font-family: 'Moririse2' !important;
  display: inline-flex;
  transform-origin: ;
  transform: rotate(45deg);
  transition: all 0.3s;
  padding: 0!important;
  font-size: 1.4rem!important;
  color: #b69b74;
}
.cid-rArWGHv2Uu .p-4 {
  padding: 1rem 0!important;
}
.cid-rArWGHv2Uu img {
  width: 90%;
  box-shadow: 2.5px 4.3px 29px 0 rgba(0, 0, 0, 0.18);
}
.cid-rArWGHv2Uu .accordion .card .card-header {
  margin-bottom: 0px;
}
.cid-rArWGHv2Uu .mbri-arrow-down:before {
  content: "\e960";
}
.cid-rArWGHv2Uu .mbri-arrow-up:before {
  content: "\e960";
}
.cid-rArWGHv2Uu .collapsed .mbr-iconfont {
  transform: rotate(0deg);
}
.cid-rArWGHv2Uu h4 {
  justify-content: space-between;
  display: flex;
  width: 100%;
}
.cid-rArWGHv2Uu .card {
  border-radius: 0px;
}
.cid-rArWGHv2Uu .card .card-header {
  border-radius: 0px;
  border: 0px;
  background-color: transparent;
  padding: 0;
  border-bottom: 2px solid #eee8df;
}
.cid-rArWGHv2Uu .card .card-header a.panel-title {
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-decoration: none !important;
  line-height: normal;
}
.cid-rArWGHv2Uu .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-rArWGHv2Uu .card .card-header a.panel-title h4 {
  padding: 1.2rem 0rem;
  margin-bottom: 0;
}
.cid-rArWGHv2Uu .card .card-header a.panel-title h4 .sign {
  padding-right: 1rem;
}
@media (max-width: 992px) {
  .cid-rArWGHv2Uu img {
    width: 100%;
  }
}
.cid-rArWHXCrjo {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #f1eeea;
}
.cid-rArWHXCrjo .row {
  padding: 0 1rem;
  justify-content: center;
}
.cid-rArWHXCrjo .title {
  max-width: 800px;
  margin: auto;
}
.cid-rArWHXCrjo .mbr-testimonial {
  padding: 0;
}
.cid-rArWHXCrjo .mbr-testimonial .card-block {
  -webkit-flex-grow: 0;
  flex-grow: 0;
}
.cid-rArWHXCrjo .mbr-testimonial .card-block .testimonial-photo {
  display: inline-block;
  margin-bottom: 1.6rem;
  overflow: hidden;
}
.cid-rArWHXCrjo .mbr-testimonial .card-block .testimonial-photo img {
  width: 100%;
  min-width: 100%;
  height: 380px;
  object-fit: cover;
  min-height: 100%;
}
.cid-rArWHXCrjo .mbr-testimonial p {
  padding: 0 1rem;
}
.cid-rArWHXCrjo .mbr-testimonial .card-footer {
  margin-bottom: 2.2rem;
  border-top: 0;
  padding: 1rem 1rem 3rem 1rem;
  word-wrap: break-word;
  word-break: break-word;
  background: none;
  position: relative;
}
.cid-rArWHXCrjo .mbr-testimonial .card-footer:before {
  content: '';
  position: absolute;
  background: #b69b74;
  bottom: -1rem;
  left: 50%;
  width: 2px;
  height: 3rem;
}
@media (max-width: 300px) {
  .cid-rArWHXCrjo .testimonial-photo {
    width: 100% !important;
    height: auto !important;
  }
}
.cid-rArWHXCrjo .mbr-author-desc {
  color: #b69b74;
}
.cid-rArWHXCrjo H2 {
  color: #b69b74;
}
@media (max-width: 992px) {
  .cid-rArWHXCrjo .md-pb {
    padding-bottom: 2rem!important;
  }
}
.cid-rArWILL1E6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #eee8df;
}
@media (max-width: 992px) {
  .cid-rArWILL1E6 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .cid-rArWILL1E6 .md-pb {
    margin-bottom: 2rem;
  }
}
.cid-rArWILL1E6 .link {
  position: relative;
  width: fit-content;
  display: inline-block;
  padding-right: 2rem;
  cursor: pointer;
}
.cid-rArWILL1E6 .link:before {
  content: "\e966";
  font-family: MobiriseIcons !important;
  position: absolute;
  right: 0rem;
  transition: all 0.3s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: currentColor;
}
.cid-rArWILL1E6 .link:hover:before {
  margin-right: -0.4rem;
}
.cid-rArWILL1E6 .box {
  background-size: cover;
  background-position: center;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cid-rArWILL1E6 .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #cebfaf;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.cid-rArWILL1E6 .bg1 {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-rArWILL1E6 .bg2 {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-rArWILL1E6 .icon-wrap {
  border: 2px solid #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative;
  z-index: 2;
}
.cid-rArWILL1E6 .icon-wrap:hover {
  transform: scale(1.1);
}
.cid-rArWILL1E6 .icon-wrap span {
  padding-left: 8px;
}
.cid-rArWILL1E6 .mbr-media span {
  font-size: 38px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #ffffff !important;
}
.cid-rArWILL1E6 .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-rArWILL1E6 .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-rArWILL1E6 .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-rArWILL1E6 .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-rArWILL1E6 a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-rArWILL1E6 a.close:hover {
  color: #ffffff;
}
@media (max-width: 576px) {
  .cid-rArWILL1E6 {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .cid-rArWILL1E6 .box {
    height: 250px;
  }
}
.cid-rArWILL1E6 H4 {
  color: #b69b74;
}
.cid-rArWJRbpio {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #f1eeea;
}
.cid-rArWJRbpio .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-rArWJRbpio h4 {
  max-width: 600px;
  margin: auto;
  line-height: 1.4;
}
@media (min-width: 767px) {
  .cid-rArWJRbpio .form-check-inline {
    margin-right: 2rem;
  }
  .cid-rArWJRbpio .form-control-label {
    display: inline-flex;
    padding-right: 3rem;
    margin-bottom: 0;
    padding-left: 0.4rem;
  }
  .cid-rArWJRbpio .check {
    display: flex;
    align-items: flex-end;
  }
}
@media (min-width: 1600px) {
  .cid-rArWJRbpio .col-lg-10 {
    max-width: 70%;
    flex: 0 0 70%;
  }
}
@media (min-width: 992px) {
  .cid-rArWJRbpio .col,
  .cid-rArWJRbpio .col-lg-6 {
    max-width: 48%;
  }
  .cid-rArWJRbpio .form-group {
    margin-bottom: 0,5rem;
  }
}
@media (max-width: 992px) {
  .cid-rArWJRbpio .check {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
  }
  .cid-rArWJRbpio .form-group {
    margin-bottom: 0rem;
  }
}
.cid-rArWJRbpio label {
  margin-bottom: 0;
}
.cid-rArWJRbpio .form-row {
  justify-content: space-between;
}
.cid-rArWJRbpio .form-control,
.cid-rArWJRbpio .field-input {
  padding: 0.5rem;
  background-color: #f1eeea;
  border: none;
  border-bottom: 2px solid #343434;
  border-radius: 0;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rArWJRbpio .form-control:focus,
.cid-rArWJRbpio .field-input:focus {
  color: #343434 !important;
}
.cid-rArWJRbpio .form-control:hover,
.cid-rArWJRbpio .field-input:hover {
  color: #343434 !important;
}
.cid-rArWJRbpio .form-control input::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input input::-webkit-input-placeholder,
.cid-rArWJRbpio .form-control textarea::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input textarea::-webkit-input-placeholder {
  color: #343434;
}
.cid-rArWJRbpio .form-control input:-moz-placeholder,
.cid-rArWJRbpio .field-input input:-moz-placeholder,
.cid-rArWJRbpio .form-control textarea:-moz-placeholder,
.cid-rArWJRbpio .field-input textarea:-moz-placeholder {
  color: #343434;
}
.cid-rArWJRbpio .form-control:hover,
.cid-rArWJRbpio .field-input:hover,
.cid-rArWJRbpio .form-control:focus,
.cid-rArWJRbpio .field-input:focus {
  background-color: #f1eeea;
  border-color: #343434;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rArWJRbpio .form-control:hover input::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input:hover input::-webkit-input-placeholder,
.cid-rArWJRbpio .form-control:focus input::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input:focus input::-webkit-input-placeholder,
.cid-rArWJRbpio .form-control:hover textarea::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input:hover textarea::-webkit-input-placeholder,
.cid-rArWJRbpio .form-control:focus textarea::-webkit-input-placeholder,
.cid-rArWJRbpio .field-input:focus textarea::-webkit-input-placeholder {
  color: #ffffff;
}
.cid-rArWJRbpio .form-control:hover input:-moz-placeholder,
.cid-rArWJRbpio .field-input:hover input:-moz-placeholder,
.cid-rArWJRbpio .form-control:focus input:-moz-placeholder,
.cid-rArWJRbpio .field-input:focus input:-moz-placeholder,
.cid-rArWJRbpio .form-control:hover textarea:-moz-placeholder,
.cid-rArWJRbpio .field-input:hover textarea:-moz-placeholder,
.cid-rArWJRbpio .form-control:focus textarea:-moz-placeholder,
.cid-rArWJRbpio .field-input:focus textarea:-moz-placeholder {
  color: #ffffff;
}
.cid-rArWJRbpio .jq-number__spin:hover,
.cid-rArWJRbpio .jq-number__spin:focus {
  background-color: #f1eeea;
  border-color: #343434;
  color: #000000;
  box-shadow: none;
  outline: none;
}
.cid-rArWJRbpio .jq-number__spin {
  background-color: #f1eeea;
  border-color: #343434;
  color: #343434;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rArWJRbpio .jq-selectbox li,
.cid-rArWJRbpio .jq-selectbox li {
  background-color: #f1eeea;
  color: #000000;
}
.cid-rArWJRbpio .jq-selectbox li:hover,
.cid-rArWJRbpio .jq-selectbox li.selected {
  background-color: #f1eeea;
  color: #000000;
}
.cid-rArWJRbpio .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rArWJRbpio .jq-number__spin.minus:hover:after,
.cid-rArWJRbpio .jq-number__spin.plus:hover:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-rArWJRbpio .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rArWJRbpio .jq-number__spin.minus:after,
.cid-rArWJRbpio .jq-number__spin.plus:after {
  border-top-color: #f1eeea;
  border-bottom-color: #f1eeea;
}
.cid-rArWJRbpio input::-webkit-clear-button {
  display: none;
}
.cid-rArWJRbpio input::-webkit-inner-spin-button {
  display: none;
}
.cid-rArWJRbpio input::-webkit-outer-spin-button {
  display: none;
}
.cid-rArWJRbpio input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rArWJRbpio H5 {
  text-align: center;
}
.cid-rArWJRbpio P {
  text-align: center;
}
.cid-rArWJRbpio LABEL {
  color: #767676;
}
.cid-rArWJRbpio H4 {
  color: #9c9485;
}
.cid-rArWIuB3C5 {
  padding-top: 600px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-rArWJZPMfb {
  padding-top: 90px;
  padding-bottom: 0px;
  background-color: #2a2525;
}
.cid-rArWJZPMfb .mbr-text {
  color: #ffffff;
}
.cid-rArWJZPMfb .container {
  max-width: 1000px;
}
.cid-rArWJZPMfb h4 {
  text-align: center;
}
.cid-rArWJZPMfb p {
  text-align: center;
}
.cid-rArWJZPMfb .row {
  justify-content: center;
}
.cid-rArWJZPMfb .card-img span {
  font-size: 96px;
  color: #149dcc;
}
.cid-rArWJZPMfb .mbr-iconfont {
  font-size: 1.5rem;
  color: #b69b74;
  display: block;
}
.cid-rArWJZPMfb .card-title,
.cid-rArWJZPMfb .card-img {
  color: #b69b74;
}
.cid-rArWJZPMfb .icon-wrap {
  padding-bottom: 7.6rem;
}
.cid-rArWJZPMfb .icon-wrap:before {
  content: '';
  position: absolute;
  background: #b69b74;
  bottom: 0rem;
  left: 50%;
  width: 2px;
  height: 90px;
}
.cid-rArWJZPMfb img {
  margin-bottom: 5rem;
}
.cid-rArWKbZ4Lx {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #211c1c;
}
.cid-rArWKbZ4Lx .media-container-row .mbr-text {
  color: #767676;
}
