body {
  font-family: Josefin Sans;
}
.display-1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2.25rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.6rem;
}
.display-4 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.2rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-5 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.8rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.88rem;
}
.display-7 {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.display-7 > .mbr-iconfont {
  font-size: 2.08rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.8rem;
    font-size: calc( 1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.4375rem + (2.25 - 1.4375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-sm {
  padding: 0.5rem 1.5rem;
  border-radius: 0px;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0px;
}
.bg-primary {
  background-color: #f9e2af !important;
}
.bg-success {
  background-color: #98e38d !important;
}
.bg-info {
  background-color: #69b9d0 !important;
}
.bg-warning {
  background-color: #c1c1c1 !important;
}
.bg-danger {
  background-color: #444444 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
  color: #9d700c !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #9d700c !important;
  background-color: #f4c868 !important;
  border-color: #f4c868 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ed6a77 !important;
  border-color: #ed6a77 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #3898b4 !important;
  border-color: #3898b4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #98e38d !important;
  border-color: #98e38d !important;
  color: #1f5b16 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1f5b16 !important;
  background-color: #61d450 !important;
  border-color: #61d450 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #444444 !important;
  border-color: #444444 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1e1e1e !important;
  border-color: #1e1e1e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #f2c050;
  color: #f2c050;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #9d700c;
  background-color: #f9e2af;
  border-color: #f9e2af;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #9d700c !important;
  background-color: #f9e2af !important;
  border-color: #f9e2af !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #ea5362;
  color: #ea5362;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #f5aeb5;
  border-color: #f5aeb5;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f5aeb5 !important;
  border-color: #f5aeb5 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #3288a1;
  color: #3288a1;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #69b9d0;
  border-color: #69b9d0;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #69b9d0 !important;
  border-color: #69b9d0 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #4ecf3b;
  color: #4ecf3b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #1f5b16;
  background-color: #98e38d;
  border-color: #98e38d;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1f5b16 !important;
  background-color: #98e38d !important;
  border-color: #98e38d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #111111;
  color: #111111;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #444444;
  border-color: #444444;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #444444 !important;
  border-color: #444444 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #f9e2af !important;
}
.text-secondary {
  color: #f5aeb5 !important;
}
.text-success {
  color: #98e38d !important;
}
.text-info {
  color: #69b9d0 !important;
}
.text-warning {
  color: #c1c1c1 !important;
}
.text-danger {
  color: #444444 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f2c050 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #ea5362 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4ecf3b !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #3288a1 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #8e8e8e !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #111111 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #98e38d;
}
.alert-info {
  background-color: #69b9d0;
}
.alert-warning {
  background-color: #c1c1c1;
}
.alert-danger {
  background-color: #444444;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9e2af;
  border-color: #f9e2af;
  color: #b5810e;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #f9e2af;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b7b7b7;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a {
  border: 2px solid #ffbc00;
}
#scrollToTop a i:before {
  background: #ffbc00;
}
#scrollToTop a i:after {
  border-top: 2px solid #ffbc00;
  border-right: 2px solid #ffbc00;
}
.mbr-arrow a i {
  color: #ffbc00;
}
.form-control {
  font-family: 'Cormorant Upright', serif;
  font-size: 1.3rem;
}
.form-control > .mbr-iconfont {
  font-size: 2.08rem;
}
blockquote {
  border-color: #f9e2af;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9e2af;
  color: #000000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-number__spin {
  border-radius: 0;
  background-color: #efefef;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9e2af;
  border-bottom-color: #f9e2af;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9e2af !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f5aeb5 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9e2af' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-u2o5kj8IUF .nav-item:focus,
.cid-u2o5kj8IUF .nav-link:focus {
  outline: none;
}
.cid-u2o5kj8IUF .nav-dropdown .dropdown-menu {
  padding-top: 0;
}
.cid-u2o5kj8IUF .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-u2o5kj8IUF .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-u2o5kj8IUF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-u2o5kj8IUF .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-u2o5kj8IUF .collapsed {
  flex-direction: row!important;
}
.cid-u2o5kj8IUF .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0em 4.5rem !important;
  transition: none;
  margin: 0 !important;
}
.cid-u2o5kj8IUF .navbar {
  min-height: 77px;
  transition: all 0.3s;
  background: #ffffff;
}
.cid-u2o5kj8IUF .navbar.opened {
  transition: all 0.3s;
  background: #ffffff !important;
}
.cid-u2o5kj8IUF .navbar .dropdown-item {
  padding: 0.235rem 1.5rem;
}
.cid-u2o5kj8IUF .navbar .navbar-collapse {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: calc(100vh - 61px);
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: 1;
}
.cid-u2o5kj8IUF .navbar .navbar-collapse > .container {
  height: 100%;
}
.cid-u2o5kj8IUF .navbar .navbar-collapse.show,
.cid-u2o5kj8IUF .navbar .navbar-collapse.collapsing {
  display: -webkit-flex;
}
.cid-u2o5kj8IUF .navbar .navbar-collapse .img-column img {
  width: 100%;
}
.cid-u2o5kj8IUF .navbar .navbar-collapse .text-column {
  overflow: auto;
  max-height: calc(100vh - 7rem);
}
.cid-u2o5kj8IUF .navbar .navbar-collapse .contact-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.cid-u2o5kj8IUF .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-u2o5kj8IUF .navbar.collapsed .dropdown-menu {
  text-align: inherit;
  background: transparent !important;
}
.cid-u2o5kj8IUF .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-u2o5kj8IUF .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-u2o5kj8IUF .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-u2o5kj8IUF .navbar.collapsed ul.navbar-nav {
  word-break: break-word;
}
.cid-u2o5kj8IUF .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: inherit;
}
.cid-u2o5kj8IUF .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-u2o5kj8IUF .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-u2o5kj8IUF .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-u2o5kj8IUF .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-u2o5kj8IUF .navbar-brand {
  min-height: 61px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-u2o5kj8IUF .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-u2o5kj8IUF .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-u2o5kj8IUF .dropdown-item.active,
.cid-u2o5kj8IUF .dropdown-item:active {
  background-color: transparent;
}
.cid-u2o5kj8IUF .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-u2o5kj8IUF .nav-dropdown .link {
  margin: 0.2em 0em;
}
.cid-u2o5kj8IUF .nav-dropdown .link.dropdown-toggle {
  margin: 0;
}
.cid-u2o5kj8IUF .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin: 0em 0em;
  padding: 0.2em 0em;
}
.cid-u2o5kj8IUF .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-u2o5kj8IUF .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-u2o5kj8IUF .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-u2o5kj8IUF ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-u2o5kj8IUF .navbar-buttons {
  text-align: inherit;
}
.cid-u2o5kj8IUF button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-u2o5kj8IUF button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #232323;
}
.cid-u2o5kj8IUF button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-u2o5kj8IUF button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u2o5kj8IUF button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-u2o5kj8IUF button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-u2o5kj8IUF nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u2o5kj8IUF nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-u2o5kj8IUF nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-u2o5kj8IUF nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-u2o5kj8IUF .navbar-dropdown {
  padding: 0.5rem 1rem;
  position: fixed;
}
.cid-u2o5kj8IUF .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-u2o5kj8IUF .icons-menu {
  text-align: inherit;
}
.cid-u2o5kj8IUF .icons-menu span {
  font-size: 20px;
  color: #232323;
}
.cid-u2o5kj8IUF .nav-link:hover,
.cid-u2o5kj8IUF .dropdown-item:hover,
.cid-u2o5kj8IUF .icons-menu .mbr-iconfont:hover {
  color: #cccccc !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2o5kj8IUF .navbar {
    height: 77px;
  }
  .cid-u2o5kj8IUF .navbar.opened {
    height: auto;
  }
}
@media (max-width: 767px) {
  .cid-u2o5kj8IUF .navbar-collapse .img-column {
    display: none;
  }
  .cid-u2o5kj8IUF .icons-menu,
  .cid-u2o5kj8IUF .navbar-buttons,
  .cid-u2o5kj8IUF .contact-block,
  .cid-u2o5kj8IUF .text-column {
    text-align: center !important;
  }
}
.cid-u2o5nVMrVw {
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-u2o5nVMrVw .mbr-overlay {
  background: #232323;
}
.cid-u2o5nVMrVw .mbr-section-title {
  letter-spacing: 0.5rem;
}
.cid-u2o5nVMrVw .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5nVMrVw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5OOf75H {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-u2o5OOf75H .mbr-text {
  margin: 0;
}
.cid-u2o5OOf75H .text-element {
  padding: 2rem;
  background-color: #ffffff;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.cid-u2o5OOf75H .row-element,
.cid-u2o5OOf75H .image-element {
  padding: 0;
}
.cid-u2o5OOf75H .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-u2o5OOf75H .image-element .img-wrap {
  width: 100% !important;
}
.cid-u2o5OOf75H .image-element .img-wrap img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-u2o5OOf75H .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-u2o5OOf75H .carousel-item.active,
.cid-u2o5OOf75H .carousel-item-next,
.cid-u2o5OOf75H .carousel-item-prev {
  display: flex;
}
.cid-u2o5OOf75H .carousel-indicators {
  left: 50%;
  margin: 20px auto 0;
  align-items: center;
}
.cid-u2o5OOf75H .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #f9e2af;
}
.cid-u2o5OOf75H .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity 0.5s;
  background-color: #000000;
  font-size: 2rem;
  opacity: 0.5;
  border-width: 0px;
}
.cid-u2o5OOf75H .carousel-indicators li:hover {
  opacity: 1;
}
.cid-u2o5OOf75H .carousel-controls {
  display: none;
}
@media (max-width: 991px) {
  .cid-u2o5OOf75H .carousel-controls {
    display: block;
  }
  .cid-u2o5OOf75H .carousel-controls a {
    transition: opacity 0.5s;
    font-size: 2rem;
  }
  .cid-u2o5OOf75H .carousel-controls a span {
    padding: 10px;
    border-radius: 50%;
    color: #ffffff;
    background: #444444;
    opacity: 0.9;
  }
  .cid-u2o5OOf75H .carousel-controls a:hover span {
    opacity: 1;
  }
  .cid-u2o5OOf75H .carousel-indicators {
    display: none;
  }
}
@media (max-width: 540px) {
  .cid-u2o5OOf75H .text-element {
    padding: 1rem;
  }
  .cid-u2o5OOf75H .carousel-controls {
    display: none;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2o5OOf75H .image-element {
    min-width: 50%;
  }
  .cid-u2o5OOf75H .media-container-row {
    width: 100%;
  }
}
.cid-u2o5OOf75H .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5OOf75H .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5q21Jss {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u2o5q21Jss .text-box {
  position: absolute;
  top: 0px;
  min-height: 100%;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.cid-u2o5q21Jss .text-block {
  position: relative;
  z-index: 0;
}
.cid-u2o5q21Jss .box {
  width: 25%;
  height: 40%;
  background: #e2f7df;
  position: absolute;
  top: 4%;
}
.cid-u2o5q21Jss .box {
  left: 20%;
}
.cid-u2o5q21Jss .text-box {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.cid-u2o5q21Jss .mbr-section-text,
.cid-u2o5q21Jss .mbr-section-title {
  margin-left: 31%;
}
@media (max-width: 991px) {
  .cid-u2o5q21Jss .text-box {
    display: none;
  }
  .cid-u2o5q21Jss .mbr-section-title,
  .cid-u2o5q21Jss .mbr-section-text {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-u2o5q21Jss .box {
    display: none;
  }
  .cid-u2o5q21Jss .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-u2o5q21Jss .img-block {
    margin-bottom: 1rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2o5q21Jss .text-box {
    writing-mode: bt-rl;
  }
}
.cid-u2o5q21Jss .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5q21Jss .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5sVk8C2 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-u2o5sVk8C2 .menu-item {
  padding-bottom: 2rem;
}
.cid-u2o5sVk8C2 .menu-box {
  display: flex;
}
.cid-u2o5sVk8C2 .menu-box .box-text {
  word-break: break-word;
  padding-right: 2rem;
}
.cid-u2o5sVk8C2 .menu-box .box-price {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-u2o5sVk8C2 .menu-item:nth-child(odd) {
    padding-right: 2rem;
  }
  .cid-u2o5sVk8C2 .menu-item:nth-child(even) {
    padding-left: 2rem;
  }
}
.cid-u2o5sVk8C2 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5sVk8C2 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5umYDOc {
  background: #ffffff;
  background: linear-gradient(135deg, #ffffff, #69b9d0);
}
.cid-u2o5umYDOc .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-u2o5umYDOc .image-block img {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-u2o5umYDOc .image-block {
    width: 100% !important;
  }
}
.cid-u2o5vnfCu1 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-u2o5vnfCu1 .mbr-text {
  position: relative;
}
.cid-u2o5vnfCu1 .mbr-text:before {
  color: #333333;
  content: '\201C';
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
  position: absolute;
  top: 10px;
  left: -2rem;
}
.cid-u2o5vnfCu1 .mbr-text:after {
  color: #333333;
  content: '\201D';
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
  position: absolute;
  bottom: 10px;
  right: -2rem;
}
.cid-u2o5vnfCu1 .logo img {
  width: auto;
  display: inline-block;
}
@media (max-width: 767px) {
  .cid-u2o5vnfCu1 .mbr-text:after,
  .cid-u2o5vnfCu1 .mbr-text:before {
    display: none;
  }
}
.cid-u2o5wEgRQc {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u2o5wEgRQc *:focus {
  outline: none;
  box-shadow: none;
}
.cid-u2o5wEgRQc .form-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.cid-u2o5wEgRQc .img-block {
  display: flex;
}
.cid-u2o5wEgRQc .img-block img {
  object-fit: cover;
  object-position: center center;
  min-height: 100%;
}
.cid-u2o5wEgRQc .form-control {
  padding: 10px 20px;
  border: 1px solid #dedede !important;
  border-radius: 0 !important;
  min-height: 51px;
  background-color: transparent;
}
.cid-u2o5wEgRQc .input-group-btn .btn {
  display: inline-flex;
}
@media (max-width: 767px) {
  .cid-u2o5wEgRQc .img-block {
    padding-bottom: 3rem;
  }
  .cid-u2o5wEgRQc .form-1 {
    padding-top: 0;
  }
}
.cid-u2o5wEgRQc .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5wEgRQc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5y5YnWH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-u2o5y5YnWH .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-u2o5y5YnWH .carousel-item.active,
.cid-u2o5y5YnWH .carousel-item-next,
.cid-u2o5y5YnWH .carousel-item-prev {
  display: flex;
}
.cid-u2o5y5YnWH .carousel-controls a {
  transition: opacity 0.5s;
  font-size: 2rem;
}
.cid-u2o5y5YnWH .carousel-controls a span {
  position: absolute;
  top: 180px;
  padding: 10px;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  opacity: 0.9;
}
.cid-u2o5y5YnWH .carousel-controls a:hover span {
  opacity: 1;
}
.cid-u2o5y5YnWH .user {
  padding: 3rem;
  background: transparent;
}
.cid-u2o5y5YnWH .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  background: #ffffff;
  margin: 0 auto 2rem auto;
  display: flex;
  -webkit-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -ms-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -o-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
  box-shadow: 0 7px 20px 5px rgba(0, 0, 0, 0.08);
}
.cid-u2o5y5YnWH .user_image .user_image_inner {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: flex;
  margin: auto;
}
.cid-u2o5y5YnWH .user_image .user_image_inner img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.cid-u2o5y5YnWH .user_text {
  color: #444444;
}
@media (max-width: 230px) {
  .cid-u2o5y5YnWH .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-u2o5y5YnWH .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5y5YnWH .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5yGOwW3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-u2o5yGOwW3 .icons-block .mbr-iconfont {
  font-size: 1.5rem;
  color: #000000;
  opacity: 0.5;
}
.cid-u2o5yGOwW3 .icons-block .mbr-iconfont:hover {
  opacity: 1;
}
.cid-u2o5yGOwW3 .links-block ul li {
  margin: 0 1rem;
}
.cid-u2o5yGOwW3 .icons-block ul li {
  margin: 0 0.5rem;
}
.cid-u2o5yGOwW3 .links-block ul,
.cid-u2o5yGOwW3 .icons-block ul {
  margin-bottom: 1.5rem;
}
.cid-u2o5yGOwW3 .logo-section img {
  width: auto;
  display: inline-block;
}
.cid-u2o5IM2Rhg {
  padding-top: 120px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-u2o5IM2Rhg .wrapper {
  width: 100%;
}
.cid-u2o5IM2Rhg .mbr-media.show-modal {
  cursor: pointer;
  display: block;
  height: 4em;
  width: 4em;
  margin: 0 auto;
}
.cid-u2o5IM2Rhg .mbr-text {
  display: inline-block;
  padding: 0 1rem;
}
.cid-u2o5IM2Rhg .subtitle-wrapper {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-u2o5IM2Rhg .subtitle-wrapper hr {
  border: 1px solid;
  -webkit-flex-basis: 10%;
  flex-basis: 10%;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-u2o5IM2Rhg .line-left,
.cid-u2o5IM2Rhg .line-right {
  display: inline-block;
  width: 80px;
  height: 3px;
  background-color: #fff;
}
.cid-u2o5IM2Rhg .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-u2o5IM2Rhg .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-u2o5IM2Rhg .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-u2o5IM2Rhg a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-u2o5IM2Rhg a.close:hover {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-u2o5IM2Rhg .subtitle-wrapper hr {
    display: none;
  }
}
.cid-u2o5IM2Rhg .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5IM2Rhg .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5SKYliQ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u2o5SKYliQ .mbr-text {
  color: #444444;
}
.cid-u2o5SKYliQ .card-title {
  color: #f9e2af;
}
.cid-u2o5SKYliQ .card .card-img span {
  color: #000000;
  font-size: 60px;
}
@media (max-width: 767px) {
  .cid-u2o5SKYliQ .card {
    padding-bottom: 2rem !important;
  }
}
.cid-u2o5SKYliQ .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5SKYliQ .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5TYq7ra {
  padding-top: 90px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-u2o5TYq7ra .mbr-section-title {
  letter-spacing: 0.1em;
  text-align: center;
}
.cid-u2o5TYq7ra .mbr-section-subtitle {
  color: #f9e2af;
}
.cid-u2o5TYq7ra .image-wrap img {
  width: 100%;
}
.cid-u2o5TYq7ra .mbr-desc {
  width: 100%;
}
.cid-u2o5TYq7ra .tab-content {
  padding: 4rem 3rem 3rem 3rem;
  border-top: 3px solid #f9e2af;
  -webkit-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 26px -5px rgba(0, 0, 0, 0.2);
  background: #ffffff;
}
.cid-u2o5TYq7ra .nav {
  border: none;
}
.cid-u2o5TYq7ra .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-u2o5TYq7ra .card-box {
  -webkit-align-items: baseline;
  align-items: baseline;
}
.cid-u2o5TYq7ra .card-box .mbr-price {
  margin: 0;
}
.cid-u2o5TYq7ra .card-box .mbr-text {
  line-height: 1;
}
.cid-u2o5TYq7ra .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0px;
  margin-left: -0.5px;
  margin-right: -0.5px;
  margin-bottom: 1rem;
  transition: all 0.5s;
  border: 0 !important;
}
.cid-u2o5TYq7ra .nav-tabs .nav-link:hover {
  color: #f9e2af;
  border: 0 !important;
}
.cid-u2o5TYq7ra .nav-tabs .nav-link.active {
  color: #f9e2af;
  border: 0 !important;
  background-color: transparent;
  position: relative;
}
@media (max-width: 767px) {
  .cid-u2o5TYq7ra .container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
}
.cid-u2o5TYq7ra .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5TYq7ra .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o5UNmHTR {
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: #ffffff;
}
.cid-u2o5UNmHTR .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-u2o5UNmHTR .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u2o5UNmHTR .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-u2o5UNmHTR .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-u2o5UNmHTR .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
  background: linear-gradient(180deg, #ffffff, #f9e2af);
}
.cid-u2o5UNmHTR .icon-focus {
  display: none;
}
.cid-u2o5UNmHTR .mbr-gallery-title {
  transition: all 0.5s ease;
  position: absolute;
  text-align: left;
  display: none;
  width: 100%;
  top: 0;
  right: 0;
  padding: 1rem;
  color: #000000;
  font-weight: bold;
  background: transparent;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}
.cid-u2o5UNmHTR ul {
  font-size: 0;
}
.cid-u2o5UNmHTR .mbr-gallery-filter ul li .btn {
  border: none;
  background-color: transparent;
  color: #232323 !important;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 0;
  margin: 0 !important;
  transition: padding, border 0s, transform 0.2s;
}
.cid-u2o5UNmHTR .mbr-gallery-filter ul li.active .btn {
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0 !important;
  position: relative;
}
.cid-u2o5UNmHTR .mbr-gallery-filter ul li.active .btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(90deg, #f9e2af, #f5aeb5);
}
.cid-u2o5UNmHTR .mbr-gallery-filter ul li {
  padding: 0;
}
.cid-u2o5UNmHTR .mbr-gallery-item > div:hover .mbr-gallery-title {
  padding-bottom: 1.5rem;
  display: block;
}
.cid-u2o5UNmHTR .mbr-gallery-item > div:hover:before {
  opacity: 0.8 !important;
}
.cid-u2o5UNmHTR .btn {
  background: none;
  border-radius: 0 !important;
}
.cid-u2o5UNmHTR .btn:hover {
  background: transparent !important;
}
.cid-u2o5UNmHTR .btn:hover:before {
  background: transparent !important;
}
.cid-u2o5UNmHTR .btn:before {
  background-color: transparent !important;
}
.cid-u2o5UNmHTR .btn:focus {
  box-shadow: none;
}
.cid-u2o5UNmHTR .mbr-section-title {
  position: relative;
  z-index: 1;
}
.cid-u2o5VVpPiA {
  background: #ffffff;
}
.cid-u2o5VVpPiA .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 767px) {
  .cid-u2o5VVpPiA .video-block {
    width: 100% !important;
  }
}
.cid-u2o5WqLn1X {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-u2o5XRXXTM {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-u2o5XRXXTM .row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-u2o5XRXXTM .text-block {
  padding-right: 15px !important;
  padding-left: 5rem;
}
.cid-u2o5XRXXTM .text-block {
  padding-right: 5rem;
}
.cid-u2o5XRXXTM .underline {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.cid-u2o5XRXXTM .underline .line {
  width: 5rem;
  height: 3px;
  background: #f9e2af;
  display: inline-block;
}
.cid-u2o5XRXXTM .social-media ul li {
  margin-left: 1rem;
  margin: 0;
  margin-right: 1rem;
}
.cid-u2o5XRXXTM .social-media ul li .mbr-iconfont {
  color: #000000;
}
.cid-u2o5XRXXTM .social-media ul li .mbr-iconfont:hover {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-u2o5XRXXTM .row {
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .cid-u2o5XRXXTM .img-block {
    margin-bottom: 1rem;
  }
  .cid-u2o5XRXXTM .text-block {
    padding: 0 15px;
  }
}
.cid-u2o5XRXXTM .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o5XRXXTM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o6a5PYoN {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background8.jpg");
}
.cid-u2o6a5PYoN *:focus {
  outline: none;
  box-shadow: none;
}
.cid-u2o6a5PYoN .form-control {
  width: 100%;
  background: #ffffff;
  border-radius: 0 !important;
  border: none !important;
  min-height: 47px;
}
.cid-u2o6a5PYoN .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-u2o6a5PYoN .form-control::-moz-placeholder {
  color: #000000;
}
.cid-u2o6a5PYoN .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-u2o6a5PYoN .form-control:-moz-placeholder {
  color: #000000;
}
.cid-u2o6a5PYoN input.form-control {
  padding: 0.5rem;
}
.cid-u2o6a5PYoN .soc-item {
  display: inline-block;
  margin: 0 0.1rem 0.2rem 0.1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #f9e2af !important;
  border-radius: 50% !important;
}
.cid-u2o6a5PYoN .soc-item:hover {
  opacity: 0.5;
}
.cid-u2o6a5PYoN .soc-item .socicon {
  font-size: 1.5rem;
  color: #f9e2af;
}
.cid-u2o6a5PYoN .days-column,
.cid-u2o6a5PYoN .hours-column {
  display: inline-block;
}
.cid-u2o6a5PYoN .days-column span,
.cid-u2o6a5PYoN .hours-column span {
  display: block;
}
.cid-u2o6a5PYoN .logo img {
  width: auto;
  display: inline-block;
}
@media (max-width: 767px) {
  .cid-u2o6a5PYoN .days-column {
    padding-right: 0 !important;
  }
  .cid-u2o6a5PYoN .hours-column {
    max-width: 50% !important;
  }
  .cid-u2o6a5PYoN .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-u2o6qNDIvm {
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-u2o6qNDIvm .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o6qNDIvm .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o6vAQwky {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f9e2af;
  transition: background-color 0.3s ease-in-out;
}
.cid-u2o6vAQwky:hover {
  background-color: #e7dacc;
}
.cid-u2o6vAQwky .mbr-section-title {
  margin: 0;
}
.cid-u2o6vAQwky .card-wrapper {
  z-index: 3;
}
.cid-u2o6vAQwky .full-link {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-u2o6vAQwky .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-u2o6w6fowY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9e2af;
  background: linear-gradient(0deg, #f9e2af, #ffffff);
}
.cid-u2o6w6fowY .counter-container {
  color: #444444;
}
.cid-u2o6w6fowY .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-u2o6w6fowY .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-u2o6w6fowY .counter-container ol li {
  list-style: none;
  padding-left: 0.5rem;
  position: relative;
}
.cid-u2o6w6fowY .counter-container ol li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 35px;
  transition: all 0.2s;
  color: #000000;
  background: #ffda73;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-u2o6y3twFV {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background5.jpg");
}
.cid-u2o6y3twFV .row {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: stretch;
  align-items: stretch;
}
.cid-u2o6y3twFV .content-panel {
  padding: 3rem;
  background-color: #444444;
}
@media (min-width: 767px) {
  .cid-u2o6y3twFV .text-block {
    padding-right: 0;
  }
}
.cid-u2o6y3twFV .google-map {
  width: 100%;
  height: 30rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-u2o6y3twFV .google-map iframe {
  width: inherit;
  height: 100%;
}
.cid-u2o6y3twFV .google-map iframe .place-card {
  margin-left: 40px !important;
}
.cid-u2o6y3twFV .google-map .place-card {
  margin-left: 40px !important;
}
.cid-u2o6y3twFV .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o6y3twFV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o6x0Lb39 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-u2o6x0Lb39 .container-fluid {
  padding: 0 3rem;
}
.cid-u2o6x0Lb39 .mbr-section-title {
  margin-bottom: 1.5em;
}
.cid-u2o6x0Lb39 .mbr-section-subtitle {
  color: #ffbc00;
}
.cid-u2o6x0Lb39 .form-control {
  border: 1px solid #ddd !important;
  background-color: #efefef;
  padding: 10px 20px;
  width: 100%;
  min-height: 53px;
  border-radius: 0 !important;
}
.cid-u2o6x0Lb39 textarea.form-control {
  padding: 1rem;
  min-height: 225px;
}
.cid-u2o6x0Lb39 .text-block {
  background: #232323;
  padding: 2rem;
  outline: 1px dashed #f9e2af !important;
  outline-offset: -15px;
}
.cid-u2o6x0Lb39 .work-list {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.cid-u2o6x0Lb39 .time-block-title {
  color: #ffbc00;
}
.cid-u2o6x0Lb39 .time-title {
  color: #bdecb6;
}
@media (max-width: 767px) {
  .cid-u2o6x0Lb39 .container-fluid {
    padding: 0 1rem;
  }
  .cid-u2o6x0Lb39 .btn {
    padding: 1rem 2rem;
    font-size: 16px !important;
  }
  .cid-u2o6x0Lb39 .text-block {
    margin-bottom: 2rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2o6x0Lb39 .text-block {
    border: 1px dashed #f9e2af !important;
    outline: 15px solid #232323 !important;
  }
}
.cid-u2o6x0Lb39 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2o6x0Lb39 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2o6ABImBL {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-u2o6ABImBL *:focus {
  outline: none;
  box-shadow: none;
}
.cid-u2o6ABImBL .form-control {
  width: 100%;
  background: #efefef;
  border-radius: 0 !important;
  border: none !important;
  min-height: 47px;
}
.cid-u2o6ABImBL .form-control::-webkit-input-placeholder {
  color: #000000;
}
.cid-u2o6ABImBL .form-control::-moz-placeholder {
  color: #000000;
}
.cid-u2o6ABImBL .form-control:-ms-input-placeholder {
  color: #000000;
}
.cid-u2o6ABImBL .form-control:-moz-placeholder {
  color: #000000;
}
.cid-u2o6ABImBL input.form-control {
  padding: 0.5rem;
}
.cid-u2o6ABImBL .soc-item {
  display: inline-block;
  margin: 0 0.1rem 0.2rem 0.1rem;
  padding: 10px 11px 0 11px;
  border: 2px solid #69b9d0 !important;
  border-radius: 50% !important;
}
.cid-u2o6ABImBL .soc-item:hover {
  opacity: 0.5;
}
.cid-u2o6ABImBL .soc-item .socicon {
  font-size: 1.5rem;
  color: #69b9d0;
}
.cid-u2o6ABImBL .days-column,
.cid-u2o6ABImBL .hours-column {
  display: inline-block;
}
.cid-u2o6ABImBL .days-column span,
.cid-u2o6ABImBL .hours-column span {
  display: block;
}
.cid-u2o6ABImBL .logo img {
  width: auto;
  display: inline-block;
}
@media (max-width: 767px) {
  .cid-u2o6ABImBL .days-column {
    padding-right: 0 !important;
  }
  .cid-u2o6ABImBL .hours-column {
    max-width: 50% !important;
  }
  .cid-u2o6ABImBL .opening-hours {
    padding-bottom: 48px !important;
  }
}
