body {
  font-family: 'Space Grotesk', sans-serif;
}
.display-1 {
  font-family: 'Kaisei Tokumin', serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Kaisei Tokumin', serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #1b66ce !important;
}
.bg-success {
  background-color: #006b54 !important;
}
.bg-info {
  background-color: #cbb6f2 !important;
}
.bg-warning {
  background-color: #ffcc1a !important;
}
.bg-danger {
  background-color: #dac5b1 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1b66ce !important;
  border-color: #1b66ce !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #1b66ce !important;
  border-color: #114081 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #114081 !important;
  border-color: #114081 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ffa4bc !important;
  border-color: #ffa4bc !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ffa4bc !important;
  border-color: #ff4d7c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff4d7c !important;
  border-color: #ff4d7c !important;
}
.btn-info,
.btn-info:active {
  background-color: #cbb6f2 !important;
  border-color: #cbb6f2 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #cbb6f2 !important;
  border-color: #976ce5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #976ce5 !important;
  border-color: #976ce5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #006b54 !important;
  border-color: #006b54 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #006b54 !important;
  border-color: #001410 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #001410 !important;
  border-color: #001410 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffcc1a !important;
  border-color: #ffcc1a !important;
  color: #1a1400 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ffcc1a !important;
  border-color: #c29700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #1a1400 !important;
  background-color: #c29700 !important;
  border-color: #c29700 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #dac5b1 !important;
  border-color: #dac5b1 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #dac5b1 !important;
  border-color: #be9976 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #be9976 !important;
  border-color: #be9976 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #fafafa !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1b66ce;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #114081 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1b66ce !important;
  border-color: #1b66ce !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffa4bc;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff4d7c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffa4bc !important;
  border-color: #ffa4bc !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #cbb6f2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #976ce5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #cbb6f2 !important;
  border-color: #cbb6f2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #006b54;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #001410 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #006b54 !important;
  border-color: #006b54 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffcc1a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #c29700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #1a1400 !important;
  background-color: #ffcc1a !important;
  border-color: #ffcc1a !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #dac5b1;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #be9976 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dac5b1 !important;
  border-color: #dac5b1 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #1b66ce !important;
}
.text-secondary {
  color: #ffa4bc !important;
}
.text-success {
  color: #006b54 !important;
}
.text-info {
  color: #cbb6f2 !important;
}
.text-warning {
  color: #ffcc1a !important;
}
.text-danger {
  color: #dac5b1 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #0f3974 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff3e71 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000504 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #8d5fe3 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #b38b00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #b9926c !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #1b66ce;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #cbb6f2;
}
.alert-warning {
  background-color: #ffcc1a;
}
.alert-danger {
  background-color: #dac5b1;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1b66ce;
  border-color: #1b66ce;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #1b66ce;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bed6f7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #00ebb8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fff9e6;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #1b66ce !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #1b66ce;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1b66ce;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #1b66ce;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1b66ce;
  border-bottom-color: #1b66ce;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #1b66ce !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ffa4bc !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231b66ce' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-t08kNdUQys {
  z-index: 1000;
  width: 100%;
}
.cid-t08kNdUQys nav.navbar {
  position: fixed;
}
.cid-t08kNdUQys li {
  display: flex;
  align-items: center;
}
.cid-t08kNdUQys .icons-menu {
  min-width: max-content;
  padding-top: 14px;
}
.cid-t08kNdUQys .mbr-iconfont {
  color: #000000;
  font-size: 1rem;
  padding-right: .5rem;
  transition: all .5s;
}
.cid-t08kNdUQys .mbr-iconfont:hover {
  color: #1B66CE;
}
.cid-t08kNdUQys .container {
  padding-left: 0;
  padding-right: 0;
}
.cid-t08kNdUQys .content {
  border-bottom: 3px solid #000000;
}
@media (min-width: 992px) {
  .cid-t08kNdUQys .wrap {
    display: flex;
    justify-content: center;
  }
}
.cid-t08kNdUQys .nav-link {
  transition: all .5s;
  position: relative;
  padding: 0;
  display: inline-block;
  border-bottom: 1px solid transparent;
  font-weight: 400;
}
.cid-t08kNdUQys .nav-link:hover {
  color: #1B66CE !important;
}
.cid-t08kNdUQys .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t08kNdUQys .navbar-dropdown {
  position: fixed;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .navbar-dropdown {
    background: #FEF1E5 !important;
  }
}
.cid-t08kNdUQys .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-bottom: 0.3rem;
}
@media (min-width: 992px) {
  .cid-t08kNdUQys .nav-item {
    position: relative;
  }
}
.cid-t08kNdUQys .navbar {
  min-height: 107px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  position: absolute;
}
@media (min-width: 992px) {
  .cid-t08kNdUQys .navbar {
    background: rgba(254, 241, 229, 0);
  }
}
.cid-t08kNdUQys .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #fef1e5 !important;
}
.cid-t08kNdUQys .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-t08kNdUQys .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  z-index: 1;
  padding: 2rem 0;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-t08kNdUQys .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t08kNdUQys .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-t08kNdUQys .navbar.collapsed .navbar-collapse.show,
.cid-t08kNdUQys .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-t08kNdUQys .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-t08kNdUQys .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-t08kNdUQys .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-t08kNdUQys .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t08kNdUQys .navbar.collapsed ul.navbar-nav li {
  margin-right: 14px;
}
.cid-t08kNdUQys .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-t08kNdUQys .navbar.collapsed .dropdown-menu .dropdown-item {
  text-align: center;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .navbar .navbar-collapse.show,
  .cid-t08kNdUQys .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
  }
  .cid-t08kNdUQys .navbar .navbar-collapse.show .brand-container,
  .cid-t08kNdUQys .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-t08kNdUQys .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t08kNdUQys .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-t08kNdUQys .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t08kNdUQys .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t08kNdUQys .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-t08kNdUQys .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-t08kNdUQys .navbar ul.navbar-nav li {
    margin: auto !important;
  }
  .cid-t08kNdUQys .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-t08kNdUQys .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-t08kNdUQys .navbar .right-menu,
  .cid-t08kNdUQys .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-t08kNdUQys .navbar.navbar-short {
  min-height: 60px;
  background: #fef1e5 !important;
}
.cid-t08kNdUQys .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-t08kNdUQys .navbar.navbar-short .navbar-brand {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .navbar {
    padding: 2rem 1rem;
  }
  .cid-t08kNdUQys .navbar-collapse {
    padding-top: 0;
  }
}
.cid-t08kNdUQys .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-t08kNdUQys .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 400;
}
.cid-t08kNdUQys .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t08kNdUQys .dropdown-item.active,
.cid-t08kNdUQys .dropdown-item:active {
  background-color: transparent;
}
.cid-t08kNdUQys .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t08kNdUQys .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
}
.cid-t08kNdUQys .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fef1e5;
}
.cid-t08kNdUQys .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t08kNdUQys .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t08kNdUQys ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-t08kNdUQys .navbar-buttons {
  margin-left: auto;
}
.cid-t08kNdUQys button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: flex-start;
  align-self: flex-start;
  outline: none;
}
.cid-t08kNdUQys button.navbar-toggler:hover {
  outline: none;
}
.cid-t08kNdUQys button.navbar-toggler:active {
  outline: none;
}
.cid-t08kNdUQys button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-t08kNdUQys button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-t08kNdUQys button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-t08kNdUQys button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-t08kNdUQys button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-t08kNdUQys nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t08kNdUQys nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-t08kNdUQys nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-t08kNdUQys nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-t08kNdUQys a.nav-link {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  letter-spacing: 3.41px;
}
.cid-t08kNdUQys .right-menu,
.cid-t08kNdUQys .left-menu {
  font-family: "Open Sans";
}
.cid-t08kNdUQys .right-menu {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@media (min-width: 992px) {
  .cid-t08kNdUQys .right-menu {
    display: flex;
  }
}
.cid-t08kNdUQys .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .brand-container {
    padding: 0;
  }
}
.cid-t08kNdUQys .card-wrapper {
  z-index: 3;
}
.cid-t08kNdUQys .popup-btn.card-wrapper {
  z-index: 1 !important;
}
.cid-t08kNdUQys .nav-item:not(:last-child) {
  margin-right: 22px !important;
}
@media (min-width: 1400px) {
  .cid-t08kNdUQys .nav-item:not(:last-child) {
    margin-right: 4rem !important;
  }
}
.cid-t08kNdUQys .nav-item {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.cid-t08kNdUQys .navbar-brand img {
  width: auto !important;
  display: inline;
}
.cid-t08kNdUQys .navbar-dropdown .navbar-brand span {
  vertical-align: 0px;
  line-height: 1;
}
.cid-t08kNdUQys .link {
  padding: 0;
  margin: 0;
}
@media (min-width: 991px) {
  .cid-t08kNdUQys .dropdown-menu {
    z-index: 9999;
    margin-top: 40px;
    width: 250px;
  }
}
.cid-t08kNdUQys .navbar-caption {
  color: #ffffff;
}
.cid-t08kNdUQys .navbar-caption:hover {
  color: #ffffff;
}
.cid-t08kNdUQys .dropdown-item:hover {
  color: #1b66ce !important;
}
.cid-t08kNdUQys a:hover .line-animation,
.cid-t08kNdUQys a:focus .line-animation {
  opacity: 1;
}
.cid-t08kNdUQys .nav-dropdown .link {
  padding: 0 !important;
}
@media (max-width: 990px) {
  .cid-t08kNdUQys .dropdown-menu {
    margin-top: 0px;
  }
  .cid-t08kNdUQys .nav-dropdown .link {
    padding-top: 15px !important;
  }
}
.cid-t08kNdUQys .btn {
  width: max-content;
  border: 2px solid #000 !important;
  padding: 10px 20px !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-t08kNdUQys .btn {
    width: 100%;
  }
}
.cid-t08kNdUQys .btn:hover {
  color: #000000 !important;
  background: #fff !important;
  border: 2px solid #000 !important;
}
.cid-t08kNdUQys .btn-secondary {
  color: #000000 !important;
}
.cid-t08kNdUQys .left-menu,
.cid-t08kNdUQys .right-menu {
  width: 50%;
}
.cid-t02M7Pvbo7 {
  padding-top: 10rem;
  padding-bottom: 4rem;
  border-bottom: 3px solid #000000;
  background-color: #fef1e5;
}
.cid-t02M7Pvbo7 .row {
  flex-direction: row-reverse;
}
.cid-t02M7Pvbo7 .card-wrapper {
  padding-left: 32px;
  padding-right: 32px;
  padding-left: 0;
}
@media (max-width: 991px) {
  .cid-t02M7Pvbo7 .card-wrapper {
    margin-top: 2rem !important;
    padding: 0;
  }
}
.cid-t02M7Pvbo7 .wrapper {
  margin-top: 120px;
}
.cid-t02M7Pvbo7 .wrapper .mbr-iconfont {
  font-size: 3rem;
}
@media (min-width: 992px) {
  .cid-t02M7Pvbo7 .wrapper .display-7 {
    font-size: 23px;
  }
}
.cid-t02M7Pvbo7 .wrap {
  min-height: 650px;
  position: relative;
}
.cid-t02M7Pvbo7 .wrap img {
  width: 144px;
  position: absolute;
}
@media (max-width: 991px) {
  .cid-t02M7Pvbo7 .wrap {
    display: none;
  }
}
.cid-t02M7Pvbo7 .wrap:hover .image-1 {
  top: -80px;
  left: -80px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-2 {
  right: 20px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-3 {
  left: 80px;
  top: 190px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-4 {
  top: 260px;
  right: 30px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-5 {
  left: -80px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-6 {
  right: -30px;
}
.cid-t02M7Pvbo7 .wrap:hover .image-7 {
  bottom: 10px;
  left: 70px;
}
.cid-t02M7Pvbo7 .image-1 {
  top: -90px;
  left: -90px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-2 {
  right: 0;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-3 {
  left: 80px;
  top: 200px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-4 {
  top: 250px;
  right: 20px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-5 {
  left: -90px;
  bottom: 100px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-6 {
  bottom: 0;
  right: -40px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02M7Pvbo7 .image-7 {
  bottom: 0;
  left: 80px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  will-change: transform;
}
.cid-t02Mh4Axv5 {
  background-image: url("../../../assets/images/background4.jpg");
  margin-top: -3px;
  border-bottom: 3px solid #000000;
  border-top: 3px solid #000000;
}
.cid-t02Mh4Axv5 .row {
  align-items: center;
}
.cid-t02Mh4Axv5 .text-wrapper {
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #fef1e5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cid-t02Mh4Axv5 .content {
  position: relative;
  border: 3px solid #000000;
  padding: 40px;
}
.cid-t02Mh4Axv5 .label {
  position: absolute;
  border-radius: 20px;
  background-color: #000000;
  color: #fff;
  padding: 0.2em 30px 0.2em;
  font-family: "Josefin Sans";
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 200px;
}
@media (max-width: 991px) {
  .cid-t02Mh4Axv5 .text-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .cid-t02Mh4Axv5 .card {
    height: 300px;
  }
}
.cid-t02MeVeNaS {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: -3px;
  background-color: #fef1e5;
}
.cid-t02MeVeNaS .mbr-iconfont {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1.5rem;
  height: auto;
  object-fit: cover;
  -webkit-mask-box-image: url("../../../assets/images/3.svg");
  mask-image: url("../../../assets/images/3.svg");
  -webkit-mask-position: center center;
  mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: auto auto;
  position: relative;
}
.cid-t02MeVeNaS .row {
  justify-content: center;
}
.cid-t02MeVeNaS .one {
  background-color: #1b66ce;
}
.cid-t02MeVeNaS .two {
  background-color: #cbb6f2;
}
@media (max-width: 767px) {
  .cid-t02MeVeNaS .two {
    margin-top: 3rem;
  }
}
.cid-t02MeVeNaS .three {
  background-color: #ffcc1a;
}
@media (max-width: 991px) {
  .cid-t02MeVeNaS .three {
    margin-top: 3rem;
  }
}
.cid-t02MeVeNaS .four {
  background-color: #ff403d;
}
@media (max-width: 991px) {
  .cid-t02MeVeNaS .four {
    margin-top: 3rem;
  }
}
.cid-t02MrCscAF {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: -3px;
  background-color: #1b66ce;
}
.cid-t02MrCscAF .item {
  display: flex;
  margin-bottom: 40px;
  align-items: flex-end;
}
.cid-t02MrCscAF .icon-box {
  margin-bottom: 130px;
  border: 3px solid;
  border-color: #ffffff;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-t02MrCscAF .icon-box {
    margin-right: 1rem;
  }
}
.cid-t02MrCscAF .item:not(:first-child)::after {
  bottom: 190px;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: 19px;
  height: calc(100% - 40px);
}
.cid-t02MrCscAF span {
  font-size: 1rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-t02MrCscAF .card {
    margin-bottom: 2rem;
  }
  .cid-t02MrCscAF .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-t02MrCscAF .text-box {
  border: 2px solid;
  border-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
}
.cid-t02MrCscAF .text-box .image-wrapper {
  max-width: 240px;
  max-height: 240px;
}
@media (min-width: 992px) {
  .cid-t02MrCscAF .text-box .image-wrapper {
    padding: .5rem;
  }
}
.cid-t02MrCscAF .text-box .image-wrapper img {
  max-width: 100%;
  max-height: 240px;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
}
.cid-t02NczMqmP {
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: -3px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #fef1e5;
}
.cid-t02NczMqmP .section-head {
  margin-bottom: 80px;
}
.cid-t02NczMqmP .card .card-header {
  background-color: transparent;
  border: 3px solid;
  border-color: #000000;
  padding: 1rem;
  border-radius: 0 !important;
}
@media (min-width: 992px) {
  .cid-t02NczMqmP .card .card-header {
    padding: 19px;
  }
}
.cid-t02NczMqmP .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-t02NczMqmP .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 1.4rem !important;
  color: #000000;
}
.cid-t02NczMqmP .panel-body,
.cid-t02NczMqmP .card-header {
  padding: 1rem 19px 0;
}
.cid-t02NczMqmP .card {
  padding: 1rem;
  background-color: #ffdf70;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .cid-t02NczMqmP .card {
    padding: 40px;
  }
}
.cid-t02NczMqmP .panel-title-edit {
  color: #000000;
}
.cid-t02NczMqmP .image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
@media (min-width: 992px) {
  .cid-t02NczMqmP .image-wrapper {
    padding: .5rem;
  }
}
.cid-t02NczMqmP .image-wrapper img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  vertical-align: middle;
  display: inline-block;
}
.cid-t02MvQeYQG {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #fef1e5;
  border-top: 3px solid #000000;
  border-bottom: 3px solid #000000;
  margin-top: -3px;
}
.cid-t02MvQeYQG .row {
  margin-left: 0;
  margin-right: 0;
}
.cid-t02MvQeYQG .item {
  padding-left: 0;
  padding-right: 0;
}
.cid-t02MvQeYQG .mbr-gallery {
  border-radius: 20px;
  border: 3px solid #000;
  overflow: hidden;
}
.cid-t02MvQeYQG .mbr-section-head {
  width: fit-content;
  border-radius: 20px;
  background-color: #006b54;
  color: #fff;
  padding: 0.2em 30px 0.2em;
  margin-bottom: 80px;
  font-family: "Josefin Sans";
}
@media (min-width: 92px) {
  .cid-t02MvQeYQG .mbr-section-head .display-7 {
    font-size: 23.8px;
  }
}
.cid-t02MvQeYQG .item-wrapper {
  height: 300px;
  position: relative;
}
.cid-t02MvQeYQG .item-wrapper img {
  object-fit: cover;
}
.cid-t02MvQeYQG .item-wrapper img {
  height: 100%;
}
.cid-t02MvQeYQG .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%);
  color: #000;
  background-color: #FEF1E5;
  border: 3px solid #000;
  transition: 0.2s;
}
.cid-t02MvQeYQG .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-t02MvQeYQG .carousel-control,
.cid-t02MvQeYQG .close {
  background: #1b1b1b;
}
.cid-t02MvQeYQG .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-t02MvQeYQG .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-t02MvQeYQG .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 2.5rem;
  right: 2.5rem;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
  color: #000;
  background-color: #FEF1E5;
  border: 3px solid #000;
}
.cid-t02MvQeYQG .close::before {
  content: '\e91a';
}
.cid-t02MvQeYQG .close:hover {
  opacity: .7;
}
.cid-t02MvQeYQG .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  opacity: 0.5;
  color: #000;
  background-color: #FEF1E5;
  border: 3px solid #000;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-t02MvQeYQG .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t02MvQeYQG .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-t02MvQeYQG .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-t02MvQeYQG .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-t02MvQeYQG .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-t02MvQeYQG .carousel-indicators li.active,
.cid-t02MvQeYQG .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-t02MvQeYQG .carousel-indicators li::after,
.cid-t02MvQeYQG .carousel-indicators li::before {
  content: none;
}
.cid-t02MvQeYQG .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-t02MvQeYQG .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-t02MvQeYQG .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-t02MvQeYQG .carousel-indicators {
    display: none;
  }
}
.cid-t02MvQeYQG .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-t02MvQeYQG .carousel-inner > .active {
  display: block;
}
.cid-t02MvQeYQG .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-t02MvQeYQG .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-t02MvQeYQG .carousel-control:hover {
  opacity: .7;
}
@media (max-width: 768px) {
  .cid-t02MvQeYQG .carousel-control,
  .cid-t02MvQeYQG .carousel-indicators,
  .cid-t02MvQeYQG .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-t02MvQeYQG .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-t02MvQeYQG .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-t02MvQeYQG .carousel-indicators .active,
.cid-t02MvQeYQG .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-t02MvQeYQG .carousel-indicators .active {
  background: #fff;
}
.cid-t02MvQeYQG .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-t02MvQeYQG .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-t02MvQeYQG .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t02MvQeYQG .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-t02MvQeYQG .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-t02MvQeYQG .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-t02MvQeYQG .carousel {
  width: 100%;
}
.cid-t02MvQeYQG .modal-backdrop.in {
  opacity: 0.8;
}
.cid-t02MvQeYQG .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-t02MvQeYQG .modal.fade .modal-dialog,
.cid-t02MvQeYQG .modal.in .modal-dialog {
  transform: none;
}
.cid-t02MvQeYQG .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-t02MvQeYQG H6 {
  text-align: center;
}
.cid-t02MvQeYQG H3 {
  text-align: center;
}
.cid-t02MA2L5z5 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fef1e5;
  overflow: hidden;
}
.cid-t02MA2L5z5 .mbr-text {
  color: #002549;
}
.cid-t02MA2L5z5 .media-container-row .mbr-text {
  color: #000000;
}
