body {
  font-family: Manrope;
}
.display-1 {
  font-family: 'Manrope', sans-serif;
  font-size: 6.85rem;
  line-height: 1.1;
  letter-spacing: -0.045em;
}
.display-1 > .mbr-iconfont {
  font-size: 8.5625rem;
}
.display-2 {
  font-family: 'Manrope', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
  letter-spacing: -0.04em;
}
.display-2 > .mbr-iconfont {
  font-size: 4.75rem;
}
.display-4 {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.9rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.display-5 > .mbr-iconfont {
  font-size: 2.375rem;
}
.display-7 {
  font-family: 'Manrope', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.48rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.795rem;
    font-size: calc( 3.0475rem + (6.85 - 3.0475) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.0475rem + (6.85 - 3.0475) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.52rem;
    font-size: calc( 1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.315rem + (1.9 - 1.315) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 33px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 33px;
}
.bg-primary {
  background-color: #1e1c21 !important;
}
.bg-success {
  background-color: #dcd3f7 !important;
}
.bg-info {
  background-color: #fbfbfb !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1e1c21 !important;
  border-color: #1e1c21 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #2b7669 !important;
  border-color: #2b7669 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #143630 !important;
  border-color: #143630 !important;
}
.btn-info,
.btn-info:active {
  background-color: #fbfbfb !important;
  border-color: #fbfbfb !important;
  color: #7b7b7b !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #7b7b7b !important;
  background-color: #d0d0d0 !important;
  border-color: #d0d0d0 !important;
}
.btn-success,
.btn-success:active {
  background-color: #dcd3f7 !important;
  border-color: #dcd3f7 !important;
  color: #421fac !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #421fac !important;
  background-color: #a28aea !important;
  border-color: #a28aea !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1e1c21;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1e1c21 !important;
  border-color: #1e1c21 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #2b7669;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #143630 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #2b7669 !important;
  border-color: #2b7669 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fbfbfb;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d0d0d0 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #7b7b7b !important;
  background-color: #fbfbfb !important;
  border-color: #fbfbfb !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #dcd3f7;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #a28aea !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #421fac !important;
  background-color: #dcd3f7 !important;
  border-color: #dcd3f7 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #1e1c21 !important;
}
.text-secondary {
  color: #2b7669 !important;
}
.text-success {
  color: #dcd3f7 !important;
}
.text-info {
  color: #fbfbfb !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #102b26 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #977de7 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #c8c8c8 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #1e1c21;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #fbfbfb;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1e1c21;
  border-color: #1e1c21;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #1e1c21;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d0cdd5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #1e1c21 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #1e1c21;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1e1c21;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #1e1c21;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1e1c21;
  border-bottom-color: #1e1c21;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #1e1c21 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #2b7669 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231e1c21' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn {
  min-width: 100px;
  border-radius: 100vw;
  padding: 1rem 1.5rem;
  line-height: 1.25;
  font-weight: 600 !important;
  box-shadow: none !important;
  border: none !important;
  position: relative;
  overflow: hidden;
}
.mbr-section-btn .btn .mbr-iconfont {
  position: relative;
  z-index: 1000;
}
.mbr-section-btn .btn-transform {
  position: relative;
  overflow: hidden;
  transition: 0.4s all !important;
}
.mbr-section-btn .btn-transform .btn-transform-1 {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.4s all !important;
  animation: btn-move-out 0.4s ease-in-out;
}
.mbr-section-btn .btn {
  transition: 0.4s all !important;
}
.mbr-section-btn .btn:hover .btn-transform .btn-transform-1 {
  animation: btn-move 0.4s ease-in-out;
}
.mbr-section-btn .btn:hover .btn-overlay {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg) !important;
}
.mbr-section-btn .btn:hover {
  transform: scale(1.04);
}
@media (max-width: 575px) {
  .mbr-section-btn {
    display: flex;
    flex-wrap: wrap;
  }
  .mbr-section-btn .btn {
    width: 100%;
    box-shadow: none !important;
  }
}
@keyframes btn-move {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
@keyframes btn-move-out {
  0% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  49% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  50% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  51% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 0, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  52% {
    transform: translate3d(0px, -100%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
}
.cid-t73Q5VpsVd .container-fluid {
  padding: 0 1rem;
}
.cid-t73Q5VpsVd .navbar-dropdown {
  background-color: #dcd3f7 !important;
  padding: 0;
}
.cid-t73Q5VpsVd .menu_box {
  transition: all 0s ease 0s;
}
.cid-t73Q5VpsVd .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #dcd3f7 !important;
}
.cid-t73Q5VpsVd .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-t73Q5VpsVd .navbar-dropdown {
  position: relative !important;
}
.cid-t73Q5VpsVd nav.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-t73Q5VpsVd .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-t73Q5VpsVd .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-t73Q5VpsVd .mbr-section-btn .btn {
  height: 66px;
  min-width: 120px;
  box-shadow: none;
  color: #1e1c21 !important;
}
.cid-t73Q5VpsVd .mbr-section-btn .btn:hover {
  box-shadow: none;
}
@media (max-width: 575px) {
  .cid-t73Q5VpsVd .mbr-section-btn .btn {
    min-width: 120px;
    width: 120px;
    box-shadow: none !important;
  }
}
@media (min-width: 992px) {
  .cid-t73Q5VpsVd .offcanvas {
    padding: 55px 35px 40px;
    width: 480px;
    background-color: #dcd3f7;
  }
  .cid-t73Q5VpsVd .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-t73Q5VpsVd .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-t73Q5VpsVd .offcanvas-header .btn-close {
    position: absolute;
    top: 44px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-t73Q5VpsVd .offcanvas-body {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }
  .cid-t73Q5VpsVd .offcanvas-body .mbr-text,
  .cid-t73Q5VpsVd .offcanvas-body .mbr-section-subtitle {
    margin-top: 14px;
  }
  .cid-t73Q5VpsVd .offcanvas-body .offcanvas_contact {
    margin: 35px 0;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #fbfbfb;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-t73Q5VpsVd .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-t73Q5VpsVd ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-t73Q5VpsVd .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-t73Q5VpsVd .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-t73Q5VpsVd .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-t73Q5VpsVd li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
  }
  .cid-t73Q5VpsVd li.nav-item::after {
    content: '';
    display: block;
    width: 3px;
    height: 3px;
    background-color: #1e1c21;
    transition: all .4s ease;
    border-radius: 50%;
    margin: 0 auto;
    transform: translateY(250%);
    opacity: 0;
  }
  .cid-t73Q5VpsVd .lg_brand {
    margin: 0 1rem;
  }
}
.cid-t73Q5VpsVd .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-t73Q5VpsVd .nav-item {
    margin: 4px 15px;
  }
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .nav-item {
    margin: 0 !important;
  }
}
.cid-t73Q5VpsVd .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-t73Q5VpsVd .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: 72px !important;
    left: -40px !important;
  }
  .cid-t73Q5VpsVd .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -80% !important;
  }
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-t73Q5VpsVd .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-t73Q5VpsVd .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-t73Q5VpsVd .offcanvas_box {
    display: none;
  }
}
.cid-t73Q5VpsVd .dropdown-item {
  border: none;
  font-weight: 400 !important;
}
.cid-t73Q5VpsVd .dropdown-item:hover {
  color: #1e1c21;
}
.cid-t73Q5VpsVd .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-t73Q5VpsVd .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
}
.cid-t73Q5VpsVd .nav-link {
  position: relative;
  color: #1E1C21;
}
.cid-t73Q5VpsVd .container {
  display: flex;
  margin: auto;
}
.cid-t73Q5VpsVd .iconfont-wrapper {
  width: 42px;
  margin: 5px;
  color: #1e1c21;
  font-size: 21px;
  transition: all 0.2s ease-in-out;
  width: auto;
}
.cid-t73Q5VpsVd .iconfont-wrapper:hover {
  color: #1e1c21;
}
.cid-t73Q5VpsVd .navbar-caption {
  color: #1E1C21;
}
.cid-t73Q5VpsVd .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 1200px) {
  .cid-t73Q5VpsVd .navbar-nav {
    margin: 0 20px;
  }
}
.cid-t73Q5VpsVd .navbar-nav .nav-item:last-child {
  margin-right: 0 !important;
}
.cid-t73Q5VpsVd .nav-item:focus,
.cid-t73Q5VpsVd .nav-link:focus {
  outline: none;
}
.cid-t73Q5VpsVd .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-t73Q5VpsVd .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-t73Q5VpsVd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-t73Q5VpsVd .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-t73Q5VpsVd .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-t73Q5VpsVd .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-t73Q5VpsVd .navbar {
  min-height: 120px;
  transition: all 0.3s;
  border-bottom-width: 0px;
}
.cid-t73Q5VpsVd .navbar.opened {
  transition: all 0.3s;
}
.cid-t73Q5VpsVd .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-t73Q5VpsVd .navbar .navbar-logo img {
  width: auto;
  object-fit: cover;
}
.cid-t73Q5VpsVd .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-t73Q5VpsVd .navbar.collapsed {
  justify-content: center;
}
.cid-t73Q5VpsVd .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-t73Q5VpsVd .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-t73Q5VpsVd .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-t73Q5VpsVd .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-t73Q5VpsVd .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-t73Q5VpsVd .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-t73Q5VpsVd .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-t73Q5VpsVd .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-t73Q5VpsVd .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-t73Q5VpsVd .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-t73Q5VpsVd .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-t73Q5VpsVd .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-t73Q5VpsVd .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-t73Q5VpsVd .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-t73Q5VpsVd .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-t73Q5VpsVd .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-t73Q5VpsVd .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-t73Q5VpsVd .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-t73Q5VpsVd .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-t73Q5VpsVd .navbar .icons-menu {
    padding: 0;
  }
}
.cid-t73Q5VpsVd .navbar.navbar-short {
  min-height: 60px;
}
.cid-t73Q5VpsVd .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-t73Q5VpsVd .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-t73Q5VpsVd .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-t73Q5VpsVd .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-t73Q5VpsVd .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-t73Q5VpsVd .dropdown-item.active,
.cid-t73Q5VpsVd .dropdown-item:active {
  background-color: transparent;
}
.cid-t73Q5VpsVd .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-t73Q5VpsVd .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-t73Q5VpsVd .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-t73Q5VpsVd .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-t73Q5VpsVd ul.navbar-nav {
  flex-wrap: wrap;
  padding-bottom: 0;
}
.cid-t73Q5VpsVd .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-t73Q5VpsVd button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #dcd3f7;
  background: #2b7669;
}
.cid-t73Q5VpsVd button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #fbfbfb;
}
.cid-t73Q5VpsVd button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-t73Q5VpsVd button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t73Q5VpsVd button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-t73Q5VpsVd button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-t73Q5VpsVd nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t73Q5VpsVd nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-t73Q5VpsVd nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-t73Q5VpsVd nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-t73Q5VpsVd a.nav-link {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.cid-t73Q5VpsVd .nav-item:hover::after {
  transform: translateY(50%);
  opacity: 1;
}
.cid-t73Q5VpsVd .icons-menu {
  margin-bottom: 35px;
}
.cid-t73Q5VpsVd .icons-menu .iconfont-wrapper {
  margin-bottom: 25px;
  display: block;
}
.cid-t73Q5VpsVd .icons-menu .iconfont-wrapper span {
  margin-right: 14px;
}
.cid-t73Q5VpsVd .icons-menu .iconfont-wrapper .mbr-text {
  margin: 0;
  display: inline-block;
}
.cid-t73Q5VpsVd .icons-menu .iconfont-wrapper:last-child {
  margin-bottom: 0;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-t73Q5VpsVd .navbar {
    height: 70px;
  }
  .cid-t73Q5VpsVd .navbar.opened {
    height: auto;
  }
  .cid-t73Q5VpsVd .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-t73Q5VpsVd .navbar-caption:hover {
  color: #1e1c21;
}
.cid-t73Q5VpsVd .nav-link:hover {
  color: #1e1c21;
}
.cid-t73Q5VpsVd .mbr-iconfont {
  font-size: 21px;
}
.cid-t73Q5VpsVd .navbar-wrap {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .cid-t73Q5VpsVd .navbar-wrap {
    display: block;
  }
}
.cid-t73Q5VpsVd .mbr-section-subtitle {
  color: #1E1C21;
  text-align: left;
}
.cid-t73Q5VpsVd .mbr-text,
.cid-t73Q5VpsVd .iconfont-wrapper {
  color: #1E1C21;
  text-align: left;
}
.cid-t73Q5VpsVd .text_widget a:hover {
  color: #1e1c21;
}
.cid-t73Q5VpsVd a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-t73Q6gK9XH {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fbfbfb;
}
.cid-t73Q6gK9XH .row {
  position: relative;
}
.cid-t73Q6gK9XH .text {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-t73Q6gK9XH .text {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.cid-t73Q6gK9XH .text-wrapper {
  width: 150%;
  padding-left: 60px;
}
@media (max-width: 991px) {
  .cid-t73Q6gK9XH .text-wrapper {
    width: auto;
    padding: 0 1rem 1rem;
  }
}
.cid-t73Q6gK9XH .image-wrapper {
  width: 100%;
  height: 100%;
}
.cid-t73Q6gK9XH .image-wrapper img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
.cid-t73Q6gK9XH .mbr-section-title {
  margin: 0;
  color: #1e1c21;
}
@media (max-width: 991px) {
  .cid-t73Q6gK9XH .mbr-section-title {
    color: #fbfbfb;
  }
}
.cid-t73Q6Qgvvu {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #dcd3f7;
}
.cid-t73Q6Qgvvu .cards-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 150px;
}
@media (max-width: 992px) {
  .cid-t73Q6Qgvvu .cards-wrapper {
    margin: 0 30px;
  }
}
@media (max-width: 768px) {
  .cid-t73Q6Qgvvu .cards-wrapper {
    display: block;
  }
}
.cid-t73Q6Qgvvu .cards-wrapper .card {
  width: 560px;
  height: 720px;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
  border-radius: 6px;
}
@media (max-width: 768px) {
  .cid-t73Q6Qgvvu .cards-wrapper .card {
    width: auto;
    height: auto;
    min-height: 410px;
  }
}
.cid-t73Q6Qgvvu .cards-wrapper .card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.cid-t73Q6Qgvvu .cards-wrapper .card .mbr-section-btn {
  text-align: center;
  z-index: 1;
}
@media (max-width: 575px) {
  .cid-t73Q6Qgvvu .cards-wrapper .card .mbr-section-btn {
    display: block;
  }
}
.cid-t73Q6Qgvvu .cards-wrapper .card .mbr-section-btn .btn {
  width: 155px;
  height: 66px;
  box-shadow: none;
}
.cid-t73Q6Qgvvu .cards-wrapper .card .mbr-section-btn .btn:hover {
  box-shadow: none;
}
.cid-t73Q6Qgvvu .cards-wrapper .card_1 {
  margin-right: 4px;
}
@media (max-width: 768px) {
  .cid-t73Q6Qgvvu .cards-wrapper .card_1 {
    margin-right: 0;
  }
}
.cid-t73Q6Qgvvu .cards-wrapper .card_2 {
  margin-left: 4px;
  margin-top: 119px;
}
@media (max-width: 768px) {
  .cid-t73Q6Qgvvu .cards-wrapper .card_2 {
    margin-left: 0;
    margin-top: 15px;
  }
}
.cid-t73Q7pZh7M {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #fbfbfb;
}
.cid-t73Q7pZh7M .title-wrapper {
  margin: 0 60px;
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .title-wrapper {
    margin: 0 30px;
  }
}
.cid-t73Q7pZh7M .title-wrapper .mbr-section-title {
  margin: 0;
}
.cid-t73Q7pZh7M .card-wrapper {
  min-height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 300px 150px;
}
@media (max-width: 1200px) {
  .cid-t73Q7pZh7M .card-wrapper {
    padding: 80px;
  }
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .card-wrapper {
    padding: 80px 30px 72px;
    min-height: auto;
    display: block;
  }
}
.cid-t73Q7pZh7M .card-wrapper .card {
  margin-bottom: 92px;
}
.cid-t73Q7pZh7M .card-wrapper .card:last-child {
  margin-bottom: 0;
}
.cid-t73Q7pZh7M .card-wrapper .card .card-icon {
  width: 100%;
  margin-bottom: 29px;
}
.cid-t73Q7pZh7M .card-wrapper .card .card-icon span {
  font-size: 22px;
  width: 64px;
  height: 64px;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  padding: 20px;
  margin-bottom: 45px;
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .card-wrapper .card .card-icon span {
    margin-bottom: 22px;
  }
}
.cid-t73Q7pZh7M .card-wrapper .card .mbr-card-title {
  margin-bottom: 11px;
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .card-wrapper .card .mbr-card-title {
    margin-bottom: 16px;
  }
}
.cid-t73Q7pZh7M .card-wrapper .card .mbr-text {
  margin: 0;
}
.cid-t73Q7pZh7M .card_1 {
  background-color: #dcd3f7;
  margin-right: 71px;
  margin-top: 228px;
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .card_1 {
    margin-right: 0;
    margin-top: 70px;
    margin-bottom: 60px;
  }
}
.cid-t73Q7pZh7M .card_2 {
  background-color: #f7e6e2;
  margin-left: 71px;
}
@media (max-width: 992px) {
  .cid-t73Q7pZh7M .card_2 {
    margin-left: 0;
  }
}
.cid-t73Q7pZh7M .mbr-section-title {
  color: #1E1C21;
}
.cid-t73Q7pZh7M .mbr-card-title,
.cid-t73Q7pZh7M .mbr-iconfont {
  color: #1E1C21;
}
.cid-t73Q7pZh7M .mbr-text {
  color: #1E1C21;
}
.cid-t73QaUPZUA {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #dcd3f7;
}
.cid-t73QaUPZUA .text-wrapper {
  height: 100%;
  margin: 0 150px;
}
@media (max-width: 992px) {
  .cid-t73QaUPZUA .text-wrapper {
    margin: 0 30px;
  }
}
.cid-t73QaUPZUA .text-wrapper .mbr-section-subtitle {
  margin-bottom: 73px;
}
@media (max-width: 992px) {
  .cid-t73QaUPZUA .text-wrapper .mbr-section-subtitle {
    margin-bottom: 33.6px;
  }
}
.cid-t73QaUPZUA .text-wrapper .mbr-section-title {
  margin-bottom: 86px;
}
@media (max-width: 992px) {
  .cid-t73QaUPZUA .text-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-t73QaUPZUA .text-wrapper .mbr-section-btn .btn {
  width: 155px;
  height: 66px;
  box-shadow: none;
  margin-top: 0;
}
.cid-t73QaUPZUA .text-wrapper .mbr-section-btn .btn:hover {
  box-shadow: none;
}
.cid-t73QaUPZUA .mbr-section-subtitle {
  color: #1E1C21;
}
.cid-t73QaUPZUA .mbr-section-title {
  color: #1E1C21;
}
.cid-t73QfllJhL {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f7e6e2;
}
.cid-t73QfllJhL .title-wrapper {
  margin: 0 260px;
  border-bottom: 1px solid #cbcbcb;
}
@media (max-width: 992px) {
  .cid-t73QfllJhL .title-wrapper {
    margin: 0 30px;
  }
}
.cid-t73QfllJhL .title-wrapper .mbr-section-title {
  margin-bottom: 86px;
}
@media (max-width: 992px) {
  .cid-t73QfllJhL .title-wrapper .mbr-section-title {
    margin-bottom: 52px;
  }
}
.cid-t73QfllJhL .text-wrapper {
  margin-right: 260px;
  padding-top: 84.5px;
}
@media (max-width: 992px) {
  .cid-t73QfllJhL .text-wrapper {
    margin: 0 30px;
    padding-top: 48px;
  }
}
.cid-t73QfllJhL .text-wrapper .mbr-text {
  margin: 0;
}
.cid-t73QfllJhL .mbr-section-title {
  color: #1E1C21;
}
.cid-t73QfllJhL .mbr-text {
  color: #1E1C21;
}
.cid-t73QivClGi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #dcd3f7;
}
.cid-t73QivClGi .container-fluid {
  padding: 0;
}
.cid-t73QivClGi section {
  padding: 0;
}
.cid-t73QivClGi .image-wrapper {
  height: 50rem;
  margin-left: 150px;
  position: relative;
  padding: 150px 0;
}
@media (max-width: 992px) {
  .cid-t73QivClGi .image-wrapper {
    margin-left: 30px;
  }
}
.cid-t73QivClGi .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-t73QivClGi .image-wrapper .text-wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 150px;
}
@media (max-width: 992px) {
  .cid-t73QivClGi .image-wrapper .text-wrapper {
    margin: 0 30px;
  }
}
.cid-t73QivClGi .image-wrapper .text-wrapper .mbr-section-title {
  margin-bottom: 58px;
}
@media (max-width: 768px) {
  .cid-t73QivClGi .image-wrapper .text-wrapper .mbr-section-title {
    margin-bottom: 42px;
  }
}
.cid-t73QivClGi .image-wrapper .text-wrapper .mbr-section-btn .btn {
  width: 136px;
  height: 66px;
  margin-top: 0;
  box-shadow: none;
}
.cid-t73QivClGi .image-wrapper .text-wrapper .mbr-section-btn .btn:hover {
  box-shadow: none;
}
.cid-t73QivClGi .mbr-section-title {
  color: #FBFBFB;
}
.cid-t73QjSsV2N {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f7e6e2;
}
.cid-t73QjSsV2N .mbr-fallback-image.disabled {
  display: none;
}
.cid-t73QjSsV2N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t73QjSsV2N .video-wrapper iframe {
  width: 100%;
}
.cid-t73QjSsV2N .mbr-section-title,
.cid-t73QjSsV2N .mbr-section-subtitle,
.cid-t73QjSsV2N .mbr-text {
  text-align: center;
}
.cid-t73QjSsV2N .container-fluid {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-t73QjSsV2N .container-fluid {
    padding: 0;
  }
}
.cid-t73QjSsV2N .app-video-wrapper::before {
  position: absolute;
  font-family: "Moririse2";
  content: "\e95f";
  font-size: 12px;
  line-height: 70px;
  margin-left: -35px;
  margin-top: -35px;
  top: 50%;
  left: 50%;
  color: #2b7669;
  text-shadow: none;
  z-index: 1;
  width: 105px;
  height: 105px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.cid-t73QjSsV2N .app-video-wrapper > img {
  opacity: .6;
}
.cid-t73QmSmloh {
  padding-top: 0rem;
  padding-bottom: 6rem;
  background-color: #f7e6e2;
}
.cid-t73QmSmloh .mbr-fallback-image.disabled {
  display: none;
}
.cid-t73QmSmloh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t73QmSmloh .section-head {
  margin: 0 150px 132px;
}
@media (max-width: 992px) {
  .cid-t73QmSmloh .section-head {
    margin: 0 18px 70px;
  }
}
.cid-t73QmSmloh .section-head .mbr-section-subtitle {
  margin-bottom: 73px;
}
@media (max-width: 992px) {
  .cid-t73QmSmloh .section-head .mbr-section-subtitle {
    margin-bottom: 32px;
  }
}
.cid-t73QmSmloh .section-head .mbr-section-title {
  margin-bottom: 0;
}
.cid-t73QmSmloh .tab-content {
  margin-left: 150px;
  border-bottom: 1px solid #cbcbcb;
  margin-right: 150px;
  margin-left: 0;
}
@media (max-width: 992px) {
  .cid-t73QmSmloh .tab-content {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .cid-t73QmSmloh .tab-content {
    margin-right: 30px;
  }
}
@media (max-width: 768px) {
  .cid-t73QmSmloh .tab-content {
    margin: 0 18px;
  }
}
.cid-t73QmSmloh .card {
  padding: 58px 0;
  border-top: 1px solid #cbcbcb;
  border-radius: 0;
}
@media (max-width: 768px) {
  .cid-t73QmSmloh .card {
    padding: 40px 0;
  }
}
.cid-t73QmSmloh .card-header {
  background-color: transparent;
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.cid-t73QmSmloh .panel-title-edit {
  margin: 0;
}
.cid-t73QmSmloh .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-t73QmSmloh .mbr-iconfont {
  padding-left: 1rem;
  font-family: 'Moririse2' !important;
  font-size: 18px !important;
  opacity: .7;
  transition: all .4s ease;
}
.cid-t73QmSmloh .panel-title:hover .mbr-iconfont {
  transform: translateY(-50%) rotate(45deg);
}
.cid-t73QmSmloh .panel-body {
  padding-top: 58px;
}
@media (max-width: 768px) {
  .cid-t73QmSmloh .panel-body {
    padding-top: 40px;
  }
}
.cid-t73QmSmloh .panel-text {
  margin: 0;
  color: #1E1C21;
}
.cid-t73QmSmloh .mbr-section-subtitle {
  color: #1E1C21;
}
.cid-t73QmSmloh .mbr-section-title {
  color: #1E1C21;
}
.cid-t73QmSmloh .panel-title-edit,
.cid-t73QmSmloh .mbr-iconfont {
  color: #1E1C21;
}
.cid-t73QrU2LVx {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #dcd3f7;
}
.cid-t73QrU2LVx .container-fluid {
  padding: 0;
}
.cid-t73QrU2LVx .mbr-fallback-image.disabled {
  display: none;
}
.cid-t73QrU2LVx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t73QrU2LVx .nav-wrapper {
  position: relative;
  padding-right: 1rem;
  padding-left: 1rem;
}
.cid-t73QrU2LVx .nav-tabs .nav-item.open .nav-link:focus,
.cid-t73QrU2LVx .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-t73QrU2LVx .nav {
  justify-content: center;
  align-items: center;
}
.cid-t73QrU2LVx .nav-tabs {
  position: absolute;
  bottom: 5rem;
  right: 4rem;
  width: 240px;
  height: 66px;
  border-radius: 33px;
  background: #fbfbfb;
  border: none;
}
@media (max-width: 768px) {
  .cid-t73QrU2LVx .nav-tabs {
    width: 200px;
    bottom: 3rem;
  }
}
@media (max-width: 375px) {
  .cid-t73QrU2LVx .nav-tabs {
    right: 3.8rem;
  }
}
.cid-t73QrU2LVx .nav-tabs .nav-link {
  transition: all .5s;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 0;
  background-color: #cbcbcb;
}
.cid-t73QrU2LVx .nav-tabs .nav-item {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbcbcb;
  border-radius: 50%;
  margin: 1rem;
  padding-bottom: 2px;
  position: relative;
}
.cid-t73QrU2LVx .nav-tabs .nav-item::after {
  content: '';
  display: block;
  width: 22px;
  height: 1px;
  background-color: #cbcbcb;
  position: absolute;
  right: 1.17rem;
  top: 6px;
}
.cid-t73QrU2LVx .nav-tabs .nav-item:first-child:after {
  display: none;
}
.cid-t73QrU2LVx .nav-link span {
  display: none;
  transition: all .5s ease;
}
.cid-t73QrU2LVx .nav-link.active {
  background-color: #dcd3f7;
  transform: scale(3.2, 2.8);
  z-index: 1;
  position: relative;
}
.cid-t73QrU2LVx .nav-link.active span {
  font-size: 7px;
  position: absolute;
  top: 3.4px;
  left: 3px;
}
@media (max-width: 992px) {
  .cid-t73QrU2LVx .tab-content {
    padding: 0 30px;
  }
}
.cid-t73QrU2LVx .tab-content img {
  width: 100%;
  height: 50rem;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-t73QrU2LVx .tab-content img {
    height: 40rem;
  }
}
.cid-t73QrU2LVx .title-wrapper {
  margin-left: 150px;
  padding-top: 120px;
  margin-right: 150px;
}
@media (max-width: 992px) {
  .cid-t73QrU2LVx .title-wrapper {
    margin: 0 30px;
  }
}
@media (max-width: 992px) {
  .cid-t73QrU2LVx .title-wrapper {
    margin: 0  30px 30px;
    padding-top: 0;
  }
}
.cid-t73QrU2LVx .title-wrapper .mbr-section-title {
  margin-bottom: 30px;
}
.cid-t73QrU2LVx .title-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-t73QrU2LVx .mbr-section-title {
  color: #1E1C21;
}
.cid-t73QrU2LVx .mbr-text {
  color: #1E1C21;
}
.cid-t73QnTIshq {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background: #fbfbfb;
}
.cid-t73QnTIshq .container-fluid {
  padding: 0 150px;
}
@media (max-width: 1200px) {
  .cid-t73QnTIshq .container-fluid {
    padding: 0 60px;
  }
}
@media (max-width: 991px) {
  .cid-t73QnTIshq .container-fluid {
    padding: 0 30px;
  }
}
.cid-t73QnTIshq .container-fluid .row {
  align-items: center;
}
@media (min-width: 992px) {
  .cid-t73QnTIshq .row > [class*=col] {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}
.cid-t73QnTIshq .mbr-fallback-image.disabled {
  display: none;
}
.cid-t73QnTIshq .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-t73QnTIshq .plan {
  word-break: break-word;
  background-color: #dcd3f7;
  height: 44rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 26px;
}
@media (max-width: 992px) {
  .cid-t73QnTIshq .plan {
    height: 100vh;
    padding: 0 50px;
  }
}
@media (max-width: 575px) {
  .cid-t73QnTIshq .plan {
    height: 32rem;
  }
}
@media (max-width: 425px) {
  .cid-t73QnTIshq .plan {
    padding: 0 30px;
  }
}
.cid-t73QnTIshq .plan .plan-header .plan-title {
  margin-bottom: 35px;
}
@media (max-width: 768px) {
  .cid-t73QnTIshq .plan .plan-header .plan-title {
    margin-bottom: 24px;
  }
}
.cid-t73QnTIshq .plan .plan-header .plan-price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 38px;
  border-bottom: 1px solid #cbcbcb;
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .cid-t73QnTIshq .plan .plan-header .plan-price {
    padding-bottom: 28px;
    margin-bottom: 28px;
  }
}
.cid-t73QnTIshq .plan .plan-header .plan-price .price {
  margin: 0;
}
.cid-t73QnTIshq .plan .plan-header .plan-price .price-term {
  margin: 0;
}
.cid-t73QnTIshq .plan .plan-body .plan-text .mbr-text {
  margin-bottom: 48px;
}
@media (max-width: 768px) {
  .cid-t73QnTIshq .plan .plan-body .plan-text .mbr-text {
    margin-bottom: 36px;
  }
}
@media (max-width: 575px) {
  .cid-t73QnTIshq .plan .plan-body .mbr-section-btn {
    display: block;
  }
}
.cid-t73QnTIshq .plan .plan-body .mbr-section-btn .btn {
  width: 155px;
  height: 66px;
  box-shadow: none;
}
@media (max-width: 768px) {
  .cid-t73QnTIshq .plan .plan-body .mbr-section-btn .btn {
    width: auto;
  }
}
.cid-t73QnTIshq .plan .plan-body .mbr-section-btn .btn:hover {
  box-shadow: none;
}
.cid-t73QnTIshq .plan_2 {
  background-color: #f7e6e2;
  height: 47rem;
}
@media (max-width: 992px) {
  .cid-t73QnTIshq .plan_2 {
    height: 100vh;
  }
}
@media (max-width: 575px) {
  .cid-t73QnTIshq .plan_2 {
    height: 32rem;
  }
}
@media (max-width: 991px) {
  .cid-t73QnTIshq .plan {
    margin-bottom: 15px;
  }
}
.cid-t73QnTIshq .plan-title {
  color: #1E1C21;
}
.cid-t73QnTIshq .plan-title,
.cid-t73QnTIshq .mbr-section-btn {
  text-align: center;
}
.cid-t73QnTIshq .price {
  color: #1E1C21;
  text-align: center;
}
.cid-t73QnTIshq .price-term {
  color: #1E1C21;
  text-align: center;
}
.cid-t73QnTIshq .mbr-text {
  color: #1E1C21;
  text-align: center;
}
.cid-t73QlgN8LO {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fbfbfb;
}
.cid-t73QlgN8LO .container-fluid {
  padding: 0;
}
.cid-t73QlgN8LO .media-container-row {
  margin-bottom: 164px;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .media-container-row {
    margin-bottom: 80px;
  }
}
.cid-t73QlgN8LO .media-wrap {
  margin-left: 150px;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .media-wrap {
    margin-left: 30px;
    margin-bottom: 50px;
  }
}
.cid-t73QlgN8LO .media-wrap a img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.cid-t73QlgN8LO .main-list {
  display: flex;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .main-list {
    padding: 0 30px;
  }
  .cid-t73QlgN8LO .main-list .row {
    width: 100%;
  }
}
.cid-t73QlgN8LO .main-list .list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.cid-t73QlgN8LO .main-list .list li {
  position: relative;
  pointer-events: visible;
  margin-bottom: 5px;
}
.cid-t73QlgN8LO .main-list .list li a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.cid-t73QlgN8LO .footer-copyright {
  padding: 86px 150px;
  border-top: 1px solid #cbcbcb;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .footer-copyright {
    padding: 64px 30px;
  }
}
.cid-t73QlgN8LO .footer-copyright .copyright {
  display: flex;
}
@media (max-width: 992px) {
  .cid-t73QlgN8LO .footer-copyright .copyright {
    display: block;
  }
}
.cid-t73QlgN8LO .footer-copyright .copyright .mbr-copyright {
  margin: 0 25px 0 0;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .footer-copyright .copyright .mbr-copyright {
    margin-bottom: 5px;
  }
}
.cid-t73QlgN8LO .footer-copyright .text {
  padding: 0 48px;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .footer-copyright .text {
    padding: 0 12px;
  }
}
.cid-t73QlgN8LO .footer-copyright .text .mbr-copyright {
  margin: 0;
}
@media (max-width: 768px) {
  .cid-t73QlgN8LO .footer-copyright .text .mbr-copyright {
    opacity: .5;
  }
}
.cid-t73QlgN8LO .list {
  color: #1E1C21;
}
.cid-t73QlgN8LO .mbr-copyright {
  color: #1E1C21;
}
