.btn {
  border-width: 2px;
}
body {
  font-family: 'Sora', sans-serif;
}
.display-1 {
  font-family: 'Bodoni Moda', serif;
  font-size: 6.9rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 8.625rem;
}
.display-2 {
  font-family: 'Bodoni Moda', serif;
  font-size: 3.1rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.875rem;
}
.display-4 {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.25rem;
}
.display-5 {
  font-family: 'Bodoni Moda', serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-7 {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 5.52rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.83rem;
    font-size: calc( 3.065rem + (6.9 - 3.065) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (3.065rem + (6.9 - 3.065) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.48rem;
    font-size: calc( 1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7349999999999999rem + (3.1 - 1.7349999999999999) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 2rem;
  border-radius: 6px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #66a0c0 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #66a0c0 !important;
  border-color: #66a0c0 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #3c7493 !important;
  border-color: #3c7493 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3c7493 !important;
  border-color: #3c7493 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #66a0c0;
  color: #66a0c0;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #3c7493 !important;
  background-color: transparent!important;
  border-color: #3c7493 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #66a0c0 !important;
  border-color: #66a0c0 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #66a0c0 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #386c88 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
.nav-tabs .nav-link.active {
  color: #66a0c0;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #66a0c0;
  border-color: #66a0c0;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #66a0c0;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #c0d8e5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #66a0c0 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Sora', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.25rem;
}
blockquote {
  border-color: #66a0c0;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #66a0c0;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #66a0c0;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #66a0c0;
  border-bottom-color: #66a0c0;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #66a0c0 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2366a0c0' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sIT3VuLVxo {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sIT3VuLVxo nav.navbar {
  position: fixed;
}
.cid-sIT3VuLVxo a {
  font-weight: 300 !important;
}
.cid-sIT3VuLVxo .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIT3VuLVxo .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sIT3VuLVxo .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sIT3VuLVxo .dropdown-item:hover,
.cid-sIT3VuLVxo .dropdown-item:focus {
  background: #66a0c0 !important;
  color: white !important;
}
.cid-sIT3VuLVxo .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sIT3VuLVxo .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sIT3VuLVxo .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sIT3VuLVxo .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sIT3VuLVxo .container {
  display: flex;
  margin: auto;
}
.cid-sIT3VuLVxo .dropdown-menu,
.cid-sIT3VuLVxo .navbar.opened {
  background: #181818 !important;
}
.cid-sIT3VuLVxo .nav-item:focus,
.cid-sIT3VuLVxo .nav-link:focus {
  outline: none;
}
.cid-sIT3VuLVxo .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sIT3VuLVxo .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sIT3VuLVxo .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sIT3VuLVxo .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sIT3VuLVxo .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sIT3VuLVxo .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sIT3VuLVxo .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #181818;
}
.cid-sIT3VuLVxo .navbar.opened {
  transition: all 0.3s;
}
.cid-sIT3VuLVxo .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sIT3VuLVxo .navbar .navbar-logo img {
  width: auto;
}
.cid-sIT3VuLVxo .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sIT3VuLVxo .navbar.collapsed {
  justify-content: center;
}
.cid-sIT3VuLVxo .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sIT3VuLVxo .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-sIT3VuLVxo .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sIT3VuLVxo .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sIT3VuLVxo .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sIT3VuLVxo .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sIT3VuLVxo .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sIT3VuLVxo .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sIT3VuLVxo .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sIT3VuLVxo .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sIT3VuLVxo .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sIT3VuLVxo .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sIT3VuLVxo .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sIT3VuLVxo .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sIT3VuLVxo .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sIT3VuLVxo .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sIT3VuLVxo .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sIT3VuLVxo .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sIT3VuLVxo .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sIT3VuLVxo .navbar.navbar-short {
  min-height: 60px;
}
.cid-sIT3VuLVxo .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sIT3VuLVxo .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sIT3VuLVxo .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sIT3VuLVxo .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sIT3VuLVxo .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sIT3VuLVxo .dropdown-item.active,
.cid-sIT3VuLVxo .dropdown-item:active {
  background-color: transparent;
}
.cid-sIT3VuLVxo .navbar-expand-lg .navbar-nav {
  padding: 0;
}
.cid-sIT3VuLVxo .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sIT3VuLVxo .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sIT3VuLVxo .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #181818;
}
.cid-sIT3VuLVxo .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sIT3VuLVxo .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sIT3VuLVxo ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sIT3VuLVxo .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sIT3VuLVxo button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sIT3VuLVxo button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-sIT3VuLVxo button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sIT3VuLVxo button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIT3VuLVxo button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sIT3VuLVxo button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sIT3VuLVxo nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIT3VuLVxo nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sIT3VuLVxo nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sIT3VuLVxo nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sIT3VuLVxo .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sIT3VuLVxo a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.cid-sIT3VuLVxo .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sIT3VuLVxo .navbar {
    height: 70px;
  }
  .cid-sIT3VuLVxo .navbar.opened {
    height: auto;
  }
  .cid-sIT3VuLVxo .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sIT3VuLVxo .mbr-text {
  color: #fff;
}
.cid-sIT3VuLVxo .link-language:first-child {
  margin-right: 0 !important;
}
.cid-sIT3VuLVxo .link-language:last-child {
  margin-left: 0 !important;
  padding-left: 0 !important;
}
.cid-sIT3VuLVxo .nav-link {
  position: relative;
}
.cid-sIT3VuLVxo .nav-item {
  margin: 0 6px;
}
.cid-sIT3VuLVxo .nav-item:first-child {
  margin-left: 150px;
}
@media (max-width: 1200px) {
  .cid-sIT3VuLVxo .nav-item:first-child {
    margin-left: 6px;
  }
}
.cid-sIT3VuLVxo .nav-item:last-child {
  text-align: center;
}
.cid-sIT3VuLVxo .text-white {
  color: #fff !important;
}
.cid-sIT3VuLVxo .nav-button {
  padding: .5rem 1rem;
}
.cid-sIT3VCo5MG {
  background-image: url("../../../assets/images/background16.jpg");
}
.cid-sIT3VCo5MG h4 {
  margin-bottom: 20px;
  line-height: 1.3;
}
.cid-sIT3VCo5MG a {
  text-decoration: none;
  font-weight: 300;
  line-height: 1.72;
}
.cid-sIT3VCo5MG .mbr-section-title {
  color: #66a0c0;
}
@media (max-width: 1400px) {
  .cid-sIT3VCo5MG .mbr-section-title {
    margin-bottom: 120px;
  }
}
.cid-sIT3VCo5MG .mbr-section-btn {
  margin-right: 13px;
}
.cid-sIT3VCo5MG .btn-white-outline {
  color: white;
}
.cid-sIT3VCo5MG .btn-white-outline:hover {
  color: #000 !important;
  background-color: #fff !important;
  transition: .3s;
}
.cid-sIT3VCo5MG .info {
  margin-top: 120px;
}
@media (max-width: 1200px) {
  .cid-sIT3VCo5MG .info {
    margin-top: 70px;
  }
}
.cid-sIT3VCo5MG .mbr-text {
  color: #fff;
}
.cid-sIT3VCo5MG .mbr-section-subtitle {
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 768px) {
  .cid-sIT3VCo5MG .mbr-section-subtitle {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 4px;
  }
}
.cid-sIT3VCo5MG .mbr-section-subtitle::before {
  position: absolute;
  content: "";
  height: 1px;
  background-color: #ffffff;
  width: 50%;
  top: 35px;
}
@media (max-width: 768px) {
  .cid-sIT3VCo5MG .mbr-section-subtitle::before {
    content: none;
  }
}
.cid-sIT3VCo5MG .add-info {
  line-height: 1.72;
}
@media (max-width: 768px) {
  .cid-sIT3VCo5MG .add-info {
    width: 50%;
  }
}
.cid-sIT3VCo5MG .add-info-text {
  line-height: 1.72;
}
.cid-sIT3VCo5MG .mobi-mbri-down {
  font-size: 11px;
  margin-left: 10px;
}
.cid-sIT3VCo5MG .main-subtitle {
  color: #ffffff;
}
.cid-sIT3WxyhXW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #181818;
}
.cid-sIT3WxyhXW p {
  font-weight: 300;
}
.cid-sIT3WxyhXW .mbr-section-title {
  margin: 0;
  margin-bottom: 80px;
  color: #fff;
}
@media (max-width: 992px) {
  .cid-sIT3WxyhXW .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-sIT3WxyhXW .mbr-section-subtitle {
  color: #fff;
  font-weight: 700;
  line-height: 1.2;
}
.cid-sIT3WxyhXW .mbr-text {
  color: #cbcecf;
}
.cid-sIT3WxyhXW .mbr-iconfont {
  color: #66a0c0;
  font-size: 4rem;
}
.cid-sIT3WxyhXW .wrapper {
  background-color: #25282b;
  border-radius: 10px;
  padding: 2rem;
}
@media (max-width: 576px) {
  .cid-sIT3WxyhXW .wrapper {
    text-align: center;
  }
}
.cid-sIT3XIJNoi {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #edeff0;
}
.cid-sIT3XIJNoi h3 {
  line-height: 110%;
}
.cid-sIT3XIJNoi .card {
  margin-bottom: 20px;
}
.cid-sIT3XIJNoi .card-main-info {
  position: relative;
  border-radius: 10px;
}
.cid-sIT3XIJNoi .img-text {
  position: absolute;
  bottom: 14px;
  padding: 0 10px;
  color: #fff;
}
.cid-sIT3XIJNoi .card-img {
  width: 100%;
}
.cid-sIT3XIJNoi .mbr-text {
  color: #868c90;
}
.cid-sIT3XIJNoi .mbr-section-title {
  margin: 0;
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-sIT3XIJNoi .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-sIT3XIJNoi .card-subtitle {
  line-height: 1.2;
}
.cid-sIT3XIJNoi .card__professional {
  line-height: 1.72;
  font-weight: 300;
}
.cid-sIT3XIJNoi .card-text {
  line-height: 110%;
  font-weight: 500;
}
.cid-sIT49bO4cw {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #edeff0;
}
.cid-sIT49bO4cw .mbr-section-title {
  margin: 0;
  margin-bottom: 80px;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-sIT49bO4cw .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-sIT49bO4cw .mbr-section-subtitle {
  font-weight: 700;
  line-height: 1.2;
}
.cid-sIT49bO4cw .mbr-text {
  line-height: 1.5;
  font-weight: 300;
}
.cid-sIT49bO4cw .mbr-iconfont {
  color: #181818;
  font-size: 3rem;
  margin-bottom: .85rem;
}
.cid-sIT49bO4cw .wrapper {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
}
@media (min-width: 992px) {
  .cid-sIT49bO4cw .wrapper {
    padding: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-sIT49bO4cw .d-flex {
    flex-direction: column;
  }
}
.cid-sIT4axU5I8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #edeff0;
}
.cid-sIT4axU5I8 .mbr-iconfont {
  font-size: 1.4rem !important;
  font-family: 'Moririse2' !important;
  color: #fff;
  margin-left: 1rem;
}
.cid-sIT4axU5I8 .panel-group {
  border: none;
  border-radius: 9px;
  background-color: #181818;
}
.cid-sIT4axU5I8 .panel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cid-sIT4axU5I8 .panel-title-edit {
  color: #fff;
  font-weight: 300;
  overflow-x: auto;
  overflow-y: hidden;
  line-height: 1.2;
}
.cid-sIT4axU5I8 .panel-text {
  color: #fff;
  font-weight: 300;
  padding-top: 40px;
}
.cid-sIT4axU5I8 .card {
  border-bottom: 1px solid #868c90;
  padding: 1rem;
}
@media (min-width: 992px) {
  .cid-sIT4axU5I8 .card {
    padding: 3rem;
  }
}
.cid-sIT4axU5I8 .card-header {
  padding: 0;
  background-color: transparent;
  border-bottom: none;
}
.cid-sIT4axU5I8 .mbr-section-title {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-sIT4axU5I8 .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-sIT4axU5I8 .mbr-section-subtitle {
  margin: 0;
  margin-bottom: 50px;
  line-height: 1.72;
}
@media (max-width: 992px) {
  .cid-sIT4axU5I8 .mbr-section-subtitle {
    margin-bottom: 37px;
  }
}
@media (max-width: 768px) {
  .cid-sIT4axU5I8 .mbr-section-subtitle {
    margin-bottom: 28px;
  }
}
@media (max-width: 576px) {
  .cid-sIT4axU5I8 .mbr-section-subtitle {
    margin-bottom: 15px;
  }
}
.cid-sIT4axU5I8 .time {
  margin-right: 100px;
  white-space: nowrap;
}
@media (max-width: 1200px) {
  .cid-sIT4axU5I8 .time {
    margin-right: 0;
    margin-top: 10px;
    margin-left: 0 !important;
  }
}
.cid-sIT4axU5I8 .time-info {
  font-weight: 300;
  line-height: 1.72;
  margin: 0;
}
.cid-sIT4axU5I8 .mobi-mbri-clock {
  margin-right: 10px;
  font-size: 19px;
}
@media (max-width: 1200px) {
  .cid-sIT4axU5I8 .card-subtitle {
    flex-direction: column;
  }
}
.cid-sIT4axU5I8 .mbri-arrow-down {
  font-size: 30px !important;
}
.cid-sIT4aLBLLN {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #181818;
}
.cid-sIT4aLBLLN .card-wrapper {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1rem;
  margin: 0;
}
@media (min-width: 992px) {
  .cid-sIT4aLBLLN .card-wrapper {
    padding: 3rem;
  }
}
.cid-sIT4aLBLLN .mbr-section-title {
  margin: 0;
  color: #ffffff;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .cid-sIT4aLBLLN .mbr-section-title {
    margin-bottom: 80px;
  }
}
.cid-sIT4aLBLLN .mbr-text {
  line-height: 1.72;
}
.cid-sIT4aLBLLN .mbr-section-subtitle {
  font-weight: 500;
  line-height: 1.2;
}
.cid-sIT4aLBLLN .article-text {
  margin-bottom: 30px;
}
.cid-sIT4aLBLLN .card-container {
  padding: 0 0;
}
@media (min-width: 992px) {
  .cid-sIT4aLBLLN .card-container {
    padding: 0 3rem;
  }
}
.cid-sIT4bJuXfW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #edeff0;
}
.cid-sIT4bJuXfW .card-wrapper {
  padding-right: 2rem;
}
@media (max-width: 992px) {
  .cid-sIT4bJuXfW .card-wrapper {
    padding: 0 1rem;
  }
}
.cid-sIT4bJuXfW .image-wrapper img {
  object-fit: cover;
}
.cid-sIT4bJuXfW .mbr-section-title {
  margin-bottom: 80px;
}
@media (max-width: 992px) {
  .cid-sIT4bJuXfW .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-sIT4bJuXfW .mbr-section-subtitle {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cid-sIT4bJuXfW .mbr-section-subtitle {
    margin-bottom: 20px;
  }
}
.cid-sIT4bJuXfW .mbr-text {
  line-height: 1.72;
}
.cid-sIT4bJuXfW .list {
  line-height: 1.72;
}
.cid-sIT4bJuXfW .advantages-subtitle {
  line-height: 1.72;
}
.cid-sIT4cNka67 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #181818;
}
.cid-sIT4cNka67 .list {
  list-style: none;
  padding-left: 0;
  font-weight: 300;
  color: #fff;
}
@media (max-width: 991px) {
  .cid-sIT4cNka67 .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sIT4cNka67 .list {
    margin-bottom: 0rem;
  }
}
@media (max-width: 576px) {
  .cid-sIT4cNka67 .list {
    margin-bottom: 30px;
  }
}
.cid-sIT4cNka67 .item-wrap {
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  .cid-sIT4cNka67 .item-wrap {
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .cid-sIT4cNka67 div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-sIT4cNka67 .copyright {
  color: #868c90;
}
.cid-sIT4cNka67 .mbr-section-subtitle {
  color: #868c90;
}
@media (max-width: 576px) {
  .cid-sIT4cNka67 .mbr-section-subtitle {
    margin-bottom: 10px;
  }
}
.cid-sIT4cNka67 .footer {
  padding-top: 66px;
  padding-bottom: 50px;
  border-top: 1px solid #868c90;
  border-bottom: 1px solid #868c90;
}
@media (max-width: 768px) {
  .cid-sIT4cNka67 .footer {
    padding-top: 48px;
    padding-bottom: 36px;
  }
}
@media (max-width: 767px) {
  .cid-sIT4cNka67 .footer {
    text-align: center !important;
  }
}
@media (max-width: 576px) {
  .cid-sIT4cNka67 .footer-logo {
    margin: 0 auto;
  }
}
.cid-sIT4cWiAUl {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #181818;
}
.cid-sIT4cWiAUl .phone-number {
  color: #ffffff;
  font-weight: 400;
}
@media (max-width: 576px) {
  .cid-sIT4cWiAUl .phone-number {
    text-align: center;
  }
}
.cid-sIT4cWiAUl .social-list {
  justify-content: flex-end;
}
@media (max-width: 576px) {
  .cid-sIT4cWiAUl .social-list {
    justify-content: center;
    margin-top: 16px;
  }
}
.cid-sIT4cWiAUl .soc-item {
  margin-right: 27px;
}
.cid-sIT4cWiAUl .soc-item:last-child {
  margin-right: 0;
}
.cid-sIT4cWiAUl .socicon {
  color: #ffffff;
  font-size: 20px;
}
.cid-sIT4cWiAUl .mbr-text {
  font-weight: 400;
}
