body {
  font-family: 'Syne', sans-serif;
}
.display-1 {
  font-family: 'Syne', sans-serif;
  font-size: 3.43rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 4.2875rem;
}
.display-2 {
  font-family: 'Syne', sans-serif;
  font-size: 2.43rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.0375rem;
}
.display-4 {
  font-family: 'Syne', sans-serif;
  font-size: 1.31rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6375rem;
}
.display-5 {
  font-family: 'Syne', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.1875rem;
}
.display-7 {
  font-family: 'Syne', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 2.744rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.401rem;
    font-size: calc( 1.8505rem + (3.43 - 1.8505) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.8505rem + (3.43 - 1.8505) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.944rem;
    font-size: calc( 1.5005000000000002rem + (2.43 - 1.5005000000000002) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.5005000000000002rem + (2.43 - 1.5005000000000002) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.048rem;
    font-size: calc( 1.1085rem + (1.31 - 1.1085) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.1085rem + (1.31 - 1.1085) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.4rem;
    font-size: calc( 1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.2625rem + (1.75 - 1.2625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #7f8678 !important;
}
.bg-success {
  background-color: #6d9aba !important;
}
.bg-info {
  background-color: #4479d9 !important;
}
.bg-warning {
  background-color: #5b6153 !important;
}
.bg-danger {
  background-color: #caa884 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #7f8678 !important;
  border-color: #7f8678 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #54584f !important;
  border-color: #54584f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #54584f !important;
  border-color: #54584f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d7d3c6 !important;
  border-color: #d7d3c6 !important;
  color: #5d5641 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #b3ac93 !important;
  border-color: #b3ac93 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #5d5641 !important;
  background-color: #b3ac93 !important;
  border-color: #b3ac93 !important;
}
.btn-info,
.btn-info:active {
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #2150a5 !important;
  border-color: #2150a5 !important;
}
.btn-success,
.btn-success:active {
  background-color: #6d9aba !important;
  border-color: #6d9aba !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #436e8d !important;
  border-color: #436e8d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #436e8d !important;
  border-color: #436e8d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #5b6153 !important;
  border-color: #5b6153 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #2f322b !important;
  border-color: #2f322b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #2f322b !important;
  border-color: #2f322b !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #caa884 !important;
  border-color: #caa884 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ad7d4a !important;
  border-color: #ad7d4a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ad7d4a !important;
  border-color: #ad7d4a !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #7f8678;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #54584f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #7f8678 !important;
  border-color: #7f8678 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d7d3c6;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #b3ac93 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #5d5641 !important;
  background-color: #d7d3c6 !important;
  border-color: #d7d3c6 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #4479d9;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #2150a5 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4479d9 !important;
  border-color: #4479d9 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6d9aba;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #436e8d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #6d9aba !important;
  border-color: #6d9aba !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #5b6153;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #2f322b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #5b6153 !important;
  border-color: #5b6153 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #caa884;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ad7d4a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #caa884 !important;
  border-color: #caa884 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #7f8678 !important;
}
.text-secondary {
  color: #d7d3c6 !important;
}
.text-success {
  color: #6d9aba !important;
}
.text-info {
  color: #4479d9 !important;
}
.text-warning {
  color: #5b6153 !important;
}
.text-danger {
  color: #caa884 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #4c5048 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ada58a !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #3e6683 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1f4a98 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #272a24 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #a27546 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #7f8678;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #4479d9;
}
.alert-warning {
  background-color: #5b6153;
}
.alert-danger {
  background-color: #caa884;
}
.mbr-gallery-filter li.active .btn {
  background-color: #7f8678;
  border-color: #7f8678;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #7f8678;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #bfc2bb;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c4d6e3;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #eef2fb;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #9ba292;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Syne', sans-serif;
  font-size: 1.31rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.6375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #7f8678 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Syne', sans-serif;
  font-size: 1.31rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.6375rem;
}
blockquote {
  border-color: #7f8678;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #7f8678;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #7f8678;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #7f8678;
  border-bottom-color: #7f8678;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #7f8678 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d7d3c6 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%237f8678' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sMAxI4taO0 .navbar-dropdown {
  position: relative !important;
}
.cid-sMAxI4taO0 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sMAxI4taO0 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sMAxI4taO0 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sMAxI4taO0 .dropdown-item:hover,
.cid-sMAxI4taO0 .dropdown-item:focus {
  background: #7f8678 !important;
  color: white !important;
}
.cid-sMAxI4taO0 .dropdown-item:hover span {
  color: white;
}
.cid-sMAxI4taO0 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sMAxI4taO0 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sMAxI4taO0 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 2em !important;
}
@media (max-width: 991px) {
  .cid-sMAxI4taO0 .nav-dropdown .link {
    padding: 0 !important;
    margin: 6px 0 !important;
  }
}
.cid-sMAxI4taO0 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sMAxI4taO0 .nav-link {
  position: relative;
}
@media (max-width: 991px) {
  .cid-sMAxI4taO0 .nav-link {
    display: flex !important;
    justify-content: flex-start !important;
    width: 100% !important;
  }
}
.cid-sMAxI4taO0 .nav-link:before {
  content: '' !important;
  width: 6px !important;
  height: 6px !important;
  left: 0 !important;
  margin-right: 9px !important;
  position: relative !important;
  border: 1px solid currentColor !important;
  border-radius: 100% !important;
  display: inline-block !important;
  vertical-align: middle !important;
}
.cid-sMAxI4taO0 .nav-link:hover:before {
  background-color: currentColor !important;
}
.cid-sMAxI4taO0 .container {
  display: flex;
  margin: auto;
}
.cid-sMAxI4taO0 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sMAxI4taO0 .navbar-nav {
  min-height: 70px;
  align-items: flex-start;
  flex-grow: 1;
  justify-content: center;
}
@media (min-width: 992px) {
  .cid-sMAxI4taO0 .navbar-nav {
    align-items: center;
  }
}
.cid-sMAxI4taO0 .dropdown-menu,
.cid-sMAxI4taO0 .navbar.opened {
  background: #fffdf7 !important;
}
.cid-sMAxI4taO0 .nav-item:focus,
.cid-sMAxI4taO0 .nav-link:focus {
  outline: none;
}
.cid-sMAxI4taO0 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
  border-bottom: 1px solid #7f8678;
}
.cid-sMAxI4taO0 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sMAxI4taO0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sMAxI4taO0 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sMAxI4taO0 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sMAxI4taO0 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sMAxI4taO0 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid #7f8678;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #fffdf7;
  padding: 0 !important;
  box-shadow: none;
}
.cid-sMAxI4taO0 .navbar.opened {
  transition: all 0.3s;
}
.cid-sMAxI4taO0 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sMAxI4taO0 .navbar .navbar-logo img {
  width: auto;
}
.cid-sMAxI4taO0 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
@media (max-width: 991px) {
  .cid-sMAxI4taO0 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sMAxI4taO0 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sMAxI4taO0 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sMAxI4taO0 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sMAxI4taO0 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sMAxI4taO0 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sMAxI4taO0 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sMAxI4taO0 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sMAxI4taO0 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sMAxI4taO0 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sMAxI4taO0 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sMAxI4taO0 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sMAxI4taO0 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sMAxI4taO0 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 38px 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
@media (min-width: 992px) {
  .cid-sMAxI4taO0 .navbar-brand {
    border-right: 1px solid #7f8678;
  }
}
.cid-sMAxI4taO0 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sMAxI4taO0 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sMAxI4taO0 .navbar.navbar-short .navbar-brand {
  padding: 10px 38px 10px 0;
}
.cid-sMAxI4taO0 .dropdown-item.active,
.cid-sMAxI4taO0 .dropdown-item:active {
  background-color: transparent;
}
.cid-sMAxI4taO0 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sMAxI4taO0 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sMAxI4taO0 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sMAxI4taO0 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fffdf7;
}
.cid-sMAxI4taO0 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sMAxI4taO0 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sMAxI4taO0 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sMAxI4taO0 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sMAxI4taO0 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sMAxI4taO0 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 40px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sMAxI4taO0 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sMAxI4taO0 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sMAxI4taO0 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sMAxI4taO0 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sMAxI4taO0 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sMAxI4taO0 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sMAxI4taO0 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sMAxI4taO0 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sMAxI4taO0 .navbar-dropdown {
  padding: 0 1rem;
}
.cid-sMAxI4taO0 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sMAxI4taO0 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sMAxI4taO0 .navbar {
    height: 70px;
  }
  .cid-sMAxI4taO0 .navbar.opened {
    height: auto;
  }
  .cid-sMAxI4taO0 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sMAxI4taO0 .container-fluid {
  padding: 0 33px;
}
@media (min-width: 992px) {
  .cid-sMAxI4taO0 .container-fluid {
    padding: 0 40px;
  }
}
.cid-sMAxI4taO0 .layout-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-sMAxI4taO0 .layout-container {
    flex-wrap: nowrap;
  }
}
@media (max-width: 991px) {
  .cid-sMAxI4taO0 .nav-item {
    width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
  .cid-sMAxI4taO0 .nav-item .dropdown-toggle::after {
    margin: 0 0 0 auto !important;
  }
  .cid-sMAxI4taO0 .nav-item .dropdown-menu {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 0 !important;
  }
  .cid-sMAxI4taO0 .nav-item .dropdown-menu .dropdown-item {
    display: flex;
    justify-content: flex-start;
    padding: 6px 0 !important;
  }
  .cid-sMAxI4taO0 .nav-item .dropdown-menu .dropdown-toggle {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    padding: 6px 0 !important;
  }
  .cid-sMAxI4taO0 .nav-item .dropdown-menu .dropdown-toggle::after {
    position: static !important;
  }
}
.cid-sMAxI4taO0 .mbr-section-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-width: min-content;
}
@media (min-width: 992px) {
  .cid-sMAxI4taO0 .mbr-section-btn {
    border-left: 1px solid #7f8678;
    min-height: 100%;
  }
}
.cid-sMAxI4taO0 .mbr-section-btn .btn {
  margin: 0;
  min-height: 70px;
  padding: 0 17px 0 17px;
  border-radius: 0;
  word-break: normal;
  flex-grow: 1;
}
@media (max-width: 991px) {
  .cid-sMAxI4taO0 .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-sMAxJzwEro {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMAxJzwEro .carousel {
  height: 800px;
}
.cid-sMAxJzwEro .carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-sMAxJzwEro .carousel-item,
.cid-sMAxJzwEro .carousel-inner {
  height: 100%;
}
.cid-sMAxJzwEro .carousel-caption {
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 280px;
}
@media (min-width: 768px) {
  .cid-sMAxJzwEro .carousel-caption {
    width: 680px;
  }
}
@media (min-width: 992px) {
  .cid-sMAxJzwEro .carousel-caption {
    width: 900px;
  }
}
.cid-sMAxJzwEro .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-sMAxJzwEro .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-sMAxJzwEro .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 0;
}
.cid-sMAxJzwEro .item-wrapper {
  width: 100%;
}
@media (max-width: 767px) {
  .cid-sMAxJzwEro .container .carousel-control {
    margin-bottom: 0;
  }
  .cid-sMAxJzwEro .content-slider-wrap {
    width: 100% !important;
  }
}
.cid-sMAxJzwEro .container .carousel-indicators {
  margin-bottom: 3px;
}
.cid-sMAxJzwEro .carousel-control {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  opacity: 0;
}
.cid-sMAxJzwEro .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-sMAxJzwEro .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-sMAxJzwEro .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-sMAxJzwEro .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.5rem !important;
}
.cid-sMAxJzwEro .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-sMAxJzwEro .carousel-indicators li.active,
.cid-sMAxJzwEro .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-sMAxJzwEro .carousel-indicators li::after,
.cid-sMAxJzwEro .carousel-indicators li::before {
  content: none;
}
.cid-sMAxJzwEro .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
.cid-sMAxJzwEro H5 {
  color: #ffffff;
}
.cid-sMFveTXN4R {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFveTXN4R .mbr-overlay {
  z-index: 1;
}
.cid-sMFveTXN4R .main-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7F8678;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}
.cid-sMFveTXN4R .content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  margin: 110px 0;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cid-sMFveTXN4R .content {
    margin: 225px 0;
  }
}
.cid-sMFveTXN4R .link {
  width: 100%;
}
.cid-sMFvqT3OSC {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFvqT3OSC .mbr-overlay {
  z-index: 1;
}
.cid-sMFvqT3OSC .main-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7F8678;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}
.cid-sMFvqT3OSC .time-text {
  color: #3d3d3d;
  margin-right: auto;
}
.cid-sMFvqT3OSC .artist-text {
  color: #3d3d3d;
}
.cid-sMFvqT3OSC .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 32px;
  min-height: 700px;
}
.cid-sMFvqT3OSC .first-container {
  border-bottom: 1px solid #7F8678;
}
@media (min-width: 992px) {
  .cid-sMFvqT3OSC .first-container {
    border-right: 1px solid #7F8678;
    border-bottom: none;
  }
}
.cid-sMFvqT3OSC .item-img {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow: hidden;
  height: auto;
  margin: auto 0;
}
.cid-sMFvqT3OSC .item-img .img {
  max-height: 365px;
  margin-bottom: 24px;
  overflow: hidden;
}
.cid-sMFvqT3OSC .item-img img {
  object-fit: cover;
  height: 365px;
  transition: 1.16s;
  transform: scale(1);
  min-width: 100%;
  transform-style: preserve-3d;
}
.cid-sMFvqT3OSC .item-img:hover img {
  transform: scale(1.5);
}
.cid-sMFvqT3OSC .item-info {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 575px) {
  .cid-sMFvqT3OSC .item-info {
    flex-wrap: wrap;
  }
}
.cid-sMFvqT3OSC .link-wrap {
  margin-right: auto;
}
.cid-sMFvqT3OSC .emerging-underline-link {
  color: #3d3d3d;
}
.cid-sMFvqT3OSC .mbr-section-btn {
  text-align: right;
  margin-bottom: -9.6px;
}
.cid-sMFvqT3OSC .btn {
  padding: 3px 22px;
  border-radius: 20px;
  min-height: 38px;
}
.cid-sMFvqT3OSC .btn-black-outline {
  border: 1px solid #000000;
}
.cid-sMFvqT3OSC .btn-black-outline:hover {
  border: 1px solid #000000;
  background: #000000 !important;
  color: #ffffff !important;
}
.cid-sMFvrvBSx9 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFvrvBSx9 .mbr-overlay {
  z-index: 1;
}
.cid-sMFvrvBSx9 .main-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7F8678;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}
.cid-sMFvrvBSx9 .time-text {
  color: #3d3d3d;
  margin-right: auto;
}
.cid-sMFvrvBSx9 .artist-text {
  color: #3d3d3d;
}
.cid-sMFvrvBSx9 .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 32px;
  min-height: 700px;
  position: relative;
}
.cid-sMFvrvBSx9 .marker-container {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 100%;
}
.cid-sMFvrvBSx9 .marker-container p {
  line-height: normal !important;
  padding-top: 8px;
  width: 100%;
}
.cid-sMFvrvBSx9 .marker-container p span {
  padding: 8px 18px 6px;
  background-color: #cae1f4;
}
.cid-sMFvrvBSx9 .first-container {
  border-bottom: 1px solid #7F8678;
}
@media (min-width: 992px) {
  .cid-sMFvrvBSx9 .first-container {
    border-right: 1px solid #7F8678;
    border-bottom: none;
  }
}
.cid-sMFvrvBSx9 .item-img {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  overflow: hidden;
  height: auto;
  margin: auto 0;
}
.cid-sMFvrvBSx9 .item-img .img {
  max-height: 365px;
  margin-bottom: 24px;
  overflow: hidden;
}
.cid-sMFvrvBSx9 .item-img img {
  object-fit: cover;
  height: 365px;
  transition: 1.16s;
  transform: scale(1);
  min-width: 100%;
  transform-style: preserve-3d;
}
.cid-sMFvrvBSx9 .item-img:hover img {
  transform: scale(1.5);
}
.cid-sMFvrvBSx9 .item-info {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
@media (max-width: 575px) {
  .cid-sMFvrvBSx9 .item-info {
    flex-wrap: wrap;
  }
}
.cid-sMFvrvBSx9 .link-wrap {
  margin-right: auto;
}
.cid-sMFvrvBSx9 .emerging-underline-link {
  color: #3d3d3d;
}
.cid-sMFvrvBSx9 .mbr-section-btn {
  text-align: right;
  margin-bottom: -9.6px;
}
.cid-sMFvrvBSx9 .btn {
  padding: 3px 22px;
  border-radius: 20px;
  min-height: 38px;
}
.cid-sMFvrvBSx9 .btn-black-outline {
  border: 1px solid #000000;
}
.cid-sMFvrvBSx9 .btn-black-outline:hover {
  border: 1px solid #000000;
  background: #000000 !important;
  color: #ffffff !important;
}
.cid-sMFvwOHf9L {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #6c71ae;
}
.cid-sMFvwOHf9L .container-fluid {
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid #7F8678;
  border-bottom: 1px solid #7F8678;
  margin-top: -1px;
}
@media (min-width: 992px) {
  .cid-sMFvwOHf9L .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-sMFvwOHf9L .text-container {
  max-width: 956px;
  margin-right: auto;
  padding: 110px 32px 0;
}
.cid-sMFvwOHf9L .cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 32px 120px;
}
@media (min-width: 992px) {
  .cid-sMFvwOHf9L .card {
    padding: 0 7% 0 0;
  }
}
@media (max-width: 991px) {
  .cid-sMFvwOHf9L .card:nth-child(even) {
    padding-left: 25px;
  }
  .cid-sMFvwOHf9L .card:nth-child(n+3) {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .cid-sMFvwOHf9L .card {
    padding-left: 0 !important;
  }
  .cid-sMFvwOHf9L .card:nth-child(n+2) {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .cid-sMFvwOHf9L .card-wrapper {
    max-width: 295px;
  }
}
@media (max-width: 767px) {
  .cid-sMFvwOHf9L .card-wrapper {
    max-width: 100%;
  }
}
.cid-sMFvwOHf9L .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-sMFvwOHf9L .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #000000;
  margin-bottom: 2rem;
}
.cid-sMFvwOHf9L .card-text {
  color: #cae1f4;
}
.cid-sMFvwOHf9L .mbr-section-title {
  text-align: left;
  color: #d7d3c6;
}
.cid-sMFvwOHf9L .card-title,
.cid-sMFvwOHf9L .iconfont-wrapper {
  color: #d7d3c6;
}
.cid-sMFvAupKMe {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFvAupKMe .mbr-overlay {
  z-index: 1;
}
.cid-sMFvAupKMe .main-container {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #7F8678;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}
.cid-sMFvAupKMe .item-img {
  margin-bottom: 20px;
  overflow: hidden;
}
.cid-sMFvAupKMe .item-img img {
  object-fit: cover;
  height: auto;
  transition: 1.16s;
  transform: scale(1.05);
  transform-origin: 100% 50%;
  width: 100%;
  transform-style: preserve-3d;
}
.cid-sMFvAupKMe .item-img:hover img {
  transform: scale(1);
}
.cid-sMFvAupKMe .item-title {
  line-height: 1.25em;
}
.cid-sMFvAupKMe .mbr-section-title {
  line-height: 1.25em;
}
.cid-sMFvAupKMe .card-container {
  display: flex;
}
@media (max-width: 767px) {
  .cid-sMFvAupKMe .card-container {
    flex-wrap: wrap;
  }
}
.cid-sMFvAupKMe .card-container:first-child {
  border-bottom: 1px solid #7F8678;
}
@media (min-width: 992px) {
  .cid-sMFvAupKMe .card-container:first-child {
    border-bottom: none;
    border-right: 1px solid #7F8678;
  }
}
.cid-sMFvAupKMe .card {
  padding: 60px 60px 23px;
  border-radius: 0;
}
@media (max-width: 575px) {
  .cid-sMFvAupKMe .card {
    padding: 35px 35px 23px;
  }
}
.cid-sMFvAupKMe .card:first-child {
  border-bottom: 1px solid #7F8678;
}
@media (min-width: 768px) {
  .cid-sMFvAupKMe .card:first-child {
    border-right: 1px solid #7F8678;
    border-bottom: none;
  }
}
.cid-sMFvAupKMe .data-item {
  display: flex;
  align-items: center;
}
.cid-sMFvAupKMe .data-item .iconfont-wrapper {
  margin-right: 10px;
}
.cid-sMFvAupKMe .link-wrap {
  margin: 30px 0 6px;
}
.cid-sMFvAupKMe .text-art {
  flex-grow: 1;
}
.cid-sMFBpEx6z7 {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFBpEx6z7 .mbr-overlay {
  z-index: 1;
}
.cid-sMFBpEx6z7 .main-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  position: relative;
  z-index: 2;
}
.cid-sMFBpEx6z7 .row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.cid-sMFBpEx6z7 .item-img {
  margin-bottom: 20px;
  overflow: hidden;
}
.cid-sMFBpEx6z7 .item-img img {
  object-fit: cover;
  height: auto;
  transition: 1.16s;
  transform: scale(1.05);
  transform-origin: 100% 50%;
  width: 100%;
  transform-style: preserve-3d;
}
.cid-sMFBpEx6z7 .item-img:hover img {
  transform: scale(1);
}
.cid-sMFBpEx6z7 .item-title {
  line-height: 1.25em;
}
.cid-sMFBpEx6z7 .mbr-section-title {
  line-height: 1.25em;
}
.cid-sMFBpEx6z7 .card-container {
  display: flex;
}
.cid-sMFBpEx6z7 .card-container .card {
  min-height: 809px;
  border-bottom: 1px solid #7F8678;
}
.cid-sMFBpEx6z7 .card-container .card .item-img {
  height: 461px;
  flex-grow: 1;
  flex-shrink: 0;
}
.cid-sMFBpEx6z7 .card-container .card .item-img img {
  height: 100%;
}
@media (min-width: 992px) {
  .cid-sMFBpEx6z7 .card-container .card {
    border-right: 1px solid #7F8678;
  }
}
.cid-sMFBpEx6z7 .cards-container {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .cid-sMFBpEx6z7 .cards-container {
    flex-direction: column;
  }
}
.cid-sMFBpEx6z7 .cards-container .card {
  border-bottom: 1px solid #7F8678;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .cid-sMFBpEx6z7 .cards-container .card:first-child {
    border-right: 1px solid #7F8678;
  }
}
@media (min-width: 992px) {
  .cid-sMFBpEx6z7 .cards-container .card:first-child {
    border-right: none;
  }
}
.cid-sMFBpEx6z7 .cards-container .card .item-img {
  display: flex;
  flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sMFBpEx6z7 .cards-container .card .item-img {
    height: 79px;
    flex-grow: 1;
  }
}
.cid-sMFBpEx6z7 .card {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 23px;
  border-radius: 0;
}
@media (max-width: 575px) {
  .cid-sMFBpEx6z7 .card {
    padding: 35px 35px 23px;
  }
}
.cid-sMFBpEx6z7 .data-item {
  display: flex;
  align-items: center;
}
.cid-sMFBpEx6z7 .data-item .iconfont-wrapper {
  margin-right: 10px;
}
.cid-sMFBpEx6z7 .link-wrap {
  margin: 30px 0 6px;
}
.cid-sMFBpEx6z7 .text-art {
  flex-grow: 1;
}
.cid-sMFvF4gxom {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFvF4gxom .mbr-overlay {
  z-index: 1;
}
.cid-sMFvF4gxom .main-container {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #7F8678;
  margin-top: -1px;
  z-index: 2;
}
.cid-sMFvF4gxom .item-img {
  margin-bottom: 20px;
  overflow: hidden;
}
.cid-sMFvF4gxom .item-img img {
  object-fit: cover;
  height: auto;
  transition: 1.16s;
  transform: scale(1.05);
  transform-origin: 100% 50%;
  width: 100%;
  transform-style: preserve-3d;
}
.cid-sMFvF4gxom .item-img:hover img {
  transform: scale(1);
}
.cid-sMFvF4gxom .item-title {
  line-height: 1.25em;
}
.cid-sMFvF4gxom .mbr-section-title {
  line-height: 1.25em;
}
.cid-sMFvF4gxom .card-container {
  display: flex;
}
@media (max-width: 991px) {
  .cid-sMFvF4gxom .card-container {
    flex-wrap: wrap;
  }
}
.cid-sMFvF4gxom .card {
  padding: 60px 60px 23px;
  border-radius: 0;
  border-bottom: 1px solid #7F8678;
}
@media (max-width: 575px) {
  .cid-sMFvF4gxom .card {
    padding: 35px 35px 23px;
  }
}
@media (min-width: 768px) {
  .cid-sMFvF4gxom .card:nth-child(2n+1) {
    border-right: 1px solid #7F8678;
  }
}
@media (min-width: 991px) {
  .cid-sMFvF4gxom .card {
    border-right: 1px solid #7F8678;
  }
  .cid-sMFvF4gxom .card:last-child {
    border-right: none;
  }
}
.cid-sMFvF4gxom .data-item {
  display: flex;
  align-items: center;
}
.cid-sMFvF4gxom .data-item .iconfont-wrapper {
  margin-right: 10px;
}
.cid-sMFvF4gxom .link-wrap {
  margin: 30px 0 6px;
}
.cid-sMFvF4gxom .text-art {
  flex-grow: 1;
}
.cid-sMFvQL1K2H {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #fffdf7;
}
.cid-sMFvQL1K2H .container-fluid {
  padding-left: 12px;
  padding-right: 12px;
  border-top: 1px solid #7F8678;
  border-bottom: 1px solid #7F8678;
  margin-top: -1px;
}
@media (min-width: 992px) {
  .cid-sMFvQL1K2H .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-sMFvQL1K2H .text-container {
  max-width: 940px;
  margin-right: auto;
  padding: 110px 32px 0;
}
.cid-sMFvQL1K2H .cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 32px 120px;
}
@media (min-width: 992px) {
  .cid-sMFvQL1K2H .card {
    padding: 0 7% 0 0;
  }
}
@media (max-width: 991px) {
  .cid-sMFvQL1K2H .card:nth-child(even) {
    padding-left: 25px;
  }
  .cid-sMFvQL1K2H .card:nth-child(n+3) {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .cid-sMFvQL1K2H .card {
    padding-left: 0 !important;
  }
  .cid-sMFvQL1K2H .card:nth-child(n+2) {
    padding-top: 50px;
  }
}
@media (max-width: 991px) {
  .cid-sMFvQL1K2H .card-wrapper {
    max-width: 295px;
  }
}
@media (max-width: 767px) {
  .cid-sMFvQL1K2H .card-wrapper {
    max-width: 100%;
  }
}
.cid-sMFvQL1K2H .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cid-sMFvQL1K2H .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #000000;
  margin-bottom: 2rem;
}
.cid-sMFvQL1K2H .card-text {
  color: #3d3d3d;
  line-height: 30px;
}
.cid-sN3l1mSjOn {
  padding-top: 15px;
  padding-bottom: 30px;
  margin-top: -1px;
  overflow: hidden;
  border-bottom: 1px solid #7f8678;
  border-top: 1px solid #7f8678;
  background-color: #fffdf7;
}
.cid-sN3l1mSjOn .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.cid-sN3l1mSjOn .copyright {
  margin-top: 0.5rem;
  color: #3d3d3d;
  flex-grow: 1;
  margin-right: 0.5rem;
}
.cid-sN3l1mSjOn .produced {
  margin-top: 0.5rem;
  color: #3d3d3d;
  flex-grow: 1;
}
