body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 6.875rem;
  line-height: 1.04545455;
}
.display-1 > .mbr-iconfont {
  font-size: 11rem;
}
@media (max-width: 1440px) {
  .display-1 {
    font-size: 4.52302632rem;
    line-height: 1.064;
  }
}
@media (max-width: 1280px) {
  .display-1 {
    font-size: 4.02046784rem;
    line-height: 1.08818182;
  }
}
@media (max-width: 1024px) {
  .display-1 {
    font-size: 2.75rem;
    line-height: 1.09090909;
  }
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.25rem;
  line-height: 1.05882353;
}
.display-2 > .mbr-iconfont {
  font-size: 6.8rem;
}
@media (max-width: 1440px) {
  .display-2 {
    font-size: 3.125rem;
    line-height: 1.14;
  }
}
@media (max-width: 1280px) {
  .display-2 {
    font-size: 45px;
    line-height: 52px;
    font-size: 2.81456954rem;
    line-height: 1.15470588;
  }
}
@media (max-width: 1024px) {
  .display-2 {
    font-size: 2.0631068rem;
    line-height: 1.09058824;
  }
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.44444444;
}
.display-4 > .mbr-iconfont {
  font-size: 1.125rem;
}
@media (max-width: 1024px) {
  .display-4 {
    font-size: 1.00446429rem;
    line-height: 1.36888889;
  }
}
.display-5 {
  font-family: 'Oswald', sans-serif;
  font-size: 2.75rem;
  line-height: 1.13636364;
}
.display-5 > .mbr-iconfont {
  font-size: 4.4rem;
}
@media (max-width: 1440px) {
  .display-5 {
    font-size: 2.2rem;
    line-height: 1.19318182;
  }
}
@media (max-width: 1280px) {
  .display-5 {
    font-size: 1.88356164rem;
    line-height: 0.99545455;
  }
}
@media (max-width: 1024px) {
  .display-5 {
    font-size: 1.5625rem;
    line-height: 1.2;
  }
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.33333333;
}
.display-7 > .mbr-iconfont {
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .display-7 {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (max-width: 1280px) {
  .display-7 {
    font-size: 1.12781955rem;
    line-height: 1.33;
  }
}
@media (max-width: 1024px) {
  .display-7 {
    font-size: 1.12781955rem;
    line-height: 1.27458333;
  }
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
/* Buttons */
.btn {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-sm {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-md {
  padding: 12px 15px;
  border-radius: 4px;
}
.btn-lg {
  padding: 21px 10px;
  border-radius: 4px;
}
.bg-primary {
  background-color: #3a6686 !important;
}
.bg-success {
  background-color: #08af83 !important;
}
.bg-info {
  background-color: #d42764 !important;
}
.bg-warning {
  background-color: #fbba34 !important;
}
.bg-danger {
  background-color: #fe5925 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #3a6686;
  border-color: #3a6686;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
}
.btn-primary:hover {
  background-color: #46877e !important;
  border-color: #46877e !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f14555 !important;
  border-color: #f14555 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #f14555;
  border-color: #f14555;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #f14555 !important;
  border-color: #f14555 !important;
}
.btn-secondary:hover {
  background-color: #ed162a !important;
  border-color: #ed162a !important;
}
.btn-info,
.btn-info:active {
  background-color: #d42764 !important;
  border-color: #d42764 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #d42764;
  border-color: #d42764;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d42764 !important;
  border-color: #d42764 !important;
}
.btn-info:hover {
  background-color: #a91f50 !important;
  border-color: #a91f50 !important;
}
.btn-success,
.btn-success:active {
  background-color: #08af83 !important;
  border-color: #08af83 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #08af83;
  border-color: #08af83;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #08af83 !important;
  border-color: #08af83 !important;
}
.btn-success:hover {
  background-color: #067e5e !important;
  border-color: #067e5e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #fbba34 !important;
  border-color: #fbba34 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #fbba34;
  border-color: #fbba34;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #fbba34 !important;
  border-color: #fbba34 !important;
}
.btn-warning:hover {
  background-color: #fccb66 !important;
  border-color: #fccb66 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fe5925 !important;
  border-color: #fe5925 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #fe5925;
  border-color: #fe5925;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #fe5925 !important;
  border-color: #fe5925 !important;
}
.btn-danger:hover {
  background-color: #fe8058 !important;
  border-color: #fe8058 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:hover {
  background-color: #f7f7f7 !important;
  border-color: #f7f7f7 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:hover {
  background-color: #666666 !important;
  border-color: #666666 !important;
}
.btn-primary-outline {
  border: 1px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #3a6686;
  color: #3a6686;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #3a6686 !important;
  border-color: #3a6686;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  border-color: #3a6686 !important;
}
.btn-secondary-outline {
  border: 1px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #f14555;
  color: #f14555;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #f14555 !important;
  border-color: #f14555;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f14555 !important;
  border-color: #f14555 !important;
}
.btn-info-outline {
  border: 1px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #d42764;
  color: #d42764;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #d42764 !important;
  border-color: #d42764;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #d42764 !important;
  border-color: #d42764 !important;
}
.btn-success-outline {
  border: 1px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #08af83;
  color: #08af83;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #08af83 !important;
  border-color: #08af83;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #08af83 !important;
  border-color: #08af83 !important;
}
.btn-warning-outline {
  border: 1px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #fbba34;
  color: #fbba34;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #fbba34 !important;
  border-color: #fbba34;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #fbba34 !important;
  border-color: #fbba34 !important;
}
.btn-danger-outline {
  border: 1px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #fe5925;
  color: #fe5925;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff !important;
  background: #fe5925 !important;
  border-color: #fe5925;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fe5925 !important;
  border-color: #fe5925 !important;
}
.btn-black-outline {
  border: 1px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #333333 !important;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline {
  border: 1px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white-outline.btn {
  color: #333333 !important;
}
.text-primary {
  color: #3a6686 !important;
}
.text-secondary {
  color: #f14555 !important;
}
.text-success {
  color: #08af83 !important;
}
.text-info {
  color: #d42764 !important;
}
.text-warning {
  color: #fbba34 !important;
}
.text-danger {
  color: #fe5925 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #568eb6 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #c10f1f !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #044d3a !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #7e173b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #fbba34 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bc2e01 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #666666 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #3a6686 !important;
}
.alert-success {
  background-color: #08af83;
}
.alert-info {
  background-color: #d42764;
}
.alert-warning {
  background-color: #fbba34;
}
.alert-danger {
  background-color: #fe5925;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #3a6686;
  border-color: #3a6686;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #3a6686;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #7aa6c5;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #40f6c6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f6d1de;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fffefc;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fff4f0;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  line-height: 1.33333333;
}
.form-control > .mbr-iconfont {
  font-size: 2.4rem;
}
@media (max-width: 1440px) {
  .form-control {
    font-size: 1.25rem;
    line-height: 1.35;
  }
}
@media (max-width: 1280px) {
  .form-control {
    font-size: 1.12781955rem;
    line-height: 1.33;
  }
}
@media (max-width: 1024px) {
  .form-control {
    font-size: 1.12781955rem;
    line-height: 1.27458333;
  }
}
blockquote {
  border-color: #3a6686;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #3a6686;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #3a6686;
  border-bottom-color: #3a6686;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #3a6686 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #f14555 !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.link.display-4 a {
  font-size: 1.0125rem;
  line-height: 1;
}
.cid-u2sz7BnvJX {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-u2sz7BnvJX .title__block {
  position: relative;
  z-index: 10;
}
.cid-u2sz7BnvJX .mbr-section-title {
  margin-bottom: 25px;
}
.cid-u2sz7BnvJX .mbr-section-subtitle {
  margin-bottom: 10px;
  padding-right: 150px;
}
.cid-u2sz7BnvJX .mbr-text {
  margin-bottom: 50px;
  padding-right: 150px;
}
.cid-u2sz7BnvJX .mbr-section-btn {
  padding-right: 150px;
}
.cid-u2sz7BnvJX .slider__block .container {
  padding: 0 15px;
}
.cid-u2sz7BnvJX .carousel {
  padding-bottom: 100px;
}
.cid-u2sz7BnvJX .carousel-inner {
  overflow: visible;
  transform: translateX(250px);
}
.cid-u2sz7BnvJX .carousel-item {
  justify-content: center;
  opacity: 0;
  transition: opacity 2s ease, transform 0s ease .3s;
}
.cid-u2sz7BnvJX .carousel-item.active {
  opacity: 1;
}
.cid-u2sz7BnvJX .carousel-item .media-container-row {
  flex-grow: 1;
}
.cid-u2sz7BnvJX .carousel-item .wrap-img {
  transition: transform 0s;
  position: relative;
  text-align: center;
  margin: auto;
  width: 400px;
  height: 600px;
  transform: scale(0.9) rotate(-7deg);
  z-index: 1;
}
.cid-u2sz7BnvJX .carousel-item .wrap-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-u2sz7BnvJX .carousel-item .wrap-img {
    width: 100%;
  }
}
.cid-u2sz7BnvJX .carousel-item .cloneditem-1,
.cid-u2sz7BnvJX .carousel-item .cloneditem-2 {
  opacity: 0;
}
.cid-u2sz7BnvJX .carousel-item.active .cloneditem-1 {
  transform: translateX(-170px);
  z-index: 2;
  opacity: 1;
  transition: opacity .5s ease .3s;
}
.cid-u2sz7BnvJX .carousel-item.active .cloneditem-1 .wrap-img {
  transform: scale(1.1);
}
.cid-u2sz7BnvJX .carousel-item.active .cloneditem-2 {
  transform: translateX(-270px);
  z-index: 3;
  opacity: 1;
  transition: opacity .5s ease .7s;
}
.cid-u2sz7BnvJX .carousel-item.active .cloneditem-2 .wrap-img {
  transform: scale(0.9) rotate(7deg);
}
.cid-u2sz7BnvJX .arrows .carousel-controls {
  top: -150px;
  left: 80px;
}
.cid-u2sz7BnvJX .carousel-controls {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  justify-content: center;
}
.cid-u2sz7BnvJX .carousel-controls .carousel-control {
  z-index: 2;
  background: transparent;
  position: static;
  width: 45px;
  height: 45px;
  color: #003d59;
  transition: all 0.3s ease;
}
.cid-u2sz7BnvJX .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-u2sz7BnvJX .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-u2sz7BnvJX .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 45px;
}
.cid-u2sz7BnvJX .carousel-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  margin: 2rem 1rem 0;
  text-align: center;
}
.cid-u2sz7BnvJX .carousel-indicators li {
  max-width: initial;
  width: 190px;
  height: 15px;
  background-color: transparent;
  display: inline-block;
  border: 0;
  border-bottom: 2px solid #003d59;
  max-height: initial;
  border-radius: 0;
  opacity: 1;
  margin: 0;
  transition: all 0s ease .3s;
}
.cid-u2sz7BnvJX .carousel-indicators li.active {
  border: 0;
  border-bottom: 5px solid #003d59;
  margin: 0;
  opacity: 1;
}
.cid-u2sz7BnvJX .col-lg-15 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
.cid-u2sz7BnvJX .cloneditem-1,
.cid-u2sz7BnvJX .cloneditem-2,
.cid-u2sz7BnvJX .cloneditem-3 {
  display: none;
}
@media (min-width: 992px) {
  .cid-u2sz7BnvJX .col-lg-15 {
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-u2sz7BnvJX .carousel-inner {
    padding-bottom: 3px;
  }
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    transform: translate3d(50%, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-u2sz7BnvJX .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides2 .cloneditem-1,
  .cid-u2sz7BnvJX .carousel-inner.slides2 .cloneditem-2,
  .cid-u2sz7BnvJX .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-u2sz7BnvJX .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .cid-u2sz7BnvJX .carousel-inner.slides3 .cloneditem-1,
  .cid-u2sz7BnvJX .carousel-inner.slides3 .cloneditem-2,
  .cid-u2sz7BnvJX .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
}
@media (max-width: 991px) {
  .cid-u2sz7BnvJX .title__block {
    text-align: center;
    margin-bottom: 67px;
  }
  .cid-u2sz7BnvJX .mbr-section-title {
    margin-bottom: 18px;
  }
  .cid-u2sz7BnvJX .mbr-section-subtitle {
    margin-bottom: 7px;
    padding-right: 0;
  }
  .cid-u2sz7BnvJX .mbr-text {
    margin-bottom: 28px;
    padding-right: 0;
  }
  .cid-u2sz7BnvJX .mbr-section-btn {
    padding-right: 0;
  }
  .cid-u2sz7BnvJX .carousel-inner {
    overflow: hidden;
    transform: translateX(0);
  }
  .cid-u2sz7BnvJX .carousel-item {
    transition: all .3s ease;
    opacity: 1;
  }
  .cid-u2sz7BnvJX .carousel-item .wrap-img {
    height: auto;
    transition: all .3s 0s;
    transform: scale(1) rotate(0);
    width: 100%;
  }
  .cid-u2sz7BnvJX .carousel-indicators li {
    transition: all 0s ease 0s;
  }
}
@media (max-width: 767px) {
  .cid-u2sz7BnvJX .carousel-controls {
    justify-content: center;
    margin-top: 40px;
    display: none;
  }
  .cid-u2sz7BnvJX .carousel-controls .carousel-control {
    width: 30px;
    height: 30px;
  }
  .cid-u2sz7BnvJX .carousel-controls .carousel-control .mbr-iconfont {
    font-size: 30px;
  }
  .cid-u2sz7BnvJX .carousel {
    padding-bottom: 50px;
  }
}
.cid-s14xqCLrIp {
  padding-top: 8rem;
  padding-bottom: 10rem;
  background-color: #ffffff;
}
.cid-s14xqCLrIp .mbr-section-title {
  margin-bottom: 25px;
  color: #3a6686;
}
.cid-s14xqCLrIp .mbr-section-subtitle {
  margin-bottom: 88px;
  font-weight: 400;
  color: #2c3945;
}
.cid-s14xqCLrIp .image {
  position: relative;
  z-index: 0;
  top: -50px;
}
.cid-s14xqCLrIp .image img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  max-height: 410px;
  object-fit: cover;
}
.cid-s14xqCLrIp .mbr-gallery-filter {
  text-align: left;
  padding: 0 20px;
  border-bottom: 1px solid #cce4f0;
}
.cid-s14xqCLrIp .mbr-gallery-filter .btn {
  padding: 0 20px 40px;
  margin: 0;
  margin-right: 35px;
  color: #3a6686 !important;
  font-weight: 700;
  text-align: left;
  background: transparent !important;
  position: relative;
  border: none;
  min-width: auto;
}
.cid-s14xqCLrIp .mbr-gallery-filter ul {
  display: block;
}
.cid-s14xqCLrIp .mbr-gallery-filter ul li {
  position: relative;
  padding: 0;
}
.cid-s14xqCLrIp .mbr-gallery-filter li:not(.active) .btn.active:after,
.cid-s14xqCLrIp .mbr-gallery-filter li.active .btn:not(.active):after,
.cid-s14xqCLrIp .mbr-gallery-filter .mbr-gallery-filter .btn:hover:after {
  content: "";
  position: absolute;
  left: 0;
  right: auto;
  width: 100%;
  bottom: 0;
  height: 11px;
  background-color: #08af83;
  transition: all 0.3s ease;
}
.cid-s14xqCLrIp .mbr-gallery-row {
  margin-top: 50px;
}
.cid-s14xqCLrIp .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-s14xqCLrIp .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
  border-radius: 4px;
}
.cid-s14xqCLrIp .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
  border-radius: 4px;
}
.cid-s14xqCLrIp .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-s14xqCLrIp .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #003d59;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
.cid-s14xqCLrIp .mbr-gallery-item > div:hover::before {
  opacity: 0 !important;
}
.cid-s14xqCLrIp .mbr-gallery-title {
  transition: all .3s;
  position: absolute;
  display: block;
  font-weight: 700;
  width: 100%;
  bottom: 30px;
  left: 0;
  text-align: center;
  padding: 0 1rem;
  color: #fff;
  background: transparent;
}
.cid-s14xqCLrIp .icon-focus {
  transition: all .3s;
  top: 30%;
  width: 48px;
  height: 48px;
  transform: translateY(-30%);
}
.cid-s14xqCLrIp .mbr-gallery-item > div img,
.cid-s14xqCLrIp .mbr-gallery-item div:before {
  border-radius: 4px;
  height: 255px;
}
.cid-s14xqCLrIp .mbr-gallery-item > div {
  transition: all .3s;
  border-radius: 4px;
}
.cid-s14xqCLrIp .mbr-gallery-item:hover > div {
  transform: scale(0.95);
}
.cid-s14xqCLrIp .carousel-control-prev .mbri-left:before {
  content: "\e90a";
}
.cid-s14xqCLrIp .carousel-control-next .mbri-right:before {
  content: "\e909";
}
.cid-s14xqCLrIp .modal-body a.close {
  border-radius: 0;
  font-size: 32px;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  line-height: 70px;
}
@media (max-width: 991px) {
  .cid-s14xqCLrIp .mbr-section-subtitle {
    margin-bottom: 20px;
    text-align: center;
  }
  .cid-s14xqCLrIp .mbr-section-title {
    text-align: center;
  }
  .cid-s14xqCLrIp .image {
    top: auto;
    height: 420px;
  }
  .cid-s14xqCLrIp .mbr-gallery-filter .btn {
    padding: 0 0 22px;
  }
  .cid-s14xqCLrIp .mbr-gallery-filter ul li {
    margin-bottom: 10px;
  }
  .cid-s14xqCLrIp .mbr-gallery-item > div img,
  .cid-s14xqCLrIp .mbr-gallery-item div:before {
    height: auto;
    border-radius: 3px;
  }
  .cid-s14xqCLrIp .mbr-gallery-item > div {
    border-radius: 3px;
  }
}
@media (max-width: 767px) {
  .cid-s14xqCLrIp .image {
    height: 290px;
  }
}
.cid-u2sz9LiEQ0 {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-image: url("../../../assets/images/background2.jpg");
}
.cid-u2sz9LiEQ0 .mbr-section-title {
  margin-bottom: 35px;
}
.cid-u2sz9LiEQ0 .mbr-section-title b,
.cid-u2sz9LiEQ0 .mbr-section-title strong {
  font-weight: 500;
}
.cid-u2sz9LiEQ0 .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-u2sz9LiEQ0 .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 119px;
  height: 119px;
  top: -100px;
  left: -50px;
  background-image: url("../../../assets/images/geometrical.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .cid-u2sz9LiEQ0 .figure:before {
    width: 89px;
    height: 89px;
    top: -55px;
    left: -18px;
  }
}
.cid-u2sz9LiEQ0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2sz9LiEQ0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-s143j43MJL {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: visible;
  background-color: #ffffff;
}
.cid-s143j43MJL .mbr-text {
  margin-top: 20px;
  margin-bottom: 50px;
}
.cid-s143j43MJL .img__wrap {
  position: absolute;
  right: 0;
  width: 33%;
  top: -12%;
  z-index: 1;
}
.cid-s143j43MJL .img__wrap .image {
  position: relative;
  width: 100%;
}
.cid-s143j43MJL .img__wrap .image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-s143j43MJL .img__wrap .image img {
    height: auto;
  }
  .cid-s143j43MJL .mbr-text {
    margin-bottom: 28px;
  }
}
@media (max-width: 575px) {
  .cid-s143j43MJL {
    padding-top: 10rem;
  }
  .cid-s143j43MJL .img__wrap {
    top: -110px;
  }
}
@media (max-width: 400px) {
  .cid-s143j43MJL {
    padding-top: 8rem;
  }
  .cid-s143j43MJL .img__wrap {
    top: -60px;
  }
}
.cid-s143j43MJL .mbr-section-title {
  color: #3a6686;
}
.cid-s143j43MJL .mbr-section-subtitle {
  color: #3a6686;
}
.cid-s143j43MJL .mbr-text,
.cid-s143j43MJL .mbr-section-btn {
  color: #2c3945;
}
.cid-u2szbivN2N {
  padding-top: 7rem;
  padding-bottom: 7rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-u2szbivN2N .two__background:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  max-width: 49%;
  width: 100%;
  height: 100%;
  background-color: #cce4f0;
  z-index: 0;
}
.cid-u2szbivN2N .slider__content {
  padding-top: 52px;
  text-align: left;
}
.cid-u2szbivN2N .mbr-section-subtitle {
  color: #d3045f;
  margin-bottom: 13px;
  position: relative;
  z-index: 1;
}
.cid-u2szbivN2N .mbr-section-subtitle:after {
  content: '';
  position: absolute;
  left: -92px;
  top: 147px;
  width: 85px;
  height: 85px;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../assets/images/compass.svg");
}
.cid-u2szbivN2N .mbr-section-title {
  margin-bottom: 33px;
}
.cid-u2szbivN2N .slider__image {
  margin-left: 11.8%;
}
.cid-u2szbivN2N .img-wrap {
  max-width: 100%;
}
.cid-u2szbivN2N .img-wrap img {
  width: 100%;
  object-fit: cover;
}
.cid-u2szbivN2N .carousel-indicators {
  flex-direction: column;
  margin: 0;
  width: fit-content;
  transition: all 0.25s;
  height: 100%;
  left: 44.5%;
}
.cid-u2szbivN2N .carousel-indicators .active {
  background: #003d59;
  opacity: 1;
  border: none;
}
.cid-u2szbivN2N .carousel-indicators .active:before {
  content: '';
  display: block;
  position: absolute;
  top: -14px;
  left: -14px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: inherit;
  opacity: 0.2;
}
.cid-u2szbivN2N .carousel-indicators li {
  width: 12px;
  height: 12px;
  border: none;
  margin-bottom: 30px;
  box-sizing: border-box;
  background-color: #003d59;
  border-radius: 50%;
  position: relative;
  opacity: 0.2;
}
.cid-u2szbivN2N .carousel-indicators li:last-child {
  margin-bottom: 0px;
}
.cid-u2szbivN2N .carousel-controls a {
  border-radius: 50%;
  border: 2px solid #003d59;
  background-color: transparent;
}
.cid-u2szbivN2N .carousel-controls a span {
  transition: all 0.3s;
  color: #003d59;
  font-size: 18px;
}
.cid-u2szbivN2N .carousel-controls a:hover .mobi-mbri-left {
  transform: translateX(-5px);
}
.cid-u2szbivN2N .carousel-controls a:hover .mobi-mbri-right {
  transform: translateX(5px);
}
.cid-u2szbivN2N .carousel-controls .carousel-control-next,
.cid-u2szbivN2N .carousel-controls .carousel-control-prev {
  opacity: 1;
  width: 44px;
  height: 44px;
}
.cid-u2szbivN2N .carousel-controls .carousel-control-next {
  right: 40%;
  bottom: 5px;
  top: auto;
  left: auto;
}
.cid-u2szbivN2N .carousel-controls .carousel-control-prev {
  right: 45%;
  bottom: 5px;
  top: auto;
  left: auto;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-u2szbivN2N .image-element {
    min-width: 50%;
  }
  .cid-u2szbivN2N .media-container-row {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .cid-u2szbivN2N .two__background:before {
    max-width: 90%;
  }
  .cid-u2szbivN2N .carousel-indicators {
    flex-direction: row;
    height: 50px;
    width: 100%;
    left: auto;
    bottom: 0;
    right: auto;
  }
  .cid-u2szbivN2N .carousel-indicators li {
    margin: 0 16px;
  }
  .cid-u2szbivN2N .slider__content {
    padding-top: 0;
    margin-bottom: 72px;
  }
  .cid-u2szbivN2N .mbr-section-subtitle {
    margin-bottom: 6px;
  }
  .cid-u2szbivN2N .mbr-section-subtitle:after {
    content: none;
  }
  .cid-u2szbivN2N .mbr-section-title {
    margin-bottom: 18px;
  }
  .cid-u2szbivN2N .slider__image {
    margin-left: 0;
    margin-bottom: 100px;
  }
  .cid-u2szbivN2N .img-wrap {
    width: 100%;
  }
  .cid-u2szbivN2N .carousel-controls {
    display: none;
  }
  .cid-u2szbivN2N .carousel-inner {
    margin-bottom: 0;
  }
}
.cid-u2szbivN2N .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szbivN2N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2szeJGPoo {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-u2szeJGPoo .title__block {
  margin-bottom: 65px;
}
.cid-u2szeJGPoo .nav-tabs {
  margin-bottom: 105px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-bottom: 1px solid #ddebe9 !important;
}
.cid-u2szeJGPoo .nav-item {
  min-width: auto;
  margin: 0;
}
.cid-u2szeJGPoo .nav-tabs .nav-link {
  box-sizing: border-box;
  color: #003d59 !important;
  font-weight: 700;
  padding: 0 36px 41px;
  border: none;
  border-radius: 0 !important;
  margin: 0;
  border-bottom: 11px solid transparent;
  background-color: transparent;
  transition: all .1s;
}
.cid-u2szeJGPoo .nav-tabs .nav-link.active {
  font-weight: 700;
  border: none;
  background-color: transparent;
  border-bottom: 11px solid #46877e !important;
}
.cid-u2szeJGPoo .card__wrap {
  margin-bottom: 60px;
  display: flex;
}
.cid-u2szeJGPoo .card__image {
  display: block;
  max-width: 150px;
  width: 100%;
  text-align: center;
}
.cid-u2szeJGPoo .card__image img {
  width: 45%;
  object-fit: cover;
}
.cid-u2szeJGPoo .card__content {
  display: block;
  width: 100%;
}
.cid-u2szeJGPoo .card__title {
  margin-bottom: 15px;
  font-weight: 600;
}
.cid-u2szeJGPoo .card__text {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-u2szeJGPoo .title__block {
    margin-bottom: 40px;
  }
  .cid-u2szeJGPoo .nav-tabs {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-bottom: 47px;
  }
  .cid-u2szeJGPoo .nav-item {
    margin-bottom: 9px;
  }
  .cid-u2szeJGPoo .nav-tabs .nav-link {
    padding-bottom: 25px;
  }
  .cid-u2szeJGPoo .card__wrap {
    margin-bottom: 40px;
  }
  .cid-u2szeJGPoo .card__title {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  .cid-u2szeJGPoo .card__image {
    text-align: left;
  }
}
@media (max-width: 575px) {
  .cid-u2szeJGPoo .card__image {
    max-width: 90px;
  }
  .cid-u2szeJGPoo .card__image img {
    width: 70%;
  }
}
.cid-u2szeJGPoo .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szeJGPoo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tbz0uWIfbw {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tbz0uWIfbw .mbr-text {
  margin-top: 20px;
  margin-bottom: 50px;
  padding-right: 70px;
}
.cid-tbz0uWIfbw .title__block {
  padding-left: 96px;
  margin-bottom: 20px;
}
.cid-tbz0uWIfbw .title__block .mbr-section-title {
  display: inline-block;
  margin-bottom: 25px;
}
.cid-tbz0uWIfbw .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-tbz0uWIfbw .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 119px;
  height: 119px;
  bottom: -90px;
  right: -95px;
  background-image: url("../../../assets/images/compass.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cid-tbz0uWIfbw .slide-content {
  justify-content: center;
  text-align: left;
}
.cid-tbz0uWIfbw .slide-content .media-container-row {
  flex-grow: 1;
}
.cid-tbz0uWIfbw .slide-content .slider__item {
  position: relative;
  border-radius: 4px;
  border: 2px solid transparent;
  opacity: 1;
  transition: border .3s linear;
}
.cid-tbz0uWIfbw .slide-content .slider__item:hover {
  border: 2px solid #08af83;
}
.cid-tbz0uWIfbw .slide-content .slider__item:hover .slider__content {
  border: 1px solid transparent;
}
.cid-tbz0uWIfbw .slide-content .slider__item .slider__image {
  width: 100%;
}
.cid-tbz0uWIfbw .slide-content .slider__item .slider__image img {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cid-tbz0uWIfbw .slider__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 320px;
  position: relative;
  padding: 30px 40px 32px;
  border-radius: 0 0 4px 4px;
  border: 1px solid #ddebe9;
  border-top: 1px solid transparent;
  transition: border .3s;
}
.cid-tbz0uWIfbw .slider__content .slider__content-wrap {
  margin-bottom: 38px;
  min-height: 210px;
}
.cid-tbz0uWIfbw .slider__content .slider__subtitle {
  margin-bottom: 8px;
  color: #08af83;
}
.cid-tbz0uWIfbw .slider__content .slider__title {
  margin-bottom: 13px;
}
.cid-tbz0uWIfbw .slider__content .slider__text {
  margin-bottom: 0;
}
.cid-tbz0uWIfbw .link {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
}
.cid-tbz0uWIfbw .link a {
  font-weight: 700;
}
.cid-tbz0uWIfbw .link span {
  display: inline-block !important;
  transition: all 0.3s ease;
  margin-left: 13px;
}
.cid-tbz0uWIfbw .link:hover span {
  transform: translateX(9px);
}
.cid-tbz0uWIfbw .carousel-item.active,
.cid-tbz0uWIfbw .carousel-item-next,
.cid-tbz0uWIfbw .carousel-item-prev {
  display: flex;
}
.cid-tbz0uWIfbw .mbr-iconfont {
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tbz0uWIfbw .cloneditem-1,
.cid-tbz0uWIfbw .cloneditem-2,
.cid-tbz0uWIfbw .cloneditem-3,
.cid-tbz0uWIfbw .cloneditem-4,
.cid-tbz0uWIfbw .cloneditem-5 {
  display: none;
}
.cid-tbz0uWIfbw .col-lg-15 {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tbz0uWIfbw .col-lg-15 {
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-tbz0uWIfbw .carousel-inner {
    padding-bottom: 3px;
  }
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    transform: translate3d(50%, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    transform: translate3d(-50%, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tbz0uWIfbw .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides2 .cloneditem-1,
  .cid-tbz0uWIfbw .carousel-inner.slides2 .cloneditem-2,
  .cid-tbz0uWIfbw .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-tbz0uWIfbw .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  .cid-tbz0uWIfbw .carousel-inner.slides3 .cloneditem-1,
  .cid-tbz0uWIfbw .carousel-inner.slides3 .cloneditem-2,
  .cid-tbz0uWIfbw .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
}
@media (max-width: 1200px) {
  .cid-tbz0uWIfbw .carousel-inner .carousel-item .cloneditem-2 {
    display: none !important;
  }
}
@media (max-width: 1440px) {
  .cid-tbz0uWIfbw .figure:before {
    width: 99px;
    height: 99px;
  }
  .cid-tbz0uWIfbw .slider__content .slider__title {
    font-size: 25px;
    line-height: 30px;
  }
  .cid-tbz0uWIfbw .slider__content {
    min-height: 235px;
  }
}
@media (max-width: 991px) {
  .cid-tbz0uWIfbw .title__block {
    padding-left: 63px;
  }
  .cid-tbz0uWIfbw .title__block .mbr-section-title {
    margin-bottom: 0;
  }
  .cid-tbz0uWIfbw .figure:before {
    display: none;
  }
  .cid-tbz0uWIfbw .mbr-text {
    padding-right: 0;
    margin-bottom: 10px;
  }
  .cid-tbz0uWIfbw .carousel-item .slider__item {
    margin-right: 0;
  }
  .cid-tbz0uWIfbw .slider__content {
    padding: 18px 18px 22px;
    min-height: 197px;
  }
  .cid-tbz0uWIfbw .carousel-controls .carousel-control-next {
    right: -35px;
    bottom: auto;
    top: 44%;
  }
  .cid-tbz0uWIfbw .carousel-controls .carousel-control-prev {
    left: -35px;
    bottom: auto;
    top: 44%;
  }
}
@media (max-width: 767px) {
  .cid-tbz0uWIfbw .carousel-controls {
    display: none;
  }
}
.cid-tbz0uWIfbw .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 34%;
}
@media (max-width: 1280px) {
  .cid-tbz0uWIfbw .embla__slide {
    min-width: 50%;
  }
}
@media (max-width: 768px) {
  .cid-tbz0uWIfbw .embla__slide {
    min-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tbz0uWIfbw .embla__button--next,
.cid-tbz0uWIfbw .embla__button--prev {
  display: flex;
}
.cid-tbz0uWIfbw .embla__button {
  top: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  transition: all .3s;
  border-radius: 50%;
  border: 2px solid #003d59;
  background-color: transparent;
}
.cid-tbz0uWIfbw .embla__button span {
  color: #003d59;
  font-size: 18px;
}
@media (max-width: 768px) {
  .cid-tbz0uWIfbw .embla__button {
    display: none;
  }
}
.cid-tbz0uWIfbw .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tbz0uWIfbw .embla__button:hover .mobi-mbri-left {
  transform: translateX(-5px);
}
.cid-tbz0uWIfbw .embla__button:hover .mobi-mbri-right {
  transform: translateX(5px);
}
.cid-tbz0uWIfbw .embla__button.embla__button--next,
.cid-tbz0uWIfbw .embla__button.embla__button--prev {
  opacity: 1;
  width: 44px;
  height: 44px;
}
.cid-tbz0uWIfbw .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tbz0uWIfbw .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tbz0uWIfbw .embla__button {
    top: 89%;
    left: 80%;
  }
}
.cid-tbz0uWIfbw .embla {
  position: relative;
  width: 100%;
}
.cid-tbz0uWIfbw .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tbz0uWIfbw .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tbz0uWIfbw .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tbz0uWIfbw .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
@media (max-width: 768px) {
  .cid-tbz0uWIfbw .embla__container {
    margin-left: 1.3rem;
    margin-right: 1.3rem;
  }
  .cid-tbz0uWIfbw .embla__container .embla__slide:first-child {
    margin-left: 2rem !important;
  }
  .cid-tbz0uWIfbw .embla__container .embla__slide:last-child {
    margin-right: 2rem !important;
  }
}
.cid-u2szh1lQbT {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: visible;
  background-color: #ffffff;
}
.cid-u2szh1lQbT .mbr-section-title {
  padding-left: 90px;
}
.cid-u2szh1lQbT .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-u2szh1lQbT .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 119px;
  height: 119px;
  bottom: -120px;
  right: 30px;
  background-image: url("../../../assets/images/compass.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cid-u2szh1lQbT .mbr-section-subtitle {
  margin-bottom: 0;
}
.cid-u2szh1lQbT .rotate__image {
  transform: rotate(5.92deg);
  width: 30%;
  bottom: -100px;
  left: 12%;
  z-index: 1;
  position: absolute;
}
.cid-u2szh1lQbT .rotate__image .image {
  min-width: 425px;
  position: relative;
}
.cid-u2szh1lQbT .rotate__image .image:before {
  padding-top: 80%;
  display: block;
  content: "";
  width: 100%;
}
.cid-u2szh1lQbT .rotate__image .image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.cid-u2szh1lQbT .rotate__image2 {
  bottom: -45px;
  z-index: 2;
  left: 5.5%;
  position: absolute;
  transform: rotate(-9.18deg);
  width: 13%;
}
.cid-u2szh1lQbT .rotate__image2 .image {
  min-width: 170px;
  position: relative;
}
.cid-u2szh1lQbT .rotate__image2 .image:before {
  padding-top: 150%;
  display: block;
  content: "";
  width: 100%;
}
.cid-u2szh1lQbT .rotate__image2 .image img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.cid-u2szh1lQbT .list__block {
  margin-top: 10px;
}
.cid-u2szh1lQbT .mbr-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cid-u2szh1lQbT .list__item {
  margin-bottom: 65px;
  position: relative;
}
.cid-u2szh1lQbT .list__item span {
  display: block;
  position: absolute;
  top: 50%;
  left: -56px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  transform: translateY(-50%);
}
.cid-u2szh1lQbT .list__item span:before {
  content: "";
  display: block;
  position: absolute;
  top: -14px;
  left: -14px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: inherit;
  opacity: .2;
}
.cid-u2szh1lQbT .list__item:nth-child(1) span {
  background-color: #fe5925;
}
.cid-u2szh1lQbT .list__item:nth-child(2) span {
  background-color: #08af83;
}
.cid-u2szh1lQbT .list__item:nth-child(3) span {
  background-color: #fbba34;
}
.cid-u2szh1lQbT .list__item:nth-child(4) span {
  background-color: #d42764;
}
.cid-u2szh1lQbT .list__item:nth-child(5) span {
  background-color: #f14555;
}
.cid-u2szh1lQbT .list__item:nth-child(6) span {
  background-color: #3a6686;
}
@media (max-width: 1024px) {
  .cid-u2szh1lQbT .mbr-section-subtitle,
  .cid-u2szh1lQbT .mbr-section-title {
    font-size: 25px;
    line-height: 30px;
  }
  .cid-u2szh1lQbT .mbr-section-title {
    padding: 0 15px;
  }
  .cid-u2szh1lQbT .figure:before {
    width: 70px;
    height: 70px;
    bottom: -65px;
    right: -5px;
  }
  .cid-u2szh1lQbT .list__block {
    margin-top: 55px;
  }
  .cid-u2szh1lQbT .list__item {
    margin-bottom: 29px;
    font-size: 18px;
    line-height: 23px;
  }
  .cid-u2szh1lQbT .list__item span {
    left: -44px;
  }
  .cid-u2szh1lQbT .bottom__block {
    display: none;
  }
}
.cid-u2szh1lQbT .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szh1lQbT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2szfKiZMo {
  padding-top: 8rem;
  padding-bottom: 8rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-u2szfKiZMo .title__block {
  z-index: 5;
  position: relative;
}
.cid-u2szfKiZMo .mbr-section-title {
  margin-bottom: 30px;
}
.cid-u2szfKiZMo .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-u2szfKiZMo .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 85px;
  height: 85px;
  top: -50px;
  right: -30px;
  background-image: url("../../../assets/images/compass.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cid-u2szfKiZMo .mbr-section-subtitle {
  margin-bottom: 16px;
  z-index: 5;
  position: relative;
}
.cid-u2szfKiZMo .mbr-text {
  margin-bottom: 15px;
}
.cid-u2szfKiZMo .link {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
}
.cid-u2szfKiZMo .link a {
  font-weight: 700;
}
.cid-u2szfKiZMo .link span {
  display: inline-block !important;
  transition: all 0.3s ease;
  margin-left: 13px;
}
.cid-u2szfKiZMo .link:hover span {
  transform: translateX(9px);
}
.cid-u2szfKiZMo .counters__wrap {
  padding-top: 75px;
  position: relative;
  z-index: 1;
}
.cid-u2szfKiZMo .counters__wrap:before {
  content: "";
  position: absolute;
  top: -150px;
  left: 0;
  width: 100vw;
  height: calc(100% + 150px);
  background-color: #f5e9f0;
  z-index: -1;
}
.cid-u2szfKiZMo .card__block {
  margin-bottom: 62px;
}
.cid-u2szfKiZMo .count {
  color: #d3045f;
  margin-bottom: 20px;
  white-space: nowrap;
}
.cid-u2szfKiZMo .card__title {
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .cid-u2szfKiZMo .title__block {
    text-align: center;
    padding-right: 15px;
    margin-bottom: 50px;
  }
  .cid-u2szfKiZMo .counters__wrap {
    padding-top: 60px;
  }
  .cid-u2szfKiZMo .counters__wrap:before {
    top: 0;
    height: 100%;
  }
  .cid-u2szfKiZMo .card__block {
    margin-bottom: 40px;
  }
  .cid-u2szfKiZMo .mbr-section-title {
    margin-bottom: 15px;
  }
  .cid-u2szfKiZMo .figure:before {
    width: 66px;
    height: 66px;
    top: -63px;
    right: 19%;
  }
}
.cid-u2szfKiZMo .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szfKiZMo .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2szofL2zK {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #ffffff;
}
.cid-u2szofL2zK .mbr-section-title {
  margin-bottom: 20px;
}
.cid-u2szofL2zK .card__wrap:nth-child(1) {
  padding-right: 97px;
}
.cid-u2szofL2zK .card__wrap:nth-child(2) {
  padding-right: 89px;
}
.cid-u2szofL2zK .card__title1 {
  color: #d42764;
}
.cid-u2szofL2zK .card__title2 {
  color: #fe5925;
}
.cid-u2szofL2zK .card__title3 {
  color: #fbba34;
}
.cid-u2szofL2zK .figure {
  margin-bottom: 26px;
}
.cid-u2szofL2zK .figure {
  display: block;
  position: relative;
  z-index: 1;
}
.cid-u2szofL2zK .figure:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: -6%;
  width: 55px;
  height: 55px;
  transform: translate(-97%, -45%);
  background-image: url("../../../assets/images/compass.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.cid-u2szofL2zK .card__text {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-u2szofL2zK .mbr-section-title {
    margin-bottom: 50px;
  }
  .cid-u2szofL2zK .card__wrap {
    margin-bottom: 25px;
  }
  .cid-u2szofL2zK .card__wrap:nth-child(1) {
    padding-right: 15px;
  }
  .cid-u2szofL2zK .card__wrap:nth-child(2) {
    padding-right: 15px;
  }
  .cid-u2szofL2zK .figure {
    margin-bottom: 10px;
  }
  .cid-u2szofL2zK .figure:before {
    left: -4%;
    width: 45px;
    height: 45px;
  }
}
.cid-u2szofL2zK .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szofL2zK .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u2szpcOWJd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-u2szpcOWJd .mbr-section-title {
  margin-bottom: 26px;
  font-weight: 300;
}
.cid-u2szpcOWJd .mbr-section-title b,
.cid-u2szpcOWJd .mbr-section-title strong {
  font-weight: 500;
}
.cid-u2szpcOWJd .mbr-text {
  margin-bottom: 18px;
}
.cid-u2szpcOWJd .row__image {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.cid-u2szpcOWJd .row__image:nth-child(1) {
  padding-right: 80px;
}
.cid-u2szpcOWJd .row__image:nth-child(2) {
  padding-left: 80px;
}
.cid-u2szpcOWJd .image {
  margin-right: 13px;
  width: 100%;
}
.cid-u2szpcOWJd .image img {
  max-width: 100%;
  object-fit: cover;
  max-height: 245px;
}
.cid-u2szpcOWJd .link {
  display: block;
  margin-bottom: 0;
  white-space: nowrap;
}
.cid-u2szpcOWJd .link a {
  font-weight: 700;
}
.cid-u2szpcOWJd .link span {
  display: inline-block !important;
  transition: all 0.3s ease;
  margin-left: 13px;
}
.cid-u2szpcOWJd .link:hover span {
  transform: translateX(9px);
}
@media (max-width: 991px) {
  .cid-u2szpcOWJd .row__image {
    margin-bottom: 9px;
  }
  .cid-u2szpcOWJd .row__image:nth-child(1) {
    padding-right: 32px;
  }
  .cid-u2szpcOWJd .row__image:nth-child(2) {
    padding-left: 32px;
  }
  .cid-u2szpcOWJd .title__block {
    margin-top: 60px;
  }
  .cid-u2szpcOWJd .image {
    margin-right: 10px;
    height: auto;
    max-height: initial;
  }
  .cid-u2szpcOWJd .mbr-section-title {
    margin-bottom: 19px;
  }
  .cid-u2szpcOWJd .mbr-text {
    margin-bottom: 11px;
  }
}
.cid-u2szpcOWJd .mbr-fallback-image.disabled {
  display: none;
}
.cid-u2szpcOWJd .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-s142rgl4FV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-s142rgl4FV .subscr__title {
  padding: 7px 7px 7px 0;
  margin-bottom: 0;
  border-right: 1px solid #689abe;
  color: #3a6686;
}
.cid-s142rgl4FV .mbr-text {
  padding-right: 70px;
  color: #3a6686;
}
.cid-s142rgl4FV .form-group {
  padding: 0;
}
.cid-s142rgl4FV .form-control {
  background-color: #ffffff !important;
  color: #2c3945;
  border: 1px solid #3a6686;
  padding: 21px 18px;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.cid-s142rgl4FV .input-group-btn {
  padding: 0;
  left: -1px;
}
.cid-s142rgl4FV .input-group-btn .btn {
  width: 100%;
  height: 70px;
  font-weight: 500;
}
.cid-s142rgl4FV .mbr-form .btn {
  margin: 0;
}
.cid-s142rgl4FV .mbr-form .input-group-btn .btn {
  border-radius: 0 !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
.cid-s142rgl4FV input::-webkit-input-placeholder {
  color: #2c3945;
  opacity: .8;
}
.cid-s142rgl4FV input::-moz-placeholder {
  color: #2c3945;
  opacity: .8;
}
@media (max-width: 1199px) {
  .cid-s142rgl4FV .subscr__title {
    padding: 5px 0;
    border: none;
  }
  .cid-s142rgl4FV .mbr-text {
    padding-right: 0;
    padding-left: 28px;
    border-left: 1px solid #689abe;
  }
  .cid-s142rgl4FV .subscribe__form {
    margin-top: 30px;
  }
}
@media (max-width: 991px) {
  .cid-s142rgl4FV .dragArea {
    margin: 0;
  }
  .cid-s142rgl4FV .form-control {
    font-size: 16px;
    padding: 11px 18px;
    height: 50px;
  }
  .cid-s142rgl4FV .input-group-btn {
    padding: 0;
    left: -1px;
  }
  .cid-s142rgl4FV .input-group-btn .btn {
    height: 50px;
    padding: 16px 0;
    font-size: 16px;
    line-height: 18px;
    min-width: auto;
  }
}
@media (max-width: 575px) {
  .cid-s142rgl4FV .mbr-text {
    font-size: 14px;
    line-height: 1.29;
  }
}
.cid-s1l6Lexutq {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f5f6f7;
}
.cid-s1l6Lexutq .divider {
  max-width: 1440px;
  padding-top: 68px;
  border-top: 1px solid #eef5f4;
}
.cid-s1l6Lexutq .logo__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.cid-s1l6Lexutq .logo__footer img {
  display: block;
  width: 85px;
  object-fit: cover ;
}
.cid-s1l6Lexutq .logo__text {
  display: flex;
  align-items: center;
  padding-top: 5px;
  margin-left: 50px;
}
.cid-s1l6Lexutq .menu__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.cid-s1l6Lexutq .footer__menu {
  padding-right: 52px;
  padding-bottom: 21px;
}
.cid-s1l6Lexutq .mbr-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cid-s1l6Lexutq .item {
  display: flex;
  align-items: center;
  margin-right: 7px;
  margin-bottom: 15px;
}
.cid-s1l6Lexutq .item a {
  font-weight: 600;
}
.cid-s1l6Lexutq .item:after {
  content: "";
  height: 15px;
  width: 1px;
  background-color: #689bb2;
  display: inline-block;
  margin-left: 13px;
  vertical-align: middle;
}
.cid-s1l6Lexutq .item:last-child:after {
  display: none;
}
.cid-s1l6Lexutq .footer__social {
  padding-bottom: 21px;
}
.cid-s1l6Lexutq .mbr-iconfont {
  font-size: 33px;
  transition: all .3s ease;
  width: 33px;
  height: 33px;
  color: #3a6686;
  margin-right: 17px;
  margin-bottom: 10px;
}
.cid-s1l6Lexutq .mbr-iconfont:hover {
  color: #3a6686;
}
.cid-s1l6Lexutq .footer__copyright {
  padding: 15px 0 12px;
  background-color: #eef5f4;
}
.cid-s1l6Lexutq .footer__ink {
  text-align: right;
}
.cid-s1l6Lexutq .copyright,
.cid-s1l6Lexutq .ink {
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .cid-s1l6Lexutq .footer__menu {
    padding-right: 0;
  }
}
.cid-s1l6Lexutq .copyright {
  color: #3a6686;
}
.cid-s1l6Lexutq .ink {
  color: #3a6686;
}
